<div class="page-section page-section-spacing-top">
	<div class="header-wrapper">
		<div class="buttons">
			<ul class="bubble">
				<li data-behavior="post-count"></li>
			</ul>
		</div>
		<div class="header">
			<h2>Discussions</h2>
		</div>
	</div>
	<div class="body">
		<ul class="discussion-list" data-behavior="post-container">
		</ul>
		<div data-container="flash"></div>
		<div data-behavior="parent-input">
			{{> discussionPostInput}}
		</div>
	</div>
</div>

