<div class="page-section-header">
  <h2 class="heading-page-section">Discussions</h2>
  <div class="page-content--heading-buttons">
    <ul class="bubble">
      <li data-behavior="post-count"></li>
    </ul>
   </div>
</div>
<div class="page-section">
	<ul class="discussion-list" data-behavior="post-container">
	</ul>
  <div data-container="flash"></div>
  <div data-behavior="parent-input">
  {{> discussionPostInput}}
  </div>
</div>

