<% content_for :content do %>
	<div id="region-main"></div>
	<%= render :partial => 'shared/bootstrap_collection', :locals => {:type => 'Collections', :key => 'asset', :data => [@asset]} %>
<% end %>
