<% content_for :heading do %>
  <h2 class="heading-primary" >
    Evaluations
  </h2>
<% end %>

<% content_for :content do %>

  <table border="1">
    <tbody>
      <tr>
        <th style="width: 200px;">student name</th>
        <td style="width: 200px;">project 1</td>
        <td style="width: 200px;">project 1</td>
        <td style="width: 200px;">project 1</td>
        <td style="width: 200px;">project 1</td>
        <td style="width: 200px;">project 1</td>
        <td style="width: 200px;">project 1</td>
      </tr>
    </tbody>

  </table>

  <!--
  <div id="region-main"></div>
  -->
<%= render :partial => 'shared/bootstrap_collection', :locals => {:type => 'Collections', :key => 'group', :data => @groups }%>
<%= render :partial => 'shared/bootstrap_collection', :locals => {:type => 'Collections', :key => 'user', :data => @users }%>
<%= render :partial => 'shared/bootstrap_collection', :locals => {:type => 'Collections', :key => 'project', :data => @projects}%>
<% end %>