<%= render :partial => 'shared/bootstrap', :locals => {:key => 'Creator', :collection => @creators }%>
<%= render :partial => 'shared/bootstrap', :locals => {:key => 'Submission', :collection => @submissions }%>
<%= render :partial => 'shared/bootstrap', :locals => {:key => 'Project', :collection => @projects}%>
<div data-view="CourseMap" id="courseMap"></div>