<div class="shaded-bottom">
  <header class="bar-header">
    <h2 class="bar-header--title">Manage Course Projects</h2>
    <a class="teal-plus-button" href="#">Create new project</a>
    <div class="alerts">
      <div class="alert-notice">
        <aside class="alert--label"></aside>
        <p>Something</p>
        <a class="alert--close" href="#"></a>
      </div>
    </div>
  </header>
  <table class="table">
    <thead>
      <tr>
        <th>Project name</th>
        <th>Description</th>
        <th>Active</th>
        <th>Submissions</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>
          <a class="table--heading" href="#">Reinvent Next-generation Something</a>
        </th>
        <td>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugia pariatur.</td>
        <td><strong>Yes</strong></td>
        <td>&mdash;</td>
        <td><strong><a href="#">Update</a> / <a href="#">Delete</a></strong></td>
      </tr>
      <tr>
        <th>
          <a class="table--heading" href="#">Reinvent Next-generation Something</a>
        </th>
        <td>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugia pariatur sint.</td>
        <td><strong>Yes</strong></td>
        <td>&mdash;</td>
        <td><strong><a href="#">Update</a> / <a href="#">Delete</a></strong></td>
      </tr>
      <tr>
        <th>
          <div class="table--heading">Reinvent Next-generation Something</div>
        </th>
        <td>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugia pariatur sint.</td>
        <td><strong>Yes</strong></td>
        <td>&mdash;</td>
        <td><strong><a href="#">Update</a> / <a href="#">Delete</a></strong></td>
      </tr>
    </tbody>
  </table>
  <nav class="pagination-nav">
    <ul>
      <li><a href="#">First</a></li>
      <li><a href="#">Previous</a></li>
      <li class="active">3</li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">Next</a></li>
      <li><a href="#">Last</a></li>
    </ul>
  </nav>
</div>
<div class="page-content--frame">
  <header class="button-header">
    <a href="">Update</a>
    <h2 class="button-header--title">Reinvent Next-generation Application</h2>
  </header>
  <nav class="tab-nav">
    <ul>
      <li><a href="#">Item 1</a></li>
      <li class="active">Item 2</li>
      <li><a href="#">Item 3</a></li>
    </ul>
  </nav>
  <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
  <form>
    <fieldset>
      <div class="form-alert">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores qui.</p>
        <a class="close" href="#"></a>
      </div>
      <div class="input-group">
        <label class="text-label">Text input field</label>
        <input class="text-input" type="text">
      </div>
      <div class="input-group">
        <div class="input-group--half">
          <div class="input-group">
            <label class="text-label">Text input field</label>
            <input class="text-input" type="text">
          </div>
        </div>
        <div class="input-group--half">
          <div class="input-group error">
            <label class="text-label">Text input field</label>
            <input class="text-input" type="text">
            <small class="input-message">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</small>
          </div>
        </div>
      </div>
      <div class="input-group error">
        <label class="text-label">Text area input field</label>
        <textarea class="text-area-input" rows="3"></textarea>
        <small class="input-message">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</small>
      </div>
      <div class="input-group">
        <div class="input-group--half">
          <div class="input-group">
            <label class="text-label">Some boolean checkboxes</label>
            <label class="checkbox-label">
              <input class="checkbox" type="checkbox">
              <b></b>
              Allow Peer Review
            </label>
            <label class="checkbox-label">
              <input class="checkbox" type="checkbox">
              <b></b>
              Allow Peer Review
            </label>
            <label class="checkbox-label">
              <input class="checkbox" type="checkbox">
              <b></b>
              Allow Peer Review
            </label>
          </div>
        </div>
        <div class="input-group--half">
          <div class="input-group">
            <label class="text-label">Radio buttons</label>
            <label class="radio-label">
              <input type="radio" class="radio" name="name">
              <b></b>
              First Option
            </label>
            <label class="radio-label">
              <input type="radio" class="radio" name="name">
              <b></b>
              Second Option
            </label>
            <label class="radio-label">
              <input type="radio" class="radio" name="name">
              <b></b>
              Third Option
            </label>
            <label class="radio-label">
              <input type="radio" class="radio" name="name">
              <b></b>
              Fourth Option
            </label>
          </div>
        </div>
      </div>
      <div class="input-group">
        <div class="input-group--half">
          <div class="input-group">
            <label class="text-label">A select input</label>
            <div class="select-input" data-behavior="dropdown">
              <span class="select-input--value" data-behavior="toggle">Entry Item No. 1</span>
              <!-- <div class="select-input--dropdown" data-behavior="dropdown-options">
                <a href="#">Entry Item No. 2</a>
                <a href="#">Entry Item No. 3</a>
                <a href="#">Entry Item No. 4</a>
                <a href="#">Entry Item No. 5</a>
                <a href="#">Entry Item No. 6</a>
              </div> -->
            </div>
          </div>
        </div>
      </div>
      <div class="input-group">
        <a class="gray-ex-button" href="#">Cancel</a>
        <a class="teal-plus-button" href="#">Submit</a>
      </div>
    </fieldset>
  </form>
</div>
