<%= render :partial => 'shared/bootstrap_model', :locals => {:key => 'Project', :model => @project}%>
<%= render :partial => 'shared/bootstrap_model', :locals => {:key => 'Creator', :model => @creator}%>
<%= render :partial => 'shared/bootstrap_model', :locals => {:key => 'Submission', :model => @submission}%>

<div data-view="EvaluationDetail">
</div>


