<!--
<div data-view="EvaluationDetail">
  <% content_for :backbone_bootstrap do %>
  <% end %>
</div>
-->

<div class="evaluation-detail">
  <div class="evaluation-detail-frame">
    <header class="evaluation-detail--header">
      <h1 class="evaluation-detail--title">[Submission title]</h1>
      <aside>
        <h2 class="evaluation-detail--subtitle"><strong>[Course department & code] :</strong> [Course name]</h2>
        <h2 class="evaluation-detail--subtitle"><em>[Creator name]</em></h2>
      </aside>
    </header>
    <figure class="attachment">
      <!-- TODO this is temporary; will be replaced by embedded video -->
      <%= image_tag("placeholders/man-of-the-year.png", :class => "attachment--media", :alt => "") %>
      <figcaption>
        <div class="annotations">
          <header class="annotations--header">
            <h2 class="annotations--title">Video Annotations</h2>
            <a class="annotations--link" href="">View All</a>
          </header>
        </div>
      </figcaption>
    </figure>
  </div>
  <div class="evaluation-detail-frame">
    Something
  </div>
</div>
