<!--
<div data-view="EvaluationDetail">
  <% content_for :backbone_bootstrap do %>
  <% end %>
</div>
-->

<div class="evaluation-detail">
  <div class="evaluation-detail-frame">
    <header class="evaluation-detail--header">
      <h1 class="evaluation-detail--title">[Submission title]</h1>
      <aside>
        <h2 class="evaluation-detail--subtitle"><strong>[Course department & code] :</strong> [Course name]</h2>
        <h2 class="evaluation-detail--subtitle"><em>[Creator name]</em></h2>
      </aside>
    </header>
    <figure class="attachment">
      <!-- TODO this is temporary; will be replaced by embedded video -->
      <%= image_tag("placeholders/man-of-the-year.png", :class => "attachment--media", :alt => "") %>
      <figcaption>
        <div class="annotations">
          <header class="annotations--header">
            <h2 class="annotations--title">Video Annotations</h2>
            <a class="annotations--link" href="">View All</a>
          </header>
          <div class="annotations--content">
            <ul class="annotations--list">
              <li>
                <h3 class="annotations--list--title"><time datetime="">[Timestamp]</time> [Annotator name]</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis alias incidunt similique ea corporis illum perferendis assumenda quam maxime dolorum!</p>
              </li>
              <li>
                <h3 class="annotations--list--title"><span class="annotations--list--timestamp">[Timestamp]</span> [Annotator name]</h3>
                <p>No, Donny, these men are nihilists, there's nothing to be afraid of.</p>
              </li>
            </ul>
          </div>
        </div>
      </figcaption>
    </figure>
  </div>
  <div class="evaluation-detail-frame">
    <header class="frame--header">
      <h2 class="frame--title">Scores</h2>
      <a class="frame--header--button" href="">What do these scores mean?</a>
    </header>
    <!-- TODO perhaps add an auxillary class to indicate expanded/collapsed -->
    <div class="scores">
      <ul class="scores--summary-list">
        <li class="scores--evaluated">          
          <h3 class="scores--score-title">Evaluator Review <small>[Overall]</small></h3>
          <div class="indicator" style="width: 76%">
            <span class="scores--score-value">76<small>%</small></span>
          </div>
        </li>
        <li class="scores--evaluated">          
          <h3 class="scores--score-title">Peer Review <small>[Average]</small></h3>
          <div class="indicator" style="width: 82%">
            <span class="scores--score-value">82<small>%</small></span>
          </div>
        </li>
        <!-- <li class="scores--unevaluated">          
          <h3 class="scores--score-title">Peer Review <small>[Average]</small></h3>
          <div class="indicator">
            <span class="scores--score-value">&ndash;&ndash;&nbsp;&nbsp;</span>
          </div>
        </li> -->
      </ul>
      <a class="scores--link" href="#">Expand Scores</a>
    </div>
  </div>
  <div class="evaluation-detail-frame">
    <header class="frame--header">
      <h2 class="frame--title">Discussions</h2>
      <nav class="frame--header--comments">
        <ul>
          <li><a href="">12</a></li>
          <li><a href="">3 New</a></li>
        </ul>
      </nav>
    </header>
    <div class="discussion">
      <div class="discussion--input">
        <input class="input" type="text" placeholder="Start writing new comment...">        
      </div>
      <ul class="discussion-list">
        <li class="discussion-list--item">
          <header class="discussion-list--header">
            <h3 class="discussion-list--name">[Commenter name]</h3>
            <time class="discussion-list--timestamp" datetime="">Posted [month] [day], [year] at [time]</time>
            <%= image_tag("placeholders/charles-xavier.jpg", :alt => "") %>
          </header>
          <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <a class="discussion-list--link" href="">Reply</a>
        </li>
        <li class="discussion-list--item">
          <header class="discussion-list--header">
            <h3 class="discussion-list--name">[Commenter name]</h3>
            <time class="discussion-list--timestamp" datetime="">Posted [month] [day], [year] at [time]</time>
            <%= image_tag("placeholders/charles-xavier.jpg", :alt => "") %>
          </header>
          <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <a class="discussion-list--link" href="">Reply</a>
        </li>
      </ul>
    </div>
  </div>
</div>
