<% content_for :content do %>
	<div data-hide-back-link id="region-main"></div>
	<%= render :partial => 'shared/bootstrap_collection', :locals => {:type => 'Collections', :key => 'user', :data => [@creator]} %>
<% end %>
