<p style="margin-bottom: 2rem;">{{descriptionLabel}}</p>
<a href="#" class="secondary-button" data-behavior="confirm">{{confirmLabel}}</a>
<a href="#" class="secondary-button" data-behavior="dismiss">{{dismissLabel}}</a>
