<div class="modal" data-behavior="modal">
  <a class="modal--close" href="#" data-behavior="modal-close">Close</a>
  <header data-behavior="header"></header>
  <div class="content" data-region="content"></div>
</div>