<h5 class="modal--header">{{name}}</h5>
<div class="modal-scroll-container">
	<h6 class="modal--subheader">Description:</h6>
	<div class="markdown-content">
		{{{description}}}
	</div>

	{{#if due_date}}
		<h6 class="modal--subheader">Due Date:</h6>
		<p>
			{{due_date}}
		</p>
	{{/if}}

	<h6 class="modal--subheader">Allowed File Types:</h6>
	<p>
		{{{join allowed_extensions}}}
	</p>
</div>

<div style="margin-top: 1em;">
	<a href="#" class="primary-button close-button" data-behavior="dismiss">Close</a>
</div>
