<h5 class="modal--header">Markdown Overview</h5>
<div style="max-height: 500px; overflow-y: scroll">
	<h6 class="modal--subheader">How to use markdown to format your text</h6>
	<div class="markdown-content">
		Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
		Maecenas faucibus mollis interdum. Nullam id dolor id nibh ultricies vehicula ut id elit.
		Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
	</div>
</div>

<div style="margin-top: 1em;">
	<a href="#" class="primary-button close-button" data-behavior="dismiss">Close</a>
</div>
