<h5 class="modal--header">Common Markdown Formatting Options</h5>
<div class="modal-scroll-container">
	<div class="markdown-content">
		<ul>
			<li>One or more lines of text followed by one or more blank lines will be wrapped in a &lt;p&gt; tag.</li>
			<li>To create a heading, add one or more # symbols before your text. The more # symbols you use, the smaller
				the heading will be.
			</li>
			<li>To italicize text, wrap it in an underscore or an asterisk. For example: _this will be italic_ and *this
				will also be italic*.
			</li>
			<li>To bold text, wrap it in two asterisks. For example: **this text will be bold**.</li>
			<li>To create lists, place a dash or an asterisk before each line.</li>
			<li>Create a link by wraping link text in brackets and then wrapping the link URL in parentheses. For
				example, this will be a link: [Read about Vocat](http://vocat.io)
			</li>
		</ul>
	</div>
</div>

<div style="margin-top: 1em;">
	<a href="#" class="primary-button close-button" data-behavior="dismiss">Close</a>
</div>
