<div class="heading-label">Compare Scores</div>
<div style="margin-top: 1em">
	<h4 style="display: inline-block;" class="heading-label">Show Me:</h4>
	<select data-behavior="left-compare">
		<option value="my-scores">My Scores</option>
		<option value="instructor-scores">Instructor Scores</option>
		<option value="peer-scores">Peer Scores</option>
		<option value="self-scores">Self-evaluation Scores</option>
		<option value="rubric-scores">Rubric scores</option>
	</select>
	<h4 style="display: inline-block;" class="heading-label">Compared With</h4>
	<select data-behavior="right-compare">
		<option value="my-scores">My Scores</option>
		<option value="instructor-scores">Instructor Scores</option>
		<option value="peer-scores">Peer Scores</option>
		<option value="self-scores">Self-evaluation Scores</option>
		<option value="rubric-scores">Rubric scores</option>
	</select>
	<div>
		<ul data-behavior="child-view-container" class="score-compare-container">

		</ul>
	</div>
</div>


