<div class="heading-label">Media Info:</div>
<div style="margin-top: 1em;">
	<figure class="summary-box">
		<div>
			<span>{{media_count}}</span>
		</div>
		<figcaption>Total Media</figcaption>
	</figure>
	<figure class="summary-box">
		<div>
			<span>{{annotation_count}}</span>
		</div>
		<figcaption>Total Media Annotations</figcaption>
	</figure>
	<figure class="summary-box">
		<div>
			<span>{{average_annotation_per_media}}%</span>
		</div>
		<figcaption>Average Annotations Per Media</figcaption>
	</figure>
</div>