<% content_for :content do %>

  <div class="page-message">
    <div class="header">
      Hello <%= current_user.first_name %>,
    </div>
    <div class="body">
      <%= render 'dashboard/messages/creator_message' %>
    </div>
  </div>

  <% current_user.courses.each do |course| %>
    <%= render 'dashboard/shared/creator_course', :course => course %>
  <% end %>

<% end %>
