<header class="bar-header">
  <h2 class="bar-header--title" style="max-width: 100%">Dashboard<%= if @course then ": #{@course.department}#{@course.number} - #{@course.name} " end%></h2>
</header>


<% if @course %>

  <div class="portfolio-frame">
    <h2 class="frame--title">Announcements</h2>
    <p>
      <strong>Instructors will be able to add and update course announcements, which will appear here.</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
    </p>
    <p>
      At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.    </p>

  </div>

  <%= render 'dashboard/course', :course => @course %>
<% else %>

  <div class="portfolio-frame">
    <h2 class="frame--title">Greetings, <%= current_user.first_name %></h2>
    <p>
      Welcome to VOCAT 3. From here, you can view and score submissions, manage your courses, upload video and other
      documents, interact with your classes, and access useful statistical data for all of your courses. If you need help
      using VOCAT, direct your questions to TBD...
    </p>
  </div>

  <% current_user.courses.each do |course| %>
    <%= render 'dashboard/course', :course => course %>
  <% end %>
<% end %>
