<% content_for :content do %>

	<div class="page-section">
		<div class="header-wrapper">
			<div class="header">
				<i class="header-icon courses"></i><h2 class="heading-page-section">Your Courses</h2>
				<%= render 'dashboard/messages/creator_message' %>
			</div>
		</div>
		<%= render 'dashboard/shared/course_list' %>
		<% if current_user.courses_count > 0 %>
			<%= link_to courses_path, { class: 'all-courses-link' } do %>
				<i class="link-icon courses"></i>All Courses
			<% end %>
		<% end %>
	</div>

<% end %>