<% content_for :content_header do %>
  <% if @course %>
    <%= if @course then "#{@course.department}#{@course.number} - #{@course.name} " end%></h2>
  <% else %>
    Dashboard
  <% end %>
<% end %>

<% content_for :content_header_links do %>
<% end %>

<% content_for :content_intro do %>
  <% if @course %>
    <h2 class="frame--title">Announcements</h2>
    <p>
      <strong>Instructors will be able to add and update course announcements, which will appear here.</strong> Lorem
      ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
      aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
    </p>
  <% else %>
    <h2 class="frame--title">Greetings, <%= current_user.first_name %></h2>
    <p>
      Welcome to VOCAT 3. From here, you can view your submissions, review your classmates' work (if enabled by your
      instructor), upload video and other documents, interact with your instructor and classmates, and access useful
      statistical data for all of your classes.
    </p>
  <% end %>
<% end %>

<% content_for :content_frames	 do %>
  <% if @course %>
    <%= render 'dashboard/course', :course => @course %>
  <% else %>
    <% current_user.courses.each do |course| %>
      <%= render 'dashboard/course', :course => course %>
    <% end %>
  <% end %>
<% end %>


