<% content_for :content_header do %>
Dashboard
<% end %>

<% content_for :content_intro do %>
  <h2 class="frame--title">Greetings, <%= current_user.first_name %></h2>
  <p>
    Welcome to VOCAT 3. From here, you can view and score submissions, manage your courses, upload video and other
    documents, interact with your classes, and access useful statistical data for all of your courses.
  </p>
<% end %>

<% content_for :content_frames do %>
  <% current_user.courses.each do |course| %>
    <div class="portfolio-frame">
      <h2 class="frame--title"><%= link_to course, course_user_evaluations_path(course)  %></h2>
      <%= render 'shared/course_synopsis', :course => course %>
    </div>
  <% end %>
<% end %>
