<div class="page-section-spacing-top page-section">
	<div class="header-wrapper">
		<div class="buttons">
			<!--
			<a class="secondary-button show-button" href="/courses/67/manage/projects/new">Show Rubric</a>
			<a class="secondary-button delete-button" href="/courses/67/manage/projects/new">Hide Rubric</a>
			-->
		</div>
		<div class="header"><h2>Evaluations</h2></div>
	</div>

	<div class="body" data-behavior="body">
		<div class="their-evaluations" data-region="their-evaluations"></div>
		<div class="my-evaluations" data-region="my-evaluations"></div>
	</div>
</div>

