<div class="range">
  <h4 class="range--title">
	  {{evaluator_role}} Evaluations
  </h4>

  <div class="range--track">
	  <div style="right: {{ invert averageScore }}%" class="range--handle"><b>{{averageScore}}%</b></div>
	  <span style="width: {{ averageScore }}%" class="range--fill"></span>
  </div>
</div>
<ul class="evaluation-collection--children" data-behavior="child-container">
</ul>
