<div class="range">
	<h4 class="range--title">
		{{evaluator_name}}
	</h4>

	<div class="range--track">
		<div style="right: {{ invert total_percentage_rounded }}%" class="range--handle"><b>{{total_percentage_rounded}}%</b></div>
		<span style="width: {{ total_percentage_rounded }}%" class="range--fill"></span>
	</div>
</div>
<ul class="evaluation-single--details" data-behavior="child-container">
</ul>
