<div class="table-wrapper">
  <table class="table table-sortable">
    <thead>
    <tr>
      <th class="row-handle"></th>
      <th>Name</th>
      <th>Rubric</th>
	    <th>Type</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
