<div class="table-wrapper">
  <table class="table">
    <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Description</th>
      <th>Rubric</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
