<div class="table-wrapper">
  <table class="table table-sortable">
    <thead>
    <tr>
      <th class="row-handle"></th>
      <th style="width: 25%">Name</th>
      <th style="width: 25%">Rubric</th>
	    <th style="width: 25%">Type</th>
      <th style="width: 25%">Actions</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
