<div class="table-wrapper">
	<table class="table table-sortable">
		<thead>
		<tr>
			<th class="row-handle"></th>
			<th>Name</th>
			<th>Rubric</th>
			<th>Type</th>
			<th>Allows Peer<br />Review?</th>
			<th>Allows Self<br />Evaluation?</th>
			<th>Submissions Visible to Peers?</th>
			<th>Actions</th>
		</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>
