    <thead>
      <tr>
      <th data-match-height-target class="matrix--fullbleed" >
        <div class="matrix--column-header-instruction">
          &nbsp;
        </div>
      </th>
      </tr>
    </thead>
    <tbody data-behavior="matrix-creators">
      <!-- creators_item.hbs -->
    </tbody>

