    <thead>
      <th data-match-height-target >
	      <div class="matrix--column-header-instruction">
		      Include in Group:
	      </div>
      </th>
    </thead>
    <tbody data-behavior="matrix-creators">
      <!-- creators_item.hbs -->
    </tbody>

