<div class="matrix--padded">
  <a class="matrix--column-header--link"  href="#" data-behavior="edit">
    <span>{{name}}</span><br />
  </a>
  <a href="#" data-behavior="destroy" class="delete-link secondary-link">Delete&nbsp;Group</a>
</div>
<div class="matrix--column-header-instruction">Include in Group:</div>
