<div class="page-section page-section-clear">
  <div class="header-wrapper">
    <div class="buttons">
      <a href="#" data-trigger="add" class="primary-button new-button">Add A Group</a>
      <a href="#" data-trigger="assign" class="secondary-button">Auto Assign to Groups</a>
    </div>
    <div class="header">
      <h1>Manage Groups</h1>
    </div>
  </div>
  <div class="body">
	  <div class="matrix-warning" data-region="warning"></div>
    <div class="matrix-wrapper matrix-tight matrix-groups">

	    <button style="display: none;" data-behavior="matrix-slider-left" class="matrix-cells-wrapper--back"></button>
	    <button style="display: none;" data-behavior="matrix-slider-right" class="matrix-cells-wrapper--forward"></button>

	    <div class="matrix-wrapper--top">
		    <div class="matrix-wrapper--top-left-cell" data-behavior="top-left-cell"  data-match-height-target>
			    <div class="matrix--column-header-instruction">
				    &nbsp;
			    </div>
		    </div>
		    <div class="matrix-wrapper--top-mask-left" data-match-height-target></div>
		    <div class="matrix-wrapper--top-mask-right" data-match-height-target></div>

		    <div class="matrix-wrapper--columns" >
			    <table class="table matrix matrix-col-headers" data-behavior="col-headers" data-region="groups">
			    </table>
		    </div>
	    </div>

	    <div class="matrix-wrapper--bottom">

		    <div class="matrix-wrapper--left">
			    <div class="matrix-wrapper--creators" data-vertical-headers data-region="creators"></div>
		    </div>

		    <div class="matrix-wrapper--body" data-behavior="matrix-stage">
			    <div class="matrix-body" data-behavior="matrix-actor">

				    <div class="matrix-wrapper--cells">
					    <table class="table matrix matrix-cells" data-region="matrix">
					    </table
				    </div>
			    </div>
		    </div>

	    </div>

    </div>
  </div>
</div>
