<div class="matrix--header-wrapper">
	<div class="matrix--padded">
		<a class="matrix--column-header--link" href="#" data-behavior="edit">
			<span>{{name}}</span><br/>
		</a>
	</div>
</div>

<a href="#" data-behavior="destroy" class="delete-link">
    <i class="icon trash"></i>
    <span>DELETE</span>
</a>