<header class="bar-header">
	<h2 class="bar-header--title">Manage Groups</h2>
	<a href="#" data-trigger="add" class="teal-plus-button">Add A Group</a>
	<a href="#" data-trigger="assign" class="teal-arrow-button">Auto Assign to Groups</a>
  {{! TODO fix this more gracefully }}
  <div class="clearfix"></div>
	<div class="alerts" data-region="flash"></div>
  <div style="display: none;" data-behavior="dirty-message" class="alerts">
    <div class="alert-notice">
      <aside class="alert--label"></aside>
      <p>
	      You have made changes to the groups. <a href="#" data-trigger="save" >Click here to save your changes.</a>
      </p>
    </div>
  </div>

</header>

<div class="matrix compact">
	<div>
		<header class="matrix--column-header">
			<nav class="matrix--controls">
				<a class="matrix--next inactive" data-behavior="matrix-slider-right" href="#">Next</a>
				<a class="matrix--previous inactive" data-behavior="matrix-slider-left" href="#">Previous</a>
			</nav>
			<div class="matrix--list-wrapper" data-behavior="matrix-slider" data-region="groups">
			</div>
		</header>
		<nav class="matrix--name-nav">
			<header class="matrix--row-header" data-behavior="matrix-creators-list" data-region="creators">
			</header>
		</nav>
		<div class="matrix--body" data-behavior="matrix-body" >
			<div class="matrix--content" data-behavior="matrix-slider" data-region="rows">
			</div>
		</div>
	</div>
</div>
