<div class="matrix--column-header--editor">
<form>
  <fieldset>
    <input class="matrix--column-header--input" value="{{name}}" data-behavior="name"><b class="matrix--delete" href="#" data-behavior="destroy">Destroy</b>
  </fieldset>
</form>
</div>