<div class="alert notice">

	<p>Create your first group for this course.</p>
	<p class="small">Projects can be assigned to individual students or to groups of students. To create your first group
		for this course, click the button below.
	</p>
	<p class="small">
		<a href="#" data-behavior="create-group" class="primary-button new-button">Add a Group</a>
	</p>

</div>

