<div class="alert alert-notice">
  <aside class="alert--label"></aside>
  <p>
    You have made changes to group membership. Would you like to save these changes?
  <p>
  </p>
    <a href="#" data-trigger="save" class="primary-button" >Yes, save changes</a>
    <a href="#" data-trigger="revert" class="warning-button" >No, revert changes</a>
  </p>
</div>