<div class="alert notice">

	<p>There are no students enrolled in this course.</p>
	<p class="small">Before you can create groups, you need to add some students to this course. Click the button below
		to enroll students.
	</p>
	<p class="small">
		<a href="/courses/{{courseId}}/manage/enrollment" class="primary-button new-button">Manage Course Enrollment</a>
	</p>

</div>

