<h1>Editing assignment</h1>

<%= render 'form' %>

<%= link_to 'Show', organization_course_assignment_path(@organization, @course, @assignment) %> |
<%= link_to 'Back', organization_course_assignments_path(@organization, @course) %>
