<div class="page-section page-section-clear">
  <div class="header-wrapper">
    <div class="buttons">
      <a href="#" data-trigger="add" class="primary-button new-button">Add A Group</a>
      <a href="#" data-trigger="assign" class="secondary-button">Auto Assign to Groups</a>
    </div>
    <div class="header">
      <h1>Manage Groups</h1>
    </div>
  </div>
  <div class="body">
		<div data-region="warning"></div>
    <div class="matrix-wrapper matrix-tight matrix-groups">

      <div class="matrix-wrapper--creators" data-vertical-headers data-region="creators"></div>

      <button style="display: none;" data-behavior="matrix-slider-left" class="matrix-cells-wrapper--back"></button>
      <button style="display: none;" data-behavior="matrix-slider-right" class="matrix-cells-wrapper--forward"></button>

      <div class="matrix-wrapper--body" data-behavior="matrix-stage">
        <div class="matrix-body" data-behavior="matrix-actor">
          <div class="matrix-wrapper--projects" >
            <table class="table matrix matrix-col-headers" data-region="groups">
            </table>
        </div>
          <div class="matrix-wrapper--cells">
            <table class="table matrix matrix-cells" data-region="matrix">
            </table
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
