<div class="strong centered">
	{{#if can_attach}}
		Nothing Yet. <a href="#" data-behavior="empty-manage-link">Add some...</a>
	{{else}}
		No assets have been uploaded for this submission. Check back soon.
	{{/if}}
</div>
