<div class="page-content--heading">
	<a href="#" class="header-link back-link" data-behavior="detail-close">Back to Submission</a>
	<h2 class="heading-primary">
		{{#if name}}
			"{{name}}" {{titlecase family}} Submission
		{{else}}
			Untitled {{titlecase family}} Submission

		{{/if}}
	</h2>
</div>
<div class="page-section-wrapper asset-detail-layout">
	<div data-behavior="player-column" class="page-section page-section-two-thirds col-one" >
		<div data-region="annotator-canvas">
		</div>
		<div class="asset-player" data-region="player">
		</div>
		<div data-region="annotator">
		</div>
	</div>

	<div data-behavior="annotations-column" class="page-section page-section-one-third col-two {{#unless hasDuration}}annotations-column-scrollable{{/unless}}" data-region="annotations">
	</div>
</div>

