<div class="page-section--subsection page-section--subsection-ruled portfolio-item">
	<div class="portfolio-item--thumb">
		<div class="thumb-container">
			<a href="#">
				<img src="{{thumb}}">
			</a>
		</div>
	</div>
	<div class="portfolio-item--content">
		<h3 class="heading-tertiary">
			<a href="#" data-behavior="">
        {{name}} {{listing_order_position}}
      </a>
		</h3>
		<a href="#" data-behavior="destroy">Delete</a>
		<a href="#" data-behavior="move">Move</a>
		<h5 class="heading-informational">
			Info about the asset...
		</h5>
	</div>
</div>



