<div class="page-section page-section-clear assets-container">
	<div class="header-wrapper">
		<div class="buttons">
      <a href="#" data-behavior="manage-link" class="primary-button">Manage Assets</a>
			<a href="#" data-behavior="stop-manage-link" class="secondary-button-dark confirm-button">Done Managing Assets</a>
		</div>
		<div class="header">
			<h2>Submission Assets</h2>
		</div>
	</div>
	<div class="body">
		<div data-region="asset-new" class="asset-new-container"></div>
		<div data-region="asset-collection" class="asset-collection-container"></div>
		<div data-region="asset-new-footer" class="asset-new-footer-container"></div>
	</div>
</div>

