<div class="page-section page-section-clear">
	<div class="header-wrapper">
		<div class="buttons">
      <a href="#" data-behavior="manage-link" class="primary-button">Manage Assets</a>
			<a href="#" style="display: none;" data-behavior="stop-manage-link" class="secondary-button">Stop Managing Assets</a>
		</div>
		<div class="header">
			<h2>Submission Assets</h2>
		</div>
	</div>
	<div class="body">
    <div data-region="asset-collection"></div>
		<div data-region="asset-new"></div>
	</div>
</div>

