<div class="section-empty-message">
	{{#if can_attach}}
		<a href="#" class="block-pencil-link" data-behavior="empty-manage-link">
			<span>Add Media to Submission</span>
		</a>
	{{else}}
		{{#if mediaUploadsClosed}}
			The due date for this project has passed, and media attachments are no longer accepted.
		{{else}}
			No media has been uploaded for this submission. Check back soon.
		{{/if}}
	{{/if}}
</div>
