<div class="page-section page-section-clear assets-container">
	<div class="header-wrapper">
		<div class="buttons">
			<a href="#" data-behavior="manage-link" class="primary-button">Manage Media</a>
			<a href="#" data-behavior="stop-manage-link" class="secondary-button-dark confirm-button">Done Managing Media</a>
		</div>
		<div data-behavior="detail-header" class="header header-closeable">
			<h2><a href="#" data-behavior="close-link" class="close-link"><span data-behavior="detail-header-content">My Rad Junk</span></a></h2>
		</div>
		<div data-behavior="asset-collection-header" class="header">
			<h2>Submission Media</h2>
		</div>
	</div>
	<div class="body">
		<div data-region="asset-new" class="asset-new-container"></div>
		<div data-region="asset-collection" class="asset-collection-container"></div>
		<div data-region="asset-new-footer" class="asset-new-footer-container"></div>
	</div>
</div>

