<div class="strong centered">
	{{#if can_attach}}
		<p>This project accepts {{join allowed_attachment_families capitalize=false }} media.</p>
		<p style="font-weight: normal">
			<a href="#" data-behavior="empty-manage-link">
				Click here or press the "Manage Media" button to begin adding media to your submission
			</a>
		</p>
	{{else}}
		{{#if mediaUploadsClosed}}
			The due date for this project has passed, and media attachments are no longer accepted.
		{{else}}
			No media has been uploaded for this submission. Check back soon.
		{{/if}}
	{{/if}}
</div>
