<div class="page-section-wrapper asset-detail-layout asset-detail-{{family}}">
	<div data-behavior="player-column" class="page-section page-section-two-thirds col-one" >
		<div style="position: relative; overflow: hidden;">
			<div class="player-container-message" style="z-index: 20;" data-behavior="message"></div>
			<div data-region="annotations-stage"></div>
			<div data-region="annotator-canvas"></div>
			<div class="asset-player" data-region="player"></div>
		</div>
		<div data-region="annotator"></div>
	</div>
	<div data-behavior="annotations-column" class="page-section page-section-one-third col-two {{#unless hasDuration}}annotations-column-scrollable{{/unless}}" data-region="annotations">
	</div>
</div>

