<div>
  <a href="#" data-behavior="test-new-asset" class="primary-button new-button">Create a new asset</a>
  <a href="#" data-behavior="hide-manage" class="secondary-button close-button">Done Managing Assets</a>
</div>
