<div class="page-section--component new-asset-footer border-buttons">
	<a href="#" data-behavior="stop-manage-link" class="primary-button confirm-button" style="display: inline-block;">Done
		Managing Media</a>
</div>