<div class="page-section--component asset-upload">

	<div class="asset-uploading" data-behavior="asset-uploading-message" style="display: none">
		<span data-behavior="upload-status" class="upload-status">Uploading Asset</span>
		<span data-behavior="upload-status-detail" class="upload-status-detail"></span>

		<div class="progress-bar">
			<div data-behavior="progress-bar" class="progress-bar--fill"></div>
		</div>
	</div>

	<div data-behavior="upload-form-wrapper">
		<form data-behavior="upload-form" accept-charset="UTF-8" action="https://{{s3Bucket}}.s3.amazonaws.com"
			  data-remote="true" enctype="multipart/form-data" id="video-upload" method="post">
			<input type="hidden" name="AWSAccessKeyId" value="{{AWSPublicKey}}"/>
			<input type="hidden" name="acl" value="private"/>
			<input type="hidden" name="success_action_status" value="200"/>
			<input type="hidden" name="key"/>
			<input type="hidden" name="policy"/>
			<input type="hidden" name="signature"/>
			<input style="display: none;" data-behavior="file-input" name="file" type="file"/>

			<p class="instructions">
				This project accepts {{join project.allowed_attachment_families capitalize=false }} media. To add media
				simply
				drag and drop files into the area below. You can also add media using your computer's file selection
				dialog, or
				add YouTube or Vimeo videos by simply entering the appropriate URL.
			</p>

			<div class="clearfix">
				<div class="asset-upload--column asset-upload--column-left">
					<div data-behavior="dropzone" class="asset-upload--target">
						<a class="decorated" data-behavior="file-picker">Drag & Drop Files Here</a>
					</div>
				</div>
				<div class="asset-upload--column asset-upload--column-right">
					<div class="dark-text-input" data-behavior="file-input-trigger"><input disabled="disabled"
																						   type="text"
																						   placeholder="Select {{join project.allowed_attachment_families leadingIndefiniteArticle=true lastSeparator='or ' capitalize=false }} file"/><a
							href="#" class="primary-button new-button">Add</a></div>
					{{#if_include project.allowed_attachment_families 'video'}}
						<div class="dark-text-input"><input type="text" data-behavior="external-video-url"
															placeholder="Vimeo / YouTube URL"/><a href="#"
																								  data-behavior="external-video-url-submit"
																								  class="primary-button new-button">Add</a>
						</div>
					{{/if_include}}
				</div>
			</div>
			<p class="bottom-instructions">
				Successfully uploaded media appears in the list below along with further editing and management options.
			</p>
		</form>
	</div>
</div>
