<div data-behavior="toggle-children">
{{{include "range" title=this.title percentage=this.percentage placard=false range_class="range-secondary range-expandable"}}}
</div>

<ul class="evaluation-single--details evaluations-hidden" data-behavior="child-container">
  {{#each score_details }}
  <li data-behavior="placard-trigger">
    {{{include "range"
      title=this.name
      score=this.score
      possible=this.high
      percentage=this.percentage
      placard=true
      placard_title=this.range
      placard_desc=this.desc
      range_class="range-tertiary"}}}
  </li>
  {{/each}}
	<li data-behavior="total">
		<div class="range-tertiary range-editable range-total">
			<div class="range--track-wrapper">
				<h4 class="range-total--label">Total Score</h4>
				<div class="range--handle">
					<div class="score-wrapper">
						<span class="score" data-container="total-score">{{total_score}}</span>
						<span class="slash"></span>
						<span class="possible">{{points_possible}}</span>
					</div>
				</div>
			</div>
		</div>
	</li>
</ul>
