<div data-behavior="toggle-children">
{{{include "range" title=this.title percentage=this.percentage range_class="range-secondary range-expandable"}}}
</div>

<ul class="evaluation-single--details evaluations-hidden" data-behavior="child-container">
  {{#each score_details }}
  <li>
    {{{include "range" title=this.name percentage=this.percentage range_class="range-tertiary"}}}
  </li>
  {{/each}}
</ul>
