<div data-behavior="toggle-children">
{{{include "range" title=this.title percentage=this.percentage placard=false range_class="range-secondary range-expandable"}}}
</div>

<ul class="evaluation-single--details evaluations-hidden" data-behavior="child-container">
  {{#each score_details }}
  <li data-behavior="placard-trigger">
    {{{include "range" title=this.name percentage=this.percentage placard=true placard_title=this.range placard_desc=this.desc range_class="range-tertiary"}}}
  </li>
  {{/each}}
</ul>
