<label class="placard--checkbox">
	<input class="checkbox" data-toggle-glossary {{#if glossaryEnabled}}checked="checked"{{/if}} type="checkbox">
	<b></b>
	Glossary Mode
</label>

<p>When checked, detailed rubric information will appear when hovering over score inputs.</p>

<!-- TODO: Implement full rubric detail view -->
<!--
<hr>
<a class="teal-arrow-button space-bottom" href="#">View complete rubric</a>

<p>Click the button to view the entire rubric in a new window.</p>
-->