<ul class="frame-summary--score-list">
	{{#if submission.instructor_score_percentage}}
	<li class="frame-summary--evaluated">
		<h4 class="frame-summary--score--title">Evaluator Review <small></small></h4>
		<div class="indicator" style="width: {{ to_i submission.instructor_score_percentage }}%;">
			<span class="frame-summary--score--value">{{ to_i submission.instructor_score_percentage }}<small>%</small></span>
		</div>
	</li>
	{{else}}
	<li class="frame-summary--unevaluated">
		<h4 class="frame-summary--score--title">Evaluator Review <small></small></h4>
		<div class="indicator">
			<span class="frame-summary--score--value">&ndash;&ndash;&nbsp;&nbsp;</span>
		</div>
	</li>
	{{/if}}
	{{#if submission.peer_score_percentage}}
	<li class="frame-summary--evaluated">
		<h4 class="frame-summary--score--title">Peer Review <small></small></h4>
		<div class="indicator" style="width: 82%;">
			<span class="frame-summary--score--value">82<small>%</small></span>
		</div>
	</li>
	{{else}}
	<li class="frame-summary--unevaluated">
		<h4 class="frame-summary--score--title">Peer Review <small></small></h4>
		<div class="indicator">
			<span class="frame-summary--score--value">&ndash;&ndash;&nbsp;&nbsp;</span>
		</div>
	</li>
	{{/if}}
</ul>
