<form class="compact">
	<div class="input-group">
		<label class="text-label">
			{{label}}
		</label>
		<textarea class="text-area-input" rows="5" data-property="input" name="input">{{value}}</textarea>
	</div>
	<input type="submit" class="teal-plus-button" data-behavior="model-save" value="save" />
</form>
