<div class="page-section">
  <div class="header-wrapper">
    <div class="header">
      <h2 class="heading-page-section"></h2>
    </div>
  </div>
  <div class="body">
    <div data-region="flash">
    </div>
    <div data-region="input">
    </div>
    <div data-region="invite">
    </div>
  </div>
</div>

<div class="page-section page-section-clear">
  <div data-region="list" class="table-wrapper" >
  </div>
</div>

