<form>
  <div class="input-group">
    <label class="text-label">Search by Last Name</label>
    <input data-behavior="search-term" class="text-input" type="text">
    <ul class="pick-list" data-container="items">
  </div>
</form>