<form>
	<div class="formgrid whole">
		<label >
			{{label}}
		</label>
		<input data-property="input" name="input" type="text" value="{{value}}" />
	</div>
	<div class="formgrid whole">
  	<input type="submit" class="secondary-button" data-behavior="model-save" value="Update Group Name" />
  </div>
</form>
