<p>
	Welcome to VOCAT. From here, you can view and score submissions, manage your courses, upload video and other
	documents, interact with your classes, and access useful statistical data for all of your courses.
</p>
