<h2 class="frame--title">Greetings, <%= current_user.first_name %></h2>
<p>
  Welcome to VOCAT. From here, you can view your submissions, review your classmates' work (if enabled by your
  instructor), upload video and other documents, interact with your instructor and classmates, and access useful
  statistical data for all of your classes.
</p>