<form class="compact">
	<div class="input-group">
		<label class="text-label">
			{{label}}
		</label>
		<input class="text-input" data-property="input" name="input" value="{{value}}" />
	</div>
	<input type="submit" class="teal-plus-button" data-behavior="model-save" value="save" />
</form>
