<div data-behavior="player-container" class="player-container image-displayer">
	{{#if locations.png}}
		<img src="{{locations.png}}" />
	{{/if}}
	{{#if locations.jpg}}
		<img src="{{locations.jpg}}" />
	{{/if}}
</div>
