<div data-behavior="player-container" class="player-container image-displayer">
	<div data-region="annotation-container" id="image-displayer-annotation"></div>
	{{#if locations.png}}
		<img src="{{locations.png}}"/>
	{{/if}}
	{{#if locations.jpg}}
		<img src="{{locations.jpg}}"/>
	{{/if}}
	{{#if locations.gif}}
		<img src="{{locations.gif}}"/>
	{{/if}}
</div>
