<!-- TODO: Scott to fix these inline styles -->
<header data-behavior="sticky-header" class="matrix--overlay--header" style="padding-right: 6.3rem">
	<h2 class="matrix--overlay--title">{{project.name}}
		<aside style="display: inline;" >
			<h2 style="display: inline;" class="evaluation-detail--subtitle"><em>{{creator.name}}</em></h2>
		</aside>
	</h2>
	<a href="#" class="matrix--overlay--close" data-behavior="matrix-overlay-close">Close</a>
</header>

	<div class="evaluation-detail">
	<div class="evaluation-detail-frame">
		<figure class="attachment">
			<div id="js-video-player"></div>
			<figcaption id="js-video-annotations"></figcaption>
		</figure>
		<div id="js-video-annotator"></div>
		<div class="box" id="js-video-upload"></div>
	</div>
	<div class="evaluation-detail-frame" id="js-score-view"></div>
	<div class="evaluation-detail-frame" id="js-discussion-view"></div>
</div>
