<div style="padding: 0 20px; position: relative;">
  <h1 class="heading-largest">{{creator.name}}<a href="#" class="close"></a></h1>

  <nav class="project-selector" data-class="dropdown-container">
    <a class="project-selector--toggle" data-class="dropdown-toggle" href="#">Select a project</a>
    <div class="project-selector--dropdown" data-class="dropdown" style="top: 32px;">
      <ul>
        {{#each projects}}
          <li><a class="active" href="/courses/12/portfolio"><strong>{{this.name}}:</strong></a></li>
        {{/each}}
      </ul>
    </div>
  </nav>
  <div class="js-submissions"></div>
</div>


