{{#each creators}}
<ul class="matrix--row">
  {{#each ../projects}}
  <li class="matrix--cell">
    {{#get_submission ../../submissions ../this this}}
      {{#if this}}
        {{#if uploaded_attachment}}
          <div class="matrix--cell--thumbnail">
            <img src="{{thumb}}" />
          </div>
        {{else}}
          <div class="matrix--cell--thumbnail">
            <div class="attachment-placeholder"></div>
          </div>
      	{{/if}}
        <h2 class="matrix--cell--value">{{instructor_score_percentage}}<small>%</small></h2>
        <!-- TODO active class is only applied when score is 'published' -->
        <div class="matrix--cell--indicator active"></div>
      {{else}}
        <div class="matrix--cell--thumbnail">
          <div class="attachment-placeholder"></div>
        </div>
        <h2 class="matrix--cell--value">&ndash;&ndash;<small>%</small></h2>
        <!-- TODO active class is only applied when score is 'published' -->
        <div class="matrix--cell--indicator active"></div>
      {{/if}}
    {{/get_submission}}
  </li>
  {{/each}}
</ul>
{{/each}}
