<div class="attachment-placeholder">
    <div class="wrap">
      <span data-behavior="destroy" class="attachment-placeholder--button">{{message}}</span>
    </div>
</div>



<div class="header-wrapper">
  <div class="header">
    <h2>Video</h2>
  </div>
</div>
<div class="body">
  <div data-ui="curtain" class="player-curtain">
    <div data-ui="stage" class="player-stage">
      <div style="display: table;" class="player-scene" data-ui="step1">
        <div class="wrap">
          <span class="choice-button" style="cursor: auto;">{{message}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
