<div class="box">
  <header>
    <h2 class="box--title">Video Submission</h2>
    {{#if current_user_can_attach}}
    <a href="#" data-behavior="destroy" class="box--minus-link">Delete Video</a>
    {{/if}}
  </header>
	{{#if is_attachment}}
	<video height="219" width="390" data-behavior="video-player" controls>
		<source src="{{attachment_url}}">
	</video>
	{{/if}}
	{{#if is_youtube}}
	<div style="width: 390px; height: 219px" data-behavior="video-player"></div>
	{{/if}}
	{{#if is_vimeo}}
	<div style="width: 390px; height: 219px"  data-behavior="video-player"></div>
	{{/if}}
</div>