<div class="page-section-header">
  <h2 class="heading-page-section">Video</h2>
  <div class="page-content--heading-buttons"></div>
</div>

<div class="page-section">
  <div data-ui="curtain" class="player-curtain">
    <div data-ui="stage" class="player-stage">
      <div style="display: table;" class="player-scene" data-ui="step1">
        <div class="wrap">
          <span class="choice-button" style="cursor: auto;">{{message}}</span>
        </div>
      </div>
    </div>
  </div>
</div>