<div class="header-wrapper">
  <div class="buttons">
    {{#if abilities.can_attach}}
      <a href="#" data-behavior="destroy" class="secondary-button">Delete Video</a>
    {{/if}}
  </div>
  <div class="header">
    <h2>Video</h2>
  </div>
</div>
<div class="body">
  <div data-ui="curtain" class="box player-curtain">
    <div data-ui="stage" class="player-stage">
      <div class="player-scene">
        <div class="wrap">
          <span class="attachment-placeholder--button">{{message}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
