<div data-ui="curtain" class="box player-curtain">
  <header>
    <h2 class="box--title left">Video</h2>
    {{#if current_user_can_attach}}
    <a href="#" data-behavior="destroy" class="box--minus-link">Delete Video</a>
    {{/if}}
  </header>

  <div data-ui="stage" class="player-stage">

    <div class="player-scene">
      <div class="wrap">
        <span class="attachment-placeholder--button">{{message}}</span>
      </div>
    </div>

  </div>
</div>

