<div class="header-wrapper">
  {{#if current_user_can_attach}}
  <div class="buttons">
    <a href="#" data-behavior="destroy" class="gentle-warning-button delete-button">Delete Video</a>
  {{/if}}
  </div>
  <div class="header">
    <h2>Video</h2>
  </div>
  <div class="body">
  <div data-ui="curtain" class="player-curtain">

    <div data-ui="stage" class="player-stage">

      <div style="display: table;" class="player-scene" data-ui="step1">
        <div class="wrap">
          <a data-behavior="show-step2" class="choice-button" href="#">Add a Video to This Submission</a>
        </div>
      </div>

      <div style="display: none;" class="player-scene" data-ui="step2">
        <div class="wrap">
          <p><a data-behavior="show-step3" class="choice-button" href="#">Upload a Video</a></p>
          <p><a data-behavior="show-step4" class="choice-button" href="#">Add a YouTube Video</a></p>
          <p><a data-behavior="show-step5" class="choice-button" href="#">Add a Vimeo Video</a></p>
          <p><a data-behavior="show-step1" class="choice-button" href="#">Back</a></p>
        </div>
      </div>

      <div style="display: none;" class="player-scene" data-ui="step3">
        <div class="wrap">
          <p>
            <form data-behavior="async-upload" accept-charset="UTF-8" action="http://{{s3Bucket}}.s3.amazonaws.com" data-remote="true" enctype="multipart/form-data" id="video-upload" method="post">
              <span class="file-input-container">
                <input type="hidden" name="AWSAccessKeyId" value="{{AWSPublicKey}}" />
                <input type="hidden" name="acl" value="private" />
                <input type="hidden" name="success_action_status" value="200" />
                <input type="hidden" name="key" />
                <input type="hidden" name="policy" />
                <input type="hidden" name="signature" />
                <input  name="file" type="file" />
                <a href="#" class="decorated choice-button" data-behavior="file-picker">Drag and Drop or Click to Select a Video File</a>
              </span>
            </form>
          </p>
          <p><a data-behavior="show-step2" class="choice-button" href="#">Back</a></p>
        </div>
      </div>

      <div style="display: none;" class="player-scene" data-ui="step4">
        <div class="wrap">
          <p>
            <div data-ui="youtube-wrap" class="formgrid whole">
              <label class="text-label">Enter the YouTube Video URL</label>
              <input data-ui="source-id-youtube" type="text" name="youtube" placeholder="YouTube URL" /><br />
            </div>
            <div class="formgrid whole">
              <a data-behavior="submit-youtube" class="choice-button" href="#">Submit</a>
              <a data-behavior="show-step2" class="choice-button" href="#">Back</a>
            </div>
          </p>
        </div>
      </div>

      <div style="display: none;" class="player-scene" data-ui="step5">
        <div class="wrap">
          <p>
            <div data-ui="vimeo-wrap" class="formgrid whole">
              <label class="text-label">Enter the Vimeo Video URL</label>
              <input type="text" data-ui="source-id-vimeo" name="vimeo" placeholder="Vimeo URL" />
            </div>
            <div class="formgrid whole">
              <a data-behavior="submit-vimeo" class="choice-button" href="#">Submit</a>
              <a data-behavior="show-step2" class="choice-button" href="#">Back</a>
            </div>
          </p>
        </div>
      </div>

      <div style="display: none;" class="player-scene" data-ui="step6">
        <div class="wrap">
          <span class="attachment-placeholder--button loading">Upload in progress</span>
        </div>
      </div>

      <div style="display: none;" class="player-scene" data-ui="step7">
        <div class="wrap">
          <a data-behavior="show-step2" class="choice-button" href="#">Upload failed</a>
          <a data-behavior="show-step2" class="choice-button" href="#">Back</a>
        </div>
      </div>

    </div>
  </div>

  </div>
</div>

