<% content_for :content_header do %>
  Manage Course Enrollment
<% end %>

<% content_for :content_header_links do %>
<% end %>

<% content_for :content_intro do %>
<% end %>

<% content_for :content_frames	 do %>
  <div>
    <div data-region="creator-enrollment">
    </div>
  </div>
<% end %>

