<div data-view="ExhibitList">
  <% content_for :backbone_bootstrap do %>
    window.Vocat.Bootstrap.Collections.Exhibit = <%= bootstrap @exhibits %>;
    window.Vocat.Bootstrap.Views.Global = {
      organizationId: <%= @organization.id %>
    }
  <% end %>
</div>

