<div class="well">
  <header class="clearfix">
    <h5 class="grid100">CODE : Course Name : Section # : Semester, Year</h5>
    <h2 class="grid60">Project Name</h2>
    <div class="text-right grid40">
      <h5>Evaluator Name</h5>
    </div>
  </header>
  <div class="clearfix with-space">
    <div class="grid60">
      <video width="98%" id="ourvideo" controls>
        <source src="http://videos.mozilla.org/serv/webmademovies/popcornplug.mp4">
        <source src="http://videos.mozilla.org/serv/webmademovies/popcornplug.ogv">
        <source src="http://videos.mozilla.org/serv/webmademovies/popcornplug.webm">
      </video>
    </div>
    <div class="grid40">
      <div class="creator-submission--annotations">
        <header class="clearfix">
          <div class="grid50">
            <h5 style="padding-left: 15px;">Video Annotations</h5>
          </div>
          <div class="grid50 text-right with-padding">
            <a href="#" class="btn btn-mini" style="margin: 0 15px;">+ Expand all</a>
          </div>
        </header>
        <ul class="annotations--list unstyled">
          <li id="annotation-one">
            <small class="with-white">00:00 Peer Name</small>
            <p><em>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt perferendis qui voluptatibus labore officiis excepturi veritatis facilis vero alias architecto?</em></p>
          </li>
          <li id="annotation-two">
            <small class="with-white">00:02 Peer Name</small>
            <p><em>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti ab aliquid quaerat quam quod laborum soluta quibusdam quae esse excepturi dolorum provident facilis aspernatur sint voluptatibus eaque debitis. Soluta reprehenderit consectetur dolor incidunt nam expedita illum nemo quis libero fugit!</em></p>
          </li>
          <li id="annotation-three">
            <small class="with-white">00:04 Peer Name</small>
            <p><em>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis culpa minima reprehenderit rerum amet voluptatibus sit.</em></p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="with-space">
    <header class="clearfix">
      <div class="grid60">
        <h3>Scores</h3>
      </div>
      <div class="grid40 text-right with-padding">
        <a href="#" class="btn btn-mini">+ Collapse Scores</a>
        <a href="#" class="btn btn-mini">What do these scores mean?</a>
      </div>
    </header>
    <ul class="unstyled score-list-collapsed js-score-list-collapsed score-sublist">
      <li class="clearfix">
        <div class="score-bar grid90">
          <div class="score-bar--highlight" style="width: 94%">
            <span>Evaluator Review - Overall</span>
          </div>
        </div>
        <div class="grid10">
          <div class="score-value with-left-space">94%</div>
        </div>
      </li>
      <li class="clearfix">
        <div class="score-bar grid90">
          <div class="score-bar--highlight" style="width: 84%">
            <span>Peer Review - Overall</span>
          </div>
        </div>
        <div class="grid10">
          <div class="score-value with-left-space">84%</div>
        </div>
      </li>
    </ul>
    <ul class="unstyled score-list-expanded js-score-list-expanded">
      <li class="score-list--category">
        <h5>Category 1</h5>
        <ul class="unstyled score-sublist">
          <li class="clearfix">
            <div class="score-bar grid90">
              <div class="score-bar--highlight" style="width: 83.33%">
                <span>Criterion 1</span>
              </div>
            </div>
            <div class="grid10">
              <div class="score-value with-left-space">5/6</div>
            </div>
          </li>
          <li class="clearfix">
            <div class="score-bar grid90">
              <div class="score-bar--highlight" style="width: 100%">
                <span>Criterion 2</span>
              </div>
            </div>
            <div class="grid10">
              <div class="score-value with-left-space">6/6</div>
            </div>
          </li>
          <li class="clearfix">
            <div class="score-bar grid90">
              <div class="score-bar--highlight" style="width: 66.66%">
                <span>Criterion 3</span>
              </div>
            </div>
            <div class="grid10">
              <div class="score-value with-left-space">4/6</div>
            </div>
          </li>
          <li class="clearfix">
            <div class="score-bar grid90">
              <div class="score-bar--highlight" style="width: 83.33%">
                <span>Criterion 4</span>
              </div>
            </div>
            <div class="grid10">
              <div class="score-value with-left-space">5/6</div>
            </div>
          </li>
          <li class="clearfix">
            <div class="text-right grid90">
              Category 1 Bonus
            </div>
            <div class="grid10">
              <div class="score-value with-left-space">5</div>
            </div>
          </li>
          <li class="clearfix">
            <div class="text-right grid90">
              Category 1 Total
            </div>
            <div class="grid10">
              <div class="score-total with-left-space">25</div>
            </div>
          </li>
        </ul>
      </li>
      <li class="score-list--category">
        <h5>Category 2</h5>
        <ul class="unstyled score-sublist">
          <li class="clearfix">
            <div class="score-bar grid90">
              <div class="score-bar--highlight" style="width: 66.66%">
                <span>Criterion 1</span>
              </div>
            </div>
            <div class="grid10">
              <div class="score-value with-left-space">4/6</div>
            </div>
          </li>
          <li class="clearfix">
            <div class="score-bar grid90">
              <div class="score-bar--highlight" style="width: 50%">
                <span>Criterion 2</span>
              </div>
            </div>
            <div class="grid10">
              <div class="score-value with-left-space">3/6</div>
            </div>
          </li>
          <li class="clearfix">
            <div class="score-bar grid90">
              <div class="score-bar--highlight" style="width: 33.33%">
                <span>Criterion 3</span>
              </div>
            </div>
            <div class="grid10">
              <div class="score-value with-left-space">2/6</div>
            </div>
          </li>
          <li class="clearfix">
            <div class="score-bar grid90">
              <div class="score-bar--highlight" style="width: 16.66%">
                <span>Criterion 4</span>
              </div>
            </div>
            <div class="grid10">
              <div class="score-value with-left-space">1/6</div>
            </div>
          </li>
          <li class="clearfix">
            <div class="text-right grid90">
              Category 2 Bonus
            </div>
            <div class="grid10">
              <div class="score-value with-left-space">20</div>
            </div>
          </li>
          <li class="clearfix">
            <div class="text-right grid90">
              Category 2 Total
            </div>
            <div class="grid10">
              <div class="score-total with-left-space">30</div>
            </div>
          </li>
        </ul>
      </li>
      <li style="margin-top: 30px;">
        <ul class="unstyled score-sublist">
          <li class="clearfix">
            <div class="text-right grid90">
              Total Score / Total Possible
            </div>
            <div class="grid10">
              <div class="score-value with-left-space">45 / 48</div>
            </div>
          </li>
          <li class="clearfix">
            <div class="text-right grid90">
              Percentage
            </div>
            <div class="grid10">
              <div class="score-total with-left-space">94%</div>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div>
    <header class="clearfix">
      <div class="grid20">
        <h3>Discussions</h3>
      </div>
      <div class="grid80 with-padding">
        <p class="with-gray" style="margin: 10px 0;"><em>12 Comments</em></p>
      </div>
    </header>
    <div class="clearfix">
      <div class="with-space">
        <input type="text" style="width: 99%;" placeholder="Write a new comment">
      </div>
      <ul class="comment-list unstyled">
        <li>
          <div class="media with-space">
            <div class="portrait-green pull-left"></div>
            <div class="media-body">
              <h5 class="media-heading">Evaluator Name</h5>
              <small>Posted March 20, 2013 at 11:00am</small>
            </div>
          </div>
          <p class="with-space">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea alias et porro facere necessitatibus ullam maiores ipsum corporis libero aspernatur!</p>
          <p>
            <a href="#" class="btn btn-mini">Reply</a>
            <a href="#" class="btn btn-mini">Send email</a>
          </p>
        </li>
        <li>
          <div class="media with-space">
            <div class="portrait-blue pull-left"></div>
            <div class="media-body">
              <h5 class="media-heading">Peer Name</h5>
              <small>Posted March 20, 2013 at 11:02am</small>
            </div>
          </div>
          <p class="with-space">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro aspernatur modi nostrum aliquam nobis voluptatibus at.</p>
          <p>
            <a href="#" class="btn btn-mini">Reply</a>
            <a href="#" class="btn btn-mini">Send email</a>
          </p>
        </li>
      </ul>
    </div>
  </div>
  
</div>