<div class="shaded-bottom">
  <header class="bar-header">
    <h2 class="bar-header--title">Testing Help</h2>
  </header>
</div>

<!--
['nnw', 'nne', 'ene', 'ese', 'sse', 'ssw', 'wsw', 'wnw']
-->

<div class="page-content--frame double-space-bottom">
  <a data-help="test:one" data-help-orientation="nnw" style="width: 45px" href="" class="teal-button">nnw</a>
  <a data-help="test:one" data-help-orientation="nnw" style="width: 200px; height: 200px;" href="" class="teal-button">nnw</a>
  <a data-help="test:one" data-help-orientation="nnw" style="width: 65px; height: 65px;" href="" class="teal-button">nnw</a>
  <a data-help="test:one" data-help-orientation="nnw" style="width: 64px; height: 64px;" href="" class="teal-button">nnw</a>
  <a data-help="test:one" data-help-orientation="nnw" style="width: 300px" href="" class="teal-button">nnw</a>
  <a data-help="test:one" data-help-orientation="nnw" style="width: 45px; height: 45px;" href="" class="teal-button">nnw</a>
  <a data-help="test:one" data-help-orientation="nnw" style="width: 44px; height: 44px;" href="" class="teal-button">nnw</a>
</div>

<div class="page-content--frame double-space-bottom">
  <a data-help="test:one" data-help-orientation="nne" style="width: 45px" href="" class="teal-button">nne</a>
  <a data-help="test:one" data-help-orientation="nne" style="width: 200px; height: 200px;" href="" class="teal-button">nne</a>
  <a data-help="test:one" data-help-orientation="nne" style="width: 65px; height: 65px;" href="" class="teal-button">nne</a>
  <a data-help="test:one" data-help-orientation="nne" style="width: 64px; height: 64px;" href="" class="teal-button">nne</a>
  <a data-help="test:one" data-help-orientation="nne" style="width: 300px" href="" class="teal-button">nne</a>
  <a data-help="test:one" data-help-orientation="nne" style="width: 45px; height: 45px;" href="" class="teal-button">nne</a>
  <a data-help="test:one" data-help-orientation="nne" style="width: 44px; height: 44px;" href="" class="teal-button">nne</a>
</div>

<div class="page-content--frame double-space-bottom">
  <a data-help="test:one" data-help-orientation="ene" style="width: 45px" href="" class="teal-button">ene</a>
  <a data-help="test:one" data-help-orientation="ene" style="width: 200px; height: 200px;" href="" class="teal-button">ene</a>
  <a data-help="test:one" data-help-orientation="ene" style="width: 65px; height: 65px;" href="" class="teal-button">ene</a>
  <a data-help="test:one" data-help-orientation="ene" style="width: 64px; height: 64px;" href="" class="teal-button">ene</a>
  <a data-help="test:one" data-help-orientation="ene" style="width: 300px" href="" class="teal-button">ene</a>
  <a data-help="test:one" data-help-orientation="ene" style="width: 45px; height: 45px;" href="" class="teal-button">ene</a>
  <a data-help="test:one" data-help-orientation="ene" style="width: 44px; height: 44px;" href="" class="teal-button">ene</a>
</div>

<div class="page-content--frame double-space-bottom">
  <a data-help="test:one" data-help-orientation="ese" style="width: 45px" href="" class="teal-button">ese</a>
  <a data-help="test:one" data-help-orientation="ese" style="width: 200px; height: 200px;" href="" class="teal-button">ese</a>
  <a data-help="test:one" data-help-orientation="ese" style="width: 65px; height: 65px;" href="" class="teal-button">ese</a>
  <a data-help="test:one" data-help-orientation="ese" style="width: 64px; height: 64px;" href="" class="teal-button">ese</a>
  <a data-help="test:one" data-help-orientation="ese" style="width: 300px" href="" class="teal-button">ese</a>
  <a data-help="test:one" data-help-orientation="ese" style="width: 45px; height: 45px;" href="" class="teal-button">ese</a>
  <a data-help="test:one" data-help-orientation="ese" style="width: 44px; height: 44px;" href="" class="teal-button">ese</a>
</div>

<div class="page-content--frame double-space-bottom">
  <a data-help="test:one" data-help-orientation="sse" style="width: 45px" href="" class="teal-button">sse</a>
  <a data-help="test:one" data-help-orientation="sse" style="width: 200px; height: 200px;" href="" class="teal-button">sse</a>
  <a data-help="test:one" data-help-orientation="sse" style="width: 65px; height: 65px;" href="" class="teal-button">sse</a>
  <a data-help="test:one" data-help-orientation="sse" style="width: 64px; height: 64px;" href="" class="teal-button">sse</a>
  <a data-help="test:one" data-help-orientation="sse" style="width: 300px" href="" class="teal-button">sse</a>
  <a data-help="test:one" data-help-orientation="sse" style="width: 45px; height: 45px;" href="" class="teal-button">sse</a>
  <a data-help="test:one" data-help-orientation="sse" style="width: 44px; height: 44px;" href="" class="teal-button">sse</a>
</div>

<div class="page-content--frame double-space-bottom">
  <a data-help="test:one" data-help-orientation="ssw" style="width: 45px" href="" class="teal-button">ssw</a>
  <a data-help="test:one" data-help-orientation="ssw" style="width: 200px; height: 200px;" href="" class="teal-button">ssw</a>
  <a data-help="test:one" data-help-orientation="ssw" style="width: 65px; height: 65px;" href="" class="teal-button">ssw</a>
  <a data-help="test:one" data-help-orientation="ssw" style="width: 64px; height: 64px;" href="" class="teal-button">ssw</a>
  <a data-help="test:one" data-help-orientation="ssw" style="width: 300px" href="" class="teal-button">ssw</a>
  <a data-help="test:one" data-help-orientation="ssw" style="width: 45px; height: 45px;" href="" class="teal-button">ssw</a>
  <a data-help="test:one" data-help-orientation="ssw" style="width: 44px; height: 44px;" href="" class="teal-button">ssw</a>
</div>

<div class="page-content--frame double-space-bottom">
  <a data-help="test:one" data-help-orientation="wsw" style="width: 45px" href="" class="teal-button">wsw</a>
  <a data-help="test:one" data-help-orientation="wsw" style="width: 200px; height: 200px;" href="" class="teal-button">wsw</a>
  <a data-help="test:one" data-help-orientation="wsw" style="width: 65px; height: 65px;" href="" class="teal-button">wsw</a>
  <a data-help="test:one" data-help-orientation="wsw" style="width: 64px; height: 64px;" href="" class="teal-button">wsw</a>
  <a data-help="test:one" data-help-orientation="wsw" style="width: 300px" href="" class="teal-button">wsw</a>
  <a data-help="test:one" data-help-orientation="wsw" style="width: 45px; height: 45px;" href="" class="teal-button">wsw</a>
  <a data-help="test:one" data-help-orientation="wsw" style="width: 44px; height: 44px;" href="" class="teal-button">wsw</a>
</div>

<div class="page-content--frame double-space-bottom">
  <a data-help="test:one" data-help-orientation="wnw" style="width: 45px" href="" class="teal-button">wnw</a>
  <a data-help="test:one" data-help-orientation="wnw" style="width: 200px; height: 200px;" href="" class="teal-button">wnw</a>
  <a data-help="test:one" data-help-orientation="wnw" style="width: 65px; height: 65px;" href="" class="teal-button">wnw</a>
  <a data-help="test:one" data-help-orientation="wnw" style="width: 64px; height: 64px;" href="" class="teal-button">wnw</a>
  <a data-help="test:one" data-help-orientation="wnw" style="width: 300px" href="" class="teal-button">wnw</a>
  <a data-help="test:one" data-help-orientation="wnw" style="width: 45px; height: 45px;" href="" class="teal-button">wnw</a>
  <a data-help="test:one" data-help-orientation="wnw" style="width: 44px; height: 44px;" href="" class="teal-button">wnw</a>
</div>



<div style="height: 200px"></div>