<ul>
  <li><%= link_to 'View Semester', admin_semester_path(semester) %></li>
  <li><%= link_to 'Edit Semester', edit_admin_semester_path(semester) %></li>
  <li><%= link_to 'Delete Semester', admin_semester_path(semester), :method => :delete, :data => {:modalconfirm => 'This action is not reversible. Are you sure you would like to proceed?'} %></li>
</ul>
