<header>
  <h2 class="annotations--title">Annotations (<span data-behavior="count">{{count}}</span>)</h2>
  <a class="annotations--link" data-behavior="show-all" href="">View All</a>
  <a style="display: none;" class="annotations--link" data-behavior="show-auto" href="">View Active</a>
</header>
<div data-behavior="scroll-parent" class="annotations--content">
  <ul data-behavior="annotations-container" class="annotations--list">
  </ul>
  <span data-behavior="anchor" class="annotation--scroll-anchor"></span>
</div>