<header class="frame--header">
	<h2 class="frame--title">Discussions</h2>
	<ul class="frame--header--comments">
		<li data-behavior="post-count"></li>
		<!-- <li>3 New</li> -->
	</ul>
</header>
<div class="discussion">
	<ul class="discussion-list" data-behavior="post-container">
	</ul>
  <div data-container="flash"></div>
  <div data-behavior="parent-input">
  {{> templates_partials_discussionPostInput}}
  </div>
</div>