<div class="frame--list-item">
<h3 class="heading-large">{{label}} Evaluations</h3>
<!-- TODO perhaps add an auxillary class to indicate expanded/collapsed -->
<div class="scores item" data-behavior="scores-container">
</div>
</div>