<div class="evaluation-detail">
	<div class="evaluation-detail-frame">
		<figure class="attachment">
			<div data-region="player">TEST!</div>
			<figcaption data-region="annotations"></figcaption>
		</figure>
		<div data-region="annotator"></div>
		<div class="box" data-region="upload"></div>
	</div>
	<div class="evaluation-detail-frame" data-region="score"></div>
	<div class="evaluation-detail-frame" data-region="discussion"></div>
</div>
