<div class="evaluation-detail">
	<div class="evaluation-detail-frame">
		<figure class="attachment">
			<div class="attachment--left" data-region="player"></div>
			<figcaption data-region="annotations"></figcaption>
		</figure>
	  <div data-region="flash"></div>
		<div data-region="annotator"></div>
		<div class="box" data-region="upload"></div>
	</div>
	<div class="evaluation-detail-frame" data-region="my-evaluation"><!-- TODO: put loading indicator here --></div>

	<div class="evaluation-detail-frame" data-region="evaluations"><!-- TODO: put loading indicator here --></div>

	<div class="evaluation-detail-frame" data-region="discussion"><!-- TODO: put loading indicator here --></div>
</div>
