<div class="page-content--frame">
	<a class="gray-button" data-trigger-project-details href="">View Project Description</a>
</div>
<div class="evaluation-detail--flash" data-region="flash"></div>
<div class="evaluation-detail">
	<div class="evaluation-detail-frame">
		<figure class="attachment">
			<div class="attachment--left" data-region="player"></div>
			<figcaption data-region="annotations"></figcaption>
		</figure>
		<div data-region="annotator"></div>
		<div class="box" data-region="upload"></div>
	</div>
	{{#if evaluatable}}
	<div class="evaluation-detail-frame" data-class="evaluation-detail-frame">
    <header class="frame--header">
      <h2 class="frame--title">Rubric</h2>
      <div class="frame--header--buttons">
	      <a class="gray-button" data-trigger-toggle-on-text="View Rubric" data-trigger-toggle-off-text="Hide Rubric" data-trigger-view-rubric href="">Show Rubric</a>
      </div>
    </header>
    <ul class="frame--list">
      <li>
        <div class="frame--list-item">
          <h3 class="heading-large">{{rubric.name}}</h3>
          <p>
          {{rubric.description}}
          </p>
        </div>
      </li>
      <li data-region="rubric-detail"></li>
    </ul>
  </div>
	<div class="evaluation-detail-frame" data-class="evaluation-detail-frame">

    <header class="frame--header">
      <h2 class="frame--title">Scores</h2>
      <div class="frame--header--buttons">
        <a class="gray-button" data-trigger-glossary-toggle href="">What do these scores mean?</a>
      </div>
    </header>
		<ul class="frame--list">
      <li data-region="my-evaluations"></li>
      <li data-region="instructor-evaluations"></li>
      <li data-region="peer-evaluations"></li>
    </ul>
	</div>
	{{/if}}

	<div class="evaluation-detail-frame" data-region="discussion">

	</div>
</div>
