<div class="page-content--heading">
  <a class="header-link back-link" data-behavior="detail-close" href="/courses/{{courseId}}/{{to_lower creatorType}}s/evaluations">Back to Evaluations</a>
  <div>
    <div class="dropdown dropdown-inline dropdown-header dropdown-initialized" data-behavior="dropdown">
      <h2 class="dropdown--toggle heading-primary">
        {{project.name}}
      </h2>
    </div>
  </div>
  <h2 class="heading-secondary">
    {{creator.name}}
  </h2>
</div>


<div data-region="flash" class="flash"></div>
<div data-region="submission-assets"></div>
<div data-region="submission-evaluations"></div>
<div data-region="submission-discussion"></div>

