<div data-behavior="scroll-parent" class="annotations-container annotations-faded">
	<ul data-behavior="annotations-container" class="annotations-ul"></ul>
	<div data-behavior="spacer" class="annotation-spacer">
		<p>
			Use the text input and annotation tools to the left to annotate this asset.
		</p>
	</div>
	<span data-behavior="anchor" class="annotation--scroll-anchor"></span>
</div>
