<div class="annotations-empty-message">
	<p>
		This asset has not yet been annotated. To add the first annotation, start typing in the text input below the
		player. After you have posted an annotation, it will show up here.
	</p>

	<p>
		You may use include basic markdown formatting in your annotation, including *italics*, **bold**, and links.
	</p>
</div>