<header class="frame--header">
	<h2 class="frame--title">Discussions</h2>
	<nav class="frame--header--comments">
		<ul>
			<li><a href="">{{postCount}}</a></li>
			<!-- <li><a href="">3 New</a></li> -->
		</ul>
	</nav>
</header>
<div class="discussion">
	<ul class="discussion-list" data-behavior="post-container">
	</ul>
  <div data-behavior="parent-input">
  {{{post_input}}}
  </div>
</div>