<header class="frame--header">
	<h2 class="frame--title">Discussions</h2>
	<ul class="frame--header--comments">
		<li>{{postCount}}</li>
		<!-- <li>3 New</li> -->
	</ul>
</header>
<div class="discussion">
	<ul class="discussion-list" data-behavior="post-container">
	</ul>
  <div data-behavior="parent-input">
  {{{post_input}}}
  </div>
</div>