<header class="frame--header">
	<h2 class="frame--title">Scores</h2>
	<div class="frame--header--buttons">
		<a class="js-toggle-score-help gray-button" href="">What do these scores mean?</a>
	</div>
</header>
<!-- TODO perhaps add an auxillary class to indicate expanded/collapsed -->
<div class="scores">
	{{> score_summary}}
	<a class="js-toggle-score-detail scores--link" href="#">
		{{#if state.detailVisible}}
		Collapse Scores
		{{else}}
		Expand Scores
		{{/if}}	</a>
</div>
