<header>
  <h2 class="box--title">Upload Your Video</h2>
</header>
<div class="box--content">
  <form accept-charset="UTF-8" data-remote="true" enctype="multipart/form-data" id="video-upload" method="post">
    <p>
      Drag & drop here or
      <span class="file-input-container">
        <input id="fileupload" name="attachment[media]" type="file" />
        <a href="#" class="decorated" data-behavior="file-picker">select files from your computer</a>.
      </span> 
    </p>
    <ul class="progress-bar space-top">
      <li class="progress-bar--completed">
        <div class="indicator" style="width: 0%;"></div>
      </li>
    </ul>
    {{#if attachment}}
      <p class="space-top">
        {{attachment.media_file_name}} has been uploaded.
      </p>
      <p class="space-top">
        <a data-behavior="submission-save" href="#">Click here to save your submission</a>.
      </p>
    {{/if}}
  </form>
</div>