{{#if submission.transcoded_attachment}}
  <video class="attachment--media" id="submission-video" controls>
    <source src="{{submission.url}}">
  </video>
{{else}}
  <div class="attachment--media">
    <div class="attachment-placeholder">
    {{#if submission.uploaded_attachment}}
      Transcoding in progress
    {{else}}
	    {{#if submission.current_user_can_attach}}
	    <a class="attachment-placeholder--button" href="#">Upload video now</a>
	    {{else}}
	    <span class="attachment-placeholder--button" href="#">No video has been uploaded</span>
	    {{/if}}
    {{/if}}
    </div>
  </div>
{{/if}}
