<!-- TODO this is temporary; will be replaced by embedded video -->
<video class="attachment--media" id="submission-video" controls>
	<source src="{{submission.url}}">
</video>
<figcaption>
	<div class="annotations">
		<header class="annotations--header">
			<h2 class="annotations--title">Video Annotations</h2>
			<a class="annotations--link" href="">View All</a>
		</header>
		<div class="annotations--content">
			<ul class="annotations--list">
				<li>
					<h3 class="annotations--list--title"><span>[Timestamp]</span> [Annotator name]</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis alias incidunt similique ea corporis illum perferendis assumenda quam maxime dolorum!</p>
				</li>
				<li>
					<h3 class="annotations--list--title"><span>[Timestamp]</span> [Annotator name]</h3>
					<p>No, Donny, these men are nihilists, there's nothing to be afraid of.</p>
				</li>
			</ul>
		</div>
	</div>
</figcaption>