<div style="background: #FFF; height: 300px; width: 468px; padding: 25px;">
<form accept-charset="UTF-8" action="/attachments" class="new_attachment"
  data-remote="true" enctype="multipart/form-data" id="video-upload" method="post">

  <input data-url="/attachments" id="fileupload" name="attachment[media]" type="file" />

  <div class="fileupload-loading"></div>
  <br/>
  <br/>
  <a href="#" class="js-upload-submit">Upload</a>
</form>
</div>