{{#if submission.transcoded_attachment}}
  <video class="attachment--media" id="submission-video" controls>
    <source src="{{submission.url}}">
  </video>
{{else}}
  <div class="attachment--media">
  {{#if submission.uploaded_attachment}}
    Transcoding in progress
  {{else}}
    <div class="attachment-placeholder">
      <a class="attachment-placeholder--button" href="#" data-behavior="show-upload">Upload video now</a>
    </div>
  {{/if}}
  </div>
{{/if}}
