<header class="button-header">
  <h2 class="button-header--title"><%= @rubric.name %></h2>
</header>

<div class="double-space-bottom">
  <%= render 'nav', :rubric => @rubric, :subheader => subheader %>
</div>

