<h3>Rubrics</h3>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @rubrics.each do |rubric| %>
    <tr>
      <td><%= link_to rubric.name, admin_rubric_path(rubric) %></td>
      <td>
        <%= link_to 'edit', edit_admin_rubric_path(rubric) %>
        or
        <%= link_to 'destroy', admin_rubric_path(rubric), method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<% if can? :create, Rubric.new %>
  <%= link_to 'New rubric', new_admin_rubric_path, :class => 'btn' %>
<% end %>
