<% content_for :content_header do %>
  Rubrics
<% end %>

<% content_for :content_header_links do %>
  <%= link_to 'Back to Rubric List', admin_rubrics_path(), :class => 'gray-ex-button' %>
<% end %>

<% content_for :content_intro do %>
<% end %>

<% content_for :content_frames	 do %>

  <div style="padding-top: 0px;" class="page-content--frame double-space-bottom">
    <header class="button-header">
      <h2 class="button-header--title space-bottom">Create a New Rubric</h2>
    </header>
  </div>
  <div id="region-main"></div>
<% end %>

