<div class="attachment--media">
  <div class="attachment-placeholder">
    <a data-behavior="request-transcoding" class="attachment-placeholder--button" href="#">This file has not been transcoded.</a>
  </div>
</div>
