<% if course.projects.length > 0 %>
  <ul style="margin-top: 0px" class="unstyled-list">
    <% course.projects.each do |project| %>
      <li><%= link_to project, course_user_evaluations_path(course_id: course, project_id: project) %></li>
    <% end %>
  </ul>
<% end %>