<div class="thumb-container <%= 'thumb-container-video' if asset.type == 'Asset::Youtube' || asset.type == 'Asset::Vimeo' %>">
  <%= link_to image_tag(asset.thumbnail), course_asset_path(asset.course, asset) %>
</div>
<div class="time-container">
  <span class="submit-time">
  Submitted <%= asset.created_at.strftime('%m/%d/%y %l:%M %p') %>
  </span>
</div>



