<div class="spacer"></div>
<div data-region="criteria-rows"></div>
<div class="criteria-add-button" data-trigger="criteriaAdd"><i class="criteria-plus"></i>Add Criteria</div>
<div class="criteria-instruction">
    Criteria are the qualitative areas that the performer will be scored against.
</div>
