<span class="cell-control edit" data-behavior="edit"><i class="edit-icon"></i></span>
<span class="cell-control move-up" data-behavior="move-up"><i class="up-icon"></i></span>
<span class="cell-control move-down" data-behavior="move-down"><i class="down-icon"></i></span>
<span class="cell-control destroy" data-behavior="destroy"><i class="delete-icon"></i></span>
<div class="criteria-name">{{name}}</div>
