<h2 class="matrix--column-header--input">
<form>
  <fieldset>
    <div class="input-group">
      <input style="width: 180px;" class="text-input inline" value="{{name}}" data-behavior="name">
      <a class="small-teal-minus-button" href="#" data-behavior="destroy" style="height: 26px; padding-left: 3px; "></a>
    </div>
  </fieldset>
</form>
</h2>
