<div class="matrix--row-header--item">
	<a style="width: 15rem;" href="#" data-behavior="edit">
		{{name}}
		<strong style="margin-left: 1rem; font-size: 1.374rem; color: #676263">{{low}} - {{high}}</strong>
	</a>
</div>
