<div style="margin-top: 3.4rem; margin-bottom: 3.4rem; width: 922px" data-behavior="range-picker" border="0" class="range-picker">
  <div class="ticks" data-container="ticks"></div>
  <div class="handles" data-behavior="draggable-container"></div>
</div>
