<div data-behavior="matrix-slider-left" class="slide-button-left"></div>
<div data-region="cells"> <!-- this is what moves -->
    <div data-region="range-columns" class="range-columns"></div>
    <div class="range-add">
        <div class="range-add-button" data-trigger="rangeAdd">+ Range</div>
    </div>
</div>
<div data-behavior="matrix-slider-right" class="slide-button-right"></div>
