<div data-behavior="matrix-slider-left" class="slide-button-left"></div>
<div data-region="cells" class="cells"> <!-- this is what moves -->
    <div data-region="range-columns" class="range-columns"></div><div class="range-add-button" data-trigger="rangeAdd"><i class="range-plus"></i>Add Range</div>
</div>
<div data-behavior="matrix-slider-right" class="slide-button-right"></div>
