<div data-behavior="open-modal">
    <div class="cell-name">{{cellName}}</div>
    {{#if description}}
        <div href="#">{{truncate description 60}}</div>
    {{else}}
        <div href="#">Enter Description</div>
    {{/if}}
</div>
