<div class="matrix--row-header--item">
	<div class="range-label" data-behavior="edit">
		<a href="#">{{name}}</a>
		<strong>{{low}} - {{high}}</strong>
	</div>
	<div class="range-destroy">
		<b class="matrix--delete" href="#" data-behavior="destroy">Destroy</b>
	</div>
</div>
