<div data-region="range-header" class="range-header">
    <span class="cell-control edit" data-behavior="edit"><i class="edit-icon"></i></span>
    <span class="cell-control move-left" data-behavior="move-left"><i class="left-icon"></i></span>
    <span class="cell-control move-right" data-behavior="move-right"><i class="right-icon"></i></span>
    <span class="cell-control destroy" data-behavior="destroy"><i class="delete-icon"></i></span>
    <div class="range-name">{{name}}</div>
    <div class="range-score">{{high}}</div>
</div>
<div data-id="range-cells" class="range-cells"></div>

