<div style="width: 92.2rem;" data-behavior="range-picker" border="0" class="range-picker">
  <div class="ticks" data-container="ticks"></div>
  <div class="handles" data-behavior="draggable-container"></div>
</div>
