<div data-behavior="open-modal">
    <span class="cell-control edit" data-behavior="edit"><i class="edit-icon"></i></span>
    <span class="cell-control destroy" data-behavior="destroy"><i class="delete-icon"></i></span>
    <div class="cell-name">{{cellName}}</div>
    {{#if description}}
        <div class="cell-description">{{truncate description 45}}</div>
    {{else}}
        <div class="cell-description empty">Add Description</div>
    {{/if}}
</div>
