<div data-region="range-header" class="range-header">
    <span class="cell-control edit" data-behavior="edit">E</span>
    <span class="cell-control move-left" data-behavior="move-left"></span>
    <span class="cell-control move-right" data-behavior="move-right"></span>
    <span class="cell-control destroy" data-behavior="destroy">D</span>
    <div class="range-name">{{name}}</div>
    <div class="range-score">{{high}}</div>
</div>
<div data-id="range-cells" class="range-cells"></div>

