<div class="matrix--row-header--item">
  <form>
    <fieldset>
      <input class="matrix--row-header--input" value="{{name}}" data-behavior="name" /><b class="matrix--delete" href="#" data-behavior="destroy">Destroy</b>
      <div class="matrix--row-header--label">
        <span data-behavior="low">{{low}}</span> <small>&ndash;</small> <span data-behavior="high">{{high}}</span>
      </div>
    </fieldset>
 </form>
</div>
