<div class="page-content--frame double-space-bottom">
<h2 class="heading-caps-large">&nbsp;{{name}}</h2>
<form class="space-top">
    <fieldset>
      <div class="input-group">
        <label class="text-label">Rubric Name</label>
        <input class="text-input" type="text" value="{{name}}" data-behavior="rubric-name">
      </div>
      <div class="input-group">
        <label class="text-label">Description</label>
        <input class="text-input" type="text" value="{{description}}" data-behavior="rubric-desc">
        <small class="input-message">Enter a brief description of your rubric.</small>
      </div>
	    <div class="input-group">
		    <div class="input-group--third">
			    <div class="input-group">
				    <label class="text-label">Lowest Possible Score</label>
				    <input class="text-input" min="0" max="100" type="number" step="1" data-behavior="rubric-low">
				    <small class="input-message">Usually, this will be 0.</small>
			    </div>
		    </div>
		    <div class="input-group--third">
			    <div class="input-group">
				    <label class="text-label">Highest Possible Score</label>
				    <input class="text-input" min="0" max="100" step="1" type="number" data-behavior="rubric-high">
				    <small class="input-message">VOCAT's max score is 100</small>
			    </div>
		    </div>
	    </div>
	    <div style="margin-top: 6rem;" class="input-group" data-region="range-picker">
		    <div id="slider-range"></div>
	    </div>
    </fieldset>
  </form>

  <a href="#" data-trigger="save" class="teal-arrow-button">Save rubric</a>
  <a href="#" data-trigger="fieldAdd" class="teal-plus-button">Add Field</a>
  <a href="#" data-trigger="rangeAdd" class="teal-plus-button">Add Range</a>
  <div style="margin-top: 0px" data-region="flash"></div>
</div>

<div class="matrix editable">
  <div>
    <header class="matrix--column-header">
      <nav class="matrix--controls">
        <a class="matrix--next inactive" data-behavior="matrix-slider-right" href="#">Next</a>
        <a class="matrix--previous inactive" data-behavior="matrix-slider-left" href="#">Previous</a>
      </nav>
      <div class="matrix--list-wrapper" data-behavior="matrix-slider" data-region="fields">
      </div>
    </header>
    <nav class="matrix--name-nav">
      <header class="matrix--row-header" data-behavior="matrix-creators-list" data-region="ranges">
      </header>
    </nav>
    <div class="matrix--body" data-behavior="matrix-body" >
      <div class="matrix--content" data-behavior="matrix-slider" data-region="rows">
      </div>
    </div>
  </div>
</div>
