<div class="page-section">
	<div class="header-wrapper">
	</div>
	<div class="body">
		<div style="margin-top: 0px" data-region="flash"></div>
		<form class="formgrid new-rubric-form">
			<fieldset>
				<div class="formgrid whole rubric-name">
					<input type="text" value="{{name}}" data-behavior="rubric-name" placeholder="Name your rubric">
				</div>
				<div class="formgrid whole">
					<input type="text" value="{{description}}" data-behavior="rubric-desc" placeholder="Enter a brief description of your rubric">
				</div>
				{{#if current_user_is_admin}}
                    <div class="formgrid third">
                        <span style="display: inline-block; margin-right: 5px; vertical-align: middle;">Is this a system wide rubric?</span>
                        <div style="display: inline-block; vertical-align: middle;" class="switch {{#if public}}switch-checked{{/if}}" data-region="rubric-public">
                            <input id="checkbox" {{#if public}}checked="checked"{{/if}} class="switch-checkbox" type="checkbox">
                            <label for="checkbox" class="switch-label">
                        <span class="switch-inner">
                          <span class="switch-text switch-active">Yes</span>
                          <span class="switch-text switch-inactive">No</span>
                        </span>
                            </label>
                        </div>
                    </div>
				{{/if}}
			</fieldset>
		</form>
	</div>
</div>

<div class="page-section page-section-clear">
	<div class="body">
		<div class="rubric-builder" data-region="rubric-builder"></div>

        <div class="rubric-buttons">
            <!--
              <a href="#" data-trigger="recalc" class="primary-button">Reclaculate Matrix</a>
              -->
            <div style="text-align: left; display: inline-block; width: 49%;">
                <a href="#" data-trigger="save" class="primary-button update-button">Save rubric</a>
                <a href="#" data-trigger="cancel" class="warning-button cancel-button">Cancel</a>
            </div>
            <div style="text-align: right; display: inline-block; width: 49%;">
                <a href="#" data-trigger="scoring-modal" class="primary-button customize-button">Customize Scoring</a>
            </div>
        </div>
	</div>
</div>


