<div data-region="add-buttons" class="add-buttons">
    <div data-trigger="rangeAdd" class="range-add-snap"><i class="range-plus-snap"></i></div>
    <div data-trigger="criteriaAdd" class="criteria-add-snap"><i class="criteria-plus-snap"></i></div>
</div>
<div class="table-wrapper">
    <div data-region="criteria" class="criteria-wrapper"></div>
    <div class="criteria-bar"></div>
    <div data-region="body-wrapper" class="body-wrapper"></div>
    <div class="range-bar"></div>
</div>
