<div data-region="add-buttons" class="add-buttons">
    <div data-trigger="rangeAdd" class="range-add-snap">+</div>
    <div data-trigger="criteriaAdd" class="criteria-add-snap">+</div>
</div>
<div class="table-wrapper">
    <div data-region="criteria" class="criteria-wrapper"></div>
    <div data-region="body-wrapper" class="body-wrapper"></div>
</div>
