<div class="matrix highlightable">
  <div>
    <header class="matrix--column-header" data-behavior="sticky-header">
      <div class="matrix--overlay-header" style="display: none" data-region="overlay-header"></div>
      <nav class="matrix--controls">
        <a class="matrix--next" data-behavior="matrix-slider-right" href="#">Next</a>
        <a class="matrix--previous inactive" data-behavior="matrix-slider-left" href="#">Previous</a>
      </nav>
      <div class="matrix--list-wrapper" data-behavior="matrix-slider" data-region="projects"></div>
    </header>
    <nav class="matrix--name-nav" data-behavior="matrix-creators">
      <header class="matrix--row-header" data-behavior="matrix-creators-list" data-region="creators">
      </header>
    </nav>
    <div class="matrix--body" data-behavior="matrix-body" >
      <div class="matrix--content" data-region="matrix" data-behavior="matrix-slider"></div>
      <div class="matrix--overlay" style="display: none;" data-region="overlay">
        <div data-behavior="overlay-content"></div>
      </div>
    </div>
  </div>
</div>
