<th>
	{{#if userCanAdministerCourse}}
		<a data-behavior="creator-name" href="#">{{name}}</a>
	{{else}}
		{{name}}
	{{/if}}
	{{#if isGroup}}
		<a data-behavior="open-group-modal" class="secondary-link" href="#">View Members</a>
	{{/if}}
</th>
