<li class="matrix--meta-nav--header">
  <label class="light-radio-label" data-behavior="show-users">
    <input type="radio" name="meta-nav-toggle" checked="checked">
    <b></b>
    <span class="light-radio-label--text">Users</span>
  </label>
  <label class="light-radio-label" data-behavior="show-groups">
    <input type="radio" name="meta-nav-toggle">
    <b></b>
    <span class="light-radio-label--text">Groups</span>
  </label>
</li>
