
<div class="evaluation-detail-frame">

	<div class="project-detail-frame">
	  <h2 class="frame--title">Interactive Project Data</h2>
		<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
			fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
			culpa qui officia deserunt mollit anim id est laborum. Duis</p>
	</div>

	<div class="project-detail-frame">
		<h3 class="heading-large">Project Summary</h3>
		<figure class="summary-box">
			<div>
				<b style="height: 83%"></b>
				<span>83</span><small>%</small>
			</div>
			<figcaption>Project Average: This Class</figcaption>
		</figure>

		<figure class="summary-box">
			<div>
				<b style="height: 88%"></b>
				<span>88</span><small>%</small>
			</div>
			<figcaption>Rubric Average: All Classes</figcaption>
		</figure>

		<figure class="summary-box">
			<div>
				<b style="height: 48%"></b>
				<span>12</span><small>/25</small>
			</div>
			<figcaption>Videos Submitted</figcaption>
		</figure>
		<figure class="summary-box">
			<div>
				<b style="height: 20%"></b>
				<span>5</span><small>/25</small>
			</div>
			<figcaption>Submissions Evaluated</figcaption>
		</figure>

	</div>

	<div class="project-detail-frame">
		<h3 class="heading-large">Overall Score Distribution</h3>
		<aside>
			<p data-behavior="bar-filter-label-wrap">
				<span data-behavior="bar-filter-label">This graph is currently displaying the overall score distribution for all project submissions.</span>
				<span><a href="#" style="display: none" data-trigger="filters-clear">Clear all filters</a></span>
			</p>
		</aside>
		<div id="bar-chart"></div>
	</div>


	<div class="project-detail-frame">
		<h3 class="heading-large">Criteria Score Distribution</h3>
		<div class="clearfix pie-wrapper">
		{{#each fields}}
		<figure class="pie">
			<div class="pie-chart" id="pie-chart-{{this.id}}"></div>
			<figcaption>{{this.name}}</figcaption>
		</figure>
		{{/each}}
		</div>
		<aside>
			<p data-behavior="pie-filter-label-wrap">
				<span data-behavior="pie-filter-label">These pie charts are currently displaying the criteria score distribution for for all project submissions.</span>
				<span><a href="#" style="display: none" data-trigger="filters-clear">Clear all filters</a></span>
			</p>
		</aside>
	</div>


</div>
