{{#if publishable}}
	<a data-behavior="unpublisher" style="display: none" class="dark-button" href="#">Unpublish all</a>
	<a data-behavior="publisher" style="display: none" class="dark-button" href="#">Publish all</a>
{{/if}}