<a data-behavior="unpublisher" style="display: none" class="check-button" href="#">Unpublish all</a>
<a data-behavior="publisher" style="display: none" class="check-button active" href="#">Publish all</a>
