<ul class="matrix--meta-nav--row">
  {{#times projectCount}}
  <li class="matrix--cell matrix--meta-nav--cell">
    <!--<a class="check-button" href="#">Publish all</a>-->
    <a class="check-button active" href="#">Unpublish all</a>
  </li>
  {{/times}}
</ul>

<ul style="display: none;"  data-behavior="spacer" class="matrix--row matrix--row-spacer">
	{{#times projectCount}}
	<li class="matrix--cell matrix--row-spacer"></li>
	{{/times}}
</ul>