<div class="page-section--subsection">
	<aside class="chart-label" data-behavior="bar-filter-label-wrap">
		<span data-behavior="bar-filter-label">This graph is currently displaying the overall score distribution for all project submissions.</span>
		<span><a href="#" style="display: none" class="delete-link" data-trigger="filters-clear">Click here to clear all filters.</a></span>
	</aside>
	<div class="chart-container" id="bar-chart"></div>
</div>

<div class="page-section--subsection">
	<div class="chart-label">
		<p>
			These pie charts are currently displaying the <strong>criteria score distribution</strong> for for all project submissions.
			Each pie chart illustrates the score distribution for a single rubric criteria. Clicking on any slice will add it as
			a filter to the overall score distribution bar chart. Use these filters to see how student performance on a given
			criteria tends to impact their overall score.
		</p>
		<p data-trigger="filters-clear" style="display: none" >
			<a href="#" class="delete-link" >Click here to clear all filters.</a>
		</p>
	</div>
	<div class="chart-container">
		{{#each fields}}
		<figure class="pie">
			<div class="pie-chart" id="pie-chart-{{this.id}}"></div>
			<figcaption>{{this.name}}</figcaption>
		</figure>
		{{/each}}
	</div>
</div>