<p>
  <b>Media:</b>
  <%= video_tag @attachment, :controls => true %>
</p>
<p>
  <b>Thumb:</b>
  <%= image_tag @attachment.url(:thumb) %>
</p>


<%= link_to 'Edit', edit_attachment_path(@attachment) %> |
<%= link_to 'Back', attachments_path %>
