<div class="formgrid oneline--input">
  <div class="button-wrapper">
    <a class="primary-button post-button" data-behavior="post-save" href="#">Post Comment </a>
  </div>
  <div class="input-wrapper">
    <textarea data-parent="{{parent}}" data-behavior="post-input" placeholder="Start writing new comment..."></textarea>
  </div>
  <div class="button-wrapper-responsive">
    <a class="primary-button post-button" data-behavior="post-save" href="#">Post Comment</a>
  </div>
</div>
