<div class="discussion--item">
	<div class="discussion--input">
		<textarea data-parent="{{parent}}" data-behavior="post-input" placeholder="Start writing new comment..."></textarea>
	</div>
  <a class="discussion--submit" data-behavior="post-save" href="#">Post Comment</a>
</div>