<ul class="frame-summary--score-list">
  {{#if submission.instructor_score_percentage}}
  <li class="frame-summary--evaluated" style="padding-right: {{ invert submission.instructor_score_percentage }}%">
    <h4 class="frame-summary--score--title">Evaluator Review</h4>
    <span class="frame-summary--score--value">{{ to_i submission.instructor_score_percentage }}<small>%</small></span>
  </li>
  {{else}}
  <li class="frame-summary--unevaluated">
    <h4 class="frame-summary--score--title">Evaluator Review</h4>
    <span class="frame-summary--score--value">&ndash;&ndash;&nbsp;&nbsp;</span>
  </li>
  {{/if}}
  {{#if submission.peer_score_percentage}}
  <li class="frame-summary--evaluated">
    <h4 class="frame-summary--score--title">Peer Review</h4>
    <span class="frame-summary--score--value">82<small>%</small></span>
  </li>
  {{else}}
  <li class="frame-summary--unevaluated">
    <h4 class="frame-summary--score--title">Peer Review</h4>
    <span class="frame-summary--score--value">&ndash;&ndash;&nbsp;&nbsp;</span>
  </li>
  {{/if}}
</ul>
