<% content_for :body_class do %>course-map<% end %>
<div class="matrix">
  <header class="matrix--column-header" data-behavior="sticky-header">
    <div class="matrix--list-wrapper" data-behavior="matrix-slider">
      <ul class="matrix--column-header--list">
        <li>
          <a class="matrix--column-header--link" href="#">Reinvent Next&#x2011;generation Applications</a>
        </li>
        <li>
          <a class="matrix--column-header--link" href="#">Enhance 24/7 Vortals</a>
        </li>
        <li>
          <a class="matrix--column-header--link" href="#">Productize Sexy E&#x2011;tailers</a>
        </li>
        <li>
          <a class="matrix--column-header--link" href="#">Visualize Customized Solutions</a>
        </li>
        <li>
          <a class="matrix--column-header--link" href="#">Team with microbes to foster a vibrant soil food web</a>
        </li>
        <li>
          <a class="matrix--column-header--link" href="#">Avoid years of vague unhappiness &amp; regret</a>
        </li>
      </ul>
    </div>
    <nav class="matrix--controls">
      <a class="matrix--previous inactive" data-behavior="matrix-slider-left" href="#">Previous</a>
      <a class="matrix--next" data-behavior="matrix-slider-right" href="#">Next</a>
    </nav>
  </header>
  <nav class="matrix--name-nav" data-behavior="matrix-creators">
    <header class="matrix--row-header" data-behavior="matrix-creators-list">
      <ul>
        <li>
          <a href="#">Bobby Drake</a>
        </li>
        <li>
          <a href="#">Magnus Eisenhardt</a>
        </li>
        <li>
          <a href="#">Logan Howlett</a>
        </li>
        <li>
          <a href="#">Rémy LeBeau</a>
        </li>
        <li>
          <a href="#">Hank McCoy</a>
        </li>
        <li>
          <a href="#">Kafka Tamura</a>
        </li>
        <li>
          <a href="#">Ororo Monroe</a>
        </li>
        <li>
          <a href="#">Erlend Loe</a>
        </li>
        <li>
          <a href="#">Snorri Sturluson</a>
        </li>
        <li>
          <a href="#">Kitty Pryde</a>
        </li>
        <li>
          <a href="#">Bobby Drake</a>
        </li>
        <li>
          <a href="#">Magnus Eisenhardt</a>
        </li>
        <li>
          <a href="#">Logan Howlett</a>
        </li>
        <li>
          <a href="#">Rémy LeBeau</a>
        </li>
        <li>
          <a href="#">Hank McCoy</a>
        </li>
        <li>
          <a href="#">Kafka Tamura</a>
        </li>
        <li>
          <a href="#">Ororo Monroe</a>
        </li>
        <li>
          <a href="#">Erlend Loe</a>
        </li>
        <li>
          <a href="#">Snorri Sturluson</a>
        </li>
        <li>
          <a href="#">Kitty Pryde</a>
        </li>
      </ul>
    </header>
  </nav>
  <div class="matrix--body">
    <div class="matrix--content" data-behavior="matrix-slider">
      <ul class="matrix--row">
        <li>
          Something
        </li>
        <li>
          Something
        </li>
        <li>
          Something
        </li>
        <li>
          Something
        </li>
        <li>
          Something
        </li>
        <li>
          Last
        </li>
      </ul>
      <ul class="matrix--row">
        <li>
          Something
        </li>
        <li>
          Something
        </li>
        <li>
          Something
        </li>
        <li>
          Something
        </li>
        <li>
          Something
        </li>
        <li>
          Last
        </li>
      </ul>
      <ul class="matrix--row">
        <li>
          Something
        </li>
        <li>
          Something
        </li>
        <li>
          Something
        </li>
        <li>
          Something
        </li>
        <li>
          Something
        </li>
        <li>
          Last
        </li>
      </ul>
      <ul class="matrix--row">
        <li>
          Something
        </li>
        <li>
          Something
        </li>
        <li>
          Something
        </li>
        <li>
          Something
        </li>
        <li>
          Something
        </li>
        <li>
          Last
        </li>
      </ul>
      <ul class="matrix--row">
        <li>
          Something
        </li>
        <li>
          Something
        </li>
        <li>
          Something
        </li>
        <li>
          Something
        </li>
        <li>
          Something
        </li>
        <li>
          Last
        </li>
      </ul>
      <ul class="matrix--row">
        <li>
          Something
        </li>
        <li>
          Something
        </li>
        <li>
          Something
        </li>
        <li>
          Something
        </li>
        <li>
          Something
        </li>
        <li>
          Last
        </li>
      </ul>
      <ul class="matrix--row">
        <li>
          Something
        </li>
        <li>
          Something
        </li>
        <li>
          Something
        </li>
        <li>
          Something
        </li>
        <li>
          Something
        </li>
        <li>
          Last
        </li>
      </ul>
      <ul class="matrix--row">
        <li>
          Something
        </li>
        <li>
          Something
        </li>
        <li>
          Something
        </li>
        <li>
          Something
        </li>
        <li>
          Something
        </li>
        <li>
          Last
        </li>
      </ul>
      <ul class="matrix--row">
        <li>
          Something
        </li>
        <li>
          Something
        </li>
        <li>
          Something
        </li>
        <li>
          Something
        </li>
        <li>
          Something
        </li>
        <li>
          Last
        </li>
      </ul>
      <ul class="matrix--row">
        <li>
          Something
        </li>
        <li>
          Something
        </li>
        <li>
          Something
        </li>
        <li>
          Something
        </li>
        <li>
          Something
        </li>
        <li>
          Last
        </li>
      </ul>
      <ul class="matrix--row">
        <li>
          Something
        </li>
        <li>
          Something
        </li>
        <li>
          Something
        </li>
        <li>
          Something
        </li>
        <li>
          Something
        </li>
        <li>
          Last
        </li>
      </ul>
      <ul class="matrix--row">
        <li>
          Something
        </li>
        <li>
          Something
        </li>
        <li>
          Something
        </li>
        <li>
          Something
        </li>
        <li>
          Something
        </li>
        <li>
          Last
        </li>
      </ul>
      <ul class="matrix--row">
        <li>
          Something
        </li>
        <li>
          Something
        </li>
        <li>
          Something
        </li>
        <li>
          Something
        </li>
        <li>
          Something
        </li>
        <li>
          Last
        </li>
      </ul>
      <ul class="matrix--row">
        <li>
          Something
        </li>
        <li>
          Something
        </li>
        <li>
          Something
        </li>
        <li>
          Something
        </li>
        <li>
          Something
        </li>
        <li>
          Last
        </li>
      </ul>
      <ul class="matrix--row">
        <li>
          Something
        </li>
        <li>
          Something
        </li>
        <li>
          Something
        </li>
        <li>
          Something
        </li>
        <li>
          Something
        </li>
        <li>
          Last
        </li>
      </ul>
      <ul class="matrix--row">
        <li>
          Something
        </li>
        <li>
          Something
        </li>
        <li>
          Something
        </li>
        <li>
          Something
        </li>
        <li>
          Something
        </li>
        <li>
          Last
        </li>
      </ul>
      <ul class="matrix--row">
        <li>
          Something
        </li>
        <li>
          Something
        </li>
        <li>
          Something
        </li>
        <li>
          Something
        </li>
        <li>
          Something
        </li>
        <li>
          Last
        </li>
      </ul>
      <ul class="matrix--row">
        <li>
          Something
        </li>
        <li>
          Something
        </li>
        <li>
          Something
        </li>
        <li>
          Something
        </li>
        <li>
          Something
        </li>
        <li>
          Last
        </li>
      </ul>
      <ul class="matrix--row">
        <li>
          Something
        </li>
        <li>
          Something
        </li>
        <li>
          Something
        </li>
        <li>
          Something
        </li>
        <li>
          Something
        </li>
        <li>
          Last
        </li>
      </ul>
      <ul class="matrix--row">
        <li>
          Something
        </li>
        <li>
          Something
        </li>
        <li>
          Something
        </li>
        <li>
          Something
        </li>
        <li>
          Something
        </li>
        <li>
          Last
        </li>
      </ul>
    </div>
    <div class="matrix--overlay">
      <!-- This markup is temporary -->
      <h1 class="heading-medium">Creator Name<a href="#" class="close"></a></h1>
      <div class="child-frame"></div>
      <div class="child-frame"></div>
      <div class="child-frame"></div>
      <div class="child-frame"></div>
    </div>
  </div>
</div>
