<header class="bar-header double-space-bottom">
  <h2 class="bar-header--title">Frequently Asked Questions</h2>
</header>

<div class="page-content--frame">
  <dl class="expository-list">
    <dt>Consectetur adipisicing elit; consequatur repellendus nisi?</dt>
    <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi praesentium fugiat earum repudiandae iure nam cupiditate odio similique dicta fugit dolorum at facilis libero reprehenderit officia soluta odit delectus mollitia.</dd>
    <dt>Sequi praesentium fugiat earum repudiandae?</dt>
    <dd>Deleniti accusantium voluptatum dolorum labore natus ad illo est reiciendis sit excepturi quam consequatur aperiam atque repudiandae animi dolore similique. Laboriosam unde cumque vitae. Earum odio accusantium ratione tempore voluptatum quisquam qui beatae natus impedit libero odit magni voluptates modi vitae nesciunt quis in est commodi culpa sint.</dd>
    <dt>Voluptates ut commodi earum quidem et blanditiis voluptas enim ratione nostrum veritatis odit obcaecati?</dt>
    <dd>In veniam nobis nemo harum accusamus deleniti aut? Neque odit eveniet ad culpa odio temporibus aliquam ratione ipsum incidunt ipsam consequuntur deserunt facere amet dolor illo. Officiis doloremque non quaerat tempora molestias omnis maxime nemo incidunt veritatis praesentium perspiciatis deserunt natus voluptatum recusandae at minima ex. </dd>
    <dt>Obcaecati ipsum dolore earum asperiores, facere sequi id accusamus?</dt>
    <dd>Sequi aliquid autem perferendis dolorum vel odit ipsum et provident veniam harum eligendi tenetur amet dignissimos distinctio at rerum quo quod tempore consectetur ipsa. Beatae odio culpa animi non ab fugit nam quisquam illum dicta iusto suscipit asperiores minima nulla nisi libero veniam deleniti deserunt adipisci natus quas? </dd>
    <dt>Quae esse dolor consequuntur minus laboriosam blanditiis tempora ducimus voluptas consequatur obcaecati rem aperiam porro?</dt>
    <dd>Sequi praesentium fugiat earum repudiandae iure nam cupiditate odio similique dicta fugit dolorum at facilis libero reprehenderit officia soluta odit delectus mollitia.</dd>
    <dt>Consequuntur maiores deleniti voluptate nostrum impedit laborum labore est quisquam reiciendis explicabo eum non?</dt>
    <dd>Quia reiciendis nesciunt consectetur exercitationem obcaecati ipsum dolore earum asperiores, facere sequi id accusamus. Quam nisi facilis veniam facere nihil eius harum aspernatur earum fuga consectetur accusantium quos perspiciatis nostrum fugit error aut dolorem!</dd>
    <dt>Exercitationem obcaecati velit pariatur non fugiat asperiores itaque?</dt>
    <dd>Nemo debitis ducimus molestiae quam iste reiciendis sunt saepe dignissimos optio enim at esse harum aliquid in facere vel aperiam placeat vitae nesciunt iure sit et officiis totam neque a ratione reprehenderit eos praesentium autem ipsum impedit suscipit laudantium sint exercitationem obcaecati velit pariatur non fugiat asperiores itaque!</dd>
  </dl>
</div>
