<div class="shaded-bottom">
  <header class="bar-header">
    <h2 class="bar-header--title">Manage Course Projects</h2>
    <a class="teal-plus-button" href="#">Create new project</a>
    <div class="alerts">
      <div class="alert-notice">
        <aside class="alert--label"></aside>
        <p>Something</p>
        <a class="alert--close" href="#"></a>
      </div>
    </div>
  </header>
  <table class="table">
    <thead>
      <tr>
        <th>Project name</th>
        <th>Description</th>
        <th>Active</th>
        <th>Submissions</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>
          <a class="table--heading" href="#">Reinvent Next-generation Something</a>
        </th>
        <td>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugia pariatur.</td>
        <td><strong>Yes</strong></td>
        <td>&mdash;</td>
        <td><strong><a href="#">Update</a> / <a href="#">Delete</a></strong></td>
      </tr>
      <tr>
        <th>
          <a class="table--heading" href="#">Reinvent Next-generation Something</a>
        </th>
        <td>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugia pariatur sint.</td>
        <td><strong>Yes</strong></td>
        <td>&mdash;</td>
        <td><strong><a href="#">Update</a> / <a href="#">Delete</a></strong></td>
      </tr>
      <tr>
        <th>
          <div class="table--heading">Reinvent Next-generation Something</div>
        </th>
        <td>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugia pariatur sint.</td>
        <td><strong>Yes</strong></td>
        <td>&mdash;</td>
        <td><strong><a href="#">Update</a> / <a href="#">Delete</a></strong></td>
      </tr>
    </tbody>
  </table>
  <nav class="pagination-nav">
    <ul>
      <li><a href="#">First</a></li>
      <li><a href="#">Previous</a></li>
      <li class="active">3</li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">Next</a></li>
      <li><a href="#">Last</a></li>
    </ul>
  </nav>
</div>
<div class="page-content--frame">
  <header class="button-header">
    <a href="">Update</a>
    <h2 class="button-header--title">Reinvent Next-generation Application</h2>
  </header>
  <nav class="tab-nav">
    <ul>
      <li><a href="#">Item 1</a></li>
      <li class="active">Item 2</li>
      <li><a href="#">Item 3</a></li>
    </ul>
  </nav>
  <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
  <form>
    <fieldset>
      <div class="form-alert">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores qui.</p>
        <a class="close" href="#"></a>
      </div>
      <div class="input-group">
        <label class="text-label">Text input field</label>
        <input class="text-input" type="text">
      </div>
      <div class="input-group">
        <div class="input-group--half">
          <div class="input-group">
            <label class="text-label">Text input field</label>
            <input class="text-input" type="text">
          </div>
        </div>
        <div class="input-group--half">
          <div class="input-group error">
            <label class="text-label">Text input field</label>
            <input class="text-input" type="text">
            <small class="input-message">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</small>
          </div>
        </div>
      </div>
      <div class="input-group error">
        <label class="text-label">Text area input field</label>
        <textarea class="text-area-input" rows="3"></textarea>
        <small class="input-message">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</small>
      </div>
      <div class="input-group">
        <div class="input-group--half">
          <div class="input-group">
            <label class="text-label">Some boolean checkboxes</label>
            <label class="checkbox-label">
              <input class="checkbox" type="checkbox">
              <b></b>
              Allow Peer Review with a long title
            </label>
            <label class="checkbox-label">
              <input class="checkbox" type="checkbox">
              <b></b>
              Allow Peer Review
            </label>
            <label class="checkbox-label">
              <input class="checkbox" type="checkbox">
              <b></b>
              Allow Peer Review
            </label>
          </div>
        </div>
        <div class="input-group--half">
          <div class="input-group">
            <label class="text-label">Radio buttons</label>
            <label class="radio-label">
              <input type="radio" class="radio" name="name">
              <b></b>
              First Option
            </label>
            <label class="radio-label">
              <input type="radio" class="radio" name="name">
              <b></b>
              Second Option
            </label>
            <label class="radio-label">
              <input type="radio" class="radio" name="name">
              <b></b>
              Third Option
            </label>
            <label class="radio-label">
              <input type="radio" class="radio" name="name">
              <b></b>
              Fourth Option with a long title
            </label>
          </div>
        </div>
      </div>
      <div class="input-group">
        <div class="input-group--half">
          <div class="input-group">
            <label class="text-label">A select input</label>
            <div class="select-input" data-behavior="dropdown">
              <span class="select-input--value" data-behavior="toggle">Entry Item No. 1</span>
              <!-- <div class="select-input--dropdown" data-behavior="dropdown-options">
                <a href="#">Entry Item No. 2</a>
                <a href="#">Entry Item No. 3</a>
                <a href="#">Entry Item No. 4</a>
                <a href="#">Entry Item No. 5</a>
                <a href="#">Entry Item No. 6</a>
              </div> -->
            </div>
          </div>
        </div>
      </div>
      <div class="input-group">
        <a class="gray-ex-button" href="#">Cancel</a>
        <a class="teal-plus-button" href="#">Submit</a>
      </div>
    </fieldset>
  </form>
</div>

<div class="page-content--frame double-space-bottom">
  <header class="frame--header">
    <h2 class="frame--title">Scores</h2>
    <div class="frame--header--buttons">
      <a class="small-teal-minus-button" href="">Collapse Scores</a>
      <a class="gray-button" href="">What do these scores mean?</a>
    </div>
  </header>
  <ul class="frame--list">
    <li>
      <h3 class="heading-large">Virtues</h3>
      <ul class="scoring-list">
        <li>
          <div class="range-input">
            <input type="text" value="5" data-slider="true" data-slider-range="0,6" data-slider-step="1" data-slider-snap="true" data-slider-highlight="true">
            <div class="range-input--title">Prudence</div>
          </div>
          <div class="scoring-list--output">
            <input class="scoring-list--value" type="text" value="5"><div class="scoring-list--ideal">6</div>
          </div>
        </li>
        <li>
          <div class="range-input">
            <input type="text" value="3" data-slider="true" data-slider-range="0,6" data-slider-step="1" data-slider-snap="true" data-slider-highlight="true">
            <div class="range-input--title">Justice</div>
          </div>
          <div class="scoring-list--output">
            <input class="scoring-list--value" type="text" value="3"><div class="scoring-list--ideal">6</div>
          </div>
        </li>
        <li>
          <div class="range-input">
            <input type="text" value="1" data-slider="true" data-slider-range="0,6" data-slider-step="1" data-slider-snap="true" data-slider-highlight="true">
            <div class="range-input--title">Temperance</div>
          </div>
          <div class="scoring-list--output">
            <input class="scoring-list--value" type="text" value="1"><div class="scoring-list--ideal">6</div>
          </div>
        </li>
        <li>
          <div class="range-input">
            <input type="text" value="6" data-slider="true" data-slider-range="0,6" data-slider-step="1" data-slider-snap="true" data-slider-highlight="true">
            <div class="range-input--title">Fortitude</div>
          </div>
          <div class="scoring-list--output">
            <input class="scoring-list--value" type="text" value="6"><div class="scoring-list--ideal">6</div>
          </div>
        </li>
        <li>
          <div class="scoring-list--label">Virtues Bonus</div>
          <div class="scoring-list--output">
            <input class="scoring-list--value" type="text" value="0"><div class="scoring-list--ideal">6</div>
          </div>
        </li>
        <li>
          <div class="scoring-list--label">Virtues Total</div>
          <div class="scoring-list--output">
            <div class="scoring-list--total">15</div>
          </div>
        </li>
      </ul>
    </li>
    <li>
      <h3 class="heading-large">Vices</h3>
      <ul class="scoring-list">
        <li>
          <div class="range-input">
            <input type="text" value="5" data-slider="true" data-slider-range="0,6" data-slider-step="1" data-slider-snap="true" data-slider-highlight="true">
            <div class="range-input--title">Acedia</div>
          </div>
          <div class="scoring-list--output">
            <input class="scoring-list--value" type="text" value="5"><div class="scoring-list--ideal">6</div>
          </div>
        </li>
        <li>
          <div class="range-input">
            <input type="text" value="5" data-slider="true" data-slider-range="0,6" data-slider-step="1" data-slider-snap="true" data-slider-highlight="true">
            <div class="range-input--title">Vainglory</div>
          </div>
          <div class="scoring-list--output">
            <input class="scoring-list--value" type="text" value="5"><div class="scoring-list--ideal">6</div>
          </div>
        </li>
        <li>
          <div class="range-input">
            <input type="text" value="6" data-slider="true" data-slider-range="0,6" data-slider-step="1" data-slider-snap="true" data-slider-highlight="true">
            <div class="range-input--title">Avarice</div>
          </div>
          <div class="scoring-list--output">
            <input class="scoring-list--value" type="text" value="6"><div class="scoring-list--ideal">6</div>
          </div>
        </li>
        <li>
          <div class="scoring-list--label">Vices Bonus</div>
          <div class="scoring-list--output">
            <input class="scoring-list--value" type="text" value="4"><div class="scoring-list--ideal">6</div>
          </div>
        </li>
        <li>
          <div class="scoring-list--label">Vices Total</div>
          <div class="scoring-list--output">
            <div class="scoring-list--total">20</div>
          </div>
        </li>
      </ul>
    </li>
    <li>
      <ul class="scoring-list">
        <li>
          <div class="scoring-list--label">Point Totals</div>
          <div class="scoring-list--output">
            <input class="scoring-list--value" type="text" value="35"><div class="scoring-list--ideal">54</div>
          </div>
        </li>
        <li>
          <div class="scoring-list--total-label">Final Score</div>
          <div class="scoring-list--output">
            <div class="scoring-list--grand-total">65<small>%</small></div>
          </div>
        </li>
      </ul>
    </li>
  </ul>
</div>

<div class="page-content--frame double-space-bottom">
  <a href="" class="teal-button">Teal button link</a>
  <input type="submit" class="teal-button" value="Teal button input">
  <br><br>
  <a href="" class="teal-arrow-button">Teal arrow button link</a>
  <input type="submit" class="teal-arrow-button" value="Teal arrow button input">
  <br><br>
  <a href="" class="teal-plus-button">Teal plus button link</a>
  <input type="submit" class="teal-plus-button" value="Teal plus button input">
  <br><br>
  <a href="" class="teal-minus-button">Teal minus button link</a>
  <input type="submit" class="teal-minus-button" value="Teal minus button input">
  <br><br>
  <a href="" class="small-teal-minus-button">small teal minus button link</a>
  <input type="submit" class="small-teal-minus-button" value="small teal minus button input">
  <br><br>
  <a href="" class="small-teal-plus-button">small teal plus button link</a>
  <input type="submit" class="small-teal-plus-button" value="small teal plus button input">
  <br><br>
  <a href="" class="gray-button">gray button link</a>
  <input type="submit" class="gray-button" value="gray button input">
  <br><br>
  <a href="" class="gray-ex-button">gray ex button link</a>
  <input type="submit" class="gray-ex-button" value="gray ex button input">
</div>
