<script type="text/json" id="bootstrap-Creator">
  { "Creator": [{&quot;id&quot;:165,&quot;email&quot;:&quot;creator137@test.com&quot;,&quot;name&quot;:&quot;Alden Sipes&quot;,&quot;gravatar&quot;:&quot;http://gravatar.com/avatar/f2314953d0c37e7eda2c126d4706f657.png?d=mm&amp;s=&quot;},{&quot;id&quot;:73,&quot;email&quot;:&quot;creator45@test.com&quot;,&quot;name&quot;:&quot;Arlene Gulgowski&quot;,&quot;gravatar&quot;:&quot;http://gravatar.com/avatar/d05e5fbcab8b497dedb8792a428db540.png?d=mm&amp;s=&quot;},{&quot;id&quot;:152,&quot;email&quot;:&quot;creator124@test.com&quot;,&quot;name&quot;:&quot;Benton Wisozk&quot;,&quot;gravatar&quot;:&quot;http://gravatar.com/avatar/71ddcd05ee390331a2d7d48e5d62ce79.png?d=mm&amp;s=&quot;},{&quot;id&quot;:95,&quot;email&quot;:&quot;creator67@test.com&quot;,&quot;name&quot;:&quot;Cade Parisian&quot;,&quot;gravatar&quot;:&quot;http://gravatar.com/avatar/1193c1c26b5162fb54a6b94a2f11f298.png?d=mm&amp;s=&quot;},{&quot;id&quot;:91,&quot;email&quot;:&quot;creator63@test.com&quot;,&quot;name&quot;:&quot;Carson Denesik&quot;,&quot;gravatar&quot;:&quot;http://gravatar.com/avatar/a3d67c298d7f139535d012cb97ab4961.png?d=mm&amp;s=&quot;},{&quot;id&quot;:89,&quot;email&quot;:&quot;creator61@test.com&quot;,&quot;name&quot;:&quot;Cristal Stamm&quot;,&quot;gravatar&quot;:&quot;http://gravatar.com/avatar/9514af704072c4ca24bdf4c14ef13efb.png?d=mm&amp;s=&quot;},{&quot;id&quot;:75,&quot;email&quot;:&quot;creator47@test.com&quot;,&quot;name&quot;:&quot;Flo Hamill&quot;,&quot;gravatar&quot;:&quot;http://gravatar.com/avatar/a8d3cfca65bacc9e418a93bab617282a.png?d=mm&amp;s=&quot;},{&quot;id&quot;:34,&quot;email&quot;:&quot;creator6@test.com&quot;,&quot;name&quot;:&quot;Joesph Kovacek&quot;,&quot;gravatar&quot;:&quot;http://gravatar.com/avatar/8bd5fe68e0f1dd9a68c70a1d7598b340.png?d=mm&amp;s=&quot;},{&quot;id&quot;:124,&quot;email&quot;:&quot;creator96@test.com&quot;,&quot;name&quot;:&quot;Kaden Lesch&quot;,&quot;gravatar&quot;:&quot;http://gravatar.com/avatar/8a4ddc676b9612202dd64540f31d602b.png?d=mm&amp;s=&quot;},{&quot;id&quot;:39,&quot;email&quot;:&quot;creator11@test.com&quot;,&quot;name&quot;:&quot;Morton Klein&quot;,&quot;gravatar&quot;:&quot;http://gravatar.com/avatar/548dd83eb33108f4f0fb5ae513aaac9e.png?d=mm&amp;s=&quot;},{&quot;id&quot;:115,&quot;email&quot;:&quot;creator87@test.com&quot;,&quot;name&quot;:&quot;Romaine Fadel&quot;,&quot;gravatar&quot;:&quot;http://gravatar.com/avatar/5fb3780900bd55e2c68462e250c1d7c6.png?d=mm&amp;s=&quot;},{&quot;id&quot;:92,&quot;email&quot;:&quot;creator64@test.com&quot;,&quot;name&quot;:&quot;Rosanna Volkman&quot;,&quot;gravatar&quot;:&quot;http://gravatar.com/avatar/af5b6c938d236d623567541699351c30.png?d=mm&amp;s=&quot;},{&quot;id&quot;:64,&quot;email&quot;:&quot;creator36@test.com&quot;,&quot;name&quot;:&quot;Sammie Effertz&quot;,&quot;gravatar&quot;:&quot;http://gravatar.com/avatar/0401ed42b7235c7578b8ae1e8dd7dc80.png?d=mm&amp;s=&quot;}] }
</script>


<script type="text/json" id="bootstrap-Project">
  { "Project": [{&quot;id&quot;:14,&quot;name&quot;:&quot;Target Cross-platform Systems&quot;,&quot;current_user_is_owner&quot;:false,&quot;course_name&quot;:&quot;Discrete Structures I&quot;,&quot;course_name_long&quot;:&quot;CS250: Discrete Structures I, Section G33ZN&quot;,&quot;course_id&quot;:4,&quot;course_department&quot;:&quot;CS&quot;,&quot;course_section&quot;:&quot;G33ZN&quot;,&quot;course_number&quot;:&quot;250&quot;,&quot;current_user_id&quot;:9},{&quot;id&quot;:15,&quot;name&quot;:&quot;Engage Web-enabled E-services&quot;,&quot;current_user_is_owner&quot;:false,&quot;course_name&quot;:&quot;Discrete Structures I&quot;,&quot;course_name_long&quot;:&quot;CS250: Discrete Structures I, Section G33ZN&quot;,&quot;course_id&quot;:4,&quot;course_department&quot;:&quot;CS&quot;,&quot;course_section&quot;:&quot;G33ZN&quot;,&quot;course_number&quot;:&quot;250&quot;,&quot;current_user_id&quot;:9},{&quot;id&quot;:16,&quot;name&quot;:&quot;Morph User-centric Synergies&quot;,&quot;current_user_is_owner&quot;:false,&quot;course_name&quot;:&quot;Discrete Structures I&quot;,&quot;course_name_long&quot;:&quot;CS250: Discrete Structures I, Section G33ZN&quot;,&quot;course_id&quot;:4,&quot;course_department&quot;:&quot;CS&quot;,&quot;course_section&quot;:&quot;G33ZN&quot;,&quot;course_number&quot;:&quot;250&quot;,&quot;current_user_id&quot;:9},{&quot;id&quot;:17,&quot;name&quot;:&quot;Maximize 24/365 Mindshare&quot;,&quot;current_user_is_owner&quot;:false,&quot;course_name&quot;:&quot;Discrete Structures I&quot;,&quot;course_name_long&quot;:&quot;CS250: Discrete Structures I, Section G33ZN&quot;,&quot;course_id&quot;:4,&quot;course_department&quot;:&quot;CS&quot;,&quot;course_section&quot;:&quot;G33ZN&quot;,&quot;course_number&quot;:&quot;250&quot;,&quot;current_user_id&quot;:9},{&quot;id&quot;:18,&quot;name&quot;:&quot;Synergize B2c Channels&quot;,&quot;current_user_is_owner&quot;:false,&quot;course_name&quot;:&quot;Discrete Structures I&quot;,&quot;course_name_long&quot;:&quot;CS250: Discrete Structures I, Section G33ZN&quot;,&quot;course_id&quot;:4,&quot;course_department&quot;:&quot;CS&quot;,&quot;course_section&quot;:&quot;G33ZN&quot;,&quot;course_number&quot;:&quot;250&quot;,&quot;current_user_id&quot;:9}] }
</script>

<div data-view="CourseMap"><div class="matrix matrix--overlay-open help-enabled">
  <div>
    <header class="matrix--column-header" data-behavior="sticky-header">
      <div class="matrix--overlay-header" style="" data-behavior="overlay-header"><a href="#" class="matrix--overlay-header-close" data-behavior="matrix-overlay-close">Close</a>
<h2 class="matrix--overlay-header-title">Carson Denesik</h2>

  <h3 class="matrix--overlay-header-subtitle">Target Cross-platform Systems</h3>

<nav class="matrix--overlay-header-selector" data-behavior="dropdown">
  <a class="project-selector--toggle" data-behavior="toggle" href="#">
      
        View submission
      
  </a>
  <div class="project-selector--dropdown" data-behavior="dropdown-options">
    <ul>
      
        
          <li><a data-behavior="routable" href="/courses/4/evaluations/creator/91/project/14"><strong>Target Cross-platform Systems</strong></a></li>
        
          <li><a data-behavior="routable" href="/courses/4/evaluations/creator/91/project/15"><strong>Engage Web-enabled E-services</strong></a></li>
        
          <li><a data-behavior="routable" href="/courses/4/evaluations/creator/91/project/16"><strong>Morph User-centric Synergies</strong></a></li>
        
          <li><a data-behavior="routable" href="/courses/4/evaluations/creator/91/project/17"><strong>Maximize 24/365 Mindshare</strong></a></li>
        
          <li><a data-behavior="routable" href="/courses/4/evaluations/creator/91/project/18"><strong>Synergize B2c Channels</strong></a></li>
        
      
    </ul>
  </div>
</nav>
</div>
      <nav class="matrix--controls">
        <a class="matrix--next" data-behavior="matrix-slider-right" href="#">Next</a>
        <a class="matrix--previous inactive" data-behavior="matrix-slider-left" href="#">Previous</a>
      </nav>
      <div class="matrix--list-wrapper" data-behavior="matrix-slider">
        <ul class="matrix--column-header--list" style="width: 1000px;">
          
          <li data-behavior="navigate-project" data-project="14">
            <a class="matrix--column-header--link" data-behavior="routable" href="/courses/4/evaluations/project/14"><span>Target Cross-platform Systems</span></a>
          </li>
          
          <li data-behavior="navigate-project" data-project="15">
            <a class="matrix--column-header--link" data-behavior="routable" href="/courses/4/evaluations/project/15"><span>Engage Web-enabled E-services</span></a>
          </li>
          
          <li data-behavior="navigate-project" data-project="16">
            <a class="matrix--column-header--link" data-behavior="routable" href="/courses/4/evaluations/project/16"><span>Morph User-centric Synergies</span></a>
          </li>
          
          <li data-behavior="navigate-project" data-project="17">
            <a class="matrix--column-header--link" data-behavior="routable" href="/courses/4/evaluations/project/17"><span>Maximize 24/365 Mindshare</span></a>
          </li>
          
          <li data-behavior="navigate-project" data-project="18">
            <a class="matrix--column-header--link" data-behavior="routable" href="/courses/4/evaluations/project/18"><span>Synergize B2c Channels</span></a>
          </li>
          
        </ul>
      </div>
    </header>
    <nav class="matrix--name-nav active" data-behavior="matrix-creators">
      <header class="matrix--row-header" data-behavior="matrix-creators-list">
        <ul>
          
          <li data-behavior="navigate-creator" data-creator="165" class="">
            <a data-behavior="routable" href="/courses/4/evaluations/creator/165">Alden Sipes</a>
          </li>
          
          <li data-behavior="navigate-creator" data-creator="73">
            <a data-behavior="routable" href="/courses/4/evaluations/creator/73">Arlene Gulgowski</a>
          </li>
          
          <li data-behavior="navigate-creator" data-creator="152">
            <a data-behavior="routable" href="/courses/4/evaluations/creator/152">Benton Wisozk</a>
          </li>
          
          <li data-behavior="navigate-creator" data-creator="95">
            <a data-behavior="routable" href="/courses/4/evaluations/creator/95">Cade Parisian</a>
          </li>
          
          <li data-behavior="navigate-creator" data-creator="91" class="active">
            <a data-behavior="routable" href="/courses/4/evaluations/creator/91">Carson Denesik</a>
          </li>
          
          <li data-behavior="navigate-creator" data-creator="89">
            <a data-behavior="routable" href="/courses/4/evaluations/creator/89">Cristal Stamm</a>
          </li>
          
          <li data-behavior="navigate-creator" data-creator="75">
            <a data-behavior="routable" href="/courses/4/evaluations/creator/75">Flo Hamill</a>
          </li>
          
          <li data-behavior="navigate-creator" data-creator="34">
            <a data-behavior="routable" href="/courses/4/evaluations/creator/34">Joesph Kovacek</a>
          </li>
          
          <li data-behavior="navigate-creator" data-creator="124">
            <a data-behavior="routable" href="/courses/4/evaluations/creator/124">Kaden Lesch</a>
          </li>
          
          <li data-behavior="navigate-creator" data-creator="39">
            <a data-behavior="routable" href="/courses/4/evaluations/creator/39">Morton Klein</a>
          </li>
          
          <li data-behavior="navigate-creator" data-creator="115">
            <a data-behavior="routable" href="/courses/4/evaluations/creator/115">Romaine Fadel</a>
          </li>
          
          <li data-behavior="navigate-creator" data-creator="92">
            <a data-behavior="routable" href="/courses/4/evaluations/creator/92">Rosanna Volkman</a>
          </li>
          
          <li data-behavior="navigate-creator" data-creator="64">
            <a data-behavior="routable" href="/courses/4/evaluations/creator/64">Sammie Effertz</a>
          </li>
          
          <li class="matrix--row-spacer" style="min-height: 204px;">&nbsp;</li>
        </ul>
      </header>
    </nav>
    <div class="matrix--body" data-behavior="matrix-body">
      <div class="matrix--content js-matrix--content" data-behavior="matrix-slider">

<ul class="matrix--row" data-creator="165" style="width: 1000px;">
  
  <li class="matrix--cell">
    
      
        <a href="/courses/4/evaluations/creator/165/project/14" data-behavior="routable">
        
          <b class="matrix--cell--play">Play video</b>
        
        <h2 class="matrix--cell--value">
          
            ––<small>%</small>
          
        </h2>
        </a>
        <div class="matrix--cell--indicator ">
          <b></b>
          
            Unpublished
          
        </div>
      
    
  </li>
  
  <li class="matrix--cell">
    
      
        <a href="/courses/4/evaluations/creator/165/project/15" data-behavior="routable">
        
          <b class="matrix--cell--play">Play video</b>
        
        <h2 class="matrix--cell--value">
          
            ––<small>%</small>
          
        </h2>
        </a>
        <div class="matrix--cell--indicator ">
          <b></b>
          
            Unpublished
          
        </div>
      
    
  </li>
  
  <li class="matrix--cell">
    
      
        <a href="/courses/4/evaluations/creator/165/project/16" data-behavior="routable">
        
          <b class="matrix--cell--play">Play video</b>
        
        <h2 class="matrix--cell--value">
          
            ––<small>%</small>
          
        </h2>
        </a>
        <div class="matrix--cell--indicator ">
          <b></b>
          
            Unpublished
          
        </div>
      
    
  </li>
  
  <li class="matrix--cell">
    
      
        <a href="/courses/4/evaluations/creator/165/project/17" data-behavior="routable">
        
          <b class="matrix--cell--play">Play video</b>
        
        <h2 class="matrix--cell--value">
          
            ––<small>%</small>
          
        </h2>
        </a>
        <div class="matrix--cell--indicator ">
          <b></b>
          
            Unpublished
          
        </div>
      
    
  </li>
  
  <li class="matrix--cell">
    
      
        <a href="/courses/4/evaluations/creator/165/project/18" data-behavior="routable">
          <b class="matrix--cell--play inactive">No video has been uploaded</b>
          <h2 class="matrix--cell--value">––<small>%</small></h2>
        </a>
        <div class="matrix--cell--indicator"></div>
      
    
  </li>
  
</ul>

<ul class="matrix--row" data-creator="73" style="width: 1000px;">
  
  <li class="matrix--cell">
    
      
        <a href="/courses/4/evaluations/creator/73/project/14" data-behavior="routable">
        
          <b class="matrix--cell--play">Play video</b>
        
        <h2 class="matrix--cell--value">
          
            ––<small>%</small>
          
        </h2>
        </a>
        <div class="matrix--cell--indicator ">
          <b></b>
          
            Unpublished
          
        </div>
      
    
  </li>
  
  <li class="matrix--cell">
    
      
        <a href="/courses/4/evaluations/creator/73/project/15" data-behavior="routable">
        
          <b class="matrix--cell--play">Play video</b>
        
        <h2 class="matrix--cell--value">
          
            83<small>%</small>
          
        </h2>
        </a>
        <div class="matrix--cell--indicator ">
          <b></b>
          
            Unpublished
          
        </div>
      
    
  </li>
  
  <li class="matrix--cell">
    
      
        <a href="/courses/4/evaluations/creator/73/project/16" data-behavior="routable">
          <b class="matrix--cell--play inactive">No video has been uploaded</b>
          <h2 class="matrix--cell--value">––<small>%</small></h2>
        </a>
        <div class="matrix--cell--indicator"></div>
      
    
  </li>
  
  <li class="matrix--cell">
    
      
        <a href="/courses/4/evaluations/creator/73/project/17" data-behavior="routable">
        
          <b class="matrix--cell--play">Play video</b>
        
        <h2 class="matrix--cell--value">
          
            54<small>%</small>
          
        </h2>
        </a>
        <div class="matrix--cell--indicator ">
          <b></b>
          
            Unpublished
          
        </div>
      
    
  </li>
  
  <li class="matrix--cell">
    
      
        <a href="/courses/4/evaluations/creator/73/project/18" data-behavior="routable">
        
          <b class="matrix--cell--play">Play video</b>
        
        <h2 class="matrix--cell--value">
          
            ––<small>%</small>
          
        </h2>
        </a>
        <div class="matrix--cell--indicator ">
          <b></b>
          
            Unpublished
          
        </div>
      
    
  </li>
  
</ul>

<ul class="matrix--row" data-creator="152" style="width: 1000px;">
  
  <li class="matrix--cell">
    
      
        <a href="/courses/4/evaluations/creator/152/project/14" data-behavior="routable">
        
          <b class="matrix--cell--play">Play video</b>
        
        <h2 class="matrix--cell--value">
          
            41<small>%</small>
          
        </h2>
        </a>
        <div class="matrix--cell--indicator ">
          <b></b>
          
            Unpublished
          
        </div>
      
    
  </li>
  
  <li class="matrix--cell">
    
      
        <a href="/courses/4/evaluations/creator/152/project/15" data-behavior="routable">
        
          <b class="matrix--cell--play">Play video</b>
        
        <h2 class="matrix--cell--value">
          
            ––<small>%</small>
          
        </h2>
        </a>
        <div class="matrix--cell--indicator ">
          <b></b>
          
            Unpublished
          
        </div>
      
    
  </li>
  
  <li class="matrix--cell">
    
      
        <a href="/courses/4/evaluations/creator/152/project/16" data-behavior="routable">
        
          <b class="matrix--cell--play">Play video</b>
        
        <h2 class="matrix--cell--value">
          
            54<small>%</small>
          
        </h2>
        </a>
        <div class="matrix--cell--indicator ">
          <b></b>
          
            Unpublished
          
        </div>
      
    
  </li>
  
  <li class="matrix--cell">
    
      
        <a href="/courses/4/evaluations/creator/152/project/17" data-behavior="routable">
          <b class="matrix--cell--play inactive">No video has been uploaded</b>
          <h2 class="matrix--cell--value">––<small>%</small></h2>
        </a>
        <div class="matrix--cell--indicator"></div>
      
    
  </li>
  
  <li class="matrix--cell">
    
      
        <a href="/courses/4/evaluations/creator/152/project/18" data-behavior="routable">
        
          <b class="matrix--cell--play">Play video</b>
        
        <h2 class="matrix--cell--value">
          
            ––<small>%</small>
          
        </h2>
        </a>
        <div class="matrix--cell--indicator ">
          <b></b>
          
            Unpublished
          
        </div>
      
    
  </li>
  
</ul>

<ul class="matrix--row" data-creator="95" style="width: 1000px;">
  
  <li class="matrix--cell">
    
      
        <a href="/courses/4/evaluations/creator/95/project/14" data-behavior="routable">
        
          <b class="matrix--cell--play">Play video</b>
        
        <h2 class="matrix--cell--value">
          
            70<small>%</small>
          
        </h2>
        </a>
        <div class="matrix--cell--indicator ">
          <b></b>
          
            Unpublished
          
        </div>
      
    
  </li>
  
  <li class="matrix--cell">
    
      
        <a href="/courses/4/evaluations/creator/95/project/15" data-behavior="routable">
        
          <b class="matrix--cell--play">Play video</b>
        
        <h2 class="matrix--cell--value">
          
            41<small>%</small>
          
        </h2>
        </a>
        <div class="matrix--cell--indicator ">
          <b></b>
          
            Unpublished
          
        </div>
      
    
  </li>
  
  <li class="matrix--cell">
    
      
        <a href="/courses/4/evaluations/creator/95/project/16" data-behavior="routable">
        
          <b class="matrix--cell--play">Play video</b>
        
        <h2 class="matrix--cell--value">
          
            ––<small>%</small>
          
        </h2>
        </a>
        <div class="matrix--cell--indicator ">
          <b></b>
          
            Unpublished
          
        </div>
      
    
  </li>
  
  <li class="matrix--cell">
    
      
        <a href="/courses/4/evaluations/creator/95/project/17" data-behavior="routable">
        
          <b class="matrix--cell--play">Play video</b>
        
        <h2 class="matrix--cell--value">
          
            62<small>%</small>
          
        </h2>
        </a>
        <div class="matrix--cell--indicator ">
          <b></b>
          
            Unpublished
          
        </div>
      
    
  </li>
  
  <li class="matrix--cell">
    
      
        <a href="/courses/4/evaluations/creator/95/project/18" data-behavior="routable">
        
          <b class="matrix--cell--play">Play video</b>
        
        <h2 class="matrix--cell--value">
          
            37<small>%</small>
          
        </h2>
        </a>
        <div class="matrix--cell--indicator ">
          <b></b>
          
            Unpublished
          
        </div>
      
    
  </li>
  
</ul>

<ul class="matrix--row" data-creator="91" style="width: 1000px;">
  
  <li class="matrix--cell">
    
      
        <a href="/courses/4/evaluations/creator/91/project/14" data-behavior="routable">
        
          <b class="matrix--cell--play">Play video</b>
        
        <h2 class="matrix--cell--value">
          
            66<small>%</small>
          
        </h2>
        </a>
        <div class="matrix--cell--indicator ">
          <b></b>
          
            Unpublished
          
        </div>
      
    
  </li>
  
  <li class="matrix--cell">
    
      
        <a href="/courses/4/evaluations/creator/91/project/15" data-behavior="routable">
        
          <b class="matrix--cell--play">Play video</b>
        
        <h2 class="matrix--cell--value">
          
            ––<small>%</small>
          
        </h2>
        </a>
        <div class="matrix--cell--indicator ">
          <b></b>
          
            Unpublished
          
        </div>
      
    
  </li>
  
  <li class="matrix--cell">
    
      
        <a href="/courses/4/evaluations/creator/91/project/16" data-behavior="routable">
        
          <b class="matrix--cell--play">Play video</b>
        
        <h2 class="matrix--cell--value">
          
            ––<small>%</small>
          
        </h2>
        </a>
        <div class="matrix--cell--indicator ">
          <b></b>
          
            Unpublished
          
        </div>
      
    
  </li>
  
  <li class="matrix--cell">
    
      
        <a href="/courses/4/evaluations/creator/91/project/17" data-behavior="routable">
        
          <b class="matrix--cell--play">Play video</b>
        
        <h2 class="matrix--cell--value">
          
            ––<small>%</small>
          
        </h2>
        </a>
        <div class="matrix--cell--indicator ">
          <b></b>
          
            Unpublished
          
        </div>
      
    
  </li>
  
  <li class="matrix--cell">
    
      
        <a href="/courses/4/evaluations/creator/91/project/18" data-behavior="routable">
          <b class="matrix--cell--play inactive">No video has been uploaded</b>
          <h2 class="matrix--cell--value">––<small>%</small></h2>
        </a>
        <div class="matrix--cell--indicator"></div>
      
    
  </li>
  
</ul>

<ul class="matrix--row" data-creator="89" style="width: 1000px;">
  
  <li class="matrix--cell">
    
      
        <a href="/courses/4/evaluations/creator/89/project/14" data-behavior="routable">
          <b class="matrix--cell--play inactive">No video has been uploaded</b>
          <h2 class="matrix--cell--value">––<small>%</small></h2>
        </a>
        <div class="matrix--cell--indicator"></div>
      
    
  </li>
  
  <li class="matrix--cell">
    
      
        <a href="/courses/4/evaluations/creator/89/project/15" data-behavior="routable">
        
          <b class="matrix--cell--play">Play video</b>
        
        <h2 class="matrix--cell--value">
          
            ––<small>%</small>
          
        </h2>
        </a>
        <div class="matrix--cell--indicator ">
          <b></b>
          
            Unpublished
          
        </div>
      
    
  </li>
  
  <li class="matrix--cell">
    
      
        <a href="/courses/4/evaluations/creator/89/project/16" data-behavior="routable">
        
          <b class="matrix--cell--play">Play video</b>
        
        <h2 class="matrix--cell--value">
          
            ––<small>%</small>
          
        </h2>
        </a>
        <div class="matrix--cell--indicator ">
          <b></b>
          
            Unpublished
          
        </div>
      
    
  </li>
  
  <li class="matrix--cell">
    
      
        <a href="/courses/4/evaluations/creator/89/project/17" data-behavior="routable">
          <b class="matrix--cell--play inactive">No video has been uploaded</b>
          <h2 class="matrix--cell--value">––<small>%</small></h2>
        </a>
        <div class="matrix--cell--indicator"></div>
      
    
  </li>
  
  <li class="matrix--cell">
    
      
        <a href="/courses/4/evaluations/creator/89/project/18" data-behavior="routable">
        
          <b class="matrix--cell--play">Play video</b>
        
        <h2 class="matrix--cell--value">
          
            66<small>%</small>
          
        </h2>
        </a>
        <div class="matrix--cell--indicator ">
          <b></b>
          
            Unpublished
          
        </div>
      
    
  </li>
  
</ul>

<ul class="matrix--row" data-creator="75" style="width: 1000px;">
  
  <li class="matrix--cell">
    
      
        <a href="/courses/4/evaluations/creator/75/project/14" data-behavior="routable">
          <b class="matrix--cell--play inactive">No video has been uploaded</b>
          <h2 class="matrix--cell--value">––<small>%</small></h2>
        </a>
        <div class="matrix--cell--indicator"></div>
      
    
  </li>
  
  <li class="matrix--cell">
    
      
        <a href="/courses/4/evaluations/creator/75/project/15" data-behavior="routable">
        
          <b class="matrix--cell--play">Play video</b>
        
        <h2 class="matrix--cell--value">
          
            ––<small>%</small>
          
        </h2>
        </a>
        <div class="matrix--cell--indicator ">
          <b></b>
          
            Unpublished
          
        </div>
      
    
  </li>
  
  <li class="matrix--cell">
    
      
        <a href="/courses/4/evaluations/creator/75/project/16" data-behavior="routable">
        
          <b class="matrix--cell--play">Play video</b>
        
        <h2 class="matrix--cell--value">
          
            ––<small>%</small>
          
        </h2>
        </a>
        <div class="matrix--cell--indicator ">
          <b></b>
          
            Unpublished
          
        </div>
      
    
  </li>
  
  <li class="matrix--cell">
    
      
        <a href="/courses/4/evaluations/creator/75/project/17" data-behavior="routable">
        
          <b class="matrix--cell--play">Play video</b>
        
        <h2 class="matrix--cell--value">
          
            ––<small>%</small>
          
        </h2>
        </a>
        <div class="matrix--cell--indicator ">
          <b></b>
          
            Unpublished
          
        </div>
      
    
  </li>
  
  <li class="matrix--cell">
    
      
        <a href="/courses/4/evaluations/creator/75/project/18" data-behavior="routable">
          <b class="matrix--cell--play inactive">No video has been uploaded</b>
          <h2 class="matrix--cell--value">––<small>%</small></h2>
        </a>
        <div class="matrix--cell--indicator"></div>
      
    
  </li>
  
</ul>

<ul class="matrix--row" data-creator="34" style="width: 1000px;">
  
  <li class="matrix--cell">
    
      
        <a href="/courses/4/evaluations/creator/34/project/14" data-behavior="routable">
        
          <b class="matrix--cell--play">Play video</b>
        
        <h2 class="matrix--cell--value">
          
            ––<small>%</small>
          
        </h2>
        </a>
        <div class="matrix--cell--indicator ">
          <b></b>
          
            Unpublished
          
        </div>
      
    
  </li>
  
  <li class="matrix--cell">
    
      
        <a href="/courses/4/evaluations/creator/34/project/15" data-behavior="routable">
        
          <b class="matrix--cell--play">Play video</b>
        
        <h2 class="matrix--cell--value">
          
            ––<small>%</small>
          
        </h2>
        </a>
        <div class="matrix--cell--indicator ">
          <b></b>
          
            Unpublished
          
        </div>
      
    
  </li>
  
  <li class="matrix--cell">
    
      
        <a href="/courses/4/evaluations/creator/34/project/16" data-behavior="routable">
          <b class="matrix--cell--play inactive">No video has been uploaded</b>
          <h2 class="matrix--cell--value">––<small>%</small></h2>
        </a>
        <div class="matrix--cell--indicator"></div>
      
    
  </li>
  
  <li class="matrix--cell">
    
      
        <a href="/courses/4/evaluations/creator/34/project/17" data-behavior="routable">
        
          <b class="matrix--cell--play">Play video</b>
        
        <h2 class="matrix--cell--value">
          
            41<small>%</small>
          
        </h2>
        </a>
        <div class="matrix--cell--indicator ">
          <b></b>
          
            Unpublished
          
        </div>
      
    
  </li>
  
  <li class="matrix--cell">
    
      
        <a href="/courses/4/evaluations/creator/34/project/18" data-behavior="routable">
        
          <b class="matrix--cell--play">Play video</b>
        
        <h2 class="matrix--cell--value">
          
            ––<small>%</small>
          
        </h2>
        </a>
        <div class="matrix--cell--indicator ">
          <b></b>
          
            Unpublished
          
        </div>
      
    
  </li>
  
</ul>

<ul class="matrix--row" data-creator="124" style="width: 1000px;">
  
  <li class="matrix--cell">
    
      
        <a href="/courses/4/evaluations/creator/124/project/14" data-behavior="routable">
          <b class="matrix--cell--play inactive">No video has been uploaded</b>
          <h2 class="matrix--cell--value">––<small>%</small></h2>
        </a>
        <div class="matrix--cell--indicator"></div>
      
    
  </li>
  
  <li class="matrix--cell">
    
      
        <a href="/courses/4/evaluations/creator/124/project/15" data-behavior="routable">
        
          <b class="matrix--cell--play">Play video</b>
        
        <h2 class="matrix--cell--value">
          
            50<small>%</small>
          
        </h2>
        </a>
        <div class="matrix--cell--indicator ">
          <b></b>
          
            Unpublished
          
        </div>
      
    
  </li>
  
  <li class="matrix--cell">
    
      
        <a href="/courses/4/evaluations/creator/124/project/16" data-behavior="routable">
          <b class="matrix--cell--play inactive">No video has been uploaded</b>
          <h2 class="matrix--cell--value">––<small>%</small></h2>
        </a>
        <div class="matrix--cell--indicator"></div>
      
    
  </li>
  
  <li class="matrix--cell">
    
      
        <a href="/courses/4/evaluations/creator/124/project/17" data-behavior="routable">
        
          <b class="matrix--cell--play">Play video</b>
        
        <h2 class="matrix--cell--value">
          
            37<small>%</small>
          
        </h2>
        </a>
        <div class="matrix--cell--indicator ">
          <b></b>
          
            Unpublished
          
        </div>
      
    
  </li>
  
  <li class="matrix--cell">
    
      
        <a href="/courses/4/evaluations/creator/124/project/18" data-behavior="routable">
        
          <b class="matrix--cell--play">Play video</b>
        
        <h2 class="matrix--cell--value">
          
            45<small>%</small>
          
        </h2>
        </a>
        <div class="matrix--cell--indicator ">
          <b></b>
          
            Unpublished
          
        </div>
      
    
  </li>
  
</ul>

<ul class="matrix--row" data-creator="39" style="width: 1000px;">
  
  <li class="matrix--cell">
    
      
        <a href="/courses/4/evaluations/creator/39/project/14" data-behavior="routable">
        
          <b class="matrix--cell--play">Play video</b>
        
        <h2 class="matrix--cell--value">
          
            62<small>%</small>
          
        </h2>
        </a>
        <div class="matrix--cell--indicator ">
          <b></b>
          
            Unpublished
          
        </div>
      
    
  </li>
  
  <li class="matrix--cell">
    
      
        <a href="/courses/4/evaluations/creator/39/project/15" data-behavior="routable">
        
          <b class="matrix--cell--play inactive">No video has been uploaded</b>
        
        <h2 class="matrix--cell--value">
          
            ––<small>%</small>
          
        </h2>
        </a>
        <div class="matrix--cell--indicator ">
          <b></b>
          
            Unpublished
          
        </div>
      
    
  </li>
  
  <li class="matrix--cell">
    
      
        <a href="/courses/4/evaluations/creator/39/project/16" data-behavior="routable">
        
          <b class="matrix--cell--play">Play video</b>
        
        <h2 class="matrix--cell--value">
          
            ––<small>%</small>
          
        </h2>
        </a>
        <div class="matrix--cell--indicator ">
          <b></b>
          
            Unpublished
          
        </div>
      
    
  </li>
  
  <li class="matrix--cell">
    
      
        <a href="/courses/4/evaluations/creator/39/project/17" data-behavior="routable">
        
          <b class="matrix--cell--play">Play video</b>
        
        <h2 class="matrix--cell--value">
          
            ––<small>%</small>
          
        </h2>
        </a>
        <div class="matrix--cell--indicator ">
          <b></b>
          
            Unpublished
          
        </div>
      
    
  </li>
  
  <li class="matrix--cell">
    
      
        <a href="/courses/4/evaluations/creator/39/project/18" data-behavior="routable">
        
          <b class="matrix--cell--play">Play video</b>
        
        <h2 class="matrix--cell--value">
          
            ––<small>%</small>
          
        </h2>
        </a>
        <div class="matrix--cell--indicator ">
          <b></b>
          
            Unpublished
          
        </div>
      
    
  </li>
  
</ul>

<ul class="matrix--row" data-creator="115" style="width: 1000px;">
  
  <li class="matrix--cell">
    
      
        <a href="/courses/4/evaluations/creator/115/project/14" data-behavior="routable">
        
          <b class="matrix--cell--play">Play video</b>
        
        <h2 class="matrix--cell--value">
          
            ––<small>%</small>
          
        </h2>
        </a>
        <div class="matrix--cell--indicator ">
          <b></b>
          
            Unpublished
          
        </div>
      
    
  </li>
  
  <li class="matrix--cell">
    
      
        <a href="/courses/4/evaluations/creator/115/project/15" data-behavior="routable">
        
          <b class="matrix--cell--play">Play video</b>
        
        <h2 class="matrix--cell--value">
          
            ––<small>%</small>
          
        </h2>
        </a>
        <div class="matrix--cell--indicator ">
          <b></b>
          
            Unpublished
          
        </div>
      
    
  </li>
  
  <li class="matrix--cell">
    
      
        <a href="/courses/4/evaluations/creator/115/project/16" data-behavior="routable">
          <b class="matrix--cell--play inactive">No video has been uploaded</b>
          <h2 class="matrix--cell--value">––<small>%</small></h2>
        </a>
        <div class="matrix--cell--indicator"></div>
      
    
  </li>
  
  <li class="matrix--cell">
    
      
        <a href="/courses/4/evaluations/creator/115/project/17" data-behavior="routable">
        
          <b class="matrix--cell--play">Play video</b>
        
        <h2 class="matrix--cell--value">
          
            ––<small>%</small>
          
        </h2>
        </a>
        <div class="matrix--cell--indicator ">
          <b></b>
          
            Unpublished
          
        </div>
      
    
  </li>
  
  <li class="matrix--cell">
    
      
        <a href="/courses/4/evaluations/creator/115/project/18" data-behavior="routable">
        
          <b class="matrix--cell--play">Play video</b>
        
        <h2 class="matrix--cell--value">
          
            70<small>%</small>
          
        </h2>
        </a>
        <div class="matrix--cell--indicator ">
          <b></b>
          
            Unpublished
          
        </div>
      
    
  </li>
  
</ul>

<ul class="matrix--row" data-creator="92" style="width: 1000px;">
  
  <li class="matrix--cell">
    
      
        <a href="/courses/4/evaluations/creator/92/project/14" data-behavior="routable">
        
          <b class="matrix--cell--play">Play video</b>
        
        <h2 class="matrix--cell--value">
          
            45<small>%</small>
          
        </h2>
        </a>
        <div class="matrix--cell--indicator ">
          <b></b>
          
            Unpublished
          
        </div>
      
    
  </li>
  
  <li class="matrix--cell">
    
      
        <a href="/courses/4/evaluations/creator/92/project/15" data-behavior="routable">
        
          <b class="matrix--cell--play">Play video</b>
        
        <h2 class="matrix--cell--value">
          
            ––<small>%</small>
          
        </h2>
        </a>
        <div class="matrix--cell--indicator ">
          <b></b>
          
            Unpublished
          
        </div>
      
    
  </li>
  
  <li class="matrix--cell">
    
      
        <a href="/courses/4/evaluations/creator/92/project/16" data-behavior="routable">
          <b class="matrix--cell--play inactive">No video has been uploaded</b>
          <h2 class="matrix--cell--value">––<small>%</small></h2>
        </a>
        <div class="matrix--cell--indicator"></div>
      
    
  </li>
  
  <li class="matrix--cell">
    
      
        <a href="/courses/4/evaluations/creator/92/project/17" data-behavior="routable">
          <b class="matrix--cell--play inactive">No video has been uploaded</b>
          <h2 class="matrix--cell--value">––<small>%</small></h2>
        </a>
        <div class="matrix--cell--indicator"></div>
      
    
  </li>
  
  <li class="matrix--cell">
    
      
        <a href="/courses/4/evaluations/creator/92/project/18" data-behavior="routable">
          <b class="matrix--cell--play inactive">No video has been uploaded</b>
          <h2 class="matrix--cell--value">––<small>%</small></h2>
        </a>
        <div class="matrix--cell--indicator"></div>
      
    
  </li>
  
</ul>

<ul class="matrix--row" data-creator="64" style="width: 1000px;">
  
  <li class="matrix--cell">
    
      
        <a href="/courses/4/evaluations/creator/64/project/14" data-behavior="routable">
          <b class="matrix--cell--play inactive">No video has been uploaded</b>
          <h2 class="matrix--cell--value">––<small>%</small></h2>
        </a>
        <div class="matrix--cell--indicator"></div>
      
    
  </li>
  
  <li class="matrix--cell">
    
      
        <a href="/courses/4/evaluations/creator/64/project/15" data-behavior="routable">
          <b class="matrix--cell--play inactive">No video has been uploaded</b>
          <h2 class="matrix--cell--value">––<small>%</small></h2>
        </a>
        <div class="matrix--cell--indicator"></div>
      
    
  </li>
  
  <li class="matrix--cell">
    
      
        <a href="/courses/4/evaluations/creator/64/project/16" data-behavior="routable">
        
          <b class="matrix--cell--play">Play video</b>
        
        <h2 class="matrix--cell--value">
          
            ––<small>%</small>
          
        </h2>
        </a>
        <div class="matrix--cell--indicator ">
          <b></b>
          
            Unpublished
          
        </div>
      
    
  </li>
  
  <li class="matrix--cell">
    
      
        <a href="/courses/4/evaluations/creator/64/project/17" data-behavior="routable">
        
          <b class="matrix--cell--play">Play video</b>
        
        <h2 class="matrix--cell--value">
          
            62<small>%</small>
          
        </h2>
        </a>
        <div class="matrix--cell--indicator ">
          <b></b>
          
            Unpublished
          
        </div>
      
    
  </li>
  
  <li class="matrix--cell">
    
      
        <a href="/courses/4/evaluations/creator/64/project/18" data-behavior="routable">
        
          <b class="matrix--cell--play">Play video</b>
        
        <h2 class="matrix--cell--value">
          
            41<small>%</small>
          
        </h2>
        </a>
        <div class="matrix--cell--indicator ">
          <b></b>
          
            Unpublished
          
        </div>
      
    
  </li>
  
</ul>

<ul class="matrix--row matrix--row-spacer" style="min-height: 204px; width: 1000px;">
    
    <li class="matrix--cell">
    </li>
    
    <li class="matrix--cell">
    </li>
    
    <li class="matrix--cell">
    </li>
    
    <li class="matrix--cell">
    </li>
    
    <li class="matrix--cell">
    </li>
    
</ul>
</div>
      <div class="matrix--overlay js-matrix--overlay" style="margin-top: -1088px; z-index: 200; min-height: 1088px;" data-behavior="overlay">
        <div data-behavior="overlay-content"><div><div class="evaluation-detail">
  <div class="evaluation-detail-frame">
    <figure class="attachment">
      <div data-behavior="player-view"><div><video class="attachment--media" id="submission-video" data-behavior="video-player" controls="">
  <source src="https://cic-vocat.s3.amazonaws.com/2013/5/16/31a842bcfa866cb0bbe05ceed8e12bc433e04328.mp4?AWSAccessKeyId=AKIAI2UNJAH7ADALF4NQ&amp;Expires=1372101218&amp;Signature=BT6qiNe5UnTGwfj9d0%2FtbaYZk54%3D">
</video>
</div></div>
      <figcaption data-behavior="annotations-view"><div class="annotations"><header>
  <h2 class="annotations--title">Annotations (<span data-behavior="count">0</span>)</h2>
  <a class="annotations--link" data-behavior="annotations-view-all" href="">View All</a>
  <a style="display: none;" class="annotations--link" data-behavior="annotations-auto-scroll" href="">Autoscroll</a>
</header>
<div data-behavior="scroll-parent" class="annotations--content">
  <ul data-behavior="annotations-container" class="annotations--list">
    
  </ul>
  <span class="annotation--scroll-anchor"></span>
</div>
</div></figcaption>
    </figure>
    <div data-behavior="annotator-view"><div><div class="annotation-input">
  <input type="text" data-behavior="annotation-input" placeholder="Enter a video annotation...">
</div>
</div></div>
    <div class="box" data-behavior="upload-view"><div style="display: none;"><header>
  <h2 class="box--title">Upload Your Video</h2>
</header>
<div class="box--content">
  <form accept-charset="UTF-8" data-remote="true" enctype="multipart/form-data" id="video-upload" method="post">
    <p>
      Drag &amp; drop here or
      <span class="file-input-container">
        <input data-behavior="async-upload" name="attachment[media]" type="file">
        <a href="#" class="decorated" data-behavior="file-picker">select files from your computer</a>.
      </span> 
    </p>
    <div style="display: none" class="progress-bar space-top">
      <div class="indicator" style="width: 90%;"></div>
    </div>
    
  </form>
</div>
</div></div>
  </div>
  <div class="evaluation-detail-frame" data-behavior="score-view"><div><header class="frame--header">
  <h2 class="frame--title">Scores</h2>
  <div class="frame--header--buttons">
    <a class="js-toggle-score-help gray-button" href="">What do these scores mean?</a>
  </div>
</header>
<!-- TODO perhaps add an auxillary class to indicate expanded/collapsed -->
<div class="scores">
  <ul class="frame-summary--score-list">
  
  <li class="frame-summary--evaluated" style="padding-right: 34%">
    <h4 class="frame-summary--score--title">Evaluator Review</h4>
    <span class="frame-summary--score--value">66<small>%</small></span>
  </li>
  
  
  <li class="frame-summary--unevaluated">
    <h4 class="frame-summary--score--title">Peer Review</h4>
    <span class="frame-summary--score--value">––&nbsp;&nbsp;</span>
  </li>
  
</ul>

  <a class="js-toggle-score-detail scores--link" href="#">
    
    Expand Scores
      </a>
</div>
</div></div>
  <div class="evaluation-detail-frame" data-behavior="discussion-view"><div><header class="frame--header">
  <h2 class="frame--title">Discussions</h2>
  <ul class="frame--header--comments">
    <li data-behavior="post-count">0</li>
    <!-- <li>3 New</li> -->
  </ul>
</header>
<div class="discussion">
  <ul class="discussion-list" data-behavior="post-container">
  </ul>
  <div data-behavior="parent-input">
    <div class="discussion--input">
    <textarea data-parent="" data-behavior="post-input" placeholder="Start writing new comment..." style="overflow: hidden; word-wrap: break-word; resize: none; height: 60px;"></textarea>
  </div>

  </div>
</div>
</div></div>
</div>
</div></div>
      </div>
    </div>
  </div>
</div>
</div>
