<script type="text/json" id="bootstrap-Project">
  { "Project": {&quot;id&quot;:44,&quot;name&quot;:&quot;Syndicate E-business Experiences&quot;,&quot;current_user_is_owner&quot;:false,&quot;course_name&quot;:&quot;Introduction to Literature&quot;,&quot;course_name_long&quot;:&quot;ENG100: Introduction to Literature, Section YU7FY&quot;,&quot;course_id&quot;:10,&quot;course_department&quot;:&quot;ENG&quot;,&quot;course_section&quot;:&quot;YU7FY&quot;,&quot;course_number&quot;:&quot;100&quot;,&quot;current_user_id&quot;:30} }

</script>


<script type="text/json" id="bootstrap-Creator">
  { "Creator": {&quot;id&quot;:30,&quot;email&quot;:&quot;creator2@test.com&quot;,&quot;name&quot;:&quot;Hank Funk&quot;,&quot;gravatar&quot;:&quot;http://gravatar.com/avatar/c935a60b3bc7160a5b8edaa9a8b7a3c3.png?d=mm&amp;s=&quot;} }

</script>


<script type="text/json" id="bootstrap-Submission">
  { "Submission": {&quot;id&quot;:542,&quot;name&quot;:null,&quot;url&quot;:false,&quot;thumb&quot;:false,&quot;course_name&quot;:&quot;Introduction to Literature&quot;,&quot;course_name_long&quot;:&quot;ENG100: Introduction to Literature, Section YU7FY&quot;,&quot;project_name&quot;:&quot;Syndicate E-business Experiences&quot;,&quot;course_id&quot;:10,&quot;project_id&quot;:44,&quot;creator_name&quot;:&quot;Hank Funk&quot;,&quot;creator_id&quot;:30,&quot;current_user_is_owner&quot;:true,&quot;current_user_can_evaluate&quot;:false,&quot;course_department&quot;:&quot;ENG&quot;,&quot;course_section&quot;:&quot;YU7FY&quot;,&quot;course_number&quot;:&quot;100&quot;,&quot;instructor_evaluations&quot;:[],&quot;evaluations&quot;:[],&quot;instructor_score_percentage&quot;:0,&quot;published&quot;:false,&quot;transcoded_attachment&quot;:null,&quot;current_user_can_annotate&quot;:true,&quot;current_user_can_attach&quot;:true,&quot;current_user_can_discuss&quot;:true,&quot;video_attachment_id&quot;:539,&quot;scored_by_instructor&quot;:false,&quot;has_transcoded_attachment&quot;:false,&quot;has_uploaded_attachment&quot;:true,&quot;has_transcoding_error&quot;:false,&quot;is_transcoding_complete&quot;:true,&quot;transcoding_in_progress&quot;:false,&quot;is_video&quot;:false} }

</script>



<div data-view="FlashMessages"><!-- javascript flash messages show up here --></div>

<div data-view="EvaluationDetail">
	<div class="evaluation-detail">
		<div class="evaluation-detail-frame">
			<header class="evaluation-detail--header">
				<h1 class="evaluation-detail--title">Syndicate E-business Experiences</h1>
				<aside>
					<h2 class="evaluation-detail--subtitle"><strong>ENG100 :</strong> Introduction to Literature</h2>

					<h2 class="evaluation-detail--subtitle"><em>Hank Funk</em></h2>
				</aside>
			</header>
			<figure class="attachment">
				<div data-behavior="player-view">
					<div>
						<div class="attachment--media">
							<div class="attachment-placeholder">
								<a data-behavior="request-transcoding" class="attachment-placeholder--button loading" href="#">Upload
									in progress<b class="spinner"></b></a>
							</div>
						</div>
					</div>
				</div>
				<figcaption data-behavior="annotations-view">
					<div class="annotations">
						<header>
							<h2 class="annotations--title">Annotations (<span data-behavior="count">0</span>)</h2>
							<a class="annotations--link" data-behavior="annotations-view-all" href="">View All</a>
							<a style="display: none;" class="annotations--link" data-behavior="annotations-auto-scroll" href="">Autoscroll</a>
						</header>
						<div data-behavior="scroll-parent" class="annotations--content">
							<ul data-behavior="annotations-container" class="annotations--list">

								<li class="annotations--item" data-seconds="">
									<h3 class="annotations--list--title"><span>00:00:000</span>&nbsp;&nbsp;&nbsp;Vocat
									</h3>

									<p>To enable annotations, a video must be attached to this submission.</p>
								</li>

							</ul>
							<span class="annotation--scroll-anchor"></span>
						</div>
					</div>
				</figcaption>
			</figure>
			<div data-behavior="annotator-view"></div>
			<div class="box" data-behavior="upload-view">
				<div style="display: none;">
					<header>
						<h2 class="box--title">Upload Your Video</h2>
					</header>
					<div class="box--content">
						<form accept-charset="UTF-8" data-remote="true" enctype="multipart/form-data" id="video-upload" method="post">
							<p>
								Drag &amp; drop here or
      <span class="file-input-container">
        <input data-behavior="async-upload" name="attachment[media]" type="file">
        <a href="#" class="decorated" data-behavior="file-picker">select files from your computer</a>.
      </span>
							</p>

							<div style="display: none" class="progress-bar space-top">
								<div class="indicator" style="width: 90%;"></div>
							</div>

						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="evaluation-detail-frame" data-behavior="score-view">
			<div>
				<header class="frame--header">
					<h2 class="frame--title">Scores</h2>

					<div class="frame--header--buttons">
						<a class="js-toggle-score-help gray-button" href="">What do these scores mean?</a>
					</div>
				</header>
				<!-- TODO perhaps add an auxillary class to indicate expanded/collapsed -->
				<div class="scores">
					<ul class="frame-summary--score-list">

						<li class="frame-summary--unevaluated">
							<h4 class="frame-summary--score--title">Evaluator Review</h4>
							<span class="frame-summary--score--value">––&nbsp;&nbsp;</span>
						</li>


						<li class="frame-summary--unevaluated">
							<h4 class="frame-summary--score--title">Peer Review</h4>
							<span class="frame-summary--score--value">––&nbsp;&nbsp;</span>
						</li>

					</ul>

					<!-- Ignore this -->
					<div style="margin-top: 2rem;"></div>

					<a class="teal-plus-button loading" href="#">Expand Scores</a>
					<a class="small-teal-plus-button loading" href="#">Expand Scores</a>
					<a class="teal-minus-button loading" href="#">Collapse Scores</a>
					<a class="small-teal-minus-button loading" href="#">Collapse Scores</a>

				</div>
			</div>
		</div>
		<div class="evaluation-detail-frame" data-behavior="discussion-view">
			<div>
				<header class="frame--header">
					<h2 class="frame--title">Discussions</h2>
					<ul class="frame--header--comments">
						<li data-behavior="post-count">0</li>
						<!-- <li>3 New</li> -->
					</ul>
				</header>
				<div class="discussion">
					<ul class="discussion-list" data-behavior="post-container">
					</ul>
					<div data-behavior="parent-input">
						<div class="discussion--input">
							<textarea data-parent="" data-behavior="post-input" placeholder="Start writing new comment..." style="overflow: hidden; word-wrap: break-word; resize: none; height: 60px;"></textarea>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
