<header class="bar-header">
  <h2 class="bar-header--title"><span contenteditable>Rubric name</span></h2>
  <a href="#" class="teal-plus-button">Add column</a>
  <a href="#" class="teal-plus-button">Add row</a>
  <p class="bar-header--description"><span contenteditable>This here is the rubric description.</span></p>
</header>
<div class="matrix editable">
  <div>
    <header class="matrix--column-header">
      <nav class="matrix--controls">
        <a class="matrix--next inactive" data-behavior="matrix-slider-right" href="#">Next</a>
        <a class="matrix--previous inactive" data-behavior="matrix-slider-left" href="#">Previous</a>
      </nav>
      <div class="matrix--list-wrapper" data-behavior="matrix-slider">
        <ul class="matrix--column-header--list">
          <li>
            <h2 class="matrix--column-header--input"><span contenteditable>Criterion</span></h2>
          </li>
          <li>
            <h2 class="matrix--column-header--input"><span contenteditable>Criterion</span></h2>
          </li>
          <li>
            <h2 class="matrix--column-header--input"><span contenteditable>Criterion</span></h2>
          </li>
          <li>
            <h2 class="matrix--column-header--input"><span contenteditable>Criterion</span></h2>
          </li>
        </ul>
      </div>
    </header>
    <nav class="matrix--name-nav">
      <header class="matrix--row-header" data-behavior="matrix-creators-list">
        <ul>
          <li>
            <div class="matrix--row-header--item">
              <span class="title-input"><span contenteditable>Range name</span></span>
              <span class="value-input">
                <span class="value-input--value"><span contenteditable>0</span></span> <small>&ndash;</small> <span class="value-input--value"><span contenteditable>2</span></span>
              </span>
            </div>
          </li>
          <li>
            <div class="matrix--row-header--item">
              <span class="title-input"><span contenteditable>Range name</span></span>
              <span class="value-input">
                <span class="value-input--value"><span contenteditable>2</span></span> <small>&ndash;</small> <span class="value-input--value"><span contenteditable>4</span></span>
              </span>
            </div>
          </li>
        </ul>
      </header>
    </nav>
    <div class="matrix--body" data-behavior="matrix-body" >

      <div class="matrix--content" data-behavior="matrix-slider">
        <ul class="matrix--row">
          <li class="matrix--cell">
            <p>Description</p>
          </li>
          <li class="matrix--cell">
            <p>Description</p>
          </li>
          <li class="matrix--cell">
            <p>Description</p>
          </li>
          <li class="matrix--cell">
            <p>Description</p>
          </li>
        </ul>
        <ul class="matrix--row">
          <li class="matrix--cell">
            <p>Description</p>
          </li>
          <li class="matrix--cell">
            <p>Description</p>
          </li>
          <li class="matrix--cell">
            <p>Description</p>
          </li>
          <li class="matrix--cell">
            <p>Description</p>
          </li>
        </ul>
      </div>
      
    </div>
  </div>
</div>
