<h1>Editing submission</h1>

<%= render 'form' %>

<%= link_to 'Show', organization_course_project_submission_path(@organization, @course, @project, @submission) %> |
<%= link_to 'Back', organization_course_project_submissions_path(@organization, @course, @project) %>
