<h1>Editing project</h1>

<%= render 'form' %>

<%= link_to 'Show', organization_course_project_path(@organization, @course, @project) %> |
<%= link_to 'Back', organization_course_projects_path(@organization, @course) %>
