development:
  secret_key_base:
  vocat:
    :smtp:
      :username:
      :password:
    :aws:
      :key:
      :secret:
    :ldap:
      :bind_cn:
      :bind_pass:

production:
  secret_key_base:
  vocat:
    :smtp:
      :username:
      :password:
    :aws:
      :key:
      :secret:
    :ldap:
      :bind_cn:
      :bind_pass:

demo:
  secret_key_base:
  vocat:
    :smtp:
      :username:
      :password:
    :aws:
      :key:
      :secret:
    :ldap:
      :bind_cn:
      :bind_pass:

staging:
  secret_key_base:
  vocat:
    :smtp:
      :username:
      :password:
    :aws:
      :key:
      :secret:
    :ldap:
      :bind_cn:
      :bind_pass:
