<header class="clearfix">
  <div class="grid20">
    <h3>Discussions</h3>
  </div>
  <div class="grid80 with-padding">
    <p class="with-gray" style="margin: 10px 0;"><em>12 Comments</em></p>
  </div>
</header>
<div class="clearfix">
  <div class="with-space">
    <input type="text" style="width: 99%;" placeholder="Write a new comment">
  </div>
  <ul class="comment-list unstyled">
    <li>
      <div class="media with-space">
        <div class="portrait-green pull-left"></div>
        <div class="media-body">
          <h5 class="media-heading">Evaluator Name</h5>
          <small>Posted March 20, 2013 at 11:00am</small>
        </div>
      </div>
      <p class="with-space">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea alias et porro facere necessitatibus ullam maiores ipsum corporis libero aspernatur!</p>
      <p>
        <a href="#" class="btn btn-mini">Reply</a>
        <a href="#" class="btn btn-mini">Send email</a>
      </p>
    </li>
    <li>
      <div class="media with-space">
        <div class="portrait-blue pull-left"></div>
        <div class="media-body">
          <h5 class="media-heading">Peer Name</h5>
          <small>Posted March 20, 2013 at 11:02am</small>
        </div>
      </div>
      <p class="with-space">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro aspernatur modi nostrum aliquam nobis voluptatibus at.</p>
      <p>
        <a href="#" class="btn btn-mini">Reply</a>
        <a href="#" class="btn btn-mini">Send email</a>
      </p>
    </li>
  </ul>
</div>