<div class="alert alert-{{level}}" data-behavior="alert">
  <aside class="alert--label" data-behavior="alert-label"></aside>
  <p>{{property}} {{msg}}</p>
  <a data-behavior="close" class="alert--close" href="#"></a>
</div>

