<div data-behavior="open-modal">
	<p>
		<strong style="width: 22.4rem; display: inline-block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis">{{rangeName}} {{fieldName}}</strong>
		{{#if description}}
		<small>{{description}}</small>
		{{/if}}
	</p>
</div>
