<div class="matrix--row-header--item">
	<a data-behavior="edit" href="#">{{name}}</a><br />
	<div class="subheader">{{low}} - {{high}}</div>
	</div>
	<div class="range-destroy">
		<a href="#" class="delete-link" href="#" data-behavior="destroy">Delete</a>
	</div>
</div>
