<ul>
	<li><%= link_to 'Delete Organization', admin_organization_path(organization), :method => :delete, :data => {:modalconfirm => 'Deleting this organization will also delete all associated courses, users, submissions, projects, and evaluations. This action is not reversible. Are you sure you would like to proceed?'} %></li>
</ul>
