<%= render :partial => 'shared/bootstrap_collection', :locals => {:key => 'submission', :data => @submissions }%>

<% if @incomplete_projects %>
<%= render :partial => 'shared/bootstrap_collection', :locals => {:key => 'project', :data => @incomplete_projects}%>
<% end %>

<div id="region-main"></div>


