<div class="js-modal modal-dialog">
	<div class="cell-edit-header">
		<h5>{{field.name}} - {{range.name}}</h5>
		<a href="#" class="js-do-close close-link">close</a>
	</div>
	<div class="cell-edit-body">
    <form>
      <label>
        {{#if_blank description}}
          Add Description
        {{else}}
          Update Description
        {{/if_blank}}
      </label>
      <textarea name="description">{{{get_range_description_from_field field range}}}</textarea>
      <input type="submit" class="btn" value="save" />
    </form>
	</div>
	<div class="cell-edit-footer">
		<a class="btn" class="pin-left" href="#">Previous</a>
		<a class="btn" class="pin-right" href="#">Next</a>
  </div>

</div>