<div class="matrix">
  <div>
    <header class="matrix--column-header" data-behavior="sticky-header">
      <div class="matrix--list-wrapper" data-behavior="matrix-slider">
        <ul class="matrix--column-header--list">
          {{#each projects}}
          <li class="js-navigate-project" data-project="{{this.id}}">
            <a class="matrix--column-header--link" href="#">{{this.name}}</a>
          </li>
          {{/each}}
        </ul>
      </div>
      <nav class="matrix--controls">
        <a class="matrix--previous inactive" data-behavior="matrix-slider-left" href="#">Previous</a>
        <a class="matrix--next" data-behavior="matrix-slider-right" href="#">Next</a>
      </nav>
    </header>
    <nav class="matrix--name-nav" data-behavior="matrix-creators">
      <header class="matrix--row-header" data-behavior="matrix-creators-list">
        <ul>
          {{#each creators}}
          <li class="js-navigate-creator" data-creator="{{this.id}}">
            <a href="#">{{this.name}}</a>
          </li>
          {{/each}}
        </ul>
      </header>
    </nav>
    <div class="matrix--body">
      <div class="matrix--content js-matrix--content" data-behavior="matrix-slider">
        {{#each creators}}
        <ul class="matrix--row">
          {{#each ../projects}}
          <li>
            Something
          </li>
          {{/each}}
        </ul>
        {{/each}}
      </div>
      <div class="matrix--overlay js-matrix--overlay" data-behavior="overlay">
        <!-- This markup is temporary -->
        <h1 class="heading-medium">Creator Name<a href="#" class="close"></a></h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a mauris ut orci vestibulum pretium sed in massa. Pellentesque dui purus, mattis sed dictum in, condimentum quis dui. Ut mollis imperdiet consequat. Maecenas et sem nunc, sit amet gravida lacus. Suspendisse ornare malesuada turpis nec commodo. Nunc sem odio, facilisis nec dictum at, iaculis volutpat metus. Nam ac neque eu odio condimentum imperdiet in sit amet lorem. Aenean at nibh non eros ultrices tempor nec sed est. Sed et augue sit amet nibh imperdiet feugiat eget ut lacus. Curabitur sollicitudin purus in diam tristique blandit. Etiam accumsan leo a neque ultricies egestas. Praesent porttitor mauris vitae nibh pretium at ornare diam rutrum. Curabitur non mi est, facilisis pulvinar metus. Duis arcu erat, venenatis sit amet porttitor vitae, consequat non erat. Aliquam luctus neque at enim tincidunt laoreet. Aliquam in volutpat dui.
          Suspendisse potenti. Proin nec enim odio, quis mattis nisi. Duis quis nibh erat. Sed faucibus, augue quis rhoncus sodales, diam quam sodales urna, a aliquam mauris ipsum ut mauris. Fusce faucibus orci vel nisi bibendum id iaculis ipsum faucibus. Praesent gravida tincidunt sem eu aliquet. Nulla facilisi. Pellentesque fringilla rhoncus dolor ut dapibus. Aenean in ornare tortor. Cras dapibus mattis posuere. Vestibulum ac augue ac arcu tempus dapibus at ac erat. Nulla vitae orci id ante pharetra facilisis. Duis elit turpis, varius mattis tempor et, fringilla quis felis. Etiam tincidunt urna ac risus euismod vitae elementum metus mattis. Nulla facilisi. Sed tempus tortor vel augue aliquam volutpat.
          Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras et enim lorem, quis pretium elit. Integer ante velit, rhoncus vel ultricies quis, accumsan non velit. Curabitur sit amet ante interdum justo imperdiet dapibus. Donec et aliquet lacus. Vivamus leo leo, lacinia vitae eleifend quis, malesuada sit amet libero. Mauris suscipit pretium nibh, at tincidunt purus mattis sit amet. Curabitur euismod, risus pellentesque elementum ultricies, orci eros sagittis libero, quis vulputate nisl leo pharetra elit. Cras feugiat fermentum turpis eget tincidunt. Praesent euismod viverra tincidunt.
          Aliquam egestas congue nulla et mollis. Sed a vehicula felis. Integer vel lacus lacus. Morbi tempus augue et eros sagittis eleifend. Mauris aliquet sagittis justo, sed elementum eros iaculis ut. Mauris id elit enim, in ultricies orci. Praesent nec turpis elit, vel pretium velit. Aliquam porttitor, est egestas molestie aliquet, ante metus tempor nulla, at porttitor arcu dolor sit amet dolor.
          Nullam id orci felis, ornare convallis dolor. Aenean quis nisl augue. Sed vel lectus a quam rhoncus egestas. Integer massa purus, sagittis id bibendum ut, rutrum id augue. Sed interdum mauris id tortor sodales molestie. Maecenas imperdiet, est in pellentesque viverra, ipsum arcu sagittis mi, ut congue diam tortor vitae neque. Vestibulum vitae nibh lorem. Duis nunc mauris, laoreet sit amet luctus vel, rhoncus at ante. Donec ut velit nibh, vitae pellentesque lorem. Duis eleifend eros eu ligula accumsan imperdiet.
          Aliquam at libero ante. Sed ut vestibulum felis. Nulla facilisi. In congue urna sit amet lacus tincidunt sit amet venenatis ligula ullamcorper. Curabitur sed massa a mi scelerisque lobortis. Cras urna orci, tincidunt ornare sollicitudin quis, varius vel libero. Morbi congue lorem at urna vestibulum feugiat. Vivamus gravida accumsan fringilla. Maecenas eu felis non tellus consectetur faucibus in eget eros. In risus libero, ultrices eget volutpat vehicula, posuere a lectus. Aliquam sem ante, tempor id ullamcorper at, dictum posuere risus. Pellentesque iaculis venenatis leo, at auctor nibh venenatis ut. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris laoreet tincidunt est, ac sodales metus vehicula at.
          Ut malesuada cursus feugiat. Aenean lacus dui, tristique at congue nec, rhoncus eget orci. Ut massa urna, hendrerit condimentum egestas a, lacinia ac nulla. Mauris eget leo ante. Ut feugiat metus in nulla porta fermentum. Pellentesque ut turpis est. Suspendisse potenti. Vivamus eget faucibus enim.
          Nulla est nisl, tincidunt quis bibendum et, vulputate nec mi. Mauris porttitor, sem sed sollicitudin dictum, metus elit pellentesque nibh, at scelerisque mi tellus id erat. In ut interdum nibh. Etiam sit amet metus nibh, et vulputate purus. Phasellus id velit tristique nisi congue venenatis ut vel sem. Aliquam a porttitor velit. Aenean magna sem, elementum vitae pretium vel, mollis in quam. Fusce nec ligula ac ante commodo tempus.
          Integer ipsum purus, tempus eget posuere at, tincidunt id dolor. Quisque eget commodo diam. Praesent eu erat in lectus vulputate dignissim vitae eget quam. Nunc lorem sem, malesuada sed adipiscing sit amet, elementum tempor elit. Praesent in enim sed nisl eleifend ultricies ut quis ligula. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed eget ante nisi, sit amet faucibus diam. Proin tincidunt porta lacus. Duis vestibulum condimentum felis, vitae sodales sem rutrum at. Nullam sit amet lorem sit amet tellus aliquet molestie. Nulla facilisi. Nulla est libero, interdum at auctor nec, auctor non lacus. Fusce ac nulla vel libero consequat tincidunt quis a diam. Nullam iaculis tempus leo a malesuada. Ut ac ultrices arcu. Mauris iaculis, nulla vitae tempor tincidunt, purus lectus placerat purus, nec tincidunt orci nunc nec nisi.
          Nullam metus velit, lacinia semper sagittis et, convallis quis turpis. Nam et orci sit amet erat rhoncus hendrerit. Morbi condimentum luctus dictum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dictum nisl ut magna vestibulum rhoncus. Nunc vulputate vulputate metus faucibus ultrices. Mauris dictum tristique elit in dictum. Nulla vitae erat leo, ut fringilla nisl. Etiam rhoncus dapibus aliquet. Mauris at ligula lacus, in malesuada nisl.
          Proin luctus, ante eu dignissim mollis, velit enim laoreet tellus, a interdum elit enim eu lectus. Pellentesque rutrum pulvinar odio nec tempor. Donec commodo, orci at convallis faucibus, tortor urna luctus quam, non hendrerit magna ante at quam. Praesent neque odio, tempor eget sollicitudin non, tempus et turpis. Proin ornare suscipit placerat. Aliquam nibh risus, vehicula id ultrices non, sodales at quam. Quisque fermentum elit sit amet dui pretium pellentesque. Morbi mattis libero nec risus egestas rhoncus. Morbi luctus tincidunt ipsum nec vestibulum. Aliquam luctus tristique blandit. Maecenas a justo id urna aliquam pellentesque ut sit amet dui.
          Praesent non sem erat. Pellentesque sed ligula quam. Etiam a vestibulum nisi. In et orci sem, porta molestie eros. Fusce aliquam porta lacinia. Vestibulum tempus facilisis tortor, id varius mauris placerat id. Mauris nisi arcu, ultrices in vehicula et, sagittis nec nisi. Sed ut neque elit, eu porttitor justo. Nulla varius posuere diam a pulvinar. Aenean mauris diam, sagittis in commodo ut, condimentum nec arcu. Curabitur malesuada pretium massa quis malesuada. Vestibulum et tincidunt magna. Vivamus rutrum quam vitae odio dictum pharetra pharetra enim varius. Nulla est metus, semper vel ultricies in, ultricies gravida leo. Duis imperdiet mi nec lorem hendrerit vel euismod mi vulputate.
          Fusce quis metus et lorem elementum mollis. Phasellus aliquet justo et diam eleifend elementum. Aenean at nisi vel odio tempor cursus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec consequat tincidunt sapien ullamcorper fermentum. Nullam ac sapien id sem tincidunt elementum. Proin molestie pulvinar odio eu ullamcorper. Nunc tempus pharetra purus, a aliquet orci tempus ut.
          Integer luctus, odio eget ultricies porttitor, neque mauris faucibus metus, dignissim cursus risus elit a magna. Vestibulum quis eros massa, vitae euismod ligula. Morbi a mi quam, id ultricies ligula. Phasellus volutpat facilisis gravida. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec consequat congue velit eget tempor. Quisque vel ipsum tortor, consequat suscipit nibh.
          Ut hendrerit rutrum tincidunt. In neque lacus, ultricies vitae aliquet nec, accumsan non diam. Suspendisse tellus risus, eleifend et commodo at, pretium porttitor elit. Donec euismod feugiat libero. Fusce auctor imperdiet lacinia. In dolor urna, vestibulum nec eleifend a, luctus eu quam. Vestibulum dignissim diam quis velit malesuada ullamcorper in id metus. Suspendisse bibendum pharetra risus nec convallis. Fusce sit amet hendrerit orci. Vivamus quis consequat risus. Aenean at urna id lorem laoreet tempus non pretium risus. Nam ultricies dolor ut tellus porttitor in molestie augue porta. Etiam ac nisl vitae dui commodo facilisis.
        </p>
      </div>
    </div>
  </div>
</div>
