<div class="matrix">
  <div>
    <header class="matrix--column-header" data-behavior="sticky-header">
      <nav class="matrix--controls">
        <a class="matrix--previous inactive" data-behavior="matrix-slider-left" href="#">Previous</a>
        <a class="matrix--next" data-behavior="matrix-slider-right" href="#">Next</a>
      </nav><!-- removes whitespace
      --><div class="matrix--list-wrapper" data-behavior="matrix-slider">
        <ul class="matrix--column-header--list">
          {{#each projects}}
          <li class="js-navigate-project" data-project="{{this.id}}">
            <a class="matrix--column-header--link" href="#">{{this.name}}</a>
          </li>
          {{/each}}
        </ul>
      </div>
    </header>
    <nav class="matrix--name-nav" data-behavior="matrix-creators">
      <header class="matrix--row-header" data-behavior="matrix-creators-list">
        <ul>
          {{#each creators}}
          <li class="js-navigate-creator" data-creator="{{this.id}}">
            <a href="#">{{this.name}}</a>
          </li>
          {{/each}}
        </ul>
      </header>
    </nav>
    <div class="matrix--body" data-behavior="matrix-body" >
      <div class="matrix--content js-matrix--content" data-behavior="matrix-slider"></div>
      <div class="matrix--overlay js-matrix--overlay" data-behavior="overlay">
        <div data-behavior="overlay-content"></div>
      </div>
    </div>
  </div>
</div>
