<div class="alerts">
  {{#each messages}}
    <div class="alert-{{this.level}}" data-behavior="alert">
      <aside class="alert--label" data-behavior="alert-label">{{this.level}}</aside>
      <p>{{this.message}}</p>
      <a class="alert--close" href="#"></a>
    </div>
  {{/each}}
</div>
