<a href="#" class="debug">Debug model to console</a>
<h3>New Rubric: <span data-property="name" class="js-editable-input"></span> </h3>
<div id="js-rubric_builder_structure"></div>
<a href="#" class="js-save btn">Save Rubric</a>