@import "partials_off/variables";
@import "partials_off/mixins";
@import "partials_off/patterns";

p {
  margin-bottom: 1.6rem;
  &:last-child {
    margin-bottom: 0;
  }
}

.comment-indicator {
  @extend %epsilon;
  @extend %speech-bubble;
}


// Frame list
// Generic unstyled list with top borders on the <li>s
// --------------------------
.frame--list {
  @extend %unstyled-list;
  margin: 0;
  & .frame--list-item {
    padding-top: 1rem;
    padding-bottom: 3rem;
    border-top: 0.2rem solid $tealLightest;
    .heading-large {
      margin-bottom: 1rem;
    }
  }
}



// Portfolio
// --------------------------------------------------------
// .portfolio {

// }

.portfolio-frame {
  @extend %clearfix;
  padding: 3.4rem 0 2.4rem;
  border-bottom: 0.2rem solid $tealLightest;
  &:last-child {
    border-bottom: none;
  }
  .course-map & {
    @extend %frame;
    border-bottom: none;
  }
}

.constrained-portfolio-frame {
  @extend %constrained-frame;
}

// Frame attachment
// --------------------------
.frame-attachment {
  @extend %frame--left;

}

.frame-attachment--image {
  display: block;
  width: 100%;
  border: 0.1rem solid $grayLighter;
}

.frame-attachment--details {

}

.frame-attachment--link {
  @extend %heading-epsilon;
  @extend %arrow-link;
  margin-top: 2.2rem;
}

// Comments nav
// ------------
.comments-nav {
  margin-top: 0.9rem;
  ul {
    @extend %speech-bubble-list;
  }
}

// Frame summary
// --------------------------

// TODO assess .matrix--overlay specific styles;
// streamline where possible

.frame-summary {
  @extend %frame--right;
  position: relative;
}

.frame-summary--title {
  @extend %heading-giga;
  margin: 0rem 0 0.3rem;
  .matrix--overlay & {
    margin: 0 0 1rem;
  }
}

.frame-summary--label {
  @extend %heading-epsilon;
  float: right;
}

.frame-summary--project {
  @extend %heading-alpha;
  margin-bottom: 1.9rem;
}

.frame-summary--creator {
  @extend %gamma-sup;
  color: $grayLight;
  margin-bottom: 0.5rem;
}

.frame-summary--course {
  @extend %gamma-sup;
  color: $grayLight;
  margin-bottom: 1.4rem;
}

.frame-summary--aside {
  @extend %gamma-sup;
  color: $grayLight;
  margin-bottom: 1.9rem;
}

.frame-summary--link {
  @extend %heading-epsilon;
  @extend %arrow-link;
  margin-top: 0.3rem;
}

.frame-summary--status {
  @extend %heading-epsilon;
  @extend %check-indicator;
  float: right;
}

// Score list
// ------------
.frame-summary--score-list {
  @extend %score-list;
  margin-bottom: 1.9rem;
}

.frame-summary--evaluated {
  @extend %active-criterion;
}

.frame-summary--unevaluated {
  @extend %inactive-criterion;
}

.frame-summary--score--title {
  @extend %score--title;
}

.frame-summary--score--value {
  @extend %score--value;
}

// Evaluation detail
// --------------------------------------------------------
.evaluation-detail-frame {
  @extend %frame;
  &:nth-child(even) {
	background-color: $beigeLight;
  }
  &:nth-child(odd) {
	background-color: $beige;
  }
}

.evaluation-detail--header {
  @extend %horizontal-header;
}

.evaluation-detail--title {
  @extend %horizontal-header--title;
}

.evaluation-detail--subtitle {
  @extend %horizontal-header--subtitle;
}

// Project details
// --------------------------------------------------------
.project-detail-frame {
   margin-bottom: 3.2rem;
  .project-detail-subframe {
	margin-bottom: 3.2rem;
  }
  @include clearfix();
  h3 {
    margin-bottom: 1.6rem;
  }
  aside {
    margin-bottom: 1.6rem;
    background-color: #E6DFDE;
    padding: 1.6rem;
    p {
    margin: 0;
    }
  }
  .pie-wrapper {
    margin-bottom: 1.6rem;
  }

}

// Pie chart
// --------------------------------------------------------
// <figure>
.pie {
  width: 15.7rem;
  float: left;
  margin-right: 1.6rem;
  text-align: center;
  &:nth-child(4n) {
    margin-right: 0;
  }
  figcaption {
    min-height: 6rem;
  }
}


// Attachment
// --------------------------------------------------------
// <figure>
.attachment {
  @extend %annotated-media;
  margin-bottom: 1.6rem;
}

// Lives inside .attachment
// .box, for now
.attachment--left {
  @extend %annotated-media--object;
  overflow: hidden;
}

.attachment--left-wide {
  width: 100%
}

// <video>
.attachment--media {
  display: block;
  width: 100%;

  .player-container {
    height: 290px;
    .matrix--overlay & {
      height: 218px;
    }
  }

}

// Attachment placeholder
// --------------------------
// Lives inside .attachment--media & .frame-attachment
// Only visible when no video has been uploaded
// Thanks, Dave: http://daverupert.com/2012/04/uncle-daves-ol-padded-box/
// Also: lower your eyes in deference to THE GOLDEN RATIO.
%attachment-placeholder {
  height: 0;
  text-align: center;
  background-color: $tealLightest;
  padding-bottom: 61.8%;
  position: relative;
}

.attachment-placeholder {
  @extend %attachment-placeholder;
}

// Extended by .attachment-placeholder--button & .attachment-placeholder--message
%attachment-placeholder--item {
  margin-top: 30.9%;
  position: relative;
  // TODO adjust if %white-video-button changes height
  top: -1.7rem;
}

// Lives inside .attachment-placeholder
// NB top value must be equal to half the
// height of %white-video-button, but negative
// TODO test in browsers; it's almost certainly not going to work in IE7
.attachment-placeholder--button {
  @extend %attachment-placeholder--item;
  @extend %white-video-button;
}

.attachment-placeholder--message {
  @extend %attachment-placeholder--item;
  @extend %white-button;
}

// Annotations
// --------------------------
// Lives inside <figcaption> inside .attachment
.annotations {
  @extend %box;
  height: 100%;
  header {
    padding-right: 11.8rem;
  }
}

.annotations--title {
  @extend %box--title;
}

.annotations--content {
  @extend %box--scrolly-content;
}

.annotations--list {
  @extend %comment-list;
  padding-right: 1.6rem;
  p {
    @extend %gamma-sub;
    font-style: italic;
  }
}

.annotations--list--title {
  @extend %delta;
  color: $grayLight;
  margin-bottom: 0.7rem;
  span {
    font-weight: $medium;
  }
}

// Annotation input
// ------------
// <div>
// NB see pattern comments
.annotation-input {
  @extend %speech-bubble-input;
}

// Player Slider
// --------------------------------------------------------
.player-curtain {
  height: 28.9rem;
  text-align: center;
  background-color: $tealLightest;
}

.player-stage {
  width: 100%;
  height: 100%;
}

.player-scene {
  display: table;
  width: 100%;
  // 3.4 rem is the header height.
  height: 28.9rem - 3.4rem;
  .text-input {
    width: 25rem;
    display: inline;
    margin: 0;
  }
  .wrap {
    display: table-cell;
    vertical-align: middle;
    p {
      margin: 0.8rem 0;
    }
  }
  .choice-button {
    @extend %white-button;
    display: inline-block;
    cursor: pointer;
  }
  .attachment-placeholder--button {
    margin-top: 0;
  }
}

// Scores
// --------------------------------------------------------
.scores {

}

.scores--link {
  @extend %heading-epsilon;
  @extend %arrow-link;
  margin-top: 1.8rem;
}

// Summary list
// --------------------------
.scores--summary-list {
  @extend %big-score-list;
}

.scores--evaluated {
  @extend %big-active-criterion;
}

.scores--unevaluated {
  @extend %big-inactive-criterion;
}

.scores--score-title {
  @extend %big-score--title;
}

.scores--score-value {
  @extend %big-score--value;
}

// Discussion
// --------------------------------------------------------
.discussion {

}

.discussion--item {
  @extend %clearfix;
  margin-bottom: 2.4rem;
}

// <div>
.discussion--input {
  padding-top: 0.5rem;
  margin-bottom: 1.5rem;
  textarea {
    @extend %reset-input;
    @extend %bare-focus;
    @include placeholder($beigeDark, italic);
    width: 100%;
    color: $grayDark;
    background-color: $beigeLight;
    border-radius: $radius;
    padding: 1rem;
    resize: none;
    // If we're inside an even (light-colored) frame,
    // the background-color should be inverted
    .evaluation-detail-frame:nth-child(even) & {
      background-color: $beige;
    }
  }
  .frame-light & {
    background-color: $beige;
  }
  .children-container & {
    margin-top: 1.5rem;
    border: 2px solid $beigeDark;
  }
}

.discussion--submit {
  @extend %small-teal-plus-button;
  float: right;
}

// Discussion list
// --------------------------
.discussion-list {
  @extend %unstyled-list;
  margin: 0;
  & & {
    margin-left: 5rem;
  }
  li {
    position: relative;
  }
  .alert-warning {
    margin-left: 0;
    margin-right: 0;
    margin-top: 2rem;
  }
}

.discussion-list--input-container {
  margin-left: 5rem;
}

.discussion-list--item {
  @extend %comment;
  margin-bottom: 2.4rem;
  position: relative;
  // If we're inside an even (light-colored) frame,
  // the background-color should be inverted
  .evaluation-detail-frame:nth-child(even) & {
    background-color: $beige;
  }
}

.discussion-list--header {
  @extend %avatar-header;
}

.discussion-list--name {
  @extend %avatar-header--title;
}

.discussion-list--timestamp {
  @extend %avatar-header--subtitle;
}

.discussion-list--link {
  @extend %heading-epsilon;
  @extend %bent-arrow-link;
}

// Scoring list
// --------------------------------------------------------
// <ul>
.scoring-list {
  @extend %unstyled-list;
  margin: 1.6rem 0 0;
  // Knocks down top margin when not preceded by a heading
  &:first-child {
    margin-top: 0.6rem;
  }
  li {
    @extend %clearfix;
    margin-bottom: 1.6rem;
  }
  .range-input {
    width: 84%;
    height: 3.4rem;
    float: left;
  }
}

.scoring-list--label {
  @extend %beta-alt;
  width: 84%;
  font-weight: $medium;
  text-align: right;
  color: $tealMedium;
  padding: 0.6rem 0;
  float: left;
}

.scoring-list--total-label {
  @extend %heading-beta-alt;
  width: 84%;
  color: $tealMedium;
  text-align: right;
  padding: 1.7rem 0 1.8rem;
  float: left;
}

.scoring-list--output {
  width: 16%;
  padding-left: 1.2rem;
  float: left;
}

// extended by .scoring-list--value & .scoring-list--ideal
%output-item {
  @extend %alpha;
  display: inline-block;
  vertical-align: top;
  width: 50%;
  height: 3.4rem;
  text-align: center;
  line-height: 1;
  padding: 0.6rem 0.2rem;
}

// Lives inside .scoring-list--output
// <input type="text">
.scoring-list--value {
  @extend %output-item;
  @extend %bare-focus;
  @extend %reset-input;
  color: $beigeLight;
  background-color: $tealLight;
  border-radius: $radius 0 0 $radius;
  &.input-focus {
	background-color: $teal;
  }
}

// Lives inside .scoring-list--output
.scoring-list--ideal {
  @extend %output-item;
  color: $tealMedium;
  background-color: $tealLightest;
  padding-top: 0.7rem;
  border-radius: 0 $radius $radius 0;
}

.scoring-list--total {
  @extend %alpha;
  height: 3.4rem;
  font-weight: $medium;
  text-align: center;
  line-height: 1;
  color: $beigeLight;
  background-color: $tealLight;
  padding: 0.6rem 0.2rem;
  border-radius: $radius;
}

.scoring-list--grand-total {
  @extend %heading-tera;
  height: 5.6rem;
  color: $beigeLight;
  text-align: center;
  background-color: $tealLight;
  padding: 0.5rem 0 0.2rem;
  border-radius: $radius;
  small {
    font-size: 66%;
    vertical-align: top;
    line-height: 1.1;
    padding-left: 0.2rem;
  }
}


// Range inputs
// --------------------------
// This wraps .slider
.range-input {
  background-color: $tealLightest;
  border-radius: $radius;
  position: relative;
  overflow: hidden;
}

.range-input--title {
  @extend %beta-alt;
  @extend %no-select;
  color: $beigeLight;
  position: absolute;
  top: 0.6rem;
  left: 1.4rem;
  pointer-events: none;
}

// This markup is generated by the simple-slider jQuery plugin
// TODO fix unclickable right area due to margin
.slider {
  margin-right: 2.2rem;
  .track {
    height: 3.4rem;
    background-color: $tealLightest;
    border-radius: $radius;
    left: 0;
    right: 0;
  }
  .highlight-track {
    @include box-sizing(content-box);
    height: 3.4rem;
    background-color: $tealLight;
    padding-right: 1.1rem;
    border-radius: $radius 0 0 $radius;
  }
  .dragger {
    @include box-shadow(
      0.6rem 0 1rem 0 transparentize($black, 0.82)
    );
    width: 2.2rem;
    height: 3.4rem;
    background-color: $tealLight;
    border-right: 0.1rem solid lighten($tealMedium, 4%);
    border-radius: $radius;
    &:after {
      @include svg(three-lines-tealLightest);
      content: "";
      display: block;
      width: 1.2rem;
      height: 2.4rem;
      position: absolute;
      top: 0.5rem;
      left: 0.5rem;
    }
  }
}

// Authentication components
// --------------------------------------------------------
.authentication-tile {
  @extend %clearfix;
    @extend %centered-tile;
    background-color: $beige;
    padding: 4.8rem 5.2rem 4.8rem 27rem;
  margin-top: 2.7rem;
  position: relative;
  // Hide image and center content
  &.alt {
    padding-right: 14rem;
    padding-left: 14rem;
  }
}

.authentication-tile--image {
  width: 16rem;
  position: absolute;
  top: 7.6rem;
  left: 5.6rem;
  .alt & {
    display: none;
  }
}



.authentication-tile--input {
  @extend %white-text-input;
}

.authentication-tile--label {
  @extend %no-select;
  @include opacity(70);
  margin: 0.6rem 0;
  float: left;
  position: relative;
  cursor: pointer;
}

// Lives inside .authentication-tile--label
.authentication-tile--checkbox {
  @extend %gray-square-checkbox;
}

// Lives inside .authentication-tile--label
.authentication-tile--checkbox-text {
  color: $grayDark;
  margin-left: 0.7rem;
}

.authentication-tile--button {
  @extend %large-teal-button;
  @extend %reset-input;
  @extend %bare-focus;
  float: right;
}

.authentication-footer {
  @extend %clearfix;
    @extend %centered-tile;
  margin-top: 1.5rem;
}

.authentication-footer--list {
    @extend %piped-list;
  text-align: right;
  margin: 0;
  float: right;
  li {
    color: $grayLight;
  }
  li + li {
    margin-left: 3.6rem;
  }
  a {
    @extend %delta;
    @extend %bare-link;
  }
}

// Alerts
// --------------------------------------------------------
// Wrapper containing all alerts
.alerts {
  position: relative;
  z-index: 150;
  .flash-top-padding & {
	margin-top: 1.7rem;
	margin-bottom: 0rem;
  }

  // &:empty {
  //   padding-top: 0;
  // }
}

.alert {
  .evaluation-detail &,
  .evaluation-detail-frame &,
  .portfolio-frame &,
  .page-content--frame & {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 2rem;
    &:first-child {
      margin-top: 0;
    }
  }
}

.alert-list {
  p {
    @include font-size(17);
    padding: 0;
    border-left: none;
    margin: 0;
  }
  ul {
    @extend %gamma;
    line-height: 1.1;
    color: $darker;
    padding-left: 1.6em;
    margin: 0.8rem 0 0;
  }
}

.alert-success {
  $width: 8.4rem;
  @extend %alert;
  background-color: $greenLight;
  ul, p {
    margin-left: $width + 2.5rem;
  }
  .alert--label {
    width: $width;
    background: transparent url(image-path('alert-labels/alert-success.png')) no-repeat left top;
    background-size: contain;
    .no-backgroundsize & {
      @extend .icon-alert-success;
    }
  }
}

.alert-notice {
  $width: 6.4rem;
  @extend %alert;
  background-color: $blueLight;
  ul, p {
    margin-left: $width + 2.5rem;
  }
  .alert--label {
    width: $width;
    background: transparent url(image-path('alert-labels/alert-notice.png')) no-repeat left top;
    background-size: contain;
    .no-backgroundsize & {
      @extend .icon-alert-notice;
    }
  }
}

.alert-alert {
  $width: 5.6rem;
  @extend %alert;
  background-color: $yellow;
  ul, p {
    margin-left: $width + 2.5rem;
  }
  .alert--label {
    width: $width;
    background: transparent url(image-path('alert-labels/alert-alert.png')) no-repeat left top;
    background-size: contain;
    .no-backgroundsize & {
      @extend .icon-alert-alert;
    }
  }
}

.alert-warning {
  $width: 8.4rem;
  @extend %alert;
  background-color: $yellow;
  ul, p {
    margin-left: $width + 2.5rem;
  }
  .alert--label {
    width: $width;
    background: transparent url(image-path('alert-labels/alert-warning.png')) no-repeat left top;
    background-size: contain;
    .no-backgroundsize & {
      @extend .icon-alert-warning;
    }
  }
}

.alert-error {
  $width: 10rem;
  @extend %alert;
  background-color: $redLight;
  ul, p {
    margin-left: $width + 2.5rem;
  }
  .alert--label {
    width: $width;
    background: transparent url(image-path('alert-labels/alert-error.png')) no-repeat left top;
    background-size: contain;
    .no-backgroundsize & {
      @extend .icon-alert-error;
    }
  }
}

.alert--label {
  @extend %alert--label;
}

.alert--close {
  @extend %alert--close;
}

// Placards (Help overlays)
//
// Orientation:
// The caret can appear in one of eight positions, corresponding
// to the eight half-winds on a compass:
//
//    --nnw---nne--
//   |             |
//  wnw           ene
//   |             |
//  wsw           ese
//   |             |
//    --ssw---sse--
//
// --------------------------------------------------------
// Orientation is 'nnw' by default (adding the 'nnw' class is fine, but has no effect)
.placard {
  $shim: 2.2rem;
  width: 30rem;
  min-height: 8rem;
  padding: 2.2rem;
  background-color: $grayDarkest;
  border-radius: 0.8rem;
  margin: $shim 0 0;
  position: absolute;
  z-index: 400;
  &:after {
    content: "";
    border-right: 1.5rem solid transparent;
    border-bottom: 1.6rem solid $grayDarkest;
    border-left: 1.5rem solid transparent;
    position: absolute;
    top: -1.6rem;
    left: 5rem;
  }
  &.wide {
    width: 50rem;
  }
  // Orientation auxillary classes
  &.nne {
    &:after {
      right: 5rem;
      left: auto;
    }
  }
  &.ene {
    margin: 0 $shim 0 0;
    &:after {
      border-top: 1.5rem solid transparent;
      border-right: none;
      border-bottom: 1.5rem solid transparent;
      border-left: 1.6rem solid $grayDarkest;
      top: 2.5rem;
      right: -1.6rem;
      left: auto;
    }
  }
  &.ese {
    margin: 0 $shim 0 0;
    &:after {
      border-top: 1.5rem solid transparent;
      border-right: none;
      border-bottom: 1.5rem solid transparent;
      border-left: 1.6rem solid $grayDarkest;
      top: auto;
      right: -1.6rem;
      bottom: 2.5rem;
      left: auto;
    }
  }
  &.sse {
    margin: 0 0 $shim;
    &:after {
      border-top: 1.6rem solid $grayDarkest;
      border-right: 1.5rem solid transparent;
      border-bottom: none;
      border-left: 1.5rem solid transparent;
      top: auto;
      bottom: -1.6rem;
      right: 5rem;
      left: auto;
    }
  }
  &.ssw {
    margin: 0 0 $shim;
    &:after {
      border-top: 1.6rem solid $grayDarkest;
      border-right: 1.5rem solid transparent;
      border-bottom: none;
      border-left: 1.5rem solid transparent;
      top: auto;
      bottom: -1.6rem;
    }
  }
  &.wsw {
    margin: 0 0 0 $shim;
    &:after {
      border-top: 1.5rem solid transparent;
      border-right: 1.6rem solid $grayDarkest;
      border-bottom: 1.5rem solid transparent;
      border-left: none;
      top: auto;
      bottom: 2.5rem;
      left: -1.6rem;
    }
  }
  &.wnw {
    margin: 0 0 0 $shim;
    &:after {
      border-top: 1.5rem solid transparent;
      border-right: 1.6rem solid $grayDarkest;
      border-bottom: 1.5rem solid transparent;
      border-left: none;
      top: 2.5rem;
      left: -1.6rem;
    }
  }
  p {
    color: $grayLighter;
  }
  hr {
    height: 0;
    border-top: 1px solid $gray;
    margin: 1.6rem 0;
  }
}

.placard--title {
  @extend %alpha;
  font-weight: $medium;
  color: $teal;
}

.placard--subtitle {
  @extend %alpha;
  color: $grayLighter;
  strong {
    @extend %kilo;
    font-weight: $regular;
    color: $orange;
    padding-right: 0.5rem;
  }
}

// <label>
.placard--checkbox {
  @extend %alpha;
  @extend %no-select;
  display: block;
  color: $tealLightestAlt;
  line-height: 1;
  padding-left: 3rem;
  margin-bottom: 1.6rem;
  position: relative;
  cursor: pointer;
  .checkbox {
    @extend %light-square-checkbox;
    width: 2.2rem;
    height: 2.2rem;
    position: absolute;
    top: 0;
    left: 0;
    & + b {
      width: 1em;
      height: 1em;
    }
  }
}

// Modal
// --------------------------------------------------------
.modal {
  @include box-shadow(
    0 0 4rem 1.6rem transparentize($black, 0.92)
  );
  width: 61.8rem;
  background-color: $tealLightestAlt;
  padding: 2.4rem 5rem 2.4rem 2.4rem;
  border-radius: $radius;
  position: relative;
  z-index: 300;
}

.modal--close {
  @extend %solid-ex-button;
  @extend %hidden-text;
  position: absolute;
  top: 1.4rem;
  right: 1.4rem;
}

.modal-backdrop {
  @include opacity(80);
  background-color: $black;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
}

