@import "partials_off/variables";
@import "partials_off/mixins";
@import "partials_off/patterns";

// Summary box
// --------------------------------------------------------
// <figure>
.summary-box {
  display: block;
  float: left;
  margin-right: 2rem;
  width: 10rem;
  figcaption {
    @extend %delta;
    margin-top: .75rem;
    color: $tealMedium;
    text-align: center;
  }
  div {
    padding: 0rem 2rem;
    position: relative;
    border-radius: $radius;
    background-color: $tealLightestAlt;
    text-align: center;
    overflow: hidden;
    @include font-head;
    color: $tealMedium;
    span {
      @include font-size(57.6);
      position: relative;
      top: 0.2rem;
    }
    b {
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      border-bottom-left-radius: $radius;
      border-bottom-right-radius: $radius;
      width: 100%;
      background-color: $tealLightest;
    }
    small {
      @extend %beta;
      vertical-align: top;
      position: relative;
      top: 1.2rem;
      left: 0rem;
    }
  }
}


.section {
  margin-bottom: $verticalSpace * 2;

  .section--header {
    margin-bottom: $verticalSpace;
    h1, h2, h3, h4, h5, h6 {

    }
  }

  .section--body {
    background-color: $newGrayLightest;
    padding: $verticalSpace * 1.5;
    & .input-group:last-child {
      margin-bottom: 0;
    }

  }

}