@import "partials_off/variables";
@import "partials_off/mixins";
@import "partials_off/patterns";


// Forms
// --------------------------------------------------------
// Wraps label, input & message,
// or up to two .input-group-half
.input-group {
  @extend %clearfix;
  margin-bottom: 2.4rem;
  &.error {
    background-color: $redLight;
    margin-top: -1rem;
    margin-right: -1rem;
    margin-left: -1rem;
    padding: 1rem;
    border-radius: $radius;
  }
  .compact & {
    margin-bottom: 1.2rem;
  }
}

.input-group--fourth {
  width: 21.825rem;
  float: left;
  margin-right: 2.1rem;
  &:last-child {
    margin-right: 0;
  }
  select {
    width: 21.825rem;
  }
  .input-group {
    margin-bottom: 0;
  }
}

.input-group--third {
  width: 29.8rem;
  float: left;
  margin-right: 2.1rem;
  &:last-child {
    margin-right: 0;
  }
  select {
    width: 29.8rem;
  }
  .input-group {
    margin-bottom: 0;
  }
}

.input-group--two-third {
  width: 61.7rem;
  float: left;
  margin-right: 2.1rem;
  &:last-child {
    margin-right: 0;
  }
  select {
    width: 61.7rem;
  }
  .input-group {
    margin-bottom: 0;
  }
}


.input-group--half {
  width: 45.75rem;
  float: left;
  margin-right: 2.1rem;
  &:last-child {
    margin-right: 0;
  }
  select {
    width: 45.75rem;
  }
  select.year {
    width: 12.75rem;
    margin-right: 1rem;
  }
  select.month {
    width: 22rem;
    margin-right: 1rem;
  }
  select.day {
    width: 10rem;
  }
  .input-group {
    margin-bottom: 0;
  }
}

// Text inputs
// --------------------------
.text-label {
  @extend %heading-delta;
  display: block;
  margin-bottom: 0.7rem;
}

.text-input {
  @extend %medium-text-input;
  width: 100%;
  &.inline {
    display: inline-block;
    vertical-align: top;
    width: 32rem;
    margin: 0 1rem 0 0;
  }
}

.text-area-input {
  @extend %text-area-input;
}

// Checkboxes
// --------------------------
.checkbox-label {
  @extend %no-select;
  display: block;
  width: 50%;
  max-width: 35rem;
  padding: 0 0.5rem 0 2.7rem;
  margin-bottom: 1rem;
  float: left;
  position: relative;
  cursor: pointer;
  .checkbox {
    @extend %multicolored-square-checkbox;
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 0;
    left: 0;
  }
  // Big checkbox, no label text
  &.oversized {
    width: 2.6rem;
    height: 2.6rem;
    padding: 0;
    margin-bottom: 0;
    .checkbox {
      @extend %multicolored-square-checkbox;
      width: 2.6rem;
      height: 2.6rem;
      & + b {
        width: 2.6rem;
        height: 2.6rem;
      }
    }
    .compact & {
      width: auto;
      height: 100%;
      text-align: center;
      padding: 0.6rem 0;
      float: none;
      .checkbox {
        display: inline-block;
        position: static;
        top: auto;
        left: auto;
        & + b {
          margin-left: -1.3rem;
          top: 0.6rem;
          left: 50%;
        }
      }
    }
  }
}

// Radio buttons
// --------------------------
%radio-label {
  @extend %no-select;
  display: block;
  width: 50%;
  max-width: 35rem;
  float: left;
  position: relative;
  cursor: pointer;
  [type="radio"],
  .radio {
    width: 1.7rem;
    height: 1.7rem;
    margin-right: 0.4rem;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.radio-label {
  @extend %radio-label;
  padding: 0 0.5rem 0 2.6rem;
  margin-bottom: 1rem;
  [type="radio"],
  .radio {
    @extend %multicolored-round-checkbox;
  }
}

.light-radio-label {
  @extend %radio-label;
  // @extend %active-label;
  padding: 0 0 0 2.4rem;
  // &:hover,
  // &.active {
  //   .light-radio-label--text {
  //     color: $orange;
  //   }
  // }
  [type="radio"],
  .radio {
    @extend %round-checkbox;
  }
}

.light-radio-label--text {
  @extend %heading-epsilon;
  display: inline-block;
  vertical-align: middle;
  color: $grayLighter;
}

// Select inputs
// --------------------------
.select-input {
  @include background-clip(padding);
  display: block;
  height: 2.8rem;
  color: $grayDark;
  background-color: $beigeLight;
  padding: 0.4rem 1.1rem 0.4rem 1.1rem;
  border-right: 0.2rem solid transparent;
  border-radius: $radius 0 0 $radius;
  margin-right: 3.6rem;
  position: relative;
  cursor: pointer;
  &:before {
    content: "";
    background-color: inherit;
    display: block;
    width: 3.6rem;
    border-radius: 0 $radius $radius 0;
    position: absolute;
    top: 0;
    right: -3.8rem;
    bottom: 0;
  }
  &:after {
    @include svg(arrow-down-grayDark);
    content: "";
    display: block;
    width: 1.8rem;
    height: 0.9rem;
    position: absolute;
    top: 1.1rem;
    right: -2.8rem;
  }
}

.select-input--value {
  display: block;
}

// Misc. Form Related Styles
// --------------------------
.file-input-container {
  display: inline-block;
  // margin-top: 1rem;
  position: relative;
  cursor: pointer;
  input {
    @extend %hidden-text;
    @include opacity(0);
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
    &:hover + a {
      text-decoration: underline;
    }
  }
}


.pick-list {
  @extend %unstyled-list;
  margin: 0.4rem 1.1rem 0.6rem 0;
  padding: 1.1rem;
  box-sizing: border-box;
  width: 100%;
  background-color: $beigeLight;
  border-radius: $radius;
  max-height: 20rem;
  overflow-y: auto;

  li {
    position: relative;
    img {
      margin-right: 1rem;
      position: relative;
      top: 2px;
    }
    margin-bottom: 1rem;
  }
}


// Messages & alerts
// --------------------------
.input-message {
  @extend %epsilon;
  display: block;
  font-style: italic;
}

.form-alert {
  @extend %mini-alert;
  padding: 1rem 5rem 1rem 5.7rem;
  margin: 0 0 2.4rem;
  position: relative;
  &:before {
    @include opacity(82);
    @include svg(error);
    content: "";
    display: block;
    width: 2.6rem;
    height: 2.4rem;
    position: absolute;
    top: 1rem;
    left: 1.6rem;
  }
  .close {
    @extend %solid-ex-button;
    position: absolute;
    top: 1.2rem;
    right: 1.4rem;
  }
}