@import "partials_off/variables";
@import "partials_off/mixins";
@import "partials_off/patterns";
@import "partials_off/patterns_buttons";

// Links, buttons & pills
// --------------------------------------------------------
.teal-button {
  @extend %teal-button;
}

.gray-button {
  @extend %gray-button;
  border: none;
}

.dark-button {
  @extend %dark-button;
}

.large-teal-button {
  @extend %large-teal-button;
  margin-right: 1rem;
}

.large-gray-button {
  @extend %large-gray-button;
  margin-right: 0.6rem;
}

.large-dark-button {
  @extend %large-dark-button;
  margin-right: 0.6rem;
}

.teal-arrow-button {
  @extend %teal-arrow-button;
  margin-right: 0.6rem;
}

.teal-plus-button {
  @extend %teal-plus-button;
}

.small-teal-arrow-button {
  @extend %small-teal-arrow-button;
}

.small-teal-arrow-up-button {
  @extend %small-teal-arrow-up-button;
}

.small-teal-arrow-down-button {
  @extend %small-teal-arrow-down-button;
}

.small-teal-plus-button {
  @extend %small-teal-plus-button;
}

.small-teal-minus-button {
  @extend %small-teal-minus-button;
}

.teal-minus-button {
  @extend %teal-minus-button;
  margin-right: 0.6rem;
}

.teal-circle-arrow-down-button {
  @extend %teal-circle-arrow-down-button;
}

.teal-circle-arrow-up-button {
  @extend %teal-circle-arrow-up-button;
}

.gray-ex-button {
  @extend %gray-ex-button;
  margin-right: 0.6rem;
}

.check-button {
  @extend %check-button;
  margin-right: 0.6rem;
}

.gray-check-button {
  @extend %gray-check-button;
  margin-right: 0.6rem;
}

.teal-check-button {
  @extend %teal-check-button;
  margin-right: 0.6rem;
}

.large-check-button {
  @extend %large-check-button;
  margin-right: 0.6rem;
}

.large-gray-check-button {
  @extend %large-gray-check-button;
  margin-right: 0.6rem;
}

.large-teal-check-button {
  @extend %large-teal-check-button;
  margin-right: 0.6rem;
}

.white-pill {
  @extend %white-pill;
}

.white-button {
  @extend %white-button;
}

.arrow-link {
  @extend %heading-epsilon;
  @extend %arrow-link;
}

.left-arrow-link {
  @extend %heading-epsilon;
  @extend %left-arrow-link;
}

.beige-arrow-link {
  @extend %arrow-link-beige;
}

.bent-arrow-link {
  @extend %bent-arrow-link;
}

.ex-link {
  @extend %heading-epsilon;
  @extend %ex-link;
}

