<div data-region="confirm-invite">
</div>
<div class="input-group">
  <label class="text-label">Bulk Add Users (<a href="#" data-behavior="show-single">or add one user at a time</a>)</label>
  <textarea rows="10" data-behavior="bulk-input" class="text-area-input"></textarea>
  <small class="input-message">Enter one user per line. If LDAP is enabled and the user exists in LDAP, only the email address is required. Otherwise, enter both the name and the email address
  in the format of "name, email" or "name &lt;email&gt;". For example, "Jane Doe &lt;jane@vocat.io&gt;" and "Jane Doe, jane@vocat.io" are both acceptable entries.</small>
</div>
<div class="input-group">
  <a class="teal-plus-button" href="#" data-behavior="submit">Add Users</a>
</div>
