<div class="formgrid whole">
	<label>Or Invite a New User</label>
	<input data-behavior="contact" type="text">
	<small>If LDAP is enabled and the user exists in LDAP, only the email
		address is required. Otherwise, enter both the name and the email address in the format of <em>name, email</em> or
		<em>name &lt;email&gt;</em>. For example, <em>Jane Doe &lt;jane@vocat.io&gt;</em> and <em>Jane Doe, jane@vocat.io</em> are both acceptable
		entries.
	</small>
</div>
<div class="formgrid whole">
	<a href="#" data-behavior="submit-invite-and-enroll" class="primary-button new-button">Invite User</a>
</div>
