<th><a href="/admin/users/{{user}}">{{user_name}}</a></th>
<td>{{email}}</td>
<td>{{last_sign_in_at}}</td>
<td style="width: 10%;"><a data-behavior="destroy" href="" class="warning-button delete-button">Remove From Course</a></td>
