<div class="formgrid whole">
		<label>Find Users by Email (<a href="#" data-behavior="show-bulk">or bulk add users</a>)</label>
		<div class="live-search">
			<input class="live-search--input" data-behavior="search-term" type="text">
			<div data-behavior="container-wrapper" class="live-search--results">
				<ul data-container="items">
				</ul>
			</div>
		</div>
		<small>
			As you type the email, users who exist in VOCAT will appear below. Simply click on the user's name to add the user
			to the course.
		</small>
</div>

