<!DOCTYPE html>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>

<strong>Hello!</strong>

<p>Your course "<%= @course_request.name %>" has been approved. Please log in to VOCAT to begin managing this
	course.</p>

<p>If you have any questions about how to setup your course, please don't hesitate to contact us at
	vocat@baruch.cuny.edu.</p>

<p>
	Sincerely,<br/>
	the VOCAT team
</p>

