<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

<strong>Hello!</strong>

<p>Your course "<%= @course_request.name %>" has been reviewed and denied.</p>

<p>Best wishes in future endeavors.</p>

