<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

<strong>Hello!</strong>

<p>Your course "<%= @course_request.name %>" has been reviewed by the VOCAT administrative team and has been denied.
If you have any questions about why your course has been denied, please contact us at vocat@baruch.cuny.edu.
</p>

<p>
	Sincerely,<br />
	the VOCAT team
</p>

