@import "variables";
@import "mixins";

// Base
// ----

// Applies a natural box layout model to all the things
*,
*:before,
*:after {
  @include box-sizing(border-box);
}

// Sets text selection background color
// @include selection(lighten($blue, 40%));

// Global
// --------------------------------------------------------
html {
  // 18px
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // Sadly, this occasionally causes width:auto elements to break to multiple lines in Chrome
  // It seems that the width of the element is computed prior to kerning
  // https://code.google.com/p/chromium/issues/detail?id=189755
  // text-rendering: optimizeLegibility;
}

body {
  @include font-body;
  font-size: 1em;
  font-weight: 400;
  line-height: $baseLineHeight;
  color: $grayDark;
  background-color: $white;
  .no-mediaqueries & {
    min-width: $michigan;
  }
  // Fade everything in once Typekit fonts load
  //@include transition($fastTransition opacity $timing);
  // Fade everything in if the fonts haven't loaded after two seconds
  //@include animation($fastTransition fade-in 2s forwards);
//  opacity: 0;
  .no-js &,
  .wf-active &,
  .wf-inactive &,
  &.mceContentBody {
    // If the fonts load in less than two seconds or if javascript is not available, prevent
    // the fallback animation from firing
    @include animation(none);
    opacity: 1;
  }
}

// Typography
// --------------------------------------------------------
// Block-level elements
// --------------------------
%proto-heading {
  line-height: 1;
  margin: 0;
}

h1 {
  @extend %proto-heading;
  font-size: $alpha;
}

h2 {
  @extend %proto-heading;
  font-size: $beta;
}

h3 {
  @extend %proto-heading;
  font-size: $gamma;
}

h4 {
  @extend %proto-heading;
  font-size: $delta;
}

h5 {
  @extend %proto-heading;
  font-size: $epsilon;
}

h6 {
  @extend %proto-heading;
  font-size: $zeta;
}

p {
  margin: 0;
  & + & {
    margin-top: $verticalSpace;
  }
}

ul,
ol {
  margin-bottom: $verticalSpace;
  p + & {
    margin-top: $verticalSpace;
  }
}

blockquote {
  font-size: $zeta;
  line-height: 1.524;
  padding-left: 2em;
  margin: 0 0 $verticalSpace;
  p + & {
    margin-top: $verticalSpace;
  }
  @include respond($superior) {
    font-size: $eta;
  }
}

hr {
  display: block;
  border: 0;
  border-top: 2px solid $grayDark;
  margin: 0;
  padding: 0;
}

// Inline elements
// --------------------------
a {
//  @include transition($mediumTransition opacity $timing);
  text-decoration: none;
  color: $tealLight;
  &:hover {
    color: $tealDark;
  }
}

b {
  font-weight: $semibold;
}

strong {
  font-weight: $bold;
}


// Tables
// --------------------------
table {
  width: 100%;
}