// Base
// ----

// Applies a natural box layout model to all the things 
* {
	@include box-sizing(border-box);
}

// Sets text selection background color
// @include selection(lighten($blue, 40%));

// Global
// --------------------------------------------------------
html {
	font-size: 62.5%;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	background-color: #a5a0a0;
}

body {
	@include font-body;
	@include font-size(17);
	font-weight: $regular;
	line-height: $baseLineHeight;
	color: $grayDark;
	overflow-x: hidden;
}

// <html> classes
// --------------------------
.authentication {
	background-color: $beigeLight;
}

// Typography
// --------------------------------------------------------
// Block-level elements
// --------------------------
h1 {
	@extend %heading;
	@extend %giga;
}

h2 {
	@extend %heading;
	@extend %beta;
}

h3 {
	@extend %heading;
	@extend %gamma;	
}

h4 {
	@extend %heading;
	@extend %delta;	
}

h5 {
	@extend %heading;
	@extend %epsilon;	
}

h6 {
	@extend %heading;
	@extend %epsilon;		
}

p {
	margin: 0;
	& + & {
		margin-top: $verticalSpace;
	}
}

ul, 
ol {
	// Base list styles
}

hr {
    border: 0;
    border-top: 2px solid $tealLightest;
    margin: 0 0 $verticalSpace;
}

// Inline elements
// --------------------------
a {
	// TODO should links transition?
	// @extend %fade-color;
	text-decoration: none;
	color: $orange;
	&:hover {
		text-decoration: underline;
	}
}

b {
	font-weight: $regular;
}

strong {
	font-weight: $bold;
}

// Editable elements
// --------------------------
[contenteditable] {
	&:hover,
	&:focus {
		outline: none;
	}
	&:empty {
		// background-color: $redLight;
		// This prevents the element from collapsing when empty in firefox
		&:after {
			content: '.';
			color: transparent;
		}
	}
}

// Form elements
// --------------------------
select {
	@extend %bare-focus;
	margin-bottom: 0.7rem;
}
