// Base
// ----

// Applies a natural box layout model to all the things 
* {
	@include box-sizing(border-box);
}

// Sets text selection background color
// @include selection(lighten($blue, 40%));

// Global
// --------------------------------------------------------
html {
	font-size: 62.5%;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
  background-color: $beige;
	overflow-x: hidden;
}

body {
	@include font-body;
	@include font-size(16);
	font-weight: $regular;
	line-height: $baseLineHeight;
	color: $grayDark;
	overflow-x: hidden;
}

// Body classes
// --------------------------
.authentication {
	background-color: $beigeLight;
}

// Typography
// --------------------------------------------------------
// Block-level elements
// --------------------------
h1 {
	@extend %heading;
	@extend %giga;
}

h2 {
	@extend %heading;
	@extend %beta;
}

h3 {
	@extend %heading;
	@extend %gamma;	
}

h4 {
	@extend %heading;
	@extend %delta;	
}

h5 {
	@extend %heading;
	@extend %epsilon;	
}

h6 {
	@extend %heading;
	@extend %zeta;		
}

p {
	margin: 0;
	& + & {
		margin-top: $verticalSpace;
	}
}

ul, ol {
	// Base list styles
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $black;
    margin: $verticalSpace 0;
    padding: 0;
}

// Inline elements
// --------------------------
a {
	// TODO should links transition?
	// @include transition(0.05s all ease-out);
	text-decoration: none;
	color: inherit;
	// &:visited {
	// 	color: $somethingDelightful;
	// }
	// &:hover {
	// 	color: $mindBlowingHue;
	// }
}

b {
	font-weight: $regular;
}

strong {
	font-weight: $bold;
}
