@import "partials/variables";
@import "partials/mixins-base";
@import "partials/mixins-project";
@import "partials/patterns";

// Does a quick reset on <select>s before they're digested by chosen
[data-behavior="chosen"] {
  @include appearance(none);
  padding: 0 2.2rem;
}

/* @group Base */
.chosen-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  *display: inline;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.chosen-container .chosen-drop {
  position: absolute;
  top: 100%;
  left: -9999px;
  z-index: 1010;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  background-color: $beigeLight;
  border-radius: 0 0 $radius $radius;
}
.chosen-container.chosen-with-drop .chosen-drop {
  left: 0;
}
.chosen-container a {
  cursor: pointer;
}

.search-choice-close {
  border: 1px solid red;
  width: .5rem;
  height: .5rem;
}

/* @end */
/* @group Single Chosen */
.chosen-container-single .chosen-single {
  display: block;
  height: 3.2rem;
  color: $grayDark;
  line-height: 3.2rem;
  text-decoration: none;
  background-color: $beigeLight;
  padding: 0 0 0 1.1rem;
  border-radius: $radius;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}
.chosen-container-single .chosen-single span {
  display: block;
  overflow: hidden;
  margin-right: 2.6rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.chosen-container-single .chosen-single div {
  position: absolute;
  top: 0;
  right: 1.1rem;
  display: block;
  width: 1.8rem;
  height: 100%;
}
.chosen-container-single .chosen-single div b {
  @include svg(arrow-down-grayDark);
  display: block;
  width: 100%;
  height: 0.9rem;
  margin: 1.15rem 0;
}
.chosen-container-single .chosen-drop {
  margin-top: -1px;
  background-clip: padding-box;
}
.chosen-container-single.chosen-container-single-nosearch .chosen-search {
  position: absolute;
  left: -9999px;
}

/* @end */
/* @group Results */
.chosen-container .chosen-results {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0.4rem 1.1rem 0.6rem 0;
  padding: 0 0 0 1.1rem;
  max-height: 24rem;
  -webkit-overflow-scrolling: touch;
}
.chosen-container .chosen-results li {
  display: none;
  margin: 0;
  padding: 0.5rem 0;
  list-style: none;
  line-height: 1;
  color: $grayDark;
}
.chosen-container .chosen-results li.active-result {
  display: list-item;
  cursor: pointer;
}
.chosen-container .chosen-results li.disabled-result {
  display: list-item;
  cursor: default;
}
.chosen-container .chosen-results li.highlighted {
  color: $orange;
}
.chosen-container .chosen-results li.group-result {
  @extend %heading-epsilon;
  display: list-item;
  color: $grayLight;
  border-bottom: 0.1rem solid transparentize($grayLightest, 0.25);
  margin: 0.5rem 0 0.4rem;
  cursor: default;
  &:first-child {
    margin-top: 0;
  }
}
.chosen-container .chosen-results li em {
  font-style: normal;
  text-decoration: underline;
}

/* @end */
/* @group Active  */
.chosen-container-active.chosen-with-drop .chosen-single {
  @include box-shadow(none);
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.chosen-container-active.chosen-with-drop .chosen-single span {
  color: $orange;
}
.chosen-container-active.chosen-with-drop .chosen-single div {
  border-left: none;
  background: transparent;
}
.chosen-container-active.chosen-with-drop .chosen-single div b {
  @include svg(arrow-down-orange);
}
/* @end */


.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  position: absolute;
  top: 4px;
  right: 3px;
  display: block;
  width: 12px;
  height: 12px;
//  background: url('chosen-sprite.png') -42px 1px no-repeat;
  font-size: 1px;
  z-index: 500;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
  background-position: -42px -10px;
}
.chosen-container-multi .chosen-choices li.search-choice-focus {
  background: #d4d4d4;
}
.chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close {
  background-position: -42px -10px;
}