@import "variables";
@import "mixins";
@import "patterns";

$spacingUnit: $mediumUnitPadding * .75;


.alert, #error_explanation {
  margin-bottom: $spacingUnit;
  .formgrid & {
    margin-bottom: 0;
  }
  background: $yellow;
  padding: $spacingUnit;
  font-weight: $semibold;
  small {
    font-weight: $regular;
  }
  ul {
    padding-left: 0;
    margin-bottom: 0;
    li {
      margin-left: 2em;
    }
  }
  &.alert-error {
    background: $red;
    color: $white;
    .modal & {
      padding: .25em;
      font-weight: $semibold;
      background: none;
      color: $red;
    }
  }
  .alert--label {
  }
  a {
    font-weight: $semibold;
    color: $white;
    &:hover {
      text-decoration: underline;
    }
  }
}

.notification {
  z-index: 200;
  padding: 0 1.5em;
  position: fixed;
  width: 100%;
  top: $headerHeight;
//  margin-bottom: -$headerHeight;
  background: $grayDarker;
  opacity: 1;
  @include transition(all .25s $timing);
  #global-flash {
    max-width: $containerWidth;
    margin: 0 auto;
  }
  #global-notify {
    max-width: $containerWidth;
    margin: 0 auto;
  }
  .alert {
    background: none;
    text-transform: none;
    color: $white;
    margin-bottom: 0;
    padding: $spacingUnit 0;
    font-weight: $semibold;
    ul {
      @extend %unstyled-list;
      li {
        margin-left: 0;
      }
    }
  }
}

// Devise uses it's own error message wrapper.
#error_explanation {
  background: $red;
  color: $white;
  h2 {
    font-weight: $regular;
    font-size: $theta;
    margin-bottom: 1em;
  }
}
