@import "variables";
@import "mixins";
@import "patterns";

%section-spacing {
  margin-top: $sectionSpacingUnit;
}

// Page Message Container
// --------------------------
.page-message {
  margin-bottom: $sectionSpacingUnit * 2;
  padding: $sectionSpacingUnit 0;
  border-top: 1px solid $grayMediumLighter;
  border-bottom: 1px solid $grayMediumLighter;

  .header {
    font-size: $delta;
    color: $tealDark;
  }
  .body {
    color: $grayDark;
    margin-top: 1em;
    line-height: 1.65em;
  }
}

// Page Section Container
// --------------------------

.page-section-spacing-top {
  @extend %section-spacing;
}

.page-section-wrapper {
  position: relative;
  height: auto;
  @include clearfix(hard);
  margin-bottom: $sectionSpacingUnit;
}

.page-section {
  @include clearfix(hard);
  .header-wrapper {
    position: relative;
  }
  .header {
    .header-link {
      margin-bottom: 0;
    }
    h1, h2, h3, h4, h5, h6 {
      @extend %proto-section-header;
      margin: 0;
      margin-top: .6em;
      padding: 0;
      line-height: .8em;
      color: $grayDark;
    }
    p.subtitle {
      margin-top: 10px;
      color: $grayMedium;
    }
    width: 60%;
    display: inline-block;
  }
  .buttons {
    text-align: right;
    width: 40%;
    display: inline-block;
    position: absolute;
    top: 3px;
    right: 0;
    bottom: 0;
    .bubble {
      margin-top: 5px;
    }
  }
  .header-closeable {
    h2 {
      margin-top: 0;
    }
    a.close-link {
      padding-left: 1.4em;
      height: 1em;
      text-transform: none;
      @extend %condensedHeading;
      color: $grayDarkest;
      font-size: $eta;
      &:before {
        width: 1em;
      }
    }
  }
  .body, .page-section--component, .page-section--component-header {
    margin-top: $sectionSpacingUnit * .5;
    @include clearfix;
    background: $grayLightest;
    padding: $sectionSpacingUnit * .75;

    &.secondary {
      background-color: transparent;
      padding-right: 0;
      padding-left: 0;
      padding-top: 0;
    }
  }
  .page-section--component-header {
    background: $grayLight;
    padding: $sectionSpacingUnit * .25;
  }
  .page-section--component-header + .page-section--component {
    margin-top: 0;
  }
  .body-full-bleed {
    padding: 0;
  }
  .page-section--subsection {
    @include clearfix;
    .subsection-header {
      margin-bottom: $sectionSpacingUnit * .75;
    }
  }
  .page-section--subsection-ruled {
    border-bottom: 1px solid $grayMediumLighter;
    padding-bottom: $sectionSpacingUnit * .75;
    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
    }
  }

  .page-section--subsection + .page-section--subsection {
    margin-top: $sectionSpacingUnit * .75;
  }
}

.page-section-clear {
  .body {
    background: none;
    padding: 0;
  }
}

.page-section-whole {
  @extend %wide-one-whole;
  @extend %page-section-column;
}

.page-section-half {
  @extend %wide-one-half;
  @extend %page-section-column;
}

.page-section-one-third {
  @extend %wide-one-third;
  @extend %page-section-column;
}

.page-section-two-thirds {
  @extend %wide-two-thirds;
  @extend %page-section-column;
}

.page-section + .page-section {
  @extend %section-spacing;
}

.col-one + .col-two {
  margin-top: 0px;
}

.page-section-component {

}

// User Profile Container
// --------------------------
.user-profile {

  .user-profile--image {
    @extend %content-unit;
    @extend %form-pad;
    @include unit(2);

    @extend %medium-one-fourth;
    @extend %narrow-gone;
    padding-left: 0;
    img {
      width: 100%;
    }
  }
  .user-profile--properties {
    padding: 0;
    @extend %content-unit;
    @extend %form-pad;
    @include unit(10);
    @extend %medium-three-fourths;
  }
}

// Submission Section
// --------------------------
.submission-section {
  margin-top: 50px;
  background: $white;
}

.section-empty-message {
  //border: 2px dashed $grayMediumDarker;
  padding-left: .75em;
  padding-right: 40px;
  color: $grayMediumDarker;
  padding: 0px;
}

// Submission Reassignment
// --------------------------
.submission-reassignment {
  .summary-box {
    padding-bottom: 0;
  }
  .page-section--subsection {
  }
}

// Course Synopsis Panes
// --------------------------

.course-synopsis-pane {
  background-color: #f6f6f6;
  width: 100%;

  .info-container .stats {
    display: inline-block;
  }
  .submission-links div, .synopsis-footer div {
    display: inline-block;
    margin-right: 15px;
  }

  &.subheader {
    z-index: 150;

    .padded-container {
      & > div {
        max-width: 1200px;
        margin: auto;
      }
    }

    .info-container > a:hover, .info-container .dropdown--toggle:hover {
      border-bottom: 1px solid $tealLight;
    }
    
    .active {
      color: $tealLight;
      border-bottom: 1px solid $tealLight;
    }
  }

  .padded-container {
    padding: 20px 35px;
  }

  .heading-container {
    margin-bottom: 20px;
  }
  a.alt {
    color: $tealLight;
    &:hover {
      color: #4d4d4d;
    }
  }

  a:hover > div, a:hover span {
    color: $tealLight;
  }

  .info-container {
    > a {
      display: inline-block;
      margin-right: 35px;
    }
  }
  .dropdown--options {
    padding: 1em;
    min-width: 160px;
    top: 37px;
    right: -11px !important; // maybe a better way to do this.  position gets assigned in app/assets/javascripts/app/views/layout/dropdowns.js.coffee
  }
  .dropdown--toggle {
    display: inline;
    &:after {
      top: 3px;
      right: -20px;
      width: 12px;
      height: 12px;
    }
  }
  .open .dropdown--toggle span {
    color: $tealLight;
    border-bottom: 1px solid $tealLight;
  }
  .course-id {
    @extend %section-header-condensed;
    color: #4d4d4d;
  }

  .course-details {
    @extend %section-header-condensed;
    color: $grayMedium;
  }

  .synopsis-footer {
    width: 100%;
    background-color: #ececec;
    padding: 20px 35px;
    height: 56px;
    div {
      color: $grayMediumDarker;
    }

    span {
      font-weight: 600;
      color: #4d4d4d;
    }
  }
}