@import "variables";
@import "mixins";
@import "patterns";

$barHeight: 2.5em;
$barHeight: 45px;
$titleWidth: 300px;
$lighten: 20%;

$defaultFillColor: $grayMedium;
$defaultColor: lighten($defaultFillColor, $lighten);

$instructorFillColor: $yellow;
$instructorColor: lighten($instructorFillColor, $lighten);

$peerFillColor: $blue;
$peerColor: lighten($peerFillColor, $lighten);

$selfFillColor: $purple;
$selfColor: lighten($selfFillColor, $lighten);

.evaluation-collection {
  @extend %unstyled-list;
  margin-top: $barHeight / 2;
  & + & {
    margin-top: $barHeight * 1.5;
  }
}
.evaluation-detail {

}

.range-group {
  @extend %unstyled-list;
  cursor: pointer;
}
.range {

  .range--track {
    position: relative;
    background: $defaultColor;
    height: $barHeight;
    margin-left: $titleWidth;
    .evaluation-collection-instructor & {
      background: $instructorColor;
    }
    .evaluation-collection-peer & {
      background: $peerColor;
    }
    .evaluation-collection-self & {
      background: $selfColor;
    }
  }


  .range--title {
    float: left;
    width: $titleWidth;
    background: $defaultFillColor;
    color: $white;
    z-index: 1;
    font-size: $zeta;
    font-weight: $semibold;
    padding-left: .75em;
    line-height: $barHeight;
    height: $barHeight;
    display: block;
    .evaluation-collection-instructor & {
      background: $instructorFillColor;
    }
    .evaluation-collection-peer & {
      background: $peerFillColor;
    }
    .evaluation-collection-self & {
      background: $selfFillColor;
    }
  }

  .range--fill {
    position: absolute;
  	display: inline-block;
    background: $defaultFillColor;
    height: $barHeight;
    border-right: 10px solid $defaultColor;
    .evaluation-collection-instructor & {
      background: $instructorFillColor;
      border-color: $instructorColor;
    }
    .evaluation-collection-peer & {
      background: $peerFillColor;
      border-color: $peerColor;
    }
    .evaluation-collection-self & {
      background: $selfFillColor;
      border-color: $selfColor;
    }
  }

  .range--handle {
  	display: inline-block;
    position: absolute;
    padding: .75em;
	  z-index: 1;
    border: 7px solid $defaultFillColor;
    background: $white;
    top: -45%;
    margin-right: -10px;
    border-radius: 50%;
    .evaluation-collection-instructor & {
      border-color: $instructorFillColor;
    }
    .evaluation-collection-peer & {
      border-color: $peerFillColor;
    }
    .evaluation-collection-self & {
      border-color: $selfFillColor;
    }

    b {
      position: relative;
      font-weight: $regular;
      top: .1em;
      color: $defaultFillColor;
      font-size: $gamma-major;
      @include font-matrix();
      .evaluation-collection-instructor & {
        color: $instructorFillColor;
      }
      .evaluation-collection-peer & {
        color: $peerFillColor;
      }
      .evaluation-collection-self & {
        color: $selfFillColor;
      }
    }
  }
}

//.evaluation-collection-instructor {
//  .evaluation-collection--bar {
//    background: $instructorColor;
//  }
//  .evaluation-collection--fill {
//    background: $instructorFillColor;
//    border-color: $instructorColor;
//  }
//  .evaluation-collection--handle {
//    b {
//      color: $instructorFillColor;
//    }
//    border-color: $instructorFillColor;
//  }
//}
//
//.evaluation-collection-peer {
//  .evaluation-collection--bar {
//    background: $peerColor;
//  }
//  .evaluation-collection--fill {
//    background: $peerFillColor;
//    border-color: $peerColor;
//  }
//  .evaluation-collection--handle {
//    b {
//      color: $peerFillColor;
//    }
//    border-color: $peerFillColor;
//  }
//}
//
//.evaluation-collection-creator {
//  .evaluation-collection--bar {
//    background: $creatorColor;
//  }
//  .evaluation-collection--fill {
//    background: $creatorFillColor;
//    border-color: $creatorColor;
//  }
//  .evaluation-collection--handle {
//    b {
//      color: $creatorFillColor;
//    }
//    border-color: $creatorFillColor;
//  }
//}
