@import "partials/variables";
@import "partials/mixins";
@import "partials/patterns";


// Components
// ----------

// Page level components
// --------------------------------------------------------
.container {
  @extend %clearfix;
  //  @extend %shaded-sides;
  width: $mainWidth;
  //  background-color: $beige;
  margin: 0 auto;

  body.course-map & {
    overflow: visible;
  }

  .authentication & {
    @include box-shadow(none);
    background-color: transparent;
    margin-top: 8.5rem;
  }
}


.page-shield {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 300;
  height: 100%;
  width: 100%;
}


// Page header
// --------------------------
.page-header {
  @extend %gamma-sup;
  width: 100%;
  color: $white;
  background-color: $newTeal;
  min-width: $mainWidth;
  height: $headerHeight;
  position: absolute;
  top: 0;
  z-index: 400;
  .role-admin.no-course & {
    height: 7.8rem;
  }
  a:hover {
    color: $white;
  }
}

.page-header--navigation-wrapper {
  background-color: $newTeal;
  height: $headerHeight;
  position: relative;
  z-index: 1;
}

.page-header--navigation {
  height: $headerHeight;
  position: relative;
  width: $mainWidth;
  margin: 0 auto;
}

.page-header--drawer {
  position: relative;
  background: $newGrayDark;
  width: 100%;
  @include opacity(50);
  @include translateY(-100%);
  @include transition(all .25s $timing);
  a {
    color: $white;
  }
  .drawer-open & {
    display: block;
    opacity: 1;
    @include translateY(0);
  }
  .drawer--contents {
    margin: auto;
    @extend %clearfix;
    width: $mainWidth;
    padding-left: 12rem;
    a {
      text-decoration: none;
      &:hover {
        color: $newTealMedium;
      }
    }
    ul {
      position: relative;
      @extend %unstyled-list;
      margin: 0;
      li {
        @extend %gamma-sub;
        margin-bottom: $verticalSpace;
        // TODO: Replace this with something else
        > a:after {
          content: ' >';
        }
        > a:only-child:after {
          content: '';
        }
        ul {
          width: 40rem;
          position: absolute;
          left: 20rem;
          top: 0;
        }


      }
      li:last-child {
        margin-bottom: 0;
      }
    }

  }
  .drawer--contents-column {
    margin: 2rem 0;
  }
  .drawer--contents-left {
    text-transform: uppercase;
    width: 12rem;
    border-right: 1px solid $newGrayMedium;
    float: left;
    margin-right: 4rem;
  }
  .drawer--contents-right {
    width: $mainWidth - 35rem;
    float: left;
  }
}


.page-header--logo-nav {
  @extend %center;
  width: 5.3rem;
  height: $headerHeight;
  position: absolute;
  img {
    position: absolute;
    top: 50%;
    margin-top: -.8rem;
    vertical-align: middle;
    display: block;
    height: 1.6rem;
  }
}

.page-header--user-nav {
  position: absolute;
  margin-right: 6.4rem;
  right: 0;
}

.user-nav--toggle {
  top: 1rem;
  @extend %dropdown-toggle;
}

.user-nav--dropdown {
  @extend %dropdown-right;
  @extend %epsilon;
  width: 25.5rem;
  right: -6.4rem;
}

.user-nav--avatar {
  position: absolute;
  right: -6.4rem;
}

// Drawer nav
// Lives inside .primary-nav
// --------------------------
.drawer-nav--trigger {
  position: absolute;
  left: 10rem;
  height: $headerHeight;
  cursor: pointer;
  padding: 0 2rem;
  padding-right: 6rem;
  line-height: $headerHeight;
  background: $newTealDark;

  & span::after {
    @include svg(arrow-down-white);
    content: "";
    display: block;
    width: 1.8rem;
    height: 0.9rem;
    position: absolute;
    top: 2.3rem;
    right: 2rem;
  }
}

// Page content
// --------------------------------------------------------
.page-content {
  margin-top: $headerHeight * 2;
  position: relative;
  z-index: 100;
}

.page-content--header {
  min-height: 3.6rem;
  margin-bottom: $verticalSpace * 3;
}

.page-content--header-buttons {
  display: inline-block;
  float: right;
  @extend %clearfix;
}


// Headings
// --------------------------------------------------------
.header-primary {
  @extend %heading-alpha-sup;
  margin-bottom: .5rem;
  letter-spacing: 0rem;
}

.header-secondary {
  @extend %heading-alpha-sup;
  letter-spacing: 0rem;
  color: $newGrayMedium-alt;
}

.header-section {
  @extend %heading-beta;
  text-transform: uppercase;
  .page-content--header & {
    line-height: 3.4rem;
  }
}

.heading-largest {
  @extend %heading-alpha;
  margin-bottom: 0.5rem;
}

.heading-large {
  @extend %heading-alpha;
  margin-bottom: 0.8rem;
}

.heading-medium {
  @extend %heading-beta-alt;
  margin-bottom: 0.8rem;
}

.heading-smallest {
  @extend %heading-epsilon;
  margin-bottom: 0.9rem;
}