@import "variables";
@import "mixins";
@import "patterns";
@import "compass";

// Asset create interface
// --------------------------------------------------------
.page-section .page-section--component.asset-upload {
  background: $grayDarker;
  color: $grayLighter;
  line-height: 1.25em;
  font-size: $theta;
  position: relative;
  .instructions {
    margin-bottom: 25px;
  }
  .bottom-instructions {
    margin-top: 25px;
  }
  .asset-uploading {
    padding-bottom: 30px 0;
    text-align: center;
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid $grayDarker;
    bottom: -20px;
    left: 50%;
    margin-left: -20px;
  }
}

.page-section .page-section--component.new-asset-footer {
  background: $grayDarker;
  color: $grayLighter;
  position: relative;
  margin-top: 0;
  text-align: center;
  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid $grayDarker;
    top: -20px;
    left: 50%;
    margin-left: -20px;
  }
}

.assets-container .asset-new-container .page-section--component,
.assets-container .asset-collection-container .page-section--component {
  margin-top: 0;
}

$targetHeight: 95px;

.asset-upload--column {
  @extend %wide-one-half;
  @extend %page-section-column;
  padding: 0;
  &.asset-upload--column-left {
    padding-right: 15px;
    height: $targetHeight;
    position: relative;
    top: 0;
    bottom: 0;
  }
  &.asset-upload--column-right {
    padding-left: 15px;
    .dark-text-input:first-child {
      margin-top: 0;
    }
    .dark-text-input {
      margin-top: 15px;
      border: 1px solid $tealLight;
      height: 40px;
      @include clearfix();
      a {
        height: 38px;
        &:hover {
          background-color: $tealDark;
          border: 1px solid $tealDark;
        }
      }
      input {
        width: 80%;
        border: 0;
        background: $grayDarker;
        color: $white;
        font-weight: $regular;
        height: 38px;
        padding-left: .6em;
        display: block;
        float: left;
        &:focus {
          outline: none;
          outline-width: 0;
        }
      }
      a {
        float: right;
      }
    }
  }
  .asset-upload--target {
    border: 2px dashed $tealLight;
    position: relative;
    width: 100%;
    height: 100%;
    a {
      color: $white;
      display: block;
      position: relative;
      text-align: center;
      width: 100%;
      height: 60px;
      line-height: 60px;
      top: 15px;
      &:before {
        margin-right: 15px;
        content: '';
        display: inline-block;
        vertical-align: middle;
        height: 60px;
        width: 60px;
        @include svg(upload-overlay-teal);
      }
    }
  }
}

.fake-file-input {
  cursor: pointer;
  border: 1px solid $tealLight;
  span {
    line-height: 1em;
    display: block;
    float: left;
    padding: .6em;
  }
  a {
    float: right;
  }
}

$playerColBg: $grayDarker;
$annotationColBg: $grayDarkest;
$textColor: $grayLightest;
$assetDetailMaxHeight: 700px;
$activeAnnotationBackground: lighten($grayDarkest, 4%);

// Asset detail interface
// --------------------------------------------------------
.asset-detail-layout {
  position: relative;
  margin-top: 10px;
  &:before {
    width: 66.666666%;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
  .col-one.page-section-two-thirds {
    width: 800px;
    @include respond($baikal) {
      width: 580px;
    }
    position: fixed;
    padding-right: 0;
    padding-left: 0;
    max-height: $assetDetailMaxHeight;
  }
  .col-two.page-section-one-third {
    padding-top: 24px;
    padding-left: 25px;
    padding-right: 0;
    width: 400px;
    @include respond($baikal) {
      width: 317px;
    }
    float: right;
    &:before {
      content: '';
      position: fixed;
      width: 400px;
      height: 53px;
      z-index: 10;
      top: $headerHeight;
      background: $grayDarkest;
    }
  }
  .col-two.annotations-column-scrollable {
  }
}

.asset-player {
  position: relative;
  z-index: 1;
}

.image-displayer {
  background: $black;
  position: relative;
  height: 500px;
  img {
    background: $white;
    position: absolute;
    margin: auto;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    max-height: 100%;
    max-width: 100%;
    z-index: 0;
  }
  #image-displayer-annotation {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}

.annotation-canvas {
  position: absolute;
  z-index: 10;
}

// Annotations
// --------------------------------------------------------
.annotations-container {
  max-height: 100%;
  &.annotations-faded {
    .annotations-ul {
      opacity: .25;
    }
    .annotation-spacer {
      opacity: 1 !important;
    }
  }
  .annotations-ul {
    opacity: 1;
    @include transition(1s, opacity, $timing);
    margin-top: 15px;
    @extend %unstyled-list;
  }
  .annotation-spacer {
    z-index: 5000;
    opacity: 0;
    @include transition(1s, opacity, $timing);
    padding-top: 100px;
    p {
      margin: 0 30px;
      text-align: center;
      color: $grayLightest;
    }
  }
  .annotation {
    cursor: pointer;
    font-size: $iota;
    color: $textColor;
    padding: 15px 0;
    position: relative;
    .annotation-wrapper {
      @include clearfix();
    }
    &.annotation-active {
      background: $activeAnnotationBackground;
    }
    @include clearfix();
    .annotation-left {
      float: left;
      width: 60px;
      img {
        width: 60px;
        height: 60px;
        display: block;
      }
    }
    .annotation-right {
      float: right;
      width: 300px;
      padding-right: 15px;
      @include respond($baikal) {
        width: 217px;
      }

    }
    .annotation-top {
      @include clearfix();
      margin-bottom: 1em;
    }
    .annotation-bottom {
      line-height: 1.25em;
      max-height: 150px;
      overflow: hidden;
    }
    &:hover .annotation-utility {
      display: block;
    }
    .annotation-utility {
      display: block;
      a {
        display: block;
        float: left;
        width: 30px;
        height: 30px;
        overflow: hidden;
        position: relative;
        &.annotation-delete-link {
          background: #4C262A;
          &:hover {
            background: darken(#4C262A, 10%);
          }
          &:after {
            content: '';
            position: absolute;
            top: 9px;
            left: 9px;
            width: 12px;
            height: 12px;
            @include svg(ex-red);
          }
        }
        &.annotation-edit-link {
          background: #2A3D3D;
          &:hover {
            background: darken(#2A3D3D, 10%);
          }
          &:after {
            content: '';
            position: absolute;
            top: 9px;
            left: 9px;
            width: 12px;
            height: 12px;
            @include svg(pencil-blue);
          }
        }
      }
    }
    .annotation-creator {
      width: 50%;
      float: left;
      font-weight: $bold;
      &.role-evaluator {
        color: $instructorFillColor;
      }
      &.role-administrator {
        color: $defaultFillColor;
      }
      &.role-creator {
        color: $peerFillColor;
      }
      &.role-self {
        color: $selfFillColor;
      }
      @include respond($baikal) {
        width: 100%;
        float: none;
      }
    }
    .annotation-timestamp {
      width: 50%;
      float: right;
      text-align: right;
      color: $grayMedium;
      font-weight: $regular;
      @include respond($baikal) {
        width: 100%;
        float: none;
        text-align: left;
        margin-top: .25em;
      }
    }
    .annotation-drawing-indicator {
      display: inline-block;
      width: .8em;
      vertical-align: middle;
      height: .8em;
      @include svg(pen-gray-light);
    }
    .annotation-fade {
      position: absolute;
      bottom: 0;
      height: 25px;
      width: 100%;
      background: -webkit-linear-gradient(rgba(35,31,32,0),$grayDarkest 85%);
      background: -moz-linear-gradient(rgba(35,31,32,0),$grayDarkest 85%);
      background: -o-linear-gradient(rgba(35,31,32,0),$grayDarkest 85%);
      background: linear-gradient(rgba(35,31,32,0),$grayDarkest 85%);
    }
  }
  .annotation.annotation-active .annotation-fade {
    background: -webkit-linear-gradient(rgba(46,41,42,0),$activeAnnotationBackground 85%);
    background: -moz-linear-gradient(rgba(46,41,42,0),$activeAnnotationBackground 85%);
    background: -o-linear-gradient(rgba(46,41,42,0),$activeAnnotationBackground 85%);
    background: linear-gradient(rgba(46,41,42,0),$activeAnnotationBackground 85%);
  }
  .annotation + .annotation {
    border-top: 1px solid $grayDarker;
  }
  .annotation:last-child {
    border-bottom: 1px solid $grayDarker;
  }
  .annotation:first-child {
    border-top: 1px solid $grayDarker;
  }
  .annotation-open .annotation-bottom {
    max-height: none;
  }
}




// Annotator UI
// --------------------------------------------------------
$trackHeight: 10px;
.annotator {
  padding-top: 20px;
  width: 100%;
  min-height: 200px;

  .formgrid {
    padding-left: 0;
    padding-right: 0;
    &.whole {
      padding-bottom: 15px;
    }
    &.progress-bar-container {
      padding-bottom: 30px;
    }
  }
  .timeline-container {
    position: relative;
    margin-top: 1.5em;
    margin-bottom: 1em;
  }
  .formgrid textarea.annotation-input {
    margin-top: 15px;
    height: 75px;
    border: 2px solid $tealLight;
    background: $grayDarkest;
    color: $white !important;
  }
  .time {
    position: absolute;
    right: 0;
    top: -2px;
    width: 8%;
    font-size: $iota;
    color: $white;
    text-align: right;
    z-index: 10;
  }
  .timeline {
    width: 100%;
    height: $trackHeight;
    position: absolute;
    left: 0;
    .track {
      z-index: 1;
      position: absolute;
      width: 100%;
      height: $trackHeight;
      background: $grayDark;
    }
    .buffered {
      position: absolute;
      z-index: 2;
      height: $trackHeight;
      background: $tealLight;
      opacity: .3;
    }
    .scrubber {
      position: absolute;
      width: 1px;
      height: 10px;
      background: $tealLight;
      z-index: 6;
      span {
        cursor: pointer;
        width: 80px;
        display: inline-block;
        margin: auto;
        right: -40px;
        color: $tealLight;
        font-size: $iota;
        top: -$trackHeight * 3.0;
        text-align: center;
        position: absolute;
        &:after {
          content: '';
          width: 0;
          height: 0;
          position: absolute;
          bottom: -$trackHeight;
          right: 40px - $trackHeight;
          margin-left: -$trackHeight;
          border-left: $trackHeight solid transparent;
          border-right: $trackHeight solid transparent;
          border-top: $trackHeight solid $tealLight;
        }
      }
    }

    .played {
      position: absolute;
      z-index: 3;
      height: $trackHeight;
      background: $tealLight;
    }
    .track-overlay {
      position: absolute;
      width: 100%;
      z-index: 5;
      height: $trackHeight;
      cursor: pointer;
    }
    .marks {
      z-index: 4;
      @extend %unstyled-list;
      li {
        top: $trackHeight;
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        margin-left: -$trackHeight;
        border-left: $trackHeight solid transparent;
        border-right: $trackHeight solid transparent;
        border-bottom: $trackHeight solid $defaultFillColor;
      }
      li.role-evaluator {
        border-bottom: $trackHeight solid $instructorFillColor;
      }
      li.role-administrator {
        border-bottom: $trackHeight solid $defaultFillColor;
      }
      li.role-creator {
        border-bottom: $trackHeight solid $peerFillColor;
      }
      li.role-self {
        border-bottom: $trackHeight solid $selfFillColor;
      }

    }
  }

}


// Progress Bar
// --------------------------------------------------------
.asset-done {
  margin-top: 30px;
  a {
    padding-left: 4em;
    padding-right: 4em;
    text-align: center;
  }
}

.asset-uploading {
  position: relative;
  text-align: center;
  .upload-status {
    @extend %label;
    display: block;
    color: $white;
  }
  .upload-status-detail {
    display: block;
    @extend %label;
    color: $white;
  }
}

.progress-bar {
  display: inline-block;
  height: 1em;
  margin-top: 15px;
  width: 50%;
  background: $grayMedium;
  position: relative;
  .progress-bar--fill {
    height: 1em;
    position: absolute;
    background: $grayDark;
  }
}

body.theater {
  background: $grayDarkest;

  .page-content {
    margin-top: 15px;
  }
}

ul.annotations-overlay {
  @extend %unstyled-list;
  position: absolute;
  height: 100%;
  width: 100%;
  li {
    position: absolute;
    height: 100%;
    width: 100%;
    svg {
      height: 100%;
      margin: auto;
      cursor: pointer;
    }

  }
}

// Player container messages

.player-container {
  position: relative;
  overflow: hidden;
}

.player-container-message {
  position: absolute;
  background: $grayDarker;
  color: $white;
  width: 100%;
  z-index: 10;
  padding: 8px;
  text-align: center;
  height: 30px;
  line-height: 16px;
  font-weight: bold;
  top: -30px;
  @include transition(top $fastTransition);
  &.open {
    top: 0;
  }
}