@import "variables";
@import "mixins";
@import "patterns";

// Form Patterns
// --------------------------
%form-unit{
  padding-bottom: 2em;
}

%proto-input {
//  @include box-sizing(content-box);
  height: 2.6em;
  padding: 0px 0px 0px 1em;
  outline: none;
  @include font-body;
  font-size: $iota;
  color: $grayDark !important;
  border: 1px solid $grayMedium;
}

%input-full-width {
  width: 100%
}

// Forms
// --------------------------

form.formgrid, div.fake-formgrid {
  margin-left: -$formPadding;
  margin-right: -$formPadding;
  margin-bottom: -2em;
}

.formgrid--messaging {
  @extend %form-wide-one-whole;
  @extend %form-unit;
}

fieldset {
  border: none;
  padding: 0;
}

fieldset + fieldset {
  margin-top: $verticalSpace;
}

.formgrid {

  label, .label {
    @extend %label;
    display: block;
    margin-bottom: $verticalSpaceTightest;
  }
  .label-tight {
    margin-bottom: 0;
  }
  .label-inline {
    font-weight: $regular;
  }

  small {
    font-size: $kappa;
    margin-top: $verticalSpaceTightest;
    display: block;
  }

  select {
    @extend %input-full-width;
  }

  input[type=text], textarea {
    @extend %proto-input;
    @extend %input-full-width;
  }
  textarea {
  height: 6em;
  padding: 1em;
  }

  &.whole {
    @extend %form-wide-one-whole;
    @extend %form-unit;
  }
  &.two-thirds {
    @extend %form-wide-two-thirds;
    @extend %form-unit;
  }
  &.half {
    @extend %form-wide-one-half;
    @extend %form-unit;
  }
  &.third {
    @extend %form-wide-one-third;
    @extend %form-unit;
  }
  &.fourth {
    @extend %form-wide-one-fourth;
    @extend %form-unit;
  }
  &.twelfth {
    @extend %form-wide-one-twelfth;
    @extend %form-unit;
  }

  &.submit-row {
    margin-top: $verticalSpaceTightest * 2;
    padding-bottom: 0;
  }

}

.field_with_errors {
  input[type=text], textarea {
    border: 1px solid $red !important;
  }
}


// Misc. Form Related Styles
// --------------------------
.file-input-container {
  display: inline-block;
  // margin-top: 1rem;
  position: relative;
  cursor: pointer;
  input {
    @extend %hidden-text;
    opacity: 0;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
    &:hover + a {
      text-decoration: underline;
    }
  }
}

$spacingUnit: $mediumUnitPadding * .75;

.oneline--input {
  .button-wrapper {
    float: right;
    @include respond($vostok - 1) {
      display: none;
    }
  }
  .button-wrapper-responsive {
    display: none;
    margin-top: $spacingUnit;
    @include respond($vostok - 1) {
      display: block;
    }
  }
  .input-wrapper {
    padding-right: $spacingUnit;
    overflow: hidden;
    textarea {
      width: 100%;
      line-height: $theta;
      font-size: $theta;
    }
    input {
      // Hack that needs to be fixed.
      border-bottom: 2px solid $grayMedium !important;
      height: 2.7em;
    }
  }
}

select.month, select.day, select.year {
  width: 32.7%;
}

.live-search {
  position: relative;
  .live-search--results {
    position: absolute;
    z-index: 100;
    background: $white;
    @include font-body;
    font-size: $iota;
    color: $grayDark !important;
    border: 1px solid $grayMedium;
    border-top: 0;
    padding: 1em;
    overflow-x: scroll;
    max-height: 200px;
    .whole & {
      width: 100%;

    }
    ul {
      @extend %unstyled-list;
      margin-bottom: 0;
      li {
        padding: 0 0 .5em 0;
      }
      li+li {
        padding: .5em 0em;
      }
    }
  }
}



