@import "partials/variables";
@import "partials/mixins";
@import "partials/patterns";



// Pagination nav
// --------------------------
.pagination-nav {
  background-color: $white;
  padding: 2rem 0rem;
  ul {
    @extend %piped-link-list;
    margin: 0;
  }
}

// Tab nav
// --------------------------
.tab-nav {
  ul {
    @extend %piped-link-list;
    margin: 0 0 1.6rem;
  }
}

// Dropdown
// --------------------------------------------------------
.header-primary-nav {
  @extend %dropdown-container;
}
.header-secondary-nav-toggle {
  @extend %dropdown-toggle-grayDark;
}
.header-secondary-nav-dropdown {
  @extend %dropdown-gray;
}


.header-secondary-nav {
  @extend %dropdown-container;
  .nav-toggle {
    @extend %dropdown-toggle-gray;
  }
  .nav-dropdown {
    @extend %dropdown-gray;
  }
}


.drop-nav-primary {
  .header-secondary+.drop-nav-primary--toggle {
    @extend %dropdown-toggle-gray;
  }
  .drop-nav-primary--toggle {
    @extend %dropdown-toggle-grayDark;
    &:after {
      top: 1.5rem;
    }
  }
}

.drop-nav-primary--dropdown {
  @extend %dropdown-gray;
  top: 3rem;
}

.drop-nav-secondary {
  @extend %dropdown-container;
  display: inline;
  .drop-nav-secondary--toggle {
    @extend %dropdown-toggle-gray;
  }
}

.drop-nav-secondary--dropdown {
  @extend %dropdown-gray;
}
