@import "partials/variables";
@import "partials/mixins";
@import "partials/patterns";



// Pagination nav
// --------------------------
.pagination-nav {
  background-color: $white;
  padding: 2rem 0rem;
  ul {
    @extend %piped-link-list;
    margin: 0;
  }
}

// Tab nav
// --------------------------
.tab-nav {
  ul {
    @extend %piped-link-list;
    margin: 0 0 1.6rem;
  }
}

// Dropdown
// --------------------------------------------------------
.drop-nav-secondary {
  @extend %dropdown-container;
  display: inline;
  .drop-nav-secondary--toggle {
    @extend %dropdown-toggle-gray;
  }
}

.drop-nav-secondary--dropdown {
  @extend %dropdown-gray;

}