@import "variables";
@import "mixins";
@import "patterns";


.portfolio, .asset-collection {
  .alert {
    margin-bottom: 0px;
  }
}

.asset-collection-item {
  position: relative;
}

.portfolio-item, .asset-collection-item {
  @include clearfix(hard);
  .portfolio-item--content, .asset-collection-item--content {
    a:hover {
      color: $tealDark !important;
    }

    h3.heading-tertiary {
      @include font-body;
      margin-top: -4px;
    }

    @extend %wide-five-sixths;
    @extend %medium-three-fourths;
    @extend %narrow-one-whole;

    padding-left: 0;
    padding-right: 0;

    .portfolio-item--ranges {
      .range {
        margin-bottom: 15px;
      }
    }
  }

  .asset-collection-item--content {
    padding-right: 30%;
    .asset-collection-item--utility {
      text-align: right;
      position: absolute;
      bottom: 0;
      right: 0;
      margin-bottom: $sectionSpacingUnit * .75;
      width: 30%;
    }
  }

  .portfolio-item--thumb, .asset-thumb {
    @extend %wide-one-sixth;
    @extend %medium-one-fourth;
    @extend %narrow-one-whole;

    padding-right: 30px;
    padding-left: 0;

    .thumb-container-placeholder {
      width: 100%;
      border: 1px dashed $grayMediumDarker;
      position: relative;
      a {
        text-align: center;
        position: relative;
        height: 100%;
        display: block;
        span {
          display: block;
          width: 75%;
          padding: 2em 0;
          margin-left: 12.5%;
        }
      }
    }


    .thumb-container {
      overflow: hidden;
      position: relative;
      &:hover:before {
        opacity: 0;
      }
      a {
        position: relative;
        display: block;
        &:hover:after {
          opacity: .2;
        }
        &:after {
          @include transition($fastTransition opacity $timing);
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          bottom: 0;
          background: #000;
          z-index: 1;
          opacity: .5;
        }
        &:before {
          content: '';
          position: absolute;
          height: 60px;
          width: 60px;
          z-index: 2;
          top: 50%;
          left: 50%;
          margin-left: -30px;
          margin-top: -30px;
          @include svg(play-overlay-white);
        }
      }
      img {
        display: block;
        position: relative;
        left: -5%;
        width: 110%;
      }
    }
  }

  .heading-tertiary {
    font-size: $delta-minor;
    a {
      color: $tealLight;
    }
    small {

      font-size: .654em; //17px
    }
  }
}
