@import "variables";
@import "mixins";
@import "patterns";

.criteria-wrapper, .body-wrapper {
  float: left;
}
.range-columns {
  display: inline-block;
}
.cell, .criteria-item, .spacer, .range-header, .spacer, .criteria-add-button, .range-add-button {
  height: 90px;
  width: 215px;
  text-align: center;
}
.criteria-item, .cell, .criteria-add-button {
  height: 110px;
}
.cell-name, .criteria-item, .range-header {
  font-weight: 600;
}

// builder layout
.range-bar {
  height: 90px;
  width: calc(100% - 218px);
  background-color: #edf7f7;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}
.criteria-bar {
  height: calc(100% - 90px);
  width: 215px;
  background-color: #F0F1F1;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
}
.rubric-builder {
  padding-right: 55px;
  padding-bottom: 55px;
  background-color: whitesmoke;
  position: relative;
  cursor: default;
  .add-buttons > div {
    font-size: 40px;
  }
  .range-add-snap {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    width: 55px;
    height: 90px;
    text-align: right;
    background-color: #E5F5F4;
    color: $tealLight;
    &:hover {
      background-color: $tealLightest;
      color: $tealLight;
    }
    .range-plus-snap {
      @include svg('plus-teal-rubric');
      width: 25px;
      height: 25px;
      display: block;
      position: absolute;
      top: 15px;
      right: 15px;
    }
  }
  .criteria-add-snap {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 215px;
    height: 55px;
    background-color: #F0F1F1;
    &:hover {
      background-color: $grayLight;
    }
    .criteria-plus-snap {
      @include svg('plus-gray');
      width: 25px;
      height: 25px;
      display: block;
      position: absolute;
      top: 15px;
      left: 15px;
    }
  }
  .range-add-button {
    display: inline-block;
    background-color: #DAF0EF;
    font-size: $kappa;
    text-transform: uppercase;
    color: $tealLight;
    cursor: pointer;
    .range-plus {
      @include svg('plus-teal-rubric');
      width: 34px;
      height: 34px;
      display: block;
      margin: 18px auto 9px;
    }
    &:hover {
      background-color: #b7e1df;
    }
  }
  .criteria-add-button {
    background-color: #E0E0E0;
    font-size: $kappa;
    text-transform: uppercase;
    color: $grayDark;
    cursor: pointer;
    .criteria-plus {
      @include svg('plus-gray');
      width: 34px;
      height: 34px;
      display: block;
      margin: 26px auto 9px;
    }
    &:hover {
      background-color: #cccccc;
    }
  }
}

// header row/column
.range-header, .criteria-item {
  font-size: $zeta;
  color: $grayLightest;
  padding: 26px 0;
}
.range-header {
  background-color: $tealLight;
  &:hover {
    background-color: #37958d;
  }
  .range-score {
    font-size: 16px;
    margin-top: 9px;
  }
}
.criteria-wrapper {
  position: relative;
  z-index: 1;
}
.criteria-item {
  background-color: $grayMedium;
  margin-bottom: 3px;
  padding: 34px 0;
  &:hover {
    background-color: #898b90;
  }
  &:last-child {
    margin: 0;
  }
  &:first-child .cell-control.move-up {
    opacity: 0.4;
    &:hover {
      background-color: #58585a;
      cursor: default;
    }
  }
  &:last-child {
    .cell-control.move-down {
      opacity: 0.4;
      &:hover {
        background-color: #58585a;
        cursor: default;
      }
    }
  }
  .cell-control {
    background-color: #58585a;
    &:hover {
      background-color: $black;
    }
  }
}

// range columns
.ranges-wrapper {
  z-index: 1;
}
.range-columns {
  white-space: nowrap;
  vertical-align: top;
}
.ranges-column {
  display: inline-block;
  vertical-align: top;
  margin-right: 3px;
  .cell-control {
    background-color: transparentize($black, 0.9);
    &:hover {
      background-color: transparentize($black, 0.7);
    }
  }
  &:last-child {
    margin-right: 0;
  }
  &:first-child .cell-control.move-left {
    opacity: 0.4;
    &:hover {
      background-color: $tealDarkest;
      cursor: default;
    }
  }
  &:last-child {
    .cell-control.move-right {
      opacity: 0.4;
      &:hover {
        background-color: $tealDarkest;
        cursor: default;
      }
    }
  }
}

// cell
.cells {
  transition: all 0.2s ease;
}
.cell {
  padding: 24px 14px 20px;
  white-space: normal;
  background-color: #E5F5F4;
  margin-bottom: 3px;
  &:before {
    content: "";
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparentize($grayDarkest, 0.8);
  }
  &:hover:before {
    display: block;
  }
  &:last-child {
    margin-bottom: 0;
  }
  .cell-control {
    color: whitesmoke;
    background-color: $grayDark;
    &:hover {
      background-color: $black;
    }
  }
  .cell-name, .cell-description {
    // Truncate at one line
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .cell-name {
    font-size: $theta;
  }
  .cell-description {
    font-size: $iota;
    margin-top: 20px;
    &.empty {
      text-transform: uppercase;
      color: $grayMediumLighter;
      &::before {
        @include svg('pencil-gray');
        display: inline-block;
        width: 18px;
        height: 19px;
        margin-right: 11px;
        vertical-align: bottom;
        content: '';
      }
    }
  }
}
.range-header, .criteria-item, .cell {
  position: relative;
  &:hover {
    .cell-control {
      visibility: visible;
    }
  }
}

// cell-control
.cell-control {
  width: 30px;
  height: 30px;
  position: absolute;
  visibility: hidden;
  &:hover {
    cursor: pointer;
    background-color: whitesmoke;
  }
  &.move-left, &.move-up {
    left: 0;
    top: 0;
  }
  &.move-right, &.move-down {
    left: 0;
    top: 30px;
  }
  &.edit {
    right: 0;
    top: 0;
  }
  &.destroy {
    right: 0;
    top: 30px;
  }
}

// sliders
.ranges-wrapper {
  max-width: 100%;
  position: relative;
  overflow: hidden;

  .slide-button-left, .slide-button-right {
    visibility: hidden;
    position: absolute;
    width: 60px;
    height: 100%;
    background-color: $black;
    z-index: 5;
    cursor: pointer;
    opacity: 0.5;
  }

  .slide-button-left {
    top: 0;
    bottom: 0;
    left: 0;
    &:hover {
      opacity: 0.6;
    }
    &::before {
      @include svg(arrow-left-white-tall);
      display: inline-block;
      position: absolute;
      top: 46%;
      width: 100%;
      height: 50px;
      content: '';
    }
  }

  .slide-button-right {
    top: 0;
    right: 0;
    bottom: 0;
    &:hover {
      opacity: 0.6;
    }
    &::before {
      @include svg(arrow-right-white-tall);
      display: inline-block;
      position: absolute;
      top: 46%;
      width: 100%;
      height: 50px;
      content: '';
    }
  }
}

// misc
.table-wrapper {
  @include clearfix;
  width: 100%;
}

.body-wrapper {
  max-width: calc(100% - 215px);
}
.spacer {
  background-color: #F0F1F1;
}
.criteria-item, .cell {
  .edit-icon {
    @include svg('pencil-gray');
    width: 18px;
    height: 16px;
    display: block;
    position: absolute;
    top: 7px;
    left: 6px;
  }
  .delete-icon {
    @include svg('x-gray');
    width: 18px;
    height: 16px;
    display: block;
    position: absolute;
    top: 7px;
    left: 6px;
  }
  .up-icon {
    @include svg('arrow-up-gray');
    width: 18px;
    height: 16px;
    display: block;
    position: absolute;
    top: 7px;
    left: 6px;
  }
  .down-icon {
    @include svg('arrow-down-gray');
    width: 18px;
    height: 16px;
    display: block;
    position: absolute;
    top: 7px;
    left: 6px;
  }
}

.range-header {
  .edit-icon {
    @include svg('pencil-teal');
    width: 18px;
    height: 16px;
    display: block;
    position: absolute;
    top: 7px;
    left: 6px;
  }
  .delete-icon {
    @include svg('x-teal');
    width: 18px;
    height: 16px;
    display: block;
    position: absolute;
    top: 7px;
    left: 6px;
  }
  .left-icon {
    @include svg('arrow-left-teal');
    width: 18px;
    height: 16px;
    display: block;
    position: absolute;
    top: 7px;
    left: 6px;
  }
  .right-icon {
    @include svg('arrow-right-teal-rubric');
    width: 18px;
    height: 16px;
    display: block;
    position: absolute;
    top: 7px;
    left: 6px;
  }
}