@import "partials/variables";
@import "partials/mixins";
@import "partials/patterns";

// Table
// --------------------------
.table-wrapper {
}

// <table>
.table {
  width: 100%;
  thead {
    tr {
      background-color: $newGrayLightest;
    }
    th {
      @extend %heading-alpha;
      height: 3.6rem;
      // Prevents border hiding in IE
      z-index: -1;
      &.sort {
        // Adjusted padding for sort arrows
        padding-right: 2.7rem;
        white-space: nowrap;
        &:after {
          content: "";
          height: 1.1rem;
          width: 0.9rem;
          margin-left: .5rem;
          display: block;
          position: absolute;
          right: 1.2em;
          top: 2.2rem;
        }
        // TODO find out why this is necessary
        .ie9 &{
          &:after {
            width: 1.5rem;
          }
        }
      }
      &.sort-asc {
        &:after {
          @include svg(arrow-narrow-up-teal);
        }
      }
      &.sort-desc {
        &:after {
          @include svg(arrow-narrow-down-teal);
        }
      }
    }
  }
  tr {
    background-color: $white;
    &:nth-child(even) {
      background-color: $newGrayLightest;
    }
  }
  th {
    vertical-align: top;
    color: red;
    font-weight: $medium;
    text-align: left;
    padding: 2rem 1.2rem;
    border-right: 1px solid $newGrayLight;
    &:first-child {
      padding-left: 3.9rem;
    }
    &:last-child {
      border-right: 0;
    }
  }
  td {
    border-right: 1px solid $newGrayLight;
    max-width: 33rem;
    vertical-align: top;
    padding: 2rem 1.2rem;
    &:last-child {
      border-right: 0;
    }
    &.sorting {
      width: 10rem;
      vertical-align: top !important;
    }
    &.centered {
      vertical-align: middle;
      text-align: center;
    }
    a {
      @extend %bare-link;
    }
  }
}

// <div> or <a>
// Lives inside tbody>tr>th
.table--heading {
  @extend %kilo;
  @extend %truncated;
  @include font-head;
  display: block;
  width: 21rem;
  text-transform: uppercase;
}

// Dear SASS, it would be great if something like 'a&'
// would work nested inside the above block
a.table--heading {
  @extend %bare-link;
  text-decoration: none;
}