@import "variables";
@import "mixins";
@import "patterns";

// Form Patterns
// --------------------------
%form-unit {
  padding-bottom: 2em;
}

%proto-input {
  //  @include box-sizing(content-box);
  height: 2.12em;
  padding: 0px 0px 0px .5em;
  outline: none;
  @include font-body;
  font-size: $eta;
  color: $grayDark !important;
  border: 1px solid $grayMedium;
}

%input-full-width {
  width: 100%
}

.drawer-input-label {
  @extend %label;
  font-size: $kappa;
  color: $white;
  text-transform: none;
}

.drawer-input {
  @extend %proto-input;
  height: auto;
  margin-bottom: 1em;
  padding: .25em .5em;
  font-size: $iota;
  width: 100%;
  margin-top: .4em;
}

// Forms
// --------------------------

form.formgrid, div.fake-formgrid {
  margin-left: -$formPadding;
  margin-right: -$formPadding;
  margin-bottom: -2em;
}

form.formgrid-tight {
  margin: 0
}

.formgrid--messaging {
  @extend %form-wide-one-whole;
  @extend %form-unit;
}

fieldset {
  border: none;
  padding: 0;
}

fieldset + fieldset {
  margin-top: $verticalSpace;
}

.formgrid {

  label, .label {
    @extend %label;
    display: block;
    margin-bottom: $verticalSpaceTightest;
  }

  p {
    margin-bottom: $verticalSpaceTightest;
  }
  .label-tight {
    margin-bottom: 0;
  }
  .label-inline {
    font-weight: $regular;
  }

  small {
    font-size: $kappa;
    margin-top: $verticalSpaceTightest;
    display: block;
  }

  &.whole {
    @extend %form-wide-one-whole;
    @extend %form-unit;
  }
  &.two-thirds {
    @extend %form-wide-two-thirds;
    @extend %form-unit;
  }
  &.half {
    @extend %form-wide-one-half;
    @extend %form-unit;
  }
  &.third {
    @extend %form-wide-one-third;
    @extend %form-unit;
  }
  &.three-fourths {
    @extend %form-wide-three-fourths;
    @extend %form-unit;
  }
  &.fourth {
    @extend %form-wide-one-fourth;
    @extend %form-unit;
  }
  &.sixth {
    @extend %form-wide-one-sixth;
    @extend %form-unit;
  }

  &.submit-row {
    margin-top: $verticalSpaceTightest * 2;
    margin-bottom: 1em;
  }

}

.formgrid, .formgrid-input {
  select {
    @extend %input-full-width;
    border-radius: 0;
    display: block;
    height: 2.4em;
    color: $grayDark;
    text-decoration: none;
    background-color: $white;
    padding: 0 0 0 1em;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    border-left: 1px solid $grayMedium;
    border-right: 1px solid $grayMedium;
  }

  input[type=text], textarea, input[type=password], input[type=number], input[type=email] {
    @extend %proto-input;
    @extend %input-full-width;
  }
  .checkbox-list + .checkbox-list {
    margin-top: 1em;
  }
  .checkbox-list {
    @extend %unstyled-list;
    @include clearfix();
    padding: 0;
    margin: 0;
    small {
      padding-left: 1.55em;
    }
    li + li {
      margin-top: 1em;
    }
    &.checkbox-list-floated {
      li {
        @extend %form-wide-one-fourth;
        padding-left: 0;
      }
    }
  }
  .form-hrule {
    @include clearfix();
    font-weight: bold;
    border-bottom: 1px solid $grayMedium;
    padding: .5em 0;
  }
  .checkbox-separator {
    margin: 1em 0;
    font-style: italic;
  }
  .checkbox-wrap,  {
    @include clearfix();
    border-top: 1px solid $grayMedium;
    padding: .5em 0;
  }
  .checkbox-list, .checkbox-wrap {
    label {
      text-transform: none;
      font-size: 1em;
      color: inherit;
    }
  }
  textarea {
    resize: none;
    height: 6em;
    padding: .5em;
  }
}

.field_with_errors {
  input[type=text], textarea {
    border: 1px solid $red !important;
  }
}

// Misc. Form Related Styles
// --------------------------
.file-input-container {
  display: inline-block;
  // margin-top: 1rem;
  position: relative;
  cursor: pointer;
  input {
    @extend %hidden-text;
    opacity: 0;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
    &:hover + a {
      text-decoration: underline;
    }
  }
}

$spacingUnit: $mediumUnitPadding * .75;

.oneline--input {
  .button-wrapper {
    float: right;
    //    @include respond($vostok - 1) {
    //      display: none;
    //    }
  }
  .button-wrapper-responsive {
    display: none;
    margin-top: $spacingUnit;
    //    @include respond($vostok - 1) {
    //      display: block;
    //    }
  }
  .input-wrapper {
    padding-right: $spacingUnit;
    overflow: hidden;
    textarea {
      width: 100%;
      line-height: $theta;
      font-size: $theta;
    }
  }
}

select.month, select.day, select.year {
  width: 32.7%;
}

select.from, select.to {
  width: 48%;
}

.live-search {
  position: relative;
  .live-search--results {
    position: absolute;
    z-index: 100;
    background: $white;
    @include font-body;
    font-size: $iota;
    color: $grayDark !important;
    border: 1px solid $grayMedium;
    border-top: 0;
    padding: 1em;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 200px;
    .whole & {
      width: 100%;

    }
    ul {
      @extend %unstyled-list;
      margin-bottom: 0;
      li {
        padding: 0 0 .5em 0;
      }
      li + li {
        padding: .5em 0em;
      }
    }
  }
}

.file-input:first-child {
  margin-top: 0;
}
.file-input {
  border: 1px solid $grayMedium !important;
  height: 38px;
  @include clearfix();
  a {
    height: 36px;
    &:hover {
      background-color: $tealDark;
      border: 1px solid $tealDark;
    }
  }
  input {
    width: 70% !important;
    border: 0 !important;
    background-color: $white;
    color: $white;
    font-weight: $regular;
    height: 36px !important;
    padding-left: .6em;
    display: block;
    float: left;
    &:focus {
      outline: none;
      outline-width: 0;
    }
  }
  a {
    float: right;
  }
}

// new rubric forms
.new-rubric-form {
  input[type="text"] {
    border: 1px solid $grayMedium;
    width: 70%;
  }
  .rubric-name {
    margin-bottom: 20px;
    font-size: 24px;
    padding-bottom: 0;
  }
}

// avatar upload
.formgrid label.file {
  position: relative;
  display: block;
  font-size: 16px;
  cursor: pointer;

  .file-delete {
    display: none;
  }

  .preview-image {
    max-height: 100px;
    margin-bottom: 10px;
    display: inline-block;
  }

  .file-overlay {
    position: relative;
    display: inline-block;
    font-size: 1.125em;
    height: 2.12em;
    padding: 10px;
    width: 100%;
    border: 1px solid $grayMedium;
    text-transform: none; // OD
    white-space: nowrap;
    overflow: hidden;

    &::after {
      @extend %primary-button;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      padding-top: 10px;
      content: 'Browse';
    }
  }

  input {
    position: absolute;
    top: 0;
    left: 0;
    // Local z-index
    width: 100%;
    height: 100%;
    outline: 0;
    opacity: 0;
  }

  .input-message {
    text-transform: none;
    font-size: .813em;
    margin-top: 0.5em;
  }

  .file-clear {
    position: relative;
    vertical-align: bottom;
    margin-top: 8px;
    border: 0;
    outline: 0;
    background-color: transparent;
    font-size: .875em;
    text-transform: uppercase;
    padding: 0;
    // Local z-index, appears above file input
    z-index: 5;
    &:hover {
      color: $tealLight;
    }
  }
}
