@import "variables";
@import "mixins";
@import "patterns";

// Form Patterns
// --------------------------
%form-unit{
  padding-bottom: 1em;
}

%proto-input {
//  @include box-sizing(content-box);
  @include font-body;
  color: $grayDark;
  font-size: $iota;
  height: 2.6em;
  padding: 0px 0px 0px 1em;
  outline: none;
  border: 1px solid $grayMedium;

}

%input-full-width {
  width: 100%
}

// Forms
// --------------------------

form.formgrid {
  margin-left: -$formPadding;
  margin-right: -$formPadding;
}
fieldset {
  border: none;
  padding: 0;
}

div.formgrid {

  label {
    display: block;
    margin-bottom: $verticalSpaceTightest;
  }

  small {
    font-size: $kappa;
    margin-top: $verticalSpaceTightest;
    display: block;
  }

  select {
    @extend %input-full-width;
  }

  input[type=text] {
    @extend %proto-input;
    @extend %input-full-width;
  }

  &.whole {
    @extend %form-wide-one-whole;
    @extend %form-unit;
  }
  &.two-thirds {
    @extend %form-wide-two-thirds;
    @extend %form-unit;
  }
  &.half {
    @extend %form-wide-one-half;
    @extend %form-unit;
  }
  &.third {
    @extend %form-wide-one-third;
    @extend %form-unit;
  }
}


