@import "variables";
@import "mixins";
@import "patterns";

// A more responsive approach for later...
//$container: 100%;
//$columns: 7;
//$columnWidth: $container / $columns;

$columns: 5;
$flexibleColumnWidth: 100% / $columns;
$container: $containerWidth;
$columnWidth: ($container / $columns) - 12;

.matrix-detail {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 200;
  background: $white;
}

.matrix-wrapper {
  position: relative;
  @include clearfix(heavy);

  .matrix-wrapper--creators {
    float: left;
    width: $flexibleColumnWidth;
    @include respond($vostok) {
      width: $flexibleColumnWidth * 1.5;
    }

    th {
      width: auto !important;
      min-width: 100px;
      max-width: none !important;
    }
  }

  .matrix-wrapper--body {

    float: left;
    width: $flexibleColumnWidth * ($columns - 1);
    overflow-x: hidden;
    overflow-y: hidden;
    @include respond($vostok) {
      width: $flexibleColumnWidth * ($columns - 1.5);
    }
    .matrix-body {
      position: relative;
    }

  }
  .matrix-wrapper--projects {
  }
  .matrix-cells-wrapper {
  }
}

%matrix-nav-button {
  height: 100%;
  border: none;
  background: $black;
  width: 60px;
  outline: 0;
  @include respond($vostok) {
    width: 20px;
  }
  position: absolute;
  opacity: .4;
  z-index: 199;
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: 1.25em;
    left: .75em;
    height: 2.5em;
    width: 2.5em;
  }
}

.matrix-cells-wrapper--back {
  left: $flexibleColumnWidth;
  @extend %matrix-nav-button;
  &::after {
    @include svg(arrow-left-white-tall);
  }
}

.matrix-cells-wrapper--forward {
  right: 0;
  &::after {
    @include svg(arrow-right-white-tall);
  }
  @extend %matrix-nav-button;
}

.matrix-col-headers, .matrix-cells {
  border-left: 1px solid $grayLight;
}



.matrix {
  thead {
    th {
      @include font-head;
      text-align: left;
      font-size: $epsilon;
      padding: 20px;
      position: relative;
      @include respond($vostok) {
        padding: .5em;
      }
      text-transform: none;
      font-weight: $regular;
      letter-spacing: 0;
    }
  }

  th.matrix--fullbleed {
    .matrix--padded {
      z-index: 2;
      padding: 20px;
    }
    padding: 0 0 30px 0;
  }
}
.matrix-groups thead th {
  .matrix--column-header-instruction {
    position: absolute;
    display: block;
    width: 100%;
    bottom: 0;
    padding: 10px 20px;
    background: $grayLight;
    color: $white;
    font-weight: $semibold;
    font-size: .5em; // 12px
    @include font-body;
    text-transform: uppercase;
  }

}

.matrix {
  tbody {
    th {
      .matrix-tight & {
        padding: .25em;
        height: 3em;
      }
      vertical-align: middle;
      font-weight: $regular;
      font-size: $theta; // Baseline height for the cell is 16px. Need the same baseline in the row headers
      height: 100px;
      padding: 1.5em;
      @include respond($vostok) {
        padding: .5em;
        height: 100px;
      }

    }
    td {
      .matrix-tight & {
        padding: .25em;
        height: 3em;
      }
      .matrix-groups & {
        padding: 0 20px;
      }
      white-space: nowrap;
      font-size: $theta; // Baseline height for the cell is 16px. Need the same baseline in the row headers
      height: 100px;
      padding: .5em;
      vertical-align: middle;
    }
  }

  .cell--container {
    text-align: center;
    @include clearfix(hard);
  }
  dl {
    display: inline-block;
    vertical-align: top;
    margin-left: 3%;
    margin-right: 3%;
    @include respond($onega) {
      width: 47%;
    }
    &:last-child {
      @include respond($onega) {
        display: none;
      }
    }
    dt {
      margin-bottom: 20%;
      @include font-head;
      font-weight: $semibold;
      text-transform: uppercase;
      text-align: center;
      color: $grayMediumLighter;
      font-size: $lambda-minor;
    }
    dd {
      @include font-matrix;
      line-height: .85em;
      text-align: center;
      font-size: $delta;
      font-weight: $regular;
      color: $grayLighter;
      margin: 0;
      b.matrix--scored {
        font-weight: normal;
        color: $grayMediumDarker;
      }
      b.matrix--check {
        margin: auto;
        height: .55em;
        margin-top: .225em;
        @include svg(check-gray);
        display: block;
      }
      b.matrix--checkbox {
        cursor: pointer;
        margin-top: -1px;
        height: .80em;
        @include svg(checkbox-unchecked-gray);
        display: block;
        &.checked {
          @include svg(checkbox-checked-gray);
        }
      }

    }
  }
}


