@import "variables";
@import "mixins";
@import "patterns";


// Headers
.heading-primary {
  @extend %condensedHeading;
  @extend %spacedHeading;
  font-size: $gamma;
  color: $grayDark;
}

.heading-secondary {
  @extend %condensedHeading;
  font-size: $gamma;
  color: $grayMedium;
}

.heading-tertiary {
  @extend %spacedHeading;
  @extend %condensedHeading;
}

