@import "variables";
@import "mixins";
@import "patterns";

// Table
// --------------------------
.table-wrapper {
}


// <table>
.table {
  width: 100%;
  thead {
    tr {
    }
    th {
      background-color: $grayLightest;
      // Prevents border hiding in IE
      z-index: -1;
      @include font-body;
      font-weight: $regular;
      text-transform: uppercase;
      font-size: $kappa;
      color: $black;
      letter-spacing: 0;
    }
  }
  tbody {
    tr {
      th, td {
        background-color: $white;
      }
      &:nth-child(even) {
        th, td {
          background-color: $grayLightest;
        }
      }
    }
  }
  th {
    vertical-align: top;
    font-weight: $semibold;
    text-align: left;
    padding: 1em;
    border-right: 1px solid $grayLight;
    &:last-child {
      border-right: 0;
    }
  }
  td {
    border-right: 1px solid $grayLight;
    vertical-align: top;
    padding: 1em;
    &:last-child {
      border-right: 0;
    }
    &.centered {
      vertical-align: middle;
      text-align: center;
    }
  }
}


// Dear SASS, it would be great if something like 'a&'
// would work nested inside the above block
a.table--heading {
  @extend %bare-link;
  text-decoration: none;
}