@import "variables";
@import "mixins";
@import "patterns";

// Table
// --------------------------
.table-wrapper {
}

// <table>
.table {
  width: 100%;
  thead {
    tr {
    }
    th {
      border-bottom: 1px solid $grayLight;
      background-color: $grayLightest;
      @extend %label;
      color: $grayMediumDarker;
    }
  }
  tbody {
    tr {
      th, td {
        vertical-align: middle;
        background-color: $white;
      }
      &:nth-child(even) {
        th, td {
          background-color: $grayLightest;
        }
      }
    }
  }
  th {
    vertical-align: top;
    font-weight: $semibold;
    text-align: left;
    padding: 1em;
    border-right: 1px solid $grayLight;
    &:last-child {
      border-right: 0;
    }
    small {
      font-weight: $regular;
      font-size: $iota;
    }
  }
  td {
    border-right: 1px solid $grayLight;
    vertical-align: middle;
    padding: 1em;
    &:last-child {
      border-right: 0;
    }
    &.centered {
      vertical-align: middle;
      text-align: center;
    }
  }
}

.column-tight {
  width: 10%;
}

.table-white-head {
  border-bottom: 1px solid $grayLight;

  thead {
    tr {
      th {
        border-top: 1px solid $grayLight;
        background-color: $white;
      }
    }
  }
  tbody {
    tr {
      th, td {
        background-color: $grayLightest;
      }
      &:nth-child(even) {
        th, td {
          background-color: $white;
        }
      }
    }
  }
}

.table-sortable {
  table-layout: fixed;
  tr {
    width: 100%;
  }
}

.row-handle {
  padding: .25em !important;
  cursor: move;
  thead & {
    cursor: auto;
  }
  tr:hover &, .ui-sortable-helper & {
    thead & {
      background-color: $grayLighter !important;
    }
    background-color: $grayLight !important;
    span {
      display: block;
      @include svg(table-handle);
    }
  }
  span {
    display: block;
    height: 30px;
  }
  width: 20px;
  background-color: $grayLighter !important;
}



// Dear SASS, it would be great if something like 'a&'
// would work nested inside the above block
a.table--heading {
  text-decoration: none;
}

.table-rubric {
  tbody tr td {
    vertical-align: top;
  }
}

.pagination-nav {
  margin-top: 1em;
  .pagination-nav--prev-next {
    float: left;
  }
  .pagination-nav--pages {
    float: right;
    li {
      display: inline-block;
      float: left;
      a, span {
        @extend %proto-button;
        font-weight: $regular;
        background-color: $grayLightest;
        color: $grayDark;
        margin: 0;
      }
      span {
        &:hover, &:focus {
          color: $grayDark;
        }
      }
      &.active span {
        color: $white;
        background-color: $primaryButtonColor;
      }
      a:hover {
        color: $white;
        background-color: $primaryButtonHoverColor;
      }
    }
  }


}
