@import "variables";
@import "mixins";
@import "patterns";

.authentication-footer {
  margin-top: 2em;
  ul {
    @extend %unstyled-list;
    li {
      @extend %label;
      margin-bottom: .5em;
      text-transform: none;
    }
  }
  a {
    color: $grayMediumDarker;
    text-decoration: underline;
    &:hover {
      color: $tealLight;
    }
  }
}
footer.login-page-footer {
  position: fixed;
  bottom: 50px;
  color: $grayMediumDarker;
  a {
    color: $grayLight;
    &:hover {
      color: $tealLight;
    }
  }
  .baruch-logo {
    max-width: 200px;
    margin-bottom: 20px;
  }
}
.login-title {
  span, a {
    font-size: $delta;
    color: $grayLight;
    font-weight: $semibold;
  }
  a:hover {
    color: $tealLight;
  }
}
.authentication-tile {
  width: 300px;
  .next-button:hover {
    background-color: $tealDark;
    border: 1px solid $tealDark;
    &:after {
      @include svg(circle-right-arrow-teal-on-white);
    }
  }
  .post-button:hover {
    background-color: $tealDark;
    border: 1px solid $tealDark;
  }
  .submit-row {
    margin-top: .25em;
  }
  .formgrid {
    padding-bottom: 1.25em;
    input[type="text"], input[type="password"] {
      border: 1px solid $white;
      color: $white !important;
      background: $grayDarker;
      &::-webkit-input-placeholder {
        color: $grayLight;
      }
      &:-moz-placeholder {
        /* Firefox 18- */
        color: $grayLight;
      }
      &::-moz-placeholder {
        /* Firefox 19+ */
        color: $grayLight;
      }
      &:-ms-input-placeholder {
        color: $grayLight;
      }
      &:focus {
        background: #414141;
      }
    }
    label {
      text-transform: none;
      color: $white;
    }
    .placeholder-fallback {
      text-transform: uppercase; //OD
      display: none;
      .ie9 & {
        display: block;
      }
    }
  }
}
