// Components
// ----------

// Page level components
// --------------------------------------------------------
.container {
  @extend %clearfix;
  @extend %shaded-sides;
    width: $mainWidth;
  background-color: $beige;
    margin: 0 auto;
  body.course-map & {
    overflow: visible;
  }
  .authentication & {
    @include box-shadow(none);
    background-color: transparent;
    margin-top: 8.5rem;
  }
}

// Page banner
// --------------------------
.page-banner {
  width: 100%;
  min-width: $mainWidth;
    height: 3.4rem;
  background-color: $tealLight;
    padding: 0.9rem 0;
  position: relative;
  z-index: 250;
}

.page-banner--logo {
    @extend %center;
    display: block;
    height: 1.6rem;
}

// Page header
// --------------------------
.page-header {
  width: 100%;
  min-width: $mainWidth;
  height: $headerHeight;
  position: absolute;
  z-index: 200;
  &.stuck {
    position: fixed;
    top: 0;
    .course-map & {
      position: absolute;
      top: auto;
    }
  }
  .role-admin.no-course & {
    height: 7.8rem;
  }
}

// Primary nav
// --------------------------
.primary-nav {
  @extend %shaded-top;
  background-color: $grayDark;
  margin: 0 auto;
  position: relative;
  z-index: 220;
}

.primary-nav--wrapper {
  width: $mainWidth;
  height: $headerHeight;
  margin: 0 auto;
  position: relative;
  .role-admin.no-course & {
    height: 7.8rem;
  }
}

// Course selector
// ------------
.course-selector {
  position: absolute;
  top: 2.3rem;
  left: 2rem
}

.course-selector--toggle {
  @extend %dropdown-toggle;
}

.course-selector--dropdown {
  @extend %dropdown;
}

// User selector
// ------------
.user-selector {
  margin-right: 6.4rem;
  position: absolute;
  top: 2.3rem;
  right: 2rem;
}

.user-selector--toggle {
  @extend %dropdown-toggle;
}

.user-selector--dropdown {
  @extend %dropdown-right;
}

.primary-nav--avatar {
  @extend %round-avatar;
  position: absolute;
  top: -0.7rem;
  right: -6.4rem;
}

// Adaptive nav
// Lives inside .primary-nav
// --------------------------
.adaptive-nav {
  position: absolute;
  bottom: 2rem;
  left: 6.3rem;
  .role-admin.no-course & {
    left: 2rem;
  }
}

.adaptive-nav--list {
  @extend %piped-list;
  margin: 0;
  left: 0;
  &>li {
    @extend %dropdown-container;
    color: $grayLight;
    &>a {
      @extend %gamma;
      @extend %bare-link;
      @extend %bare-focus;
      line-height: 1;
      &:hover,
      .open & {
        color: $orange;
      }
    }
  }
  &>li + li {
    margin-left: 4.2rem;
  }
}

// .adaptive-nav--link {
//   @extend %gamma;
//   @extend %bare-focus;
//   line-height: 1;
//   &:hover,
//   .open & {
//     color: $orange;
//   }
// }

.adaptive-nav--dropdown {
  @extend %dropdown;
}

// Shortcut nav
// --------------------------
.shortcut-nav {
  @extend %shaded-top;
  @extend %shaded-bottom;
  @include transition(0.2s top ease-out);
  height: 10.2rem;
  background-color: $grayDarker;
  position: relative;
  top: -10.2rem;
  z-index: 210;
  &.visible {
    top: 0;
  }
  &.invisible {
    display: none;
  }
}

.shortcut-nav--wrapper {
  width: $mainWidth;
  height: 100%;
  padding: 2.5rem 2rem 0;
  margin: 0 auto;
  position: relative;
}

.shortcut-nav--item {
  float: left;
  & + & {
    margin-left: 3.4rem;
  }
}

// This styles the title for each .shortcut-nav--item
.shortcut-nav--title {
  @extend %epsilon-caps;
  color: $grayLight;
  margin-bottom: 0.7rem;
}

// Lives inside .primary-nav
.shortcut-nav--toggle {
  @extend %hidden-text;
  @extend %bare-focus;
  @include svg(square-arrow-down-gray);
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  color: $grayDarkest;
  position: absolute;
  bottom: 1.5rem;
  left: 2rem;
  &:hover {
    @include svg(square-arrow-down-orange);
  }
  &.active {
    @include svg(square-arrow-up-black);
    &:hover {
      @include svg(square-arrow-up-orange);
    }
  }
}

// Assignment selector
// ------------
.assignment-selector {
  @extend %dropdown-container;
}

.assignment-selector--toggle {
  @extend %dropdown-toggle-dark;
}

.assignment-selector--dropdown {
  @extend %dropdown;
  top: 5.4rem;
}

// Peer selector
// ------------
.peer-selector {
  @extend %dropdown-container;
}

.peer-selector--toggle {
  @extend %dropdown-toggle-dark;
}

.peer-selector--dropdown {
  @extend %dropdown;
  top: 5.4rem;
}

// Help nav
// ------------
.help-nav {

}

.help-nav--list {
  @extend %piped-list;
  padding: 0.7rem 0 0.6rem;
  margin: 0;
  li {
    @extend %gamma;
    color: $grayLight;
  }
  li + li {
    margin-left: 4rem;
  }
  a {
    @extend %bare-link;
    @extend %orange-hover;
  }
}

.help-nav--label {
  @extend %active-label;
  @extend %no-select;
  position: relative;
  cursor: pointer;
}

// Lives inside .help-nav--label
.help-nav--checkbox {
  @extend %round-checkbox;
}

// Lives inside .help-nav--label
.help-nav--checkbox-text {
  margin-left: 0.7rem;
}

// Page content
// --------------------------------------------------------
.page-content {
  background-color: $beige;
  margin-top: $headerHeight;
  position: relative;
  z-index: 100;
  .role-admin.no-course & {
    margin-top: 7.8rem;
  }
}

.page-content--frame {
  padding: 3.2rem 3.2rem 0rem 3.2rem;
  &:last-child {
	padding-bottom: 3.2rem;
  }
}

p {
  margin-bottom: 1.6rem;
}

// Generic content
// --------------------------------------------------------
// Can live inside any container
.content-frame {
  @extend %frame;
}

// Bar header
// NB the only link that should be included as a direct child of this
// is a button, like .teal-plus-button or .teal-arrow-button
// --------------------------
.bar-header {
  @extend %clearfix;
  @extend %shaded-bottom;
  background-color: $tealLightestAlt;
  border-bottom: 0.10rem solid $tealLightestAlt;
  padding: 2.4rem 3.9rem;
  position: relative;
  z-index: 310;
  > a {
    margin-left: 0.6rem;
    float: right;
  }
  // NB there are context-specific styles for alerts
  // nested inside the %alert (in patterns) & .alerts (below)
}

.bar-header--title {
  @extend %heading-gamma-sup;
  color: $tealMedium;
  padding: 0.7rem 0;
  float: left;
  // .with-link & {
  //   max-width: 50%;    
  // }
}

.bar-header--title-alt {
  @extend %alpha;
  vertical-align: top;
  color: $grayDark;
  font-weight: $bold;
  padding: 0.3rem 1.2rem 0.3rem 0;
  float: left;
}

.bar-header--subtitle {
  @extend %alpha;
  @include font-head;
  vertical-align: top;
  text-transform: uppercase;
  color: $tealMedium;
  line-height: 1;
  padding: 0.7rem 0 0.3rem 1.2rem;
  border-left: 0.1rem solid $tealMedium;
  float: left;
}

.matrix--overlay-header-subtitle {
  @extend %truncated;
}

.bar-header--text-link {
  @extend %heading-epsilon;
  @extend %bare-link;
  line-height: 1.1;
  color: $tealMedium;
  margin: 0.9rem 0.6rem;
}

.bar-header--description {
  width: 50%;
  float: left;
  clear: left;
}

// Button header
// NB only one link should be included as a direct child of this,
// preceding .button-header--title
// --------------------------
.button-header {
  margin-bottom: 1.6rem;
  &>a {
    @extend %large-gray-button;
    display: inline-block;
    vertical-align: top;
    margin-right: 0.9rem;
  }
}

.button-header--title {
  @extend %heading-mega-sup;
  display: inline-block;
  padding: 0.2rem 0 0.1rem;
}

// Table
// --------------------------
.table-wrapper {
  margin: 0 -3.2rem;  
}

// <table>
.table {
  width: 100%;
  border-top: 0.1rem solid transparentize($tealLight, 0.5);
  border-bottom: 0.1rem solid $tealLighter;
  thead {
    border-bottom: 0.1rem solid transparentize($tealLight, 0.5);
    tr {
      background-color: $tealLightest;
    }
    th {
      @extend %heading-epsilon;
      height: 3.6rem;
      border-left: 0.1rem solid transparentize($tealLight, 0.5);
    }
  }
  tr {
    background-color: #d4d1d1;
    &:nth-child(even) {
      background-color: #dddada;
    }
  }
  th {
    vertical-align: top;
    color: $tealMedium;
    text-align: left;
    padding: 2rem 1.2rem;
    &:first-child {
      padding-left: 3.9rem;
    }
  }
  td {
    @extend %delta;
    max-width: 33rem;
    vertical-align: top;
    padding: 2rem 1.2rem;
    border-left: 0.1rem solid transparentize($tealLight, 0.5);
    a {
      @extend %bare-link;
      @extend %orange-hover;
    }
  }
}

// <div> or <a>
// Lives inside tbody>tr>th
.table--heading {
  @extend %kilo;
  @extend %truncated;
  @include font-head;
  display: block;
  width: 21rem;
  text-transform: uppercase;
}

// Dear SASS, it would be great if something like 'a&'
// would work nested inside the above block
a.table--heading {
  @extend %orange-hover;
  @extend %bare-link;
  text-decoration: none;
}

// Pagination nav
// --------------------------
.pagination-nav {
  background-color: $tealLightestAlt;
  padding: 2rem 3.9rem;
  ul {
    @extend %piped-link-list;
    margin: 0;
  }
}

// Tab nav
// --------------------------
.tab-nav {
  ul {
    @extend %piped-link-list;
    margin: 0 0 1.6rem;
  }
}

// Frame header
// Can live inside any container which extends %frame
// --------------------------
.frame--header {
  @extend %clearfix;
  margin-bottom: 2.1rem;
  position: relative;
}

.frame--title {
  @extend %heading-beta-alt;
  display: inline-block;
  color: $teal;
  line-height: 1.35;
  margin-bottom: 1.25rem;
}

// Contains and positions buttons off to the right
.frame--header--buttons {
  float: right;
  &>a {
    // display: inline-block;
    // vertical-align: top;
    margin-left: 0.6rem;
  }
}

.frame--header--comments {
  @extend %floated-list;
  display: inline-block;
  margin: 0 0 -1.3rem 1.4rem;
  li {
    @extend %epsilon;
    @extend %speech-bubble;
  }
  li + li {
    margin-left: 0.6rem;
  }
}

.comment-indicator {
  @extend %epsilon;
  @extend %speech-bubble;
}


// Frame list
// Generic unstyled list with top borders on the <li>s
// --------------------------
.frame--list {
  @extend %unstyled-list;
  margin: 0;
  & .frame--list-item {
    padding-top: 1rem;
    padding-bottom: 3rem;
    border-top: 0.2rem solid $tealLightest;
    .heading-large {
      margin-bottom: 1rem;
    }
  }
}

// Forms
// --------------------------------------------------------
// Wraps label, input & message,
// or up to two .input-group-half
.input-group {
  @extend %clearfix;
  margin-bottom: 2.4rem;
  &.error {
    background-color: $redLight;
    margin-top: -1rem;
    margin-right: -1rem;
    margin-left: -1rem;
    padding: 1rem;
    border-radius: $radius;
  }
  .compact & {
    margin-bottom: 1.2rem;
  }
}


.input-group--third {
  width: 33%;
  float: left;
  padding-right: 2.1rem;
  &:nth-child(3) {
	padding: 0 0 0 2.1rem;
  }
  .input-group {
	margin-bottom: 0;
  }
}

.input-group--half {
  width: 50%;
  float: left;
  padding-right: 2.1rem;
  &:nth-child(2) {
    padding: 0 0 0 2.1rem;
  }
  .input-group {
    margin-bottom: 0;
  }
}

// Text inputs
// --------------------------
.text-label {
  @extend %heading-epsilon;
  display: block;
  color: $tealMedium;
  margin-bottom: 0.7rem;
}

.text-input {
  @extend %medium-text-input;
  width: 100%;
  &.inline {
    display: inline-block;
    vertical-align: top;
    width: 32rem;
    margin: 0 1rem 0 0;
  }
}

.text-area-input {
  @extend %text-area-input;
}

// Checkboxes
// --------------------------
.checkbox-label {
  @extend %no-select;
  display: block;
  width: 50%;
  max-width: 35rem;
  padding: 0 0.5rem 0 2.7rem;
  margin-bottom: 1rem;
  float: left;
  position: relative;
  cursor: pointer;
  .checkbox {
    @extend %multicolored-square-checkbox;
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 0;
    left: 0;
  }
  // Big checkbox, no label text
  &.oversized {
    width: 2.6rem;
    height: 2.6rem;
    padding: 0;
    margin-bottom: 0;
    .checkbox {
      @extend %multicolored-square-checkbox;
      width: 2.6rem;
      height: 2.6rem;
      & + b {
        width: 2.6rem;
        height: 2.6rem;
      }
    }
    .compact & {
      width: auto;
      height: 100%;
      text-align: center;
      padding: 0.6rem 0;
      float: none;
      .checkbox {
        display: inline-block;
        position: static;
        top: auto;
        left: auto;
        & + b {
          margin-left: -1.3rem;
          top: 0.6rem;
          left: 50%;
        }
      }
    }
  }
}

// Radio buttons
// --------------------------
%radio-label {
  @extend %no-select;
  display: block;
  width: 50%;
  max-width: 35rem;
  float: left;
  position: relative;
  cursor: pointer;
  [type="radio"],
  .radio {
    width: 1.7rem;
    height: 1.7rem;
    margin-right: 0.4rem;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.radio-label {
  @extend %radio-label;
  padding: 0 0.5rem 0 2.6rem;
  margin-bottom: 1rem;
  [type="radio"],
  .radio {
    @extend %multicolored-round-checkbox;
  }
}

.light-radio-label {
  @extend %radio-label;
  // @extend %active-label;
  padding: 0 0 0 2.4rem;
  // &:hover,
  // &.active {
  //   .light-radio-label--text {
  //     color: $orange;
  //   }
  // }
  [type="radio"],
  .radio {
    @extend %round-checkbox;
  }
}

.light-radio-label--text {
  @extend %heading-epsilon;
  display: inline-block;
  vertical-align: middle;
  color: $grayLighter;
}

// Select inputs
// --------------------------
.select-input {
  @include background-clip(padding);
  display: block;
  height: 2.8rem;
  color: $grayDark;
  background-color: $beigeLight;
  padding: 0.4rem 1.1rem 0.4rem 1.1rem;
  border-right: 0.2rem solid transparent;
  border-radius: $radius 0 0 $radius;
  margin-right: 3.6rem;
  position: relative;
  cursor: pointer;
  &:before {
    content: "";
    background-color: inherit;
    display: block;
    width: 3.6rem;
    border-radius: 0 $radius $radius 0;
    position: absolute;
    top: 0;
    right: -3.8rem;
    bottom: 0;
  }
  &:after {
    @include svg(arrow-down-grayDark);
    content: "";
    display: block;
    width: 1.8rem;
    height: 0.9rem;
    position: absolute;
    top: 1.1rem;
    right: -2.8rem;
  }
}

.select-input--value {
  display: block;
}

.select-input--dropdown {

}

// Messages & alerts
// --------------------------
.input-message {
  @extend %epsilon;
  display: block;
  font-style: italic;
}

.form-alert {
  @extend %mini-alert;
  padding: 1rem 5rem 1rem 5.7rem;
  margin: 0 0 2.4rem;
  position: relative;
  &:before {
    @include opacity(82);
    @include svg(error);
    content: "";
    display: block;
    width: 2.6rem;
    height: 2.4rem;
    position: absolute;
    top: 1rem;
    left: 1.6rem;
  }
  .close {
    @extend %solid-ex-button;
    position: absolute;
    top: 1.2rem;
    right: 1.4rem;
  }
}

// Portfolio
// --------------------------------------------------------
// .portfolio {

// }

.portfolio-frame {
  @extend %clearfix;
  padding: 3.4rem 0 2.4rem;
  border-bottom: 0.2rem solid $tealLightest;
  &:last-child {
    border-bottom: none;
  }
  .course-map & {
    @extend %frame;
    border-bottom: none;
  }
}

.constrained-portfolio-frame {
  @extend %constrained-frame;
}

// Frame attachment
// --------------------------
.frame-attachment {
  @extend %frame--left;

}

.frame-attachment--image {
  display: block;
  width: 100%;
  border: 0.1rem solid $grayLighter;
}

.frame-attachment--details {

}

.frame-attachment--link {
  @extend %heading-epsilon;
  @extend %arrow-link;
  margin-top: 2.2rem;
}

// Comments nav
// ------------
.comments-nav {
  margin-top: 0.9rem;
  ul {
    @extend %speech-bubble-list;
  }
}

// Frame summary
// --------------------------

// TODO assess .matrix--overlay specific styles;
// streamline where possible

.frame-summary {
  @extend %frame--right;
  position: relative;
}

.frame-summary--title {
  @extend %heading-giga;
  margin: 3.4rem 0 0.3rem;
  .matrix--overlay & {
    margin: 0 0 1rem;
  }
}

.frame-summary--project {
  @extend %heading-alpha;
  margin-bottom: 1.9rem;
}

.frame-summary--creator {
  @extend %gamma-sup;
  color: $grayLight;
  margin-bottom: 0.5rem;
}

.frame-summary--course {
  @extend %gamma-sup;
  color: $grayLight;
  margin-bottom: 1.4rem;
}

.frame-summary--aside {
  @extend %gamma-sup;
  color: $grayLight;
  margin-bottom: 1.9rem;
}

.frame-summary--link {
  @extend %heading-epsilon;
  @extend %arrow-link;
  margin-top: 0.3rem;
}

.frame-summary--status {
  @extend %heading-epsilon;
  @extend %check-indicator;
  float: right;
}

// Score list
// ------------
.frame-summary--score-list {
  @extend %score-list;
  margin-bottom: 1.9rem;
}

.frame-summary--evaluated {
  @extend %active-criterion;
}

.frame-summary--unevaluated {
  @extend %inactive-criterion;
}

.frame-summary--score--title {
  @extend %score--title;
}

.frame-summary--score--value {
  @extend %score--value;
}

// Evaluation detail
// --------------------------------------------------------
.evaluation-detail-frame {
  @extend %frame;
  &:nth-child(even) {
	background-color: $beigeLight;
  }
  &:nth-child(odd) {
	background-color: $beige;
  }
}

.evaluation-detail--header {
  @extend %horizontal-header;
}

.evaluation-detail--title {
  @extend %horizontal-header--title;
}

.evaluation-detail--subtitle {
  @extend %horizontal-header--subtitle;
}

// Project details
// --------------------------------------------------------
.project-detail-frame {
  width: 67.6rem;
  margin-bottom: 3.2rem;
  @include clearfix();
  h3 {
    margin-bottom: 1.6rem;
  }
  aside {
    margin-bottom: 1.6rem;
    background-color: #E6DFDE;
    padding: 1.6rem;
    p {
    margin: 0;
    }
  }
  .pie-wrapper {
    margin-bottom: 1.6rem;
  }

}

// Pie chart
// --------------------------------------------------------
// <figure>
.pie {
  width: 15.7rem;
  float: left;
  margin-right: 1.6rem;
  text-align: center;
  &:nth-child(4n) {
    margin-right: 0;
  }
  figcaption {
    min-height: 6rem;
  }
}

// Summary box
// --------------------------------------------------------
// <figure>
.summary-box {
  display: block;
  float: left;
  margin-right: 2rem;
  width: 12rem;
  figcaption {
    @extend %delta;
  	margin-top: .75rem;
  	color: $tealMedium;
  	text-align: center;
  }
  div {
  	padding: 0rem 2rem;
  	position: relative;
  	border-radius: $radius;
  	background-color: $tealLightestAlt;
  	text-align: center;
  	overflow: hidden;
  	@include font-head;
  	color: $tealMedium;
  	span {
      @include font-size(57.6);
  	  position: relative;
  	  top: 0.2rem;
  	}
  	b {
  	  display: block;
  	  position: absolute;
  	  left: 0;
  	  bottom: 0;
  	  border-bottom-left-radius: $radius;
  	  border-bottom-right-radius: $radius;
  	  width: 100%;
  	  background-color: $tealLightest;
  	}
  	small {
      @extend %mega-alt;
  	  vertical-align: top;
  	  position: relative;
  	  top: 0.6rem;
  	  left: 0.5rem;
  	}
  }
}

// Attachment
// --------------------------------------------------------
// <figure>
.attachment {
  @extend %annotated-media;
  margin-bottom: 1.6rem;
}

// Lives inside .attachment
// .box, for now
.attachment--left {
  @extend %annotated-media--object;
  overflow: hidden;
}

.attachment--left-wide {
  width: 100%
}

// <video>
.attachment--media {
  display: block;
  width: 100%;

  .player-container {
    height: 290px;
    .matrix--overlay & {
      height: 218px;
    }
  }

}

// Attachment placeholder
// --------------------------
// Lives inside .attachment--media & .frame-attachment
// Only visible when no video has been uploaded
// Thanks, Dave: http://daverupert.com/2012/04/uncle-daves-ol-padded-box/
// Also: lower your eyes in deference to THE GOLDEN RATIO.
%attachment-placeholder {
  height: 0;
  text-align: center;
  background-color: $tealLightest;
  padding-bottom: 61.8%;
  position: relative;
}

.attachment-placeholder {
  @extend %attachment-placeholder;
}

// Extended by .attachment-placeholder--button & .attachment-placeholder--message
%attachment-placeholder--item {
  margin-top: 30.9%;
  position: relative;
  // TODO adjust if %white-video-button changes height
  top: -1.7rem;
}

// Lives inside .attachment-placeholder
// NB top value must be equal to half the
// height of %white-video-button, but negative
// TODO test in browsers; it's almost certainly not going to work in IE7
.attachment-placeholder--button {
  @extend %attachment-placeholder--item;
  @extend %white-video-button;
}

.attachment-placeholder--message {
  @extend %attachment-placeholder--item;
  @extend %white-button;
}

// Annotations
// --------------------------
// Lives inside <figcaption> inside .attachment
.annotations {
  @extend %box;
  height: 100%;
  header {
    padding-right: 11.8rem;
  }
}

.annotations--title {
  @extend %box--title;
}

.annotations--link {
  @extend %box--link;
}

.annotations--content {
  @extend %box--scrolly-content;
}

.annotations--list {
  @extend %comment-list;
  padding-right: 1.6rem;
  p {
    @extend %gamma-sub;
    font-style: italic;
  }
}

.annotations--list--title {
  @extend %delta;
  color: $grayLight;
  margin-bottom: 0.7rem;
  span {
    font-weight: $medium;
  }
}

// Annotation input
// ------------
// <div>
// NB see pattern comments
.annotation-input {
  @extend %speech-bubble-input;
}

// Player Slider
// --------------------------------------------------------
.player-curtain {
  height: 31.8rem;
  text-align: center;
  background-color: $tealLightest;
}

.player-stage {
  width: 100%;
  height: 100%;
}

.player-scene {
  display: table;
  width: 100%;
  height: 100%;
  .text-input {
    width: 25rem;
    display: inline;
    margin: 0;
  }
  .wrap {
    display: table-cell;
    vertical-align: middle;
    p {
      margin: 0.8rem 0;
    }
  }
  .choice-button {
    @extend %white-button;
    display: inline-block;
    cursor: pointer;
  }
  .attachment-placeholder--button {
    margin-top: 0;
  }
}

// Scores
// --------------------------------------------------------
.scores {

}

.scores--link {
  @extend %heading-epsilon;
  @extend %arrow-link;
  margin-top: 1.8rem;
}

// Summary list
// --------------------------
.scores--summary-list {
  @extend %big-score-list;
}

.scores--evaluated {
  @extend %big-active-criterion;
}

.scores--unevaluated {
  @extend %big-inactive-criterion;
}

.scores--score-title {
  @extend %big-score--title;
}

.scores--score-value {
  @extend %big-score--value;
}

// Discussion
// --------------------------------------------------------
.discussion {

}

.discussion--item {
  @extend %clearfix;
  margin-bottom: 2.4rem;
}

// <div>
.discussion--input {
  padding-top: 0.5rem;
  margin-bottom: 1.5rem;
  textarea {
    @extend %reset-input;
    @extend %bare-focus;
    @include placeholder($beigeDark, italic);
    width: 100%;
    color: $grayDark;
    background-color: $beigeLight;
    border-radius: $radius;
    padding: 1rem;
    resize: none;
    // If we're inside an even (light-colored) frame,
    // the background-color should be inverted
    .evaluation-detail-frame:nth-child(even) & {
      background-color: $beige;
    }
  }
  .frame-light & {
    background-color: $beige;
  }
  .children-container & {
    margin-top: 1.5rem;
    border: 2px solid $beigeDark;
  }
}

.discussion--submit {
  @extend %small-teal-plus-button;
  float: right;
}

// Discussion list
// --------------------------
.discussion-list {
  @extend %unstyled-list;
  margin: 0;
  & & {
    margin-left: 5rem;
  }
  li {
    position: relative;
  }
  .alert-warning {
    margin-left: 0;
    margin-right: 0;
    margin-top: 2rem;
  }
}

.discussion-list--input-container {
  margin-left: 5rem;
}

.discussion-list--item {
  @extend %comment;
  margin-bottom: 2.4rem;
  position: relative;
  // If we're inside an even (light-colored) frame,
  // the background-color should be inverted
  .evaluation-detail-frame:nth-child(even) & {
    background-color: $beige;
  }
}

.discussion-list--header {
  @extend %avatar-header;
}

.discussion-list--name {
  @extend %avatar-header--title;
}

.discussion-list--timestamp {
  @extend %avatar-header--subtitle;
}

.discussion-list--link {
  @extend %heading-epsilon;
  @extend %bent-arrow-link;
}

// Scoring list
// --------------------------------------------------------
// <ul>
.scoring-list {
  @extend %unstyled-list;
  margin: 1.6rem 0 0;
  // Knocks down top margin when not preceded by a heading
  &:first-child {
    margin-top: 0.6rem;
  }
  li {
    @extend %clearfix;
    margin-bottom: 1.6rem;
  }
  .range-input {
    width: 84%;
    height: 3.4rem;
    float: left;
  }
}

.scoring-list--label {
  @extend %beta-alt;
  width: 84%;
  font-weight: $medium;
  text-align: right;
  color: $tealMedium;
  padding: 0.6rem 0;
  float: left;
}

.scoring-list--total-label {
  @extend %heading-beta-alt;
  width: 84%;
  color: $tealMedium;
  text-align: right;
  padding: 1.7rem 0 1.8rem;
  float: left;
}

.scoring-list--output {
  width: 16%;
  padding-left: 1.2rem;
  float: left;
}

// extended by .scoring-list--value & .scoring-list--ideal
%output-item {
  @extend %alpha;
  display: inline-block;
  vertical-align: top;
  width: 50%;
  height: 3.4rem;
  text-align: center;
  line-height: 1;
  padding: 0.6rem 0.2rem;
}

// Lives inside .scoring-list--output
// <input type="text">
.scoring-list--value {
  @extend %output-item;
  @extend %bare-focus;
  @extend %reset-input;
  color: $beigeLight;
  background-color: $tealLight;
  border-radius: $radius 0 0 $radius;
  &.input-focus {
	background-color: $teal;
  }
}

// Lives inside .scoring-list--output
.scoring-list--ideal {
  @extend %output-item;
  color: $tealMedium;
  background-color: $tealLightest;
  padding-top: 0.7rem;
  border-radius: 0 $radius $radius 0;
}

.scoring-list--total {
  @extend %alpha;
  height: 3.4rem;
  font-weight: $medium;
  text-align: center;
  line-height: 1;
  color: $beigeLight;
  background-color: $tealLight;
  padding: 0.6rem 0.2rem;
  border-radius: $radius;
}

.scoring-list--grand-total {
  @extend %heading-tera;
  height: 5.6rem;
  color: $beigeLight;
  text-align: center;
  background-color: $tealLight;
  padding: 0.5rem 0 0.2rem;
  border-radius: $radius;
  small {
    font-size: 66%;
    vertical-align: top;
    line-height: 1.1;
    padding-left: 0.2rem;
  }
}


.range-picker {
  height: 3.4rem;
  background-color: $tealLightest;
  border-radius: $radius;
  left: 0;
  right: 0;
  position: relative;
  .ticks {
    .mark {
      width: 1px;
      height: 3.4rem;
      background: white;
      position: absolute;
      text-align: center;
      span {
        display: block;
        position: absolute;
        margin-left: -50%;
        top: 3.4rem;
        font-size: .56em;
      }
    }
  }
  .dragger {
    position: absolute;
    cursor: pointer;
    width: 1px;
    height: 6.8rem;
    background-color: $tealLight;
    border-radius: $radius;
    top: -3.4rem;
    z-index: 30;
    &.dragger-active {
      z-index: 40;
    }
    &.dragger-low .dragger-label {
      left: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    &.dragger-high .dragger-label {
      left: -3.3rem;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &.dragger-locked {
      @include opacity(70);
      top: -3.7rem;
      z-index: 20;
      .dragger-label {
        top: -.2rem;
      }
    }

    .dragger-label {
      @include box-shadow(
          0.6rem 0 1rem 0 transparentize($black, 0.82)
      );
      @extend %heading-epsilon;
      @extend %shaded-inside-bottom;
      line-height: 1;
      color: $beigeLight !important;
      border-radius: $radius;
      width: 3.4rem;
      height: 3.4rem;
      background-color: $tealLight;
      position: absolute;
      top: -.5rem;
      left: -1.7rem;
      text-align: center;
      line-height: 3.4rem;
    }
  }
}


// Range inputs
// --------------------------
// This wraps .slider
.range-input {
  background-color: $tealLightest;
  border-radius: $radius;
  position: relative;
  overflow: hidden;
}

.range-input--title {
  @extend %beta-alt;
  @extend %no-select;
  color: $beigeLight;
  position: absolute;
  top: 0.6rem;
  left: 1.4rem;
  pointer-events: none;
}

// This markup is generated by the simple-slider jQuery plugin
// TODO fix unclickable right area due to margin
.slider {
  margin-right: 2.2rem;
  .track {
    height: 3.4rem;
    background-color: $tealLightest;
    border-radius: $radius;
    left: 0;
    right: 0;
  }
  .highlight-track {
    @include box-sizing(content-box);
    height: 3.4rem;
    background-color: $tealLight;
    padding-right: 1.1rem;
    border-radius: $radius 0 0 $radius;
  }
  .dragger {
    @include box-shadow(
      0.6rem 0 1rem 0 transparentize($black, 0.82)
    );
    width: 2.2rem;
    height: 3.4rem;
    background-color: $tealLight;
    border-right: 0.1rem solid lighten($tealMedium, 4%);
    border-radius: $radius;
    &:after {
      @include svg(three-lines-tealLightest);
      content: "";
      display: block;
      width: 1.2rem;
      height: 2.4rem;
      position: absolute;
      top: 0.5rem;
      left: 0.5rem;
    }
  }
}

// Authentication components
// --------------------------------------------------------
.authentication-tile {
  @extend %clearfix;
    @extend %centered-tile;
    background-color: $beige;
    padding: 4.8rem 5.2rem 4.8rem 27rem;
  margin-top: 2.7rem;
  position: relative;
  // Hide image and center content
  &.alt {
    padding-right: 14rem;
    padding-left: 14rem;
  }
}

.authentication-tile--image {
  width: 16rem;
  position: absolute;
  top: 7.6rem;
  left: 5.6rem;
  .alt & {
    display: none;
  }
}

.authentication-tile--input {
  @extend %white-text-input;
}

.authentication-tile--label {
  @extend %no-select;
  @include opacity(70);
  margin: 0.6rem 0;
  float: left;
  position: relative;
  cursor: pointer;
}

// Lives inside .authentication-tile--label
.authentication-tile--checkbox {
  @extend %gray-square-checkbox;
}

// Lives inside .authentication-tile--label
.authentication-tile--checkbox-text {
  color: $grayDark;
  margin-left: 0.7rem;
}

.authentication-tile--button {
  @extend %large-teal-button;
  @extend %reset-input;
  @extend %bare-focus;
  float: right;
}

.authentication-footer {
  @extend %clearfix;
    @extend %centered-tile;
  margin-top: 1.5rem;
}

.authentication-footer--list {
    @extend %piped-list;
  text-align: right;
  margin: 0;
  float: right;
  li {
    color: $grayLight;
  }
  li + li {
    margin-left: 3.6rem;
  }
  a {
    @extend %delta;
    @extend %orange-hover;
    @extend %bare-link;
  }
}

// Matrix
// --------------------------------------------------------
// Patterns
// --------------------------
// A unit that is one cell-width (any height)
%matrix--wide {
  width: $matrixCellWidth - .5rem;
}

// A unit that is one cell-height (any width)
%matrix--tall {
  height: 6.8rem;
  .editable & {
    height: 13.6rem;
  }
  .compact & {
    height: 5.8rem;
  }
}

// TODO hide right border
%matrix--slider {
  // width: $matrixOverlayWidth - 0.1rem;
  width: $matrixOverlayWidth;
  // margin-right: 0.1rem;
  overflow-x: hidden;
  ul {
//    @include transition(0.3s left ease-in-out);
    position: relative;
  }
}

// Components
// --------------------------
.matrix--delete {
  @extend %no-select;
  @extend %bare-ex-link;
  vertical-align: top;
  margin-left: 0.6rem;
  cursor: pointer;
  .compact .matrix--column-header--link & {
    margin: -1.6rem 0 0 0;
    position: absolute;
    top: 50%;
    right: 1rem;
  }
}

// Column header
// ------------
.matrix--column-header {
  @extend %shaded-bottom;
  width: $mainWidth;
  height: $subHeaderHeight;
  border-top: 0.1rem solid $tealLighter;
  position: absolute;
  z-index: 300;
  &.stuck {
    position: fixed;
    top: 0;
  }
}

// Wraps .matrix--column-header--list
.matrix--list-wrapper {
  @extend %matrix--slider;
  background-color: $tealLightestAlt;
  float: left;
  position: relative;
  z-index: 310;
  .matrix--overlay-open & {
    background-color: $tealLighter;
  }
}

.matrix--column-header--list {
  @extend %clearfix;
  @extend %floated-list;
  height: $subHeaderHeight;
  margin: 0;
  overflow: hidden;
  li {
    @extend %matrix--wide;
    height: 100%;
    border-right: 0.1rem solid $beigeDark;
    .editable & {
      display: table;
    }
  }
}

%matrix--column-header--item {
  @extend %mega;
  text-transform: uppercase;
  @include font-head;
  color: $tealMedium;
  line-height: 1;
  overflow: hidden;
}

.matrix--column-header--link {
  @extend %matrix--column-header--item;
  @extend %bare-link;
  @extend %box-link;
  padding: 1.4rem 1.6rem;
  // The span hides any column header text that exceeds it's height. Scott, perhaps there is a better way to set this height?
  span {
    display: block;
    height: 5.5rem;
    overflow: hidden;
    .compact & {
      @extend %truncated;
      height: 2.7rem;
      margin: 1.25rem 0;
    }
  }
  .compact & {
    padding-right: 4rem;
    position: relative;
  }
}

// NB only use this on 'editable' matrices
.matrix--column-header--editor {
  @extend %matrix--column-header--item;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  padding: 0 1.6rem;
}

.matrix--column-header--input {
  @extend %medium-text-input;
  display: inline-block;
  width: 18.5rem;
  margin-bottom: 0;
}

.matrix--controls {
  @extend %clearfix;
  @extend %shaded-inside-right;
  width: $matrixRowHeaderWidth;
  height: $subHeaderHeight;
  background-color: $tealLightestAlt;
  padding: 2.1rem 3.2rem 1.7rem 1.6rem;
  float: left;
  position: relative;
  z-index: 310;
}

%matrix--controls--item {
  @extend %no-select;
  @extend %bare-focus;
  @extend %hidden-text;
  display: block;
  width: 4.2rem;
  height: 4.2rem;
  float: right;
  &.inactive {
    @extend %inactive-link;
    @include opacity(25);
  }
  .matrix--overlay-open & {
    visibility: hidden;
  }
}

.matrix--previous {
  @extend %matrix--controls--item;
  @include svg(arrow-left-teal);
}

.matrix--next {
  @extend %matrix--controls--item;
  @include svg(arrow-right-teal);
  margin-left: 1.1rem;
}

// Overlay header
// ------------
// Lives inside .matrix--column-header
.matrix--overlay-header {
  width: $mainWidth - $matrixRowHeaderWidth;
  background-color: $tealLightestAlt;
  padding: 1.6rem 3.2rem 1.6rem 2.4rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: $matrixRowHeaderWidth;
  z-index: 320;
}

.matrix--overlay-header-close {
  @extend %hidden-text;
  @include svg(circle-x);
  display: block;
  width: 2rem;
  height: 2rem;
  margin: 1.4rem 0;
  float: left;
}

// Wraps .matrix--overlay-header-title & .matrix--overlay-header-subtitle
.matrix--overlay-header-wrapper {
}

.matrix--overlay-header-title {
  @extend %alpha;
  vertical-align: top;
  color: $grayDark;
  font-weight: $bold;
  margin: 1.1rem 1.2rem;
  float: left;
}

.matrix--overlay-header-subtitle {
  cursor: pointer;
  @extend %alpha;
  @extend %truncated;
  @include font-head;
  vertical-align: top;
  text-transform: uppercase;
  color: $tealMedium;
  line-height: 1;
  padding: 0.7rem 0 0.3rem 1.2rem;
  border-left: 0.1rem solid $tealMedium;
  margin: 0.8rem 0;
}


.matrix--overlay-header-selector-inline {
  & .matrix--overlay-header-subtitle,
  & .matrix--overlay-header-title {
    @include svg(arrow-down-gray);
  	background-size: 1.6rem 1.6rem;
  	background-position: right center;
    padding-right: 2.3rem;
  }
}

.matrix--overlay-header-selector {
  position: absolute;
  top: 2.4rem;
  right: 3.2rem;
}

.matrix--overlay-header-selector-inline {
  float: left;
  position: relative;
}

// Row header
// ------------
// Wraps .matrix--row-header
.matrix--name-nav {
  width: $matrixRowHeaderWidth;
  padding-top: $subHeaderHeight;
  position: absolute;
  left: 0;
  z-index: 150;
  &.stuck {
    position: fixed;
    margin: 0 auto;
    top: 11.6rem;
    left: auto;
  }
}


.matrix--row-header {
  position: relative;
  top: 0;
  ul {
    @extend %clearfix;
    @extend %unstyled-list;
    width: $matrixRowHeaderWidth;
    margin: 0;
  }
  li {
    @extend %matrix--tall;
    @extend %shaded-inside-right;
    @include transition(0.25s opacity ease-out);
    display: table;
    width: 100%;
    background-color: $beigeAlt;
    &:nth-child(even) {
      background-color: $beigeLightAlt;
    }
    &.matrix--group-title {
      background-color: #deedf4;
      &:nth-child(even) {
        background-color: #eaf3f8;
      }
      &.first {
        @extend %shaded-inside-top-right;
      }
      &:hover,
      &.active {
        background-color: $grayDarker;
      }
      .matrix--overlay-open & {
        background-color: mix($tealLightestAlt, black, 82%);
        &:nth-child(even) {
          background-color: mix(#d7dcdd, black, 82%);
        }
      }
    }
    &.matrix--row-spacer {
      &:hover {
        background-color: $beigeAlt !important;
      }
      &:nth-child(even) {
        &:hover {
          background-color: $beigeLightAlt !important;
        }
      }
    }
    .highlightable & {
      &:hover,
      &.selected,
      &.active {
        background-color: $grayDarker;
        a {
          color: $orange;
        }
      }
    }
    .matrix--overlay-open & {
      @include transition(0);
      @include opacity(50);
      &:hover,
      &.active {
        @include opacity(100);
      }
    }
  }
}

.matrix--row-header--item {
  display: table;
  width: 100%;
  height: 100%;
  a {
    @extend %beta;
    @extend %bare-focus;
    @extend %bare-link;
    display: table-cell;
    vertical-align: middle;
    width: $matrixCellWidth;
    font-weight: $bold;
    color: $tealMedium;
    padding: 0 1.6rem;
  }
  .editable & {
    display: table-cell;
    vertical-align: middle;
    padding: 0 2rem;
  }
}

.matrix--row-header--input {
  @extend %medium-text-input;
  display: inline-block;
  width: 12.2rem;
}

.matrix--row-header--label {
  @extend %alpha;
}

.matrix--overlay-open {
  .matrix--row-spacer {
    &:nth-child(odd),
    &:nth-child(odd) li {
      &:hover,
      &.active {
        background-color: #c4c0c0 !important;
      }
    }
    &:nth-child(even),
    &:nth-child(even) li {
      &:hover,
      &.active {
        background-color: #ccc8c8 !important;
      }
    }
    .matrix--cell {
      height: 100%;
    }
  }
}

// Content
// ------------
// Wraps .matrix--content
.matrix--body {
  @extend %clearfix;
  padding: $subHeaderHeight 0 0 ($matrixRowHeaderWidth);
  position: relative;
  border-bottom: 0.1rem solid transparentize($beigeDark, 0.1);
}

.matrix--content {
  @extend %matrix--slider;
  position: relative;
  z-index: 120;
}

// <ul>
.matrix--row {
  @extend %matrix--tall;
  @extend %floated-list;
  background-color: $beigeAlt;
  margin: 0;
  overflow-y: hidden;
  &:nth-child(even) {
    background-color: $beigeLightAlt;
  }
  &.matrix--group-row {
    background-color: #deedf4;
    &:nth-child(even) {
      background-color: #eaf3f8;
    }
    &.first {
      @extend %shaded-top;
    }
    &:hover,
    &.active {
      background-color: $grayDarker;
    }
  }
  &.matrix--row-spacer {
    &:hover {
      background-color: $beigeAlt !important;
    }
    &:nth-child(even) {
      &:hover {
        background-color: $beigeLightAlt !important;
      }
    }
    .matrix--cell {
      height: 100%;
    }
  }
  .highlightable & {
    &:hover,
    &.active {
      background-color: $grayDarker;
    }
  }
}

// <li> inside .matrix--row
.matrix--cell {
  @extend %matrix--wide;
  @extend %matrix--tall;
  padding: 1rem 0 1rem 1.6rem;
  border-right: 0.1rem solid transparentize($beigeDark, 0.1);
  cursor: pointer;
  a {
    display: block;
    float: left;
  }
  // Used on the rubric creation grid.
  p {
	margin: .6rem;
	@extend %delta;
	small {
	  display: block;
	  @extend %truncated;

	}
  }
  // Changes component colors on hover
  &:hover {
    .matrix--cell--play {
      @include svg(play-orange);
      &.inactive {
        @include svg(play-slash-orange);
      }
    }
    .matrix--cell--value {
      color: $orange;
    }
    .matrix--cell--indicator {
      color: $orange;
      b {
        @include svg(checkbox-unchecked-orange);
      }
      &.active {
        b {
          @include svg(checkbox-orange);
        }
      }
    }
  }
  .editable & {
    padding: 1.6rem;
  }
  .compact & {
    padding: 1rem;
  }
}

.matrix--cell--play {
  @extend %hidden-text;
  @include svg(play);
  display: block;
  width: 2.8rem;
  height: 2.8rem;
  margin: 1rem 0;
  float: left;
  // Changes play icon when no video exists
  &.inactive {
    @include opacity(25);
    @include svg(play-slash);
    .active & {
      @include opacity(100);
      @include svg(play-slash-beigeDark);
    }
  }
  // Changes icon color when .matrix--row is active (on hover)
  .active & {
    @include svg(play-beigeDark);
  }
}

.matrix--cell--value {
  @extend %mega-alt;
  @include font-head;
  width: 4.5rem;
  text-align: center;
  color: $tealMedium;
  padding: 0.4rem 0;
  margin: 0 .8rem;
  float: left;
  &.inactive {
    @include opacity(25);
  }
  small {
    font-size: 0.65em;
    vertical-align: top;
    padding-left: 0.2rem;
    position: relative;
    top: 0.2rem;
  }
  // Changes icon color when .matrix--row is active (on hover)
  .active & {
    color: $beigeDark;
    &.inactive {
      @include opacity(100);
    }
  }
}

// <label>
.matrix--cell--indicator {
  @extend %epsilon;
  height: 3.6rem;
  color: $tealMedium;
  font-weight: $medium;
  padding-top: 2.1rem;
  margin: 0.6rem 0;
  float: left;
  position: relative;
  cursor: pointer;
  b {
    @include svg(checkbox-unchecked);
    display: block;
    width: 1.7rem;
    height: 1.7rem;
    position: absolute;
    top: 0.2rem;
    left: 0;
  }
  &.active {
    b {
      @include svg(checkbox);
    }
  }
  &.inactive {
    @include opacity(25);
  }
  // Changes icon color when .matrix--row is active (on hover)
  .active & {
    color: $beigeDark;
    b {
      @include svg(checkbox-unchecked-beigeDark);
    }
    &.active {
      b {
        @include svg(checkbox-beigeDark);
      }
    }
    &.inactive {
      @include opacity(100);
    }
  }
}

// Overlay
// ------------
.matrix--overlay {
  width: $matrixOverlayWidth;
  background-color: $beige;
  position: relative;
//  overflow: hidden;
  z-index: 130;
  .shim {
    @extend %shaded-inside-right;
    width: $matrixRowHeaderWidth;
    height: 10000px;
    background-color: $beigeAlt;
    border-top: 2px solid blue;
    position: absolute;
    bottom: 0;
    left: -$matrixRowHeaderWidth;
  }
}

// Project selector
// ------------
.project-selector {
  @extend %dropdown-container;
  position: absolute;
  top: 5.9rem;
  right: 3.8rem;
}

.project-selector--toggle {
  @extend %dropdown-toggle-teal;
}

.project-selector--dropdown {
  @extend %dropdown-teal;
  @extend %dropdown-right;
}

// Meta nav
// ------------
.matrix--meta-nav--header {
  .matrix--row-header & {
    @extend %shaded-bottom;
    height: 4.8rem;
    background-color: $grayDark;
    padding: 1.4rem 0 1.4rem 1.6rem;
    position: relative;
    .light-radio-label {
      width: auto;
      padding-left: 2.2rem;
      &:first-child {
        padding-right: 1.3rem;
      }
    }
    .highlightable & {
      &:hover {
        background-color: $grayDark;
      }
    }
  }
}

.matrix--meta-nav--row {
  @extend %floated-list;
  height: 4.8rem;
  background-color: $grayDark;
  margin: 0;
}

.matrix--meta-nav--cell {
  @extend %shaded-bottom;
  height: 4.8rem;
  padding: 1.15rem 1.6rem;
  position: relative;
  z-index: 200;
  cursor: auto;
  a {
    text-align: center;
    width: 100%;
  }
}

// Alerts
// --------------------------------------------------------
// Wrapper containing all alerts
.alerts {
  position: relative;
  z-index: 150;
  .bar-header & {
    clear: both;    
  }
  // &:empty {
  //   padding-top: 0;
  // }
}

.alert {
  .evaluation-detail &, 
  .portfolio-frame &, 
  .page-content--frame & {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 2rem;
    &:first-child {
      margin-top: 0;
    }
  }
}

.alert-success {
  $width: 8.4rem;
  @extend %alert;
  background-color: $greenLight;
  p {
    margin-left: $width + 2.5rem;
  }
  .alert--label {
    width: $width;
    background: transparent url('alert-labels/alert-success.png') no-repeat left top;
    background-size: contain;
    .no-backgroundsize & {
      @extend .icon-alert-success;
    }
  }
}

.alert-notice {
  $width: 6.4rem;
  @extend %alert;
  background-color: $blueLight;
  p {
    margin-left: $width + 2.5rem;
  }
  .alert--label {
    width: $width;
    background: transparent url('alert-labels/alert-notice.png') no-repeat left top;
    background-size: contain;
    .no-backgroundsize & {
      @extend .icon-alert-notice;
    }
  }
}

.alert-alert {
  $width: 5.6rem;
  @extend %alert;
  background-color: $yellow;
  p {
    margin-left: $width + 2.5rem;
  }
  .alert--label {
    width: $width;
    background: transparent url('alert-labels/alert-alert.png') no-repeat left top;
    background-size: contain;
    .no-backgroundsize & {
      @extend .icon-alert-alert;
    }
  }
}

.alert-warning {
  $width: 8.4rem;
  @extend %alert;
  background-color: $yellow;
  p {
    margin-left: $width + 2.5rem;
  }
  .alert--label {
    width: $width;
    background: transparent url('alert-labels/alert-warning.png') no-repeat left top;
    background-size: contain;
    .no-backgroundsize & {
      @extend .icon-alert-warning;
    }
  }
}

.alert-error {
  $width: 10rem;
  @extend %alert;
  background-color: $redLight;
  p {
    margin-left: $width + 2.5rem;
  }
  .alert--label {
    width: $width;
    background: transparent url('alert-labels/alert-error.png') no-repeat left top;
    background-size: contain;
    .no-backgroundsize & {
      @extend .icon-alert-error;
    }
  }
}

.alert-list {
  p {
    @include font-size(17);
    padding: 0;
    border-left: none;
    margin: 0;
  }
  ul {
    @extend %gamma;
    line-height: 1.1;
    color: $darker;
    padding-left: 1.6em;
    margin: 0.8rem 0 0;
  }
}

.alert--label {
  @extend %alert--label;
}

.alert--close {
  @extend %alert--close;
}

// Placards (Help overlays)
//
// Orientation:
// The caret can appear in one of eight positions, corresponding
// to the eight half-winds on a compass:
//
//    --nnw---nne--
//   |             |
//  wnw           ene
//   |             |
//  wsw           ese
//   |             |
//    --ssw---sse--
//
// --------------------------------------------------------
// Orientation is 'nnw' by default (adding the 'nnw' class is fine, but has no effect)
.placard {
  $shim: 2.2rem;
  width: 30rem;
  min-height: 8rem;
  padding: 2.2rem;
  background-color: $grayDarkest;
  border-radius: 0.8rem;
  margin: $shim 0 0;
  position: absolute;
  z-index: 400;
  &:after {
    content: "";
    border-right: 1.5rem solid transparent;
    border-bottom: 1.6rem solid $grayDarkest;
    border-left: 1.5rem solid transparent;
    position: absolute;
    top: -1.6rem;
    left: 5rem;
  }
  &.wide {
    width: 50rem;
  }
  // Orientation auxillary classes
  &.nne {
    &:after {
      right: 5rem;
      left: auto;
    }
  }
  &.ene {
    margin: 0 $shim 0 0;
    &:after {
      border-top: 1.5rem solid transparent;
      border-right: none;
      border-bottom: 1.5rem solid transparent;
      border-left: 1.6rem solid $grayDarkest;
      top: 2.5rem;
      right: -1.6rem;
      left: auto;
    }
  }
  &.ese {
    margin: 0 $shim 0 0;
    &:after {
      border-top: 1.5rem solid transparent;
      border-right: none;
      border-bottom: 1.5rem solid transparent;
      border-left: 1.6rem solid $grayDarkest;
      top: auto;
      right: -1.6rem;
      bottom: 2.5rem;
      left: auto;
    }
  }
  &.sse {
    margin: 0 0 $shim;
    &:after {
      border-top: 1.6rem solid $grayDarkest;
      border-right: 1.5rem solid transparent;
      border-bottom: none;
      border-left: 1.5rem solid transparent;
      top: auto;
      bottom: -1.6rem;
      right: 5rem;
      left: auto;
    }
  }
  &.ssw {
    margin: 0 0 $shim;
    &:after {
      border-top: 1.6rem solid $grayDarkest;
      border-right: 1.5rem solid transparent;
      border-bottom: none;
      border-left: 1.5rem solid transparent;
      top: auto;
      bottom: -1.6rem;
    }
  }
  &.wsw {
    margin: 0 0 0 $shim;
    &:after {
      border-top: 1.5rem solid transparent;
      border-right: 1.6rem solid $grayDarkest;
      border-bottom: 1.5rem solid transparent;
      border-left: none;
      top: auto;
      bottom: 2.5rem;
      left: -1.6rem;
    }
  }
  &.wnw {
    margin: 0 0 0 $shim;
    &:after {
      border-top: 1.5rem solid transparent;
      border-right: 1.6rem solid $grayDarkest;
      border-bottom: 1.5rem solid transparent;
      border-left: none;
      top: 2.5rem;
      left: -1.6rem;
    }
  }
  p {
    color: $grayLighter;
  }
  hr {
    height: 0;
    border-top: 1px solid $gray;
    margin: 1.6rem 0;
  }
}

.placard--title {
  @extend %alpha;
  font-weight: $medium;
  color: $teal;
}

.placard--subtitle {
  @extend %alpha;
  color: $grayLighter;
  strong {
    @extend %kilo;
    font-weight: $regular;
    color: $orange;
    padding-right: 0.5rem;
  }
}

// <label>
.placard--checkbox {
  @extend %alpha;
  @extend %no-select;
  display: block;
  color: $tealLightestAlt;
  line-height: 1;
  padding-left: 3rem;
  margin-bottom: 1.6rem;
  position: relative;
  cursor: pointer;
  .checkbox {
    @extend %light-square-checkbox;
    width: 2.2rem;
    height: 2.2rem;
    position: absolute;
    top: 0;
    left: 0;
    & + b {
      width: 1em;
      height: 1em;
    }
  }
}

// Modal
// --------------------------------------------------------
.modal {
  @include box-shadow(
    0 0 4rem 1.6rem transparentize($black, 0.92)
  );
  width: 61.8rem;
  background-color: $tealLightestAlt;
  padding: 2.4rem 5rem 2.4rem 2.4rem;
  border-radius: $radius;
  position: relative;
  z-index: 300;
}

.modal--close {
  @extend %solid-ex-button;
  @extend %hidden-text;
  position: absolute;
  top: 1.4rem;
  right: 1.4rem;
}

.modal-backdrop {
  @include opacity(80);
  background-color: $black;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
}

//
//// Charts
//// --------------------------------------------------------
//
//
//.lead-chart {
//  @extend %clearfix;
//  margin-bottom: 1.6rem;
//  text-align: center;
//  .bar-chart {
//    display: inline-block;
//  }
//}
//
//.filter-row {
//  @extend %clearfix;
////  background-color: green;
//  text-align: center;
//  margin-bottom: 1.6rem;
//}
//
//.pie-chart {
////  background-color: blue;
//  width: 160px;
//  display: inline-block;
//  margin-right: 1rem;
//  &:last-child { margin-right: 0 !important; }
//
//  h2 {
//    @extend %heading-beta-alt;
//    color: $teal;
//    text-align: center;
//    padding-bottom: 1rem;
//  }
//
//}
