@import "variables";
@import "mixins";
@import "patterns";

// Asset create interface
// --------------------------------------------------------
.page-section .page-section--component.asset-upload {
  background: $grayDarker;
  color: $grayLighter;
  line-height: 1.25em;
  font-size: $theta;
  position: relative;
  .instructions {
    margin-bottom: 25px;
  }
  .bottom-instructions {
    margin-top: 25px;
  }
  .asset-uploading {
    padding-bottom: 30px 0;
    text-align: center;
    height: 125px;
    line-height: 125px;
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid $grayDarker;
    bottom: -20px;
    left: 50%;
    margin-left: -20px;
  }
}

.page-section .page-section--component.new-asset-footer {
  background: $grayDarker;
  color: $grayLighter;
  position: relative;
  margin-top: 0;
  text-align: center;
  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid $grayDarker;
    top: -20px;
    left: 50%;
    margin-left: -20px;
  }
}

.assets-container .asset-new-container .page-section--component,
.assets-container .asset-collection-container .page-section--component {
  margin-top: 0;
}

$targetHeight: 95px;

.asset-upload--column {
  @extend %wide-one-half;
  @extend %page-section-column;
  padding: 0;
  &.asset-upload--column-left {
    padding-right: 15px;
    height: $targetHeight;
    position: relative;
    top: 0;
    bottom: 0;
  }
  &.asset-upload--column-right {
    padding-left: 15px;
    .dark-text-input:first-child {
      margin-top: 0;
    }
    .dark-text-input {
      margin-top: 15px;
      border: 1px solid $tealLight;
      height: 40px;
      @include clearfix(hard);
      a {
        height: 38px;
      }
      input {
        width: 80%;
        border: 0;
        background: $grayDarker;
        color: $white;
        font-weight: $regular;
        height: 38px;
        padding-left: .6em;
        display: block;
        float: left;
        &:focus {
          outline: none;
          outline-width: 0;
        }
      }
      a {
        float: right;
      }
    }
  }
  .asset-upload--target {
    border: 2px dashed $tealLight;
    position: relative;
    width: 100%;
    height: 100%;
    a {
      color: $white;
      display: block;
      position: relative;
      text-align: center;
      width: 100%;
      height: 60px;
      line-height: 60px;
      top: 15px;
      &:before {
        margin-right: 15px;
        content: '';
        display: inline-block;
        vertical-align: middle;
        height: 60px;
        width: 60px;
        @include svg(upload-overlay-teal);
      }
    }
  }
}

.fake-file-input {
  cursor: pointer;
  border: 1px solid $tealLight;
  span {
    line-height: 1em;
    display: block;
    float: left;
    padding: .6em;
  }
  a {
    float: right;
  }
}

$playerColBg: $grayDarker;
$annotationColBg: $grayDarkest;
$textColor: $grayLightest;
$assetDetailMaxHeight: 700px;


// Asset detail interface
// --------------------------------------------------------
.asset-detail-layout {
  position: relative;
  &:before {
    width: 66.666666%;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: $playerColBg;
  }
  .col-one.page-section-two-thirds {
    background: $playerColBg;
    padding-right: 0;
    padding-left: 0;
    max-height: $assetDetailMaxHeight;
    position: relative;
  }
  .col-two.page-section-one-third {
    background: $annotationColBg;
    padding-left: 0;
    padding-right: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    max-height: $assetDetailMaxHeight;
    &:before {
      width: 33.333333%;
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      z-index: -1;
      background-color: $annotationColBg;
    }
  }
  .col-two.annotations-column-scrollable {
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

.asset-player {
  position: relative;
  z-index: 1;
}

.image-displayer {
  background: $black;
  position: relative;
  height: 500px;
  img {
    background: $white;
    position: absolute;
    margin: auto;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    max-height: 100%;
    max-width: 100%;
  }
}

.annotation-canvas {
  position: absolute;
  z-index: 10;
}

// Annotations
// --------------------------------------------------------
.annotations-container {
  max-height: 100%;
  .annotations-ul {
    @extend %unstyled-list;
  }
  .annotation {
    cursor: pointer;
    font-size: $iota;
    color: $textColor;
    padding: 15px;
    border-left: 4px solid $annotationColBg;
    &.active {
    }
    @include clearfix();
    .annotation-left {
      float: left;
      width: 15%;
      img {
        width: 100%;
      }
    }
    .annotation-right {
      float: right;
      width: 80%;
    }
    .annotation-top {
      @include clearfix()
    }
    &:hover .annotation-utility {
      display: block;
    }
    .annotation-utility {
      display: block;
    }
    .annotation-title {
      font-weight: $bold;
    }
    .annotation-indicators {
      float: right;
    }
  }
  .annotation + .annotation {
    border-top: 1px solid $black;
  }
}


// Annotator UI
// --------------------------------------------------------
$trackHeight: 10px;
.annotator {
  padding-top: 20px;
  width: 100%;
  min-height: 200px;
  .formgrid {
    padding-left: 6%;
    padding-right: 6%;
  }
  .timeline-container {
    position: relative;
    margin-top: 1.5em;
    margin-bottom: 1em;
  }
  .annotation-input {
    height: 75px;
  }
  .time {
    position: absolute;
    right: 0;
    top: -2px;
    width: 8%;
    font-size: $iota;
    color: $white;
    text-align: right;
  }
  .timeline {
    width: 92%;
    height: $trackHeight;
    position: absolute;
    left: 0;
    .track {
      z-index: 1;
      position: absolute;
      width: 100%;
      height: $trackHeight;
      background: $grayDark;
    }
    .buffered {
      position: absolute;
      z-index: 2;
      height: $trackHeight;
      background: $grayLight;
    }
    .scrubber {
      position: absolute;
      width: 1px;
      height: 10px;
      background: $white;
      z-index: 6;
      span {
        cursor: pointer;
        width: 80px;
        display: inline-block;
        margin: auto;
        right: -40px;
        color: $white;
        font-size: $iota;
        top: -$trackHeight * 3.0;
        text-align: center;
        position: absolute;
        &:after {
          content: '';
          width: 0;
          height: 0;
          position: absolute;
          bottom: -$trackHeight;
          right: 40px - $trackHeight;
          margin-left: -$trackHeight;
          border-left: $trackHeight solid transparent;
          border-right: $trackHeight solid transparent;
          border-top: $trackHeight solid $white;
        }
      }
    }

    .played {
      position: absolute;
      z-index: 3;
      height: $trackHeight;
      background: $white;
    }
    .track-overlay {
      position: absolute;
      width: 100%;
      z-index: 5;
      height: $trackHeight;
      cursor: pointer;
    }
    .marks {
      z-index: 4;
      @extend %unstyled-list;
      li {
        top: $trackHeight;
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        margin-left: -$trackHeight;
        border-left: $trackHeight solid transparent;
        border-right: $trackHeight solid transparent;
        border-bottom: $trackHeight solid $defaultFillColor;
      }
      li.role-evaluator {
        border-bottom: $trackHeight solid $instructorFillColor;
      }
      li.role-administrator {
        border-bottom: $trackHeight solid $instructorFillColor;
      }
      li.role-creator {
        border-bottom: $trackHeight solid $peerFillColor;
      }
      li.role-self {
        border-bottom: $trackHeight solid $selfFillColor;
      }

    }
  }

}


// Progress Bar
// --------------------------------------------------------
.asset-done {
  margin-top: 30px;
  a {
    padding-left: 4em;
    padding-right: 4em;
    text-align: center;
  }
}

.asset-uploading {
  position: relative;
}

.progress-bar {
  height: 1em;
  width: 50%;
  position: absolute;
  left: 25%;
  top: 25px;
  background: $grayMedium;
  .progress-bar--fill {
    height: 1em;
    width: 0%;
    position: absolute;
    background: $grayDark;
  }
}
