// Components
// ----------

// Page level components
// --------------------------------------------------------
.container {
	width: $mainWidth;
	margin: 0 auto;
  .authentication & {
    margin-top: 11.2rem;
  }
}

// Page banner
// --------------------------
.page-banner {
	height: 3.4rem;
  background-color: $tealLight;
	padding: 0.9rem 0;
  position: relative;
  z-index: 250;
}

.page-banner--logo {
	@extend %center;
	display: block;
	height: 1.6rem;
}

// Page header
// --------------------------
.page-header {
  width: 100%;
  height: $headerHeight;
  position: absolute;
  z-index: 200;
  &.stuck {
    position: fixed;
    top: 0;
  }
}

// Primary nav
// --------------------------
.primary-nav {
  @extend %shaded-top;
  background-color: $grayDark;
  margin: 0 auto;
  position: relative;
  z-index: 220;
}

.primary-nav--wrapper {
  width: $mainWidth;
  height: $headerHeight;
  margin: 0 auto;
  position: relative;
}

// Course selector
// ------------
.course-selector {
  position: absolute;
  top: 2.3rem;
  left: 2rem
}

.course-selector--toggle {
  @extend %dropdown-toggle;
}

.course-selector--dropdown {
  @extend %dropdown;
}

// User selector
// ------------
.user-selector {
  margin-right: 6.4rem;
  position: absolute;
  top: 2.3rem;
  right: 2rem;
}

.user-selector--toggle {
  @extend %dropdown-toggle;
}

.user-selector--dropdown {
  @extend %dropdown-right;
}

.primary-nav--avatar {
  @extend %gray-round-avatar;
  position: absolute;
  top: -0.7rem;
  right: -6.4rem;
}

// Adaptive nav
// Lives inside .primary-nav
// --------------------------
.adaptive-nav {
  position: absolute;
  bottom: 2rem;
  left: 6.3rem;
}

.adaptive-nav--list {
  @extend %piped-list;
  margin: 0;
  left: 0;
  &>li {
    @extend %dropdown-container;
    color: $grayLight;
    &>a {
      @extend %gamma;
      @extend %bare-link;
      @extend %bare-focus;
      line-height: 1;
      &:hover,
      .open & {
        color: $orange;
      }
    }
  }
  &>li + li {
    margin-left: 4.2rem;
  }
}

// .adaptive-nav--link {
//   @extend %gamma;
//   @extend %bare-focus;
//   line-height: 1;
//   &:hover,
//   .open & {
//     color: $orange;
//   }
// }

.adaptive-nav--dropdown {
  @extend %dropdown;
}

// Shortcut nav
// --------------------------
.shortcut-nav {
  @extend %shaded-top-bottom;
  @include transition(0.2s top ease-out);
  height: 10.2rem;
  // height: 0;
  background-color: $grayDarker;
  position: relative;
  top: -10.2rem;
  z-index: 210;
  &.visible {
    // height: 10.2rem;
    top: 0;
  }
}

.shortcut-nav--wrapper {
  width: $mainWidth;
  height: 100%;
  padding: 2.5rem 2rem 0;
  margin: 0 auto;
  position: relative;
}

.shortcut-nav--item {
  float: left;
  & + & {
    margin-left: 3.4rem;
  }
}

// This styles the title for each .shortcut-nav--item
.shortcut-nav--title {
  @extend %epsilon-caps;
  color: $grayLight;
  margin-bottom: 0.7rem;
}

// Lives inside .primary-nav 
.shortcut-nav--toggle {
  @extend %hidden-text;
  @extend %bare-focus;
  @include svg(square-arrow-down-gray);
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  color: $grayDarkest;
  position: absolute;
  bottom: 1.5rem;
  left: 2rem;
  &:hover {
    @include svg(square-arrow-down-orange);
  }
  &.active {
    @include svg(square-arrow-up-black);
    &:hover {
      @include svg(square-arrow-up-orange);
    }
  }
}

// Assignment selector
// ------------
.assignment-selector {
  @extend %dropdown-container;
}

.assignment-selector--toggle {
  @extend %dropdown-toggle-dark;
}

.assignment-selector--dropdown {
  @extend %dropdown;
}

// Peer selector
// ------------
.peer-selector {
  @extend %dropdown-container;
}

.peer-selector--toggle {
  @extend %dropdown-toggle-dark;
}

.peer-selector--dropdown {
  @extend %dropdown;
}

// Help nav
// ------------
.help-nav {

}

.help-nav--list {
  @extend %piped-list;
  padding: 0.7rem 0 0.6rem;
  margin: 0;
  li {
    @extend %gamma;
    color: $grayLight;
  }
  li + li {
    margin-left: 4rem;
  }
  a {
    @extend %bare-link;
    @extend %orange-hover;
  }
}

.help-nav--label {
  @extend %no-select;
  position: relative;
  cursor: pointer;
  &.active,
  &:hover {
    color: $orange;
    .help-nav--checkbox {
      &:checked {
        & + b {
          @include svg(radio-checked-orange);
        }
      }
    }
    b {
      @include svg(radio-unchecked-orange);
    }
  }
}

// Lives inside .help-nav--label
.help-nav--checkbox {
  @extend %round-checkbox;
}

// Lives inside .help-nav--label
.help-nav--checkbox-text {
  margin-left: 0.7rem;
}

// Page content
// --------------------------------------------------------
.page-content {
  background-color: $beige;
  padding: 0 8.6rem;
  margin-top: $headerHeight;
  position: relative;
  z-index: 100;
}

// Generic content
// --------------------------------------------------------
// Can live inside any container that has the same width
// as .page-content or .container
.content-frame {
  @extend %frame;
}

// Frame header
// Can live inside any container which extends %frame
// --------------------------
.frame--header {
  margin-bottom: 2.1rem;
  position: relative;
}

.frame--title {
  @extend %heading-beta-alt;
  display: inline-block;
  color: $teal;
  line-height: 1.2;
}

.frame--header--button {
  @extend %teal-button;
  position: absolute;
  top: -0.3rem;
  right: 0;
}

.frame--header--comments {
  display: inline-block;
  margin: 0 0 -1.3rem 1.4rem;
  ul {
    @extend %speech-bubble-list;
  }
}

// Portfolio
// --------------------------------------------------------
.portfolio {

}

.portfolio-frame {
  @extend %frame;
}

// Frame attachment
// --------------------------
.frame-attachment {
  @extend %frame--left;
}

.frame-attachment--image {
  display: block;
  width: 100%;
  border: 0.1rem solid $grayLighter;
}

.frame-attachment--details {

}

.frame-attachment--link {
  @extend %heading-epsilon;
  @extend %arrow-link;
  margin-top: 2.2rem;
}

// Comments nav
// ------------
.comments-nav {
  margin-top: 0.9rem;
  ul {
    @extend %speech-bubble-list;
  }
}

// Frame summary
// --------------------------
.frame-summary {
  @extend %frame--right;
}

.frame-summary--title {
  @extend %heading-giga;
  margin-bottom: 0.3rem;
}

.frame-summary--creator {
  @extend %gamma-alt;
  color: $grayLight;
  margin-bottom: 0.5rem;
}

.frame-summary--course {
  @extend %gamma-alt;
  color: $grayLight;
  margin-bottom: 1.4rem;
}

.frame-summary--link {
  @extend %heading-epsilon;
  @extend %arrow-link;
  margin: 1.9rem 0 0 0.8rem;
}

// Score list
// ------------
.frame-summary--score-list {
  @extend %score-list;
}

.frame-summary--evaluated {
  @extend %active-criterion;
}

.frame-summary--unevaluated {
  @extend %inactive-criterion;
}

.frame-summary--score--title {
  @extend %score--title;
}

.frame-summary--score--value {
  @extend %score--value;
}

// Evaluation detail
// --------------------------------------------------------
.evaluation-detail {

}

.evaluation-detail-frame {
  @extend %frame;
}

.evaluation-detail--header {
  @extend %horizontal-header;
}

.evaluation-detail--title {
  @extend %horizontal-header--title;
}

.evaluation-detail--subtitle {
  @extend %horizontal-header--subtitle;
}

// Attachment
// --------------------------------------------------------
// <figure>
.attachment {
  @extend %annotated-media;
  margin-bottom: 1.6rem;
}

// Lives inside .attachment
// <video>, for now
.attachment--media {
  @extend %annotated-media--object;
}

// Attachment placeholder
// --------------------------
// Lives inside .attachment--media & .frame-attachment
// Only visible when no video has been uploaded
// Thanks, Dave: http://daverupert.com/2012/04/uncle-daves-ol-padded-box/
// Also: lower your eyes in deference to THE GOLDEN RATIO.
.attachment-placeholder {
  height: 0;
  text-align: center;
  background-color: $grayLighter;
  padding-bottom: 61.8%;
  position: relative;
}

// Extended by .attachment-placeholder--button & .attachment-placeholder--message
%attachment-placeholder--item {
  margin-top: 30.9%;
  position: relative;
  // TODO adjust if %white-video-button changes height
  top: -1.7rem;
}

// Lives inside .attachment-placeholder
// NB top value must be equal to half the
// height of %white-video-button, but negative
// TODO test in browsers; it's almost certainly not going to work in IE7
.attachment-placeholder--button {
  @extend %attachment-placeholder--item;
  @extend %white-video-button;
}

.attachment-placeholder--message {
  @extend %attachment-placeholder--item;
  @extend %white-pill;
}

// Annotations
// --------------------------
// Lives inside <figcaption> inside .attachment
.annotations {
  @extend %box;
  height: 100%;
  header {
    padding-right: 11.8rem;
  }
}

.annotations--title {
  @extend %box--title;
}

.annotations--link {
  @extend %box--link;
}

.annotations--content {
  @extend %box--scrolly-content;
}

.annotations--list {
  @extend %comment-list;
  padding-right: 1.6rem;
  p {
    @extend %gamma-alt;
    font-style: italic;
  }
}

.annotations--list--title {
  @extend %delta;
  color: $grayLight;
  margin-bottom: 0.7rem;
  span {
    font-weight: $medium;
  }
}

// Annotation input
// ------------
// <div>
// NB see pattern comments
.annotation-input {
  @extend %speech-bubble-input;
}

// Scores
// --------------------------------------------------------
.scores {

}

.scores--link {
  @extend %heading-epsilon;
  @extend %arrow-link;
  margin-top: 1.8rem;
}

// Summary list
// --------------------------
.scores--summary-list {
  @extend %big-score-list;
}

.scores--evaluated {
  @extend %big-active-criterion;
}

.scores--unevaluated {
  @extend %big-inactive-criterion;
}

.scores--score-title {
  @extend %big-score--title;
}

.scores--score-value {
  @extend %big-score--value;
}

// Discussion
// --------------------------------------------------------
.discussion {

}

// <div>
// NB see pattern comments
.discussion--input {
  @extend %speech-bubble-input;
  padding-top: 0.5rem;
  margin-bottom: 4.3rem;
}

// Discussion list
// --------------------------
.discussion-list {
  @extend %unstyled-list;
  margin: 0;
}

.discussion-list--item {
  @extend %comment;
  & + & {
    margin-top: 2.7rem;
  }
  p {
    margin-left: 0.3rem;
  }
}

.discussion-list--header {
  @extend %avatar-header;
}

.discussion-list--name {
  @extend %avatar-header--title;
}

.discussion-list--timestamp {
  @extend %avatar-header--subtitle;
}

.discussion-list--link {
  @extend %heading-epsilon;
  @extend %bent-arrow-link;
}

// Authentication components
// --------------------------------------------------------
.authentication-tile {
  @extend %clearfix;
	@extend %centered-tile;
	background-color: $beige;
	padding: 4.8rem 5.2rem 4.8rem 27rem;
  position: relative;
}

.authentication-tile--image {
  width: 16rem;
  position: absolute;
  top: 7.6rem;
  left: 5.6rem;
}

.authentication-tile--input {
  @extend %white-text-input;
}

.authentication-tile--label {
  @extend %delta;
  @extend %no-select;
  margin: 1.1rem 0 1rem;
  float: left;
  position: relative;
  cursor: pointer;
}

// Lives inside .authentication-tile--label
.authentication-tile--checkbox {
  @extend %square-checkbox;
}

// Lives inside .authentication-tile--label
.authentication-tile--checkbox-text {
  color: $grayLight;
  margin-left: 0.4rem;
}

.authentication-tile--button {
  @extend %teal-arrow-button;
  float: right;
}

.authentication-footer {
  @extend %clearfix;
	@extend %centered-tile;
  margin-top: 1.5rem;
}

.authentication-footer--list {
	@extend %piped-list;
  text-align: right;
  margin: 0;
  float: right;
  li {
    color: $grayLight;
  }
  li + li {
    margin-left: 3.6rem;
  }
  a {
    @extend %delta;
    @extend %orange-hover;
    @extend %bare-link;
  }
}

// Alerts
// --------------------------------------------------------
// Wrapper containing all alerts
.alerts {
  padding: 3.4rem 0 1rem;
  .authentication & {
    padding-top: 0;
  }
}

.alert-success {
  @extend %alert;
  background-color: $greenLight;
}

.alert-notice {
  @extend %alert;
  background-color: $blueLight;
}

.alert-warning, .alert-alert {
  @extend %alert;
  background-color: $yellow;
}

.alert-error {
  @extend %alert;
  background-color: $redLight;
}

.alert--label {
  @extend %alert--label;
}

.alert--close {
  @extend %alert--close;
}

























