@import "variables";
@import "mixins";
@import "patterns";

.portfolio, .asset-collection {
  .alert {
    margin-bottom: 0px;
  }
}

.asset-collection-item {
  position: relative;
}

.portfolio-item, .asset-collection-item {
  .portfolio-item--content, .asset-collection-item--content {
    h3.heading-tertiary {
      @include font-body;
      margin-top: -4px;
    }

    @extend %wide-five-sixths;
    @extend %medium-three-fourths;
    //    @extend %narrow-one-whole;

    padding-left: 0;
    padding-right: 0;
    //width: auto;

    .portfolio-item--ranges {
      .range {
        margin-bottom: 15px;
      }
    }
  }

  .asset-collection-item--content {
    display: inline-block;
    width: auto;
    padding: 0;
    float: none;

    .asset-collection-item--utility {
      height: 100%;
      text-align: right;
      position: absolute;
      top: 0;
      right: 0;
      //      margin-bottom: $sectionSpacingUnit * .75;
      width: 30%;
      .move-links {
        padding-bottom: 17px;
        position: absolute;
        bottom: 0;
        right: 0;
      }

      div + div {
        margin-top: 15px;
      }
      a {
        display: inline-block;
      }
    }
  }

  .portfolio-item--thumb, .asset-thumb {
    @extend %wide-one-sixth;
    @extend %medium-one-fourth;
    //    @extend %narrow-one-whole;

    padding-right: 30px;
    padding-left: 0;
    margin-bottom: 15px;
    float: none;
    display: inline-block;
    vertical-align: top;
    width: auto;

    .time-container {
      margin-top: 5px;
      text-align: center;
    }

    .thumb-container-placeholder {
      border-radius: 8px;
      width: 165px;
      height: 90px;
      border: 1px solid $tealLight;
      position: relative;
      overflow: hidden;
      a {
        text-align: center;
        position: relative;
        height: 100%;
        display: block;
        padding: 17px;
        &:hover {
          background-color: transparentize($tealLightest, 0.8);
        }
        span {
          vertical-align: middle;
          color: $tealLight;
        }
        span.tight {
          padding: 1em 0 0;
        }
      }
    }
    .thumb-container {
      border-radius: 8px;
      width: 165px;
      height: 90px;
      overflow: hidden;
      position: relative;
      &:hover:before {
        opacity: 0;
      }
      a {
        position: relative;
        display: block;
        height: 100%;
        &:hover {
          &:after {
            opacity: .8;
          }
        }
        &:after {
          @include transition($mediumTransition opacity $timing);
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          bottom: 0;
          background: #000;
          z-index: 1;
          opacity: .1;
          border-radius: 8px;
        }
      }
      img {
        display: block;
        position: relative;
        left: -5%;
        width: 110%;
      }
    }
    .thumb-container-video a, .thumb-container-audio a {
      &:before {
        content: '';
        position: absolute;
        height: 60px;
        width: 60px;
        z-index: 2;
        top: 50%;
        left: 50%;
        margin-left: -30px;
        margin-top: -30px;
        @include svg(play-overlay-white);
        &:hover {
          @include svg(play-overlay-teal);
        }
      }
    }
    .submit-time {
      text-transform: uppercase;
      color: $grayMediumLighter;
      font-size: 11px;
    }
  }

  .heading-tertiary {
    font-size: $delta-minor;
    a {
      color: $tealLight;
      &:hover {
        color: $grayDark;
      }
    }
    small {

      font-size: .654em; //17px
    }
  }
}


.projects-name-header::before {
  @include svg('projects-teal');
  display: inline-block;
  vertical-align: bottom;
  margin-right: 10px;
  width: 25px;
  height: 25px;
  content: '';
}

.portfolio-course-submissions {
  margin-top: 30px;
  background-color: $grayLightest;
  width: 100%;
  position: relative;
  .due-date {
    padding: 17px 30px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ececec;
    color: $grayDark;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    &.past-due {
      background-color: transparentize($red, 0.8);
      color: $red;
    }
  }
  .padded-container {
    padding: 30px;
  }
  .submission-footer {
    width: 100%;
    background-color: #ececec;

    .footer-item {
      display: inline-block;
      margin-right: 50px;
      > i {
        vertical-align: middle;
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 15px;
      }
      .instructor-icon {
        height: 25px;
        width: 30px;
      }
      .peer-icon {
        height: 25px;
        width: 44px;
      }
      .labels {
        display: block;
      }
      .icon-label {
        display: inline-block;
        text-transform: uppercase;
        color: $grayMediumLighter;
        font-size: 13px;
      }
      .icon-value {
        font-size: 30px;
        font-weight: 200;
        font-family: "proxima-nova-condensed", "Helvetica Neue", Arial, sans-serif;
        &.no-value {
          color: $grayLight;
        }
      }
      .new-label {
        margin-left: 5px;
        color: $tealLight;
        display: inline-block;
        font-size: 13px;
      }
    }
  }
  .comments-icon-teal {
    @include svg('comment-teal');
    width: 25px;
    height: 25px;
    display: block;
    margin: 0 auto;
  }
  .annotations-icon-teal {
    @include svg('annotation-teal');
    width: 25px;
    height: 25px;
    display: block;
    margin: 0 auto;
  }
  .teal-plus {
    @include svg('plus-teal-slim');
    width: 30px;
    height: 30px;
    display: block;
    margin: 0 auto 8px;
  }
}