@import "variables";
@import "mixins";
@import "patterns";

.smaller {
  font-size: $iota;
}

.horizontal-links {
  @include clearfix();
  font-size: $iota;
  @extend %unstyled-list;
  li {
    display: inline-block;
    &+li {
      margin-left: $narrowUnitPadding;
    }
  }
}

.clickable {
  cursor: pointer;
}

.unstyled-list {
  @extend %unstyled-list;
}