@import "variables";
@import "mixins";
@import "patterns";

%dropdown-options {
  visibility: hidden;
  padding: 2em;
  position: absolute;
  left: 0;
  z-index: 199;
  color: $white;
  background: $grayDarker;
  opacity: 0;
  font-size: $iota;
  transition: all $dropdownTransition $timing;
  ul {
    @extend %unstyled-list;
    padding: 0;
    margin: 0;
  }
  li + li {
    padding-top: $verticalSpaceTightest;
    margin-top: $verticalSpaceTightest;
  }
  a {
    display: block;
    white-space: pre;
    line-height: 1;
    color: $white;
    &:hover {
      color: $tealLight;
    }
  }
  .open & {
    visibility: visible;
    opacity: 1;
  }
}

// User navigation
// --------------------------
.page-header--user-nav {
  float: right;
  position: relative;
  height: $headerHeight;
}

.user-nav {
  .profile-container {
    height: 60px;
  }
}

.user-nav--toggle {
  transition: $fastTransition background $timing;
  color: $grayDarker;
  height: $headerHeight;
  display: inline-block;
  font-size: $theta;
  line-height: 60px;
  vertical-align: top;

  &:hover, .open & {
    .user-nav--name {
      color: $white;
      background: $tealLight;
      text-decoration: none;
      &:after {
        @include svg(arrow-down-white);
      }
    }
    .user-nav--icon {
      border: 2px solid $tealLight;
      .overlay {
        visibility: visible;
      }
    }
  }

  .user-nav--icon {
    display: inline-block;
    vertical-align: middle;
    height: 40px;
    width: 40px;
    margin-left: 1px;
    border-radius: 50%;
    border: 2px solid transparent;
    overflow: hidden;
    position: relative;

    img {
      width: 100%;
      height: auto;
    }
    .overlay {
      visibility: hidden;
      content: '';
      top: 0;
      background-color: rgba(59, 187, 185, 0.3);
      width: 100%;
      height: 100%;
      position: absolute;
    }
  }

  .user-nav--name {
    position: relative;
    padding: 5px 30px 5px 10px;

    &:after {
      @include svg(arrow-down-gray-dark);
      position: absolute;
      top: .75em;
      right: 11px;
      display: block;
      width: 12px;
      height: 6px;
      vertical-align: middle;
      content: '';

      &:hover {
        @include svg(arrow-down-white);
      }
    }
  }
}

.user-nav--options {
  @extend %dropdown-options;
  width: calc(100% - 45px);
  right: 45px !important;
  padding: 15px;
  top: 30px;

  .open & {
    top: 45px;
  }
}

// Default Dropdown Styles
// --------------------------
.dropdown {
  position: relative;
}

.dropdown--toggle {
  .dropdown-inline & {
    display: inline-block;
  }
  position: relative;
  padding-right: 1.2em;
  &:after {
    content: "";
    @include svg(arrow-down-gray-dark);
    display: block;
    padding: 0;
    margin-right: 5px;
    height: $iconSizeMedium;
    width: $iconSizeMedium;
    position: absolute;
    right: 0;
    top: .2em;
    &:hover {
      @include svg(arrow-down-teal);
    }
  }
}

.dropdown--options {
  @extend %dropdown-options;
  margin-top: -15px;

  .open & {
    margin-top: 0;
  }

  &.stuck {
    position: fixed;
  }
  .dropdown-header & {
    top: 2.5em;
  }
}

// Inline dropdown
// --------------------------

.dropdown-inline {
  display: inline-block;
  .dropdown--toggle-inline {
    cursor: pointer;
    @include svg(arrow-down-gray-dark);
    display: inline-block;
    vertical-align: middle;
    background-size: 50%;
    height: .5em;
    width: .5em;
    padding: .5em;
  }
  .dropdown--options {
    right: 0;
    left: auto;
  }
  th &.open {
    .dropdown--toggle {
      background: $primaryButtonColor;
      color: $white;
      &:after {
        @extend %svg-#{arrow-up-white};
      }
    }
  }
  th & {
    .dropdown--options {
      font-size: .583em;
      left: 0;
      margin-left: -.5em;
      right: auto;
      padding: 1em;
      min-width: 160px;
    }
    .dropdown--toggle {
      margin-left: -.6em;
      padding: .6em 1.8em .6em .6em;
      font-size: 0.5em;
      @include font-body;
      &:after {
        top: 0.8em;
        right: 0.1667em;
        width: 12px;
        height: 6px;
      }
    }
  }
}

.dropdown-inline.open .dropdown--toggle-inline {
  background-color: $grayDarker;
  @extend %svg-#{arrow-down-white}-important;
}

.dropdown-inline.open .dropdown--toggle, .dropdown-inline .dropdown--toggle:hover {
}

// Dropdown button
// --------------------------
.dropdown-button {
  display: inline-block;
  .dropdown--toggle {
    @extend %proto-button;
    @extend %icon-button;
    border: 1px solid $primaryButtonColor;
    color: $primaryButtonColor !important;
    &:after {
      content: "";
      @include svg(arrow-down-teal);
      height: 1em;
      width: 1em;
      top: .75em;
    }
  }
}

.dropdown-button.open .dropdown--toggle:after, .dropdown-button .dropdown--toggle:hover:after {
  @extend %svg-#{arrow-down-white}-important;
}

.dropdown-button.open .dropdown--toggle, .dropdown-button .dropdown--toggle:hover {
  background: $tealLight;
  border: 1px solid $tealLight;
  color: $white !important;
}

// hide deselect on admin courses list
.drawer-course-list .chosen-container-single .chosen-single abbr {
  display: none;
}

.drawer--contents {
  li {
    a {
      @extend %condensedHeading;
      font-size: $zeta;
      color: $white;
      text-transform: none;

      &:hover {
        color: $tealLight;
      }
    }

    + li {
      margin-top: .875em;
    }
  }
}