@import "variables";
@import "mixins";
@import "patterns";

// Table
// --------------------------
.table-wrapper {
}

// <table>
.table {
  .modal & {
    color: $grayDarkest;
  }
  width: 100%;
  thead {
    tr {
    }
    th {
      background-color: $white;
      border-top: 1px solid $grayLight;
      border-bottom: 0;
      @extend %label;
      color: $grayMediumDarker;
    }
  }
  tbody {
    tr {
      th, td {
        vertical-align: middle;
        background-color: $grayLightest;
      }
      &:nth-child(even) {
        th, td {
          background-color: $white;
        }
      }
      &:last-child {
        border-bottom: 1px solid $grayLight;
      }
    }
  }
  th {
    vertical-align: top;
    font-weight: $semibold;
    text-align: left;
    padding: 1em;
    border-right: 1px solid $grayLight;
    small {
      font-weight: $regular;
      font-size: $iota;
    }
  }
  td {
    border-right: 1px solid $grayLight;
    vertical-align: middle;
    padding: 1em;
    &:last-child {
      border-right: 0;
    }
    &.centered {
      vertical-align: middle;
      text-align: center;
    }
  }
}

.column-tight {
  width: 10%;
}

.table-white-head {

  thead {
    tr {
      th {
        border-top: 1px solid $grayLight;
        background-color: $white;
        &:last-child {
          border-right: 0;
        }
      }
    }
  }
  tbody {
    tr {
      th, td {
        background-color: $grayLightest;
      }
      &:nth-child(even) {
        th, td {
          background-color: $white;
        }
      }
      td:last-child {
        border-right: 0;
      }
    }
  }
}

.table-sortable {
  table-layout: fixed;
  thead th:not(.row-handle):last-child {
    border-right: 0;
  }
  tr {
    width: 100%;
    td:last-child {
      border-right: 0;
    }
  }
}

.row-handle {
  padding: .25em !important;
  cursor: move;
  thead & {
    cursor: auto;
  }
  tr:hover &, .ui-sortable-helper & {
    thead & {
      background-color: $grayLighter !important;
    }
    background-color: $grayLight !important;
    span {
      display: block;
      @include svg(table-handle);
    }
  }
  span {
    display: block;
    height: 30px;
  }
  width: 20px;
  background-color: $grayLighter !important;
}

// Dear SASS, it would be great if something like 'a&'
// would work nested inside the above block
a.table--heading {
  text-decoration: none;
}

.modal-rubric .table-container .table-cell {
  color: $grayDarker;
}
.table-container {
  overflow: scroll;
  white-space: nowrap;
  font-size: 0;
  .table-rubric {
    position: relative;
    width: auto;
    overflow-y: hidden;
    background-color: #ECF8F7;
  }
  .table-header-stripe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 150px;
    background-color: $grayMediumLighter;
  }
  .spacer {
    position: relative;
    background-color: whitesmoke;
    width: 150px;
    height: 50px;
    display: inline-block;
  }
  .table-body {
    position: relative;
  }
  .table-header {
    height: 50px;
  }
  .ranges .table-cell {
    text-align: center;
    background-color: $tealLightest;
    color: $white;
    padding: 10px;
    line-height: 1;
    border-top: 0;
  }
  .criteria-header.table-cell {
    text-align: center;
    width: 150px;
    background-color: $grayMediumLighter;
    color: $white;
  }
  .table-row {
    &:first-child .table-cell {
      border-top: 0;
    }
  }
  .table-cell {
    border-top: 2px solid $white;
    display: inline-block;
    width: 22%;
    font-size: $typeReset;
    height: auto;
    vertical-align: top;
    white-space: normal;
    padding: 15px;
    background-color: #ECF8F7;
    position: relative;
    &:not(:first-child):after {
      position: absolute;
      top: 0;
      right: 0;
      width: 2px;
      height: 100vh;
      background-color: $white;
      content: '';
    }
  }
}

.pagination-nav {
  margin-top: 1em;
  .pagination-nav--prev-next {
    float: left;
  }
  .pagination-nav--pages {
    float: right;
    li {
      display: inline-block;
      float: left;
      a, span {
        @extend %proto-button;
        font-weight: $regular;
        background-color: $grayLightest;
        color: $grayDark;
        margin: 0;
      }
      span {
        &:hover, &:focus {
          color: $grayDark;
        }
      }
      &.active span {
        color: $white;
        background-color: $primaryButtonColor;
      }
      a:hover {
        color: $white;
        background-color: $primaryButtonHoverColor;
      }
    }
  }

}

// Media submissions cells
// --------------------------
.project-details-table {
  tbody tr:hover {
    th, td {
      background-color: $grayLighter;
      cursor: pointer;
    }
  }
}
.project-details-thead th:last-child {
  border-right: 0;
}
table tbody.project-details-tbody tr td {
  &.student-name {
    vertical-align: top;
    padding: 24px 16px;
  }
  &.number-cell {
    vertical-align: top;
  }
  &.comments-count {
    vertical-align: top;
    text-align: center;
    padding-top: 5px;
  }
  &.narrow-cell {
    width: 40px;
    text-align: center;
  }
}
.media-submission {
  font-size: 15px;
  .media-counts {
    font-size: 13px;
  }
}
.number-cell {
  font-size: $zeta;
  &.gray {
    color: $grayMedium;
  }
}
.submissions-list {
  margin-bottom: 45px;
}
.media-submission {
  display: table;
  width: 100%;
  img {
    margin-right: 10px;
    max-width: 57px;
    display: inline-block;
    vertical-align: middle;
  }
  > div {
    display: table-cell;
    vertical-align: middle;
  }
}
.project-name-header::before {
  @include svg('project-teal');
  display: inline-block;
  vertical-align: bottom;
  margin-right: 10px;
  width: 25px;
  height: 25px;
  content: '';
}
.project-overview .section-header::before {
  @include svg('project-charts-teal');
  display: inline-block;
  vertical-align: bottom;
  margin-right: 10px;
  width: 25px;
  height: 25px;
  content: '';
}
.media-submission:not(:last-child) {
  margin-bottom: 25px;
}
.media-attributes {
  > div {
    display: inline-block;
    vertical-align: middle;
  }
  p {
    color: $grayDarker;
    font-weight: 400;
  }
  span {
    font-size: $lambda-minor;
    text-transform: uppercase;
    color: $grayMediumDarker;
  }
}
.media-counts {
  text-align: right;
}
.annotation-count {
  margin-left: 30px;
  @include svg('annotation-teal');
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  margin-bottom: 4px;
  width: 28px;
  height: 28px;
}
.posts-count {
  @include svg('comment-teal');
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  margin-bottom: 2px;
  width: 25px;
  height: 25px;
}
.sortable-header {
  white-space: nowrap;
}

.sort-descending {
  color: $tealLight;
  &::after {
    @include svg('arrow-down-teal');
    display: inline-block;
    position: relative;
    bottom: 1px;
    left: 2px;
    width: 12px;
    height: 6px;
    vertical-align: middle;
    content: '';
  }
}

.sort-ascending {
  color: $tealLight;
  &::after {
    @include svg('arrow-up-teal');
    display: inline-block;
    position: relative;
    bottom: 1px;
    left: 2px;
    width: 12px;
    height: 6px;
    vertical-align: middle;
    content: '';
  }
}