// Content
// -------
// The classes selected here can be dropped into your markup
// pretty much anywhere to get at common component styles.

// Layout helpers
// --------------------------------------------------------
.space-top {
  margin-top: 1.6rem;
}

.space-bottom {
  margin-bottom: 1.6rem;
}

.double-space-bottom {
  margin-bottom: 3.2rem;
}

// NB whatever you apply this to needs to have positioning
.shaded-bottom {
  @extend %shaded-bottom;
  margin-bottom: 3.2rem;
  position: relative;
}

// Headings
// --------------------------------------------------------
.heading-largest {
  @extend %heading-giga;
  margin-bottom: 0.5rem;
}

.heading-caps-large {
  @extend %heading-mega-sup;
  margin-bottom: 0.8rem;
}

.heading-large {
  @extend %heading-alpha;
  margin-bottom: 0.8rem;
}

.heading-medium {
  @extend %heading-beta-alt;
  margin-bottom: 0.8rem;
}

.heading-smallest {
  @extend %heading-epsilon;
  margin-bottom: 0.9rem;
}

// Links, buttons & pills
// --------------------------------------------------------
.teal-button {
  @extend %teal-button;
}

.gray-button {
  @extend %gray-button;
  border: none;
}

.dark-button {
  @extend %dark-button;
}

.large-teal-button {
  @extend %large-teal-button;
  margin-right: 1rem;
}

.large-gray-button {
  @extend %large-gray-button;
  margin-right: 0.6rem;
}

.large-dark-button {
  @extend %large-dark-button;
  margin-right: 0.6rem;
}

.teal-arrow-button {
  @extend %teal-arrow-button;
  margin-right: 0.6rem;
}

.teal-plus-button {
  @extend %teal-plus-button;
  margin-right: 0.6rem;
}

.small-teal-arrow-button {
  @extend %small-teal-arrow-button;
}

.small-teal-plus-button {
  @extend %small-teal-plus-button;
}

.small-teal-minus-button {
  @extend %small-teal-minus-button;
}

.teal-minus-button {
  @extend %teal-minus-button;
  margin-right: 0.6rem;
}

.gray-ex-button {
  @extend %gray-ex-button;
  margin-right: 0.6rem;
}

.check-button {
  @extend %check-button;
  margin-right: 0.6rem;
}

.gray-check-button {
  @extend %gray-check-button;
  margin-right: 0.6rem;
}

.teal-check-button {
  @extend %teal-check-button;
  margin-right: 0.6rem;
}

.large-check-button {
  @extend %large-check-button;
  margin-right: 0.6rem;
}

.large-gray-check-button {
  @extend %large-gray-check-button;
  margin-right: 0.6rem;
}

.large-teal-check-button {
  @extend %large-teal-check-button;
  margin-right: 0.6rem;
}

.white-pill {
  @extend %white-pill;
}

.white-button {
  @extend %white-button;
}

.arrow-link {
  @extend %heading-epsilon;
  @extend %arrow-link;
}

.left-arrow-link {
  @extend %heading-epsilon;
  @extend %left-arrow-link;
}

.beige-arrow-link {
  @extend %arrow-link-beige;
}

.bent-arrow-link {
  @extend %bent-arrow-link;
}

.ex-link {
  @extend %heading-epsilon;
  @extend %ex-link;
}

.speech-bubble {
  @extend %speech-bubble;
}

// Loading indicators
// --------------------------------------------------------
// Can be applied to anything with an :after pseudoelement that ought to be spinning
.loading {
  &:after {
    -webkit-animation: spin 1.4s infinite linear;
    -moz-animation: spin 1.4s infinite linear;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  50% {
    -moz-transform: rotate(180deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}

// Lists
// --------------------------------------------------------
.unstyled-list {
  @extend %unstyled-list;
}

// NB add this class to a wrapper around your <input>
// Why? <input>s can't have pseudoelements.
.speech-bubble-input {
  @extend %speech-bubble-input;
}

// <dl>
.expository-list {
  @extend %expository-list;
}

// Boxes
// --------------------------------------------------------
// An example:
// <div class="box">
//   <header>
//     <h2 class="box--title">Box title</h2>
//     <a class="box--link" href="">Optional link</a>
//   </header>
//   <div class="box--content">
//     Box content
//   </div>
// </div>

.box {
  @extend %box;
}

.box--title {
  @extend %box--title;
}

.box--link {
  @extend %box--link;
}

.box--minus-link {
  @extend %box--minus-link;
}

.box--content {
  @extend %box--content;
}

// NB make sure the height of .box is
// constrained if you want this to work
.box--scrolly-content {
  @extend %box--scrolly-content;
}

// Images
// --------------------------------------------------------
.round-avatar {
  @extend %round-avatar;
}

// Progress bar
// --------------------------------------------------------
// NB be sure to include an .indicator element in your markup
// An example:
// <div class="progress-bar">
//   <b class="indicator"><b>
// </div>

.progress-bar {
  @extend %progress-bar;
}

// Form errors
// --------------------------------------------------------
#error_explanation {
  @extend %mini-alert;
}
