.file-input-container {
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin-top: 10px;
  input {
	display: inline-block;
	left: 0;
	top: 0;
	font-size: 30px;
	cursor: pointer;
	opacity: .01;
	height: 100%;
	width: 100%;
	position: absolute;
  }
}

.new_attachment {
  font-size: 1.5rem;
  padding: 10px;
}

// Progress Bar
// ------------
.progress-bar {
  @extend %score-list;
}

.progress-bar--completed{
  @extend %active-criterion;
  height: 10px;
}