// Project specific mixins
// -----------------------

// Fonts
// --------------------------
@mixin font-body {
  font-family: "proxima-nova", "Helvetica Neue", Arial, sans-serif;
}

@mixin font-head {
  font-family: "proxima-nova-condensed", "Helvetica Neue", Arial, sans-serif;
}

@mixin font-matrix {
  font-family: "alternate-gothic-no-1-d", "Helvetica Neue", Arial, sans-serif;
}

// Detect IE10
// --------------------------
@mixin newIE {
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    @content;
  }
  .ie9 & {
    @content;
  }
}
