@import "partials/images";

// Project specific mixins
// -----------------------

// Rems
// --------------------------
@mixin font-size($size) {
  @if $usage == closed {
    font-size: $size + px;
    font-size: ($size / 10) + rem;
    // Bumps all font-sizes down a notch if there's no javascript
    .no-js & {
      font-size: ($size - 1) + px;
      font-size: (($size - 1) / 10) + rem;
    }
  }
  @else {
    font-size: ($size - 1) + px;
    font-size: (($size - 1) / 10) + rem;
  }
}

@mixin rem($property, $integer) {
  #{$property}: $integer * 16px;
  #{$property}: $integer * 1rem;
}

// Detect IE10
// --------------------------
@mixin newIE {
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    @content;
  }
  .ie9 & {
    @content;
  }
}

// SVG backgrounds
// PNG version must be in png directory for fallback to work
// --------------------------
@mixin svg($image) {
  @extend %icon-#{$image};
  background-size: contain;
  background-position: left top;
  background-repeat: no-repeat;
  .no-inlinesvg & {
    @extend .png-#{$image};
  }
  @include newIE {
    background-size: 90% auto;
  }
}

// Font Mixins
// --------------------------
@mixin font-body {
  @include kill-fout;
  // This is only supported by Firefox, currently
  font-size-adjust: 0.49;
  @if $usage == closed {
    font-family: "franklin-gothic-urw", "OpenSans", helvetica, sans-serif;
  }
  @else {
    font-family: "OpenSans", helvetica, sans-serif;
  }
}

@mixin font-head {
  font-family: "LeagueGothic", helvetica, sans-serif;
  font-weight: normal;
  font-size-adjust: none;
}
