// Project specific mixins
// -----------------------

// Rems
// --------------------------
@mixin font-size($size) {
  @if $usage == closed {
    font-size: $size + px;
    font-size: ($size / 10) + rem;
    // Bumps all font-sizes down a notch if there's no javascript
    .no-js & {
      font-size: ($size - 1) + px;
      font-size: (($size - 1) / 10) + rem;
    }
  }
  @else {
    font-size: ($size - 1) + px;
    font-size: (($size - 1) / 10) + rem;
  }
}

@mixin rem($property, $integer) {
  #{$property}: $integer * 16px;
  #{$property}: $integer * 1rem;
}

// SVG backgrounds
// PNG version must be in png directory for fallback to work
// --------------------------
@mixin svg($image) {
  @if $mode == production {
    @extend %icon-#{$image};
  }
  @else {
    background-image: url(image-path('svg/#{$image}.svg'));
  }
  background-size: contain;
  background-position: left top;
  background-repeat: no-repeat;
  @if $mode == production {
    .no-inlinesvg & {
      @extend .png-#{$image};
    }
  }
}
