// Project specific mixins
// -----------------------

// Rems
// --------------------------
@mixin font-size($size) {
  @if $usage == closed {
    font-size: $size + px;
    font-size: ($size / 10) + rem;
    // Bumps all font-sizes down a notch if there's no javascript
    .no-js & {
      font-size: ($size - 1) + px;
      font-size: (($size - 1) / 10) + rem;
    }
  }
  @else {
    font-size: ($size - 1) + px;
    font-size: (($size - 1) / 10) + rem;
  }
}

@mixin rem($property, $integer) {
  #{$property}: $integer * 16px;
  #{$property}: $integer * 1rem;
}

// Compass sprites
// This generates a bunch of class selectors, consisting of 
// the sprite folder name (icon) followed by the image name.
// Extend them wherever you like: @extend .icon-tardis;
// --------------------------
@import "compass/utilities/sprites";
@import "icon/*.png";
@include all-icon-sprites;

// SVG backgrounds
// PNG version must be in icon directory for fallback to work
// --------------------------
@mixin svg($image) {
  background: transparent inline-image('svg/#{$image}.svg') no-repeat left top;
  background-size: contain;
  .no-inlinesvg & {
    @extend .icon-#{$image};
  }
}
