
// Lists
// --------------------------
%unstyled-list {
  list-style-type: none;
  padding-left: 0;
}


// Links
// --------------------------
%bare-focus {
  &:focus {
    outline: none;
  }
}

%bare-active {
  &:active {
    color: inherit;
  }
}