%arrow-down-white {
  position: absolute;
  @include svg(arrow-down-white);
  margin-left: $iconSizeSmall;
  content: "";
  width: $iconSizeSmall;
  height: $iconSizeSmall;
}


%dropdown {
  display: none;
  min-width: 100%;
  padding: 1.8rem 2rem;
  margin-top: 2rem;
  position: absolute;
  top: 2rem;
  left: 0;
  z-index: 350;
  color: $white;
  background: darken($grayMedium, 10%);
  opacity: .5;
  &:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-right: 1.5rem solid transparent;
    border-left: 1.5rem solid transparent;
    border-bottom: 1.5rem solid darken($grayMedium, 10%);
    position: absolute;
    top: -1.5rem;
    // TODO adjust
    left: 4rem;
  }
  ul {
    padding: 0;
    margin: 0;
  }
  li + li {
    padding-top: 1.1rem;
    border-top: 0.1rem solid $white;
    margin-top: 1rem;
  }
  a {
    display: block;
    white-space: pre;
    line-height: 1;
    color: $white;
    small {
      color: $white;
    }
    &:hover,
    &.active {
    }
  }
  .open & {
    display: block;
    opacity: 1;
  }
}

// Lists
// --------------------------
%unstyled-list {
  list-style-type: none;
  padding-left: 0;
}


// Links
// --------------------------
%bare-focus {
  &:focus {
    outline: none;
  }
}

%bare-active {
  &:active {
    color: inherit;
  }
}