// Button, Link Patterns and prototypes
//-------------------------------------
%button-text {
  @include font-body;
  font-size: $iota;
  th & {
    font-size: .583em; // 14px
  }
  font-weight: $semibold;
}

%proto-button {
  padding: .8em;
  line-height: 1; // Inputs have line-height: normal, so we need to set this here to equalize input and link button heights.
  @extend %button-text;
  @extend %bare-focus;
  @extend %bare-active;
  display: inline-block;
  color: $white !important;
}

// Psuedoelements don't stick to <input>s, so we
// need to remove the right padding in those cases
input%proto-button {
  @extend %reset-input;
}

%icon-button {
  padding-right: 2.6em;
  position: relative;
  &:after {
    content: "";
    display: block;
    padding: 0;
    height: 1.5em;
    width: 1.5em;
    position: absolute;
    top: .55em;
    right: .55em;
  }
}

%primary-button {
  @extend %proto-button;
  background-color: $primaryButtonColor;
  border: 0;
  &:hover, &:focus {
    background-color: $primaryButtonHoverColor;
  }
  #notifications & {
    background: none;
    color: $primaryButtonColor !important;
    border: 1px solid $primaryButtonColor;
  }
}

%secondary-button {
  @extend %proto-button;
  background-color: $secondaryButtonColor;
  border: 0;
  &:hover, &:focus {
    background-color: $secondaryButtonHoverColor;
  }
  #notifications & {
    background: none;
    color: $red !important;
    border: 1px solid $red;
  }
}


%proto-action-link {
  @extend %button-text;
  @extend %bare-focus;
  @extend %bare-active;
  text-decoration: none;
}

%primary-link {
  @extend %proto-action-link;
  color: $primaryLinkColor;
  &:hover {
    color: $primaryLinkHoverColor;
  }
}

%secondary-link {
  @extend %proto-action-link;
  color: $secondaryLinkColor;
  &:hover {
    color: $secondaryLinkHoverColor;
  }
}


%icon-link {
  position: relative;
  height: 2em;
  line-height: 2em;
  display: inline-block;
  @extend %button-text;
  th & {
    margin-top: 10px;
  }
}

%icon-link-left {
  @extend %icon-link;
  padding-left: 1.75em;
  &:before {
    font-size: $iota;
    content: "";
    display: block;
    padding: 0;
    height: 1.5em;
    width: 1.5em;
    top: .4em;
    position: absolute;
    left: 0em;
  }
}

%icon-link-right {
  @extend %icon-link;
  padding-right: 1.75em;
  &:after {
    font-size: $iota;
    content: "";
    display: block;
    padding: 0;
    height: 1.5em;
    width: 1.5em;
    top: .4em;
    position: absolute;
    right: 0;
  }
}
