// Patterns
// --------

// Really basic utility patterns
// --------------------------------------------------------
%pull-left {
	float: left;
}

%pull-right {
	float: right;
}

%center {
	margin-right: auto;
	margin-left: auto;
}

// Typography
// --------------------------------------------------------
// Hierarchy
// --------------------------
%alpha {
  @include font-size(20.5);
	// font-weight: 300;
}

%beta {
  @include font-size(19.2);
	// font-weight: 300;
}

%gamma {
  @include font-size(16);
	// font-weight: 300;
}

%delta {
  @include font-size(13);
	// font-weight: 300;
}

%epsilon {
  @include font-size(12);
	// font-weight: 300;
}

%zeta {
  // @include font-size(0.4);
	// font-weight: 300;
}

// Extra-hierarchy
// Very large & very small type,
// outside the above hierarchy
// Employs SI prefixes
// --------------------------
%deca {
  @include font-size(42.9);
	// font-weight: 300;	
}

%deci {
  // @include font-size(0.2);
	// font-weight: 300;
}

// Block-level
// --------------------------
%heading {
	// margin: 0;
}

// Inline
// --------------------------

// Links
// --------------------------
// https://github.com/h5bp/html5-boilerplate/blob/master/css/main.css#L120
%hidden-text {
	background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
    &:before {
	    content: "";
	    display: block;
	    width: 0;
	    height: 100%;
    }
}

// Buttons
// --------------------------
%teal-arrow-button {
  @extend %epsilon;
  @include font-body;
  display: inline-block;
  // TODO change this to numerical weight once fonts are embedded for real
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 1;
  color: $beige;
  background-color: $tealLight;
  padding: 1.4rem 3.9rem 1.1rem 1.4rem;
  border: none;
  border-radius: $radius;
  position: relative;
  &:after {
    @include svg(circle-arrow-right);
    content: "";
    display: block;
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 0.9rem;
    right: 1.1rem;
  }
}

// Lists
// --------------------------
%unstyled-list {
	list-style-type: none;
	padding: 0;
}

%floated-list {
	@extend %clearfix;
	@extend %unstyled-list;
	li {
		float: left;
		a {
			display: block;
		}
	}
	li + li {
		// margin-left: 1em;
	}
}

%floated-list-right {
  @extend %clearfix;
  @extend %unstyled-list;
  li {
    float: right;
    a {
      display: block;
    }
  }
  li + li {
    // margin-right: 1em;
  }
}

// Inputs
// --------------------------
%white-text-input {
  @extend %alpha;
  @include placeholder($beigeDark);
  @include font-body;
  display: block;
  width: 100%;
  color: $beigeDark;
  padding: 1rem 1.4rem 0.6rem;
  border: none;
  border-radius: $radius;
  margin-bottom: 1.3rem;
  &:focus {
    outline: none;
  }
}

%custom-checkbox {
	@include opacity(0);
	.lt-ie9 & {
		filter: alpha(opacity=100);
	}
	& + b {
    @include svg(checkbox-unchecked);
		display: block;
    width: 1em;
    height: 1em;
		position: absolute;
    top: 0;
		left: 0;
		.lt-ie9 & {
			display: none;
		}
	}
	&:checked {
		& + b {
      @include svg(checkbox-unchecked);
		}
	}
}

// <label>
%input-label {
	position: relative;
}

// Text colors
// --------------------------
%with-white {
	color: $white;
}

%with-light-gray {
	color: $grayLight;
}

%with-dark-gray {
	color: $grayDark;
}

%with-teal {
	color: $teal;
}

%with-orange {
	color: $orange;
}

// Component patterns
// --------------------------------------------------------
%centered-tile {
	@extend %center;
	width: 60.8rem;
}






































