// Prototyping
// -----------

// Generic Table
// --------------------------
.model-table {
  width: 100%;
  background:  $beige;
  border:  3px solid $beigeLight;
  th, td {
    border:  3px solid $beigeLight;
  }
  thead {
    white-space: nowrap;
    text-align: left;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 0.3rem;
    th {
      padding: 10px;
    }
  }
  tbody {
    th, td {
      vertical-align: top;
      padding: 10px;
    }
    th {
      text-align: left;
      white-space: nowrap;
    }
    td {
    }
  }
}
.model-table--actions {
  @extend %floated-list;
  a {
    margin-bottom: 5px;
    margin-left: 5px;
    @extend %teal-arrow-button;
  }
}

.model-form {
  .model-form--row {
    margin-bottom: 20px;
  }
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  input, textarea, select {
    display: block;
  }
  input[type=submit] {
    /* I couldnt' just extend %teal-arrow-button because the after pseudo element doesn't work with a submit button */
    @extend %epsilon;
    @include font-body;
    display: inline-block;
    font-weight: $bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 1;
    color: $beige;
    background-color: $tealLight;
    padding: 1.4rem 1.4rem 1.1rem 1.4rem;
    border: none;
    border-radius: $radius;
    position: relative;
  }
}


.rubric-table-wrap {
  overflow-x: auto;
}
.rubric-table {

  table-layout: fixed;

  .error-detail {

    position: absolute;
    font-weight: normal;
    padding: 10px;
    background-color: #f2dede !important;
    border-color: #eed3d7 !important;
    z-index: 10;
  }
  tbody {
    th {
      position: relative;
      width: 105px;
      .error-detail {
        left: 150px;
        top:  35px;
        width: 400px;
        .arrow {
          width:0px;
          height:0px;
          border-bottom:10px solid transparent;
          border-top:10px solid transparent;
          border-right:10px solid #f2dede;
          font-size:0px;
          line-height:0px;
          position: absolute;
          top: 5px;
          left: -10px;
        }
      }
    }
  }
  thead {
    th {
      position: relative;
      .error-detail {
        left: 0;
        bottom:  -60px;
        width: 150px;
        .arrow {
          width:0px;
          height:0px;
          border-left:10px solid transparent;
          border-right:10px solid transparent;
          border-bottom:10px solid #f2dede;
          font-size:0px;
          line-height:0px;
          position: absolute;
          top: -10px;
          left: 75px;
        }
      }
    }
    th:last-child, th:first-child {
      width: 120px;
    }
  }
  th {
    &.field {
      padding-bottom: 40px;
    }
    position: relative;
    vertical-align: text-top !important;
    textarea {
      width:  90%;
      height: 80px;
    }
    .range {
      width: 30px;
    }
    .pin-bottom {
      position: absolute;
      bottom: 0;
    }
    input, a {
      font-weight: normal;
    }
    input[type=text] {
      width: 90%;
      margin-bottom: 5px;
    }
  }
  td {
    text-align: left;
    vertical-align: top;
    cursor: pointer;
    position: relative;
    overflow:  hidden;
    .cell-detail-container {
    }
  }
}

.editable-inline, .editable-textarea {
  cursor: pointer;
}


.modal-dialog{
  position:  absolute;
  border: 2px solid #333333;
  border-radius: 10px;
  width: 400px;
  z-index: 300;
  background: white;
  text-align: left;
  .cell-edit-header {
    border-radius: 10px 10px 0 0;
    padding: 15px;
    h5 {
      display: inline;
      margin: 0;
      padding: 0;
    }
    .close-link {
      float: right;
    }
    background:  #f0f0f0;
  }
  .cell-edit-footer {
    position: absolute;
    border-radius: 0 0 10px 10px;
    bottom: 0px;
    padding: 15px;
    background:  #f0f0f0;
    height: 30px;
    width: 370px;
    .pin-right {
      float: right;
    }
    .pin-left{
      float: left
    }
  }
  .cell-edit-body {
    @include clearfix();
    padding: 15px 15px 70px 15px;
    textarea {
      height: 120px;
      width: 95%;
    }
    input[type=submit] {
      float: right;
    }
  }
}

h3 .editable-inline {
  display: inline;
  form {
    display: inline; margin: 0; padding: 0
  }
  .editable-inline-input {
    height: 40px; font-size: 24px; margin-top: 7px; line-height: 1;
  }
}

// --------------------------------------------------------
// Patterns
// --------------------------
// A unit that is one cell-width (any height)
%matrix--wide {
  width: $matrixCellWidth;
}

// A unit that is one cell-height (any width)
%matrix--tall {
  height: 6.8rem;
}

%matrix--slider {
  border-left: 0.1rem solid $darker;
  margin-right: 0.1rem;
  overflow-x: hidden;
  ul {
    @include transition(0.3s left ease-in-out);
    position: relative;
  }
}

// Components
// --------------------------
.matrix {
  margin-bottom: $headerHeight;
}

// Column header
// ------------
// TODO sort out a way to add %shaded bottom; might need to abandon full-bleed
.matrix--column-header {
  @extend %matrix--header;
  @include full-bleed {
    background-color: $gray;
  }
  width: $mainWidth;
  height: $headerHeight * 2;
  background-color: $gray;
  padding: $headerHeight 0 0 ($matrixCellWidth - 0.1);
  position: absolute;
  top: -$headerHeight;
  z-index: 150;
  &.stuck {
    margin: 0 auto;
    position: fixed;
    top: 0;
  }
}

// Wraps .matrix--column-header--list
.matrix--list-wrapper {
  @extend %matrix--slider;
}

.matrix--column-header--list {
  @extend %clearfix;
  @extend %floated-list;
  height: $headerHeight;
  margin: 0;
  overflow-y: hidden;
  li {
    @extend %matrix--wide;
    height: 100%;
    border-right: 0.1rem solid $darker;
  }
}

.matrix--column-header--link {
  @extend %mega;
  @extend %box-link;
  text-transform: uppercase;
  @include font-head;
  color: $beigeLight;
  padding: 1rem 1.6rem;
}

.matrix--controls {
  @extend %clearfix;
  position: absolute;
  left: 1.6rem;
  bottom: 3.8rem;
}

%matrix--controls--item {
  @extend %bare-focus;
  @extend %hidden-text;
  // @include transition(0.1s opacity ease-out);
  display: block;
  width: 4rem;
  height: 4rem;
  float: left;
  &.inactive {
    @include opacity(25);
    cursor: default;
  }
}

.matrix--previous {
  @extend %matrix--controls--item;
  @include svg(circle-arrow-left-beigeLight);
}

.matrix--next {
  @extend %matrix--controls--item;
  @include svg(circle-arrow-right-beigeLight);
  margin-left: 1.6rem;
}

// Row header
// ------------
// Wraps .matrix--row-header
.matrix--name-nav {
  width: $mainWidth;
  padding-top: $headerHeight;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 110;
  &.active {
    @include opacity(50);
  }
  &.stuck {
    position: fixed;
    margin: 0 auto;
    top: 11.6rem;
    left: auto;
  }
}

// TODO sort out full-bleed approach
.matrix--row-header {
  width: $matrixCellWidth - 0.1;
  position: relative;
  top: 0;
  ul {
    @extend %clearfix;
    @extend %unstyled-list;
    margin: 0;
  }
  li {
    @extend %matrix--tall;
    &:nth-child(even) {
      // @include full-bleed {
      //   background-color: $beigeLight;
      // }
      background-color: $beigeLight;
      // position: relative;
    }
  }
  a {
    @extend %bare-focus;
    @extend %box-link;
    @extend %bare-link;
    font-weight: $medium;
    padding: 2.4rem 1.6rem;
    &:hover {
      color: $white;
      background-color: $grayLighter;
    }
  }
}

// Content
// ------------
// Wraps .matrix--content
.matrix--body {
  @extend %clearfix;
  padding: $headerHeight 0 0 ($matrixCellWidth - 0.1);
  position: relative;
}

.matrix--content {
  @extend %matrix--slider;
  position: relative;
  z-index: 120;
}

// <ul>
.matrix--row {
  @extend %matrix--tall;
  @extend %floated-list;
  margin: 0;
  overflow-y: hidden;
  &:nth-child(even) {
    background-color: $beigeLight;
  }
  li {
    @extend %matrix--wide;
    @extend %matrix--tall;
    padding: 1rem 1.6rem;
    border-right: 0.1rem solid $darker;
  }
}

// Overlay
// ------------
.matrix--overlay {
  display: none;
  width: 100%;
  background-color: $beigeLight;
  padding: 2rem;
  position: relative;
  z-index: 120;
  h1 {
    padding-left: 3.6rem;
    position: relative;
  }
  .close {
    @include svg(circle-x-gray);
    display: block;
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 0;
    left: 0;
  }
  .child-frame {
    height: 40rem;
    &:nth-child(odd) {
      background-color: $beige;
    }
  }
}


// Groups
// ------------
.groups--owners-wrapper {
  @extend %clearfix;
}

.groups--owner {
  z-index: 15;
  background-color: #ECE7E6;
  border: 1px solid black;
  margin: 10px;
  font-size: 1.5rem;
  position: relative;
  &.selected {
    color: #FFF;
    background-color: #666666;
  }
}

.groups--owner-container {
  padding: 5px;
  width: 150px;
  float: left;

}

.groups--owner-name {
  position: absolute;
  top: 5px;
  width: 82px;
  left: 60px;
  display: block;
}


.groups--group {
  z-index: 10;
  background-color: #ECE7E6;
  border: 1px solid black;
  margin: 10px;
  padding: 5px;
  width: 200px;
  float: left;
  font-size: 1.5rem;
  position: relative;
}













































