// Variables
//----------

// Colors
// --------------------------------------------------------
$white: #fff;
$grayLightest: #d9d8d8;
$grayLighter: #b3b0b1;
$grayLight: #9c999a;
$gray: #8d898a;
$grayDark: #676263;
$grayDarker: #444243;
$grayDarkest: #282627;
$black: #000;

$beigeLight: #f9f7f7;
$beige: #ece7e6;
$beigeDark: #a19594;

$tealLighter: #a7b6b8;
$tealLight: #7f9ea0;
$teal: #5f8688;

$orangeLight: #f2926d;
$orange: #ec632f;

// Measurements
// --------------------------------------------------------
$mainWidth: 102.4rem;
$headerHeight: 11.6rem;

$baseLineHeight: 1.2;
$verticalSpace: $baseLineHeight * 1em;

$radius: 0.5rem;

// Responsive breakpoints
// --------------------------------------------------------
// $screenNarrow: 480px;
// $screenMedium: 610px;
// $screenWide: 720px;
