// Variables
//----------

// Colors
// --------------------------------------------------------
$white: #fff;
$whiteTransparent: transparentize(#fff, 0.25);
$offWhite: #fafafa;

$grayLightest: #F7F7F7;
$grayLight: #D9D8D8;
$grayMedium: #9D9FA1;
$grayMedium-alt: #8B8B8B;
$grayDark: #4D4D4F;

$tealLight: #3CC6BC;
$tealDark: #0AB0A9;

$black: #000000;

$primaryButtonColor: $tealLight;
$primaryButtonHoverColor: $tealDark;
$primaryLinkColor: $tealLight;

$secondaryButtonColor: $grayMedium;
$secondaryButtonHoverColor: $grayDark;


// Typographic hierarchy
// --------------------------------------------------------
// 60px
$alpha: 3.75em;
// 48px
$beta: 3em;
// 36px
$gamma: 2.25em;
// 28px
$delta: 1.75em;
// 24px
$epsilon: 1.5em;
// 21px
$zeta: 1.313em;
// 18px
$eta: 1.125em;
// 16px (body)
$theta: 1em;
// 14px
$iota: 0.875em;
// 13px
$kappa: 0.813em;
// 12px
$lambda: 0.750em;

// Measurements
// --------------------------------------------------------
$containerWidth: 1200px;
$minContainerWidth: 318px;
$headerHeight: 60px;
$headerUnitWidth: 82px;
$navWidth: 240px;
$tabWidth: 100 / 6 * 1%;
$mapWidth: 832px;

$baseLineHeight: 1;
$verticalSpace: $baseLineHeight * 1em;
$verticalSpaceTight: $baseLineHeight * .75em;
$verticalSpaceTightest: $baseLineHeight * .5em;


$defaultStroke: 1px;

$contentSpace: 2.778em;
$listSpace: .8em;

$fluidUnitPadding: 4vw;
$unitPadding: 48px;
$mediumUnitPadding: 30px;
$narrowUnitPadding: 13px;
$headerUnitPadding: 21px;

$contentUnitPadding: 2.75%;
$formPadding: 2%;

$iconSizeSmall: 10px;
$iconSizeMedium: 14px;



// $slowTransition: ;
$mediumTransition: 0.5s;
$fastTransition: 0.2s;
$timing: ease;


// Font Weights
// --------------------------------------------------------
$thin: 200;
$book: 300;
$regular: 400;
$semibold: 600;
$bold: 700;
$extrabold: 800;
$heavy: 900;

// Responsive breakpoints
// https://en.wikipedia.org/wiki/List_of_lakes_by_area
// --------------------------------------------------------
// NB these values are subject to adjustment
$superior: $containerWidth;
$michigan: 1080px;
$baikal: 960px;
$ontario: 767px;
$ladoga: 600px;
$vostok: 446px;
$onega: $minContainerWidth;

// Z-index schema
// 600-699: Overlays, modals, and lightboxes
// 500-599: Drawer
// 400-499: Page header
// 300-399: Click Shield
// 200-299: Fixed position components
// 100-199: Page content
// 0 - 99: Primary nav