// Variables
//----------

// Colors
// --------------------------------------------------------
$white: #fff;
$grayLightest: #d9d8d8;
$grayLighter: #b3b0b1;
$grayLight: #9c999a;
$gray: #8d898a;
$grayDark: #676263;
$grayDarker: #444243;
$grayDarkest: #282627;
$black: #000;

$beigeLight: #f9f7f7;
$beige: #ece7e6;
$beigeDark: #a19594;

$tealLightest: #b7c2c4;
$tealLighter: #a7b6b8;
$tealLight: #7f9ea0;
$tealMedium: #618688;
$teal: #5f8688;

$orangeLight: #f2926d;
$orange: #ec632f;

$yellow: #fbeda1;

$blueLight: #c6dfeb;

$redLight: #f9ccd4;

$greenLight: #bfe3c0;

$darker: transparentize($black, 0.54);

// Measurements
// --------------------------------------------------------
$mainWidth: 102.4rem;
$headerHeight: 11.6rem;
$matrixCellWidth: 20.5rem;
$matrixOverlayWidth: 82rem;

$baseLineHeight: 1.2;
$verticalSpace: $baseLineHeight * 1em;

$radius: 0.5rem;

// Typography
// --------------------------------------------------------
// $usage can be set to either 'open' or 'closed'
// 'open' will replace typefaces with their open source
// counterparts (in _fonts.scss) and adjust parameters accordingly
$usage: closed;
// $usage: open;

// Font Weights
// --------------------------
$regular: 400 !default;
$medium: 500 !default;
$bold: 700 !default;

@if $usage == open {
  $regular: 400;
  $medium: 600;
  $bold: 700;
}

// Offsets
// TODO adjust these once closed fonts are real; they might not be necessary, depending on final fonts
// --------------------------
$offset: 0 !default;

@if $usage == open {
  $offset: 0.1rem;
}

// Responsive breakpoints
// --------------------------------------------------------
// $screenNarrow: 480px;
// $screenMedium: 610px;
// $screenWide: 720px;
