@import "variables";
@import "mixins";
@import "patterns";

.vjs-progress-control {
  display: none;
}

.vjs-quality-button  {
  display: none;
}

.vjs-control-bar {
  font-size: 16px;
  color: $grayDarker;
}

.vjs-default-skin .vjs-volume-control {
  top: 5px;
}

.vjs-default-skin .vjs-volume-bar {
  background-color: #3B817D;
  height: 3px;
}

.vjs-default-skin .vjs-volume-level {
  background: $grayDarker;
  height: 3px;
}

.vjs-default-skin .vjs-volume-handle:before {
  top: -.4em;
}

.vjs-default-skin .vjs-control:before  {
  text-shadow: none;
}

.vjs-default-skin .vjs-control-bar {
  background-color: $tealLight;
}

#vjs-annotation-overlay {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  left: 0;
  text-align: center;
}

.vjs-waveform {
  &:focus {
    outline: none;
  }
}