@import "variables";
@import "mixins";
@import "patterns";

.vjs-progress-control {
  display: none;
}

.vjs-fullscreen .vjs-progress-control {
  display: block;
}


.vjs-quality-button  {
  display: none;
}

.vjs-control-bar {
  font-size: 16px;
  color: $grayDarker;
}

/* Replacement for focus outline */
.vjs-default-skin .vjs-control:focus:before,
.vjs-default-skin .vjs-control:hover:before {
  text-shadow: none;
  color: $grayDarkest;
}

.vjs-default-skin .vjs-volume-control {
  top: 5px;
}

.vjs-default-skin .vjs-volume-bar {
  background-color: #3B817D;
  height: 3px;
}

.vjs-default-skin .vjs-volume-level {
  background: $grayDarker;
  height: 3px;
}

.vjs-default-skin .vjs-volume-handle:before {
  top: -.4em;
  text-shadow: none;
}

.vjs-default-skin .vjs-volume-control {
  margin-right: 1em;
}

.vjs-default-skin .vjs-control:before  {
  text-shadow: none;
}

.vjs-default-skin .vjs-control-bar {
  background-color: $tealLight;
}

#vjs-annotation-overlay {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  left: 0;
  text-align: center;
}

.vjs-default-skin .vjs-slider {
  background: $grayDark;
  margin-bottom: 10px;
}

.vjs-default-skin .vjs-load-progress {
  background: $tealDark;
}

.vjs-default-skin .vjs-play-progress {
  background: $tealLightest;
}

.vjs-duration-display {
//  &:before {
//    content: 'Duration: '
//  }
}

.vjs-default-skin .vjs-time-controls {
//  width: 8em;
}

.vjs-waveform {
  &:focus {
    outline: none;
  }
}

.vjs-default-skin.vjs-paused .vjs-big-play-button {
  display: none;
}
.vjs-default-skin.vjs-paused .vjs-control-bar {
  display: block;
}

.vjs-default-skin.canvas-enabled .vjs-control-bar {
  visibility: hidden;
}

.vjs-default-skin .vjs-slider-handle:before {
  text-shadow: none;
  left: 5px;
}

.vjs-default-skin .vjs-annotation {
  display: none;
  position: absolute;
  font-size: 12px;
  line-height: 1.5em;
  width: 100%;
  padding: $verticalSpace $verticalSpace * 2;
  top: 0;
  font-size: 16px;
  color: $white;
  background: rgba(77, 77, 79, .5);
}
.vjs-fullscreen .vjs-annotation {
  display: block;
}