<% if can? :create, Course.new %>
  <%= link_to 'New Course', new_organization_course_path(@organization) %>
<% end %>

<% @courses.each do |course| %>
  <h3><%= link_to course, organization_course_path(@organization, course) %></h3>
  <% course.assignments.each do |assignment| %>
    <div><%= assignment.name %></div>
  <% end %>
<% end %>




