<% content_for :content do %>

	<% unless @course.message.blank? %>
		<div class="page-message">
			<div class="header">
				Course Message
			</div>
			<div class="body markdown-content">
				<%= raw @course.rendered_message %>
			</div>
		</div>
	<% end %>

    <div class="page-section">
          <div class="header-wrapper">
            <div class="header">
              <h2 class="heading-page-section projects-name-header">Your Projects</h2>
            </div>
          </div>
      <div class="portfolio">
        <% if @course.submissions_for_creator(current_user).count > 0 %>
            <% @course.submissions_for_creator(current_user).each_with_index do |submission, index| %>
                <%= render 'shared/submission_summary', :submission => submission %>
            <% end %>
        <% else %>
            <div class="alert alert-notice">
              Your instructor has not created any projects for this course. Please check back soon.
            </div>
        <% end %>
      </div>
    </div>

<% end %>
