   <div class="grid60">
      <video width="98%" id="ourvideo" controls>
        <source src="{{exhibit.submission.url}}">
      </video>
    </div>
    <div class="grid40">
      <div class="creator-submission--annotations">
        <header class="clearfix">
          <div class="grid50">
            <h5 style="padding-left: 15px;">Video Annotations</h5>
          </div>
          <div class="grid50 text-right with-padding">
            <a href="#" class="btn btn-mini" style="margin: 0 15px;">+ Expand all</a>
          </div>
        </header>
        <ul class="annotations--list unstyled">
          <li id="annotation-one">
            <small class="with-white">00:00 Peer Name</small>
            <p><em>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt perferendis qui voluptatibus labore officiis excepturi veritatis facilis vero alias architecto?</em></p>
          </li>
          <li id="annotation-two">
            <small class="with-white">00:02 Peer Name</small>
            <p><em>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti ab aliquid quaerat quam quod laborum soluta quibusdam quae esse excepturi dolorum provident facilis aspernatur sint voluptatibus eaque debitis. Soluta reprehenderit consectetur dolor incidunt nam expedita illum nemo quis libero fugit!</em></p>
          </li>
          <li id="annotation-three">
            <small class="with-white">00:04 Peer Name</small>
            <p><em>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis culpa minima reprehenderit rerum amet voluptatibus sit.</em></p>
          </li>
        </ul>
      </div>
    </div>