<form>
  <div class="input-group">
    <label class="text-label">Search by Section</label>
    <input data-behavior="search-term" class="text-input" type="text">
	  <small class="input-message">As you type the section, the corresponding course will appear below. Simply click on the course to enroll the user.</small>
    <ul class="pick-list" data-container="items"></ul>
  </div>
</form>