<% content_for :content do %>
	<div class="page-content">
		<div class="authentication-tile">
			<form>
				<div class="formgrid whole">
					<label>Welcome to Vocat. Please select your college from the list below.</label>
					<select data-behavior="chosen"></select>
				</div>
			</form>
		</div>
		<footer class="authentication-footer">
			<ul>
				<li><a href="http://vocat.io">Learn more about Vocat</a></li>
			</ul>
		</footer>
	</div>
<% end %>
<% content_for :body_class do %>bg-dark
<% end %>
