<div class="alert alert-error">
	<aside class="alert--label"></aside>
	<p>
		Uh-oh, Vocat has run into a problem it can't solve:
	</p>

	<p>
		<span style="font-weight: normal">{{msg}}</span>
	</p>
</div>
