<div class="page-section" >
	<div class="header-wrapper">
		<div class="header">
			<h2 class="heading-page-section">Add an Annotation</h2>
		</div>
	</div>
	<div class="body" >
		<div class="annotation-input">
			<form>
				<div class="formgrid oneline--input">
					<div class="button-wrapper">
						<button type="submit" class="primary-button post-button" data-behavior="annotation-save">Save Annotation</button>
					</div>
					<div class="input-wrapper">
						<input type="text" data-behavior="annotation-input" placeholder="Enter a video annotation...">
					</div>
					<div class="button-wrapper-responsive">
						<button type="submit" class="primary-button post-button" data-behavior="annotation-save">Save Annotation</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>


