<div class="page-section-header">
  <div class="heading-page-section">
    <h2>Annotations</h2>
    <a href="#" data-behavior="enable-edit" class="header-link header-link-inline">(Edit)</a>
    <a href="#" style="display: none;" data-behavior="disable-edit" class="header-link header-link-inline">(Stop Editing)</a>
  </div>
  <div class="page-content--heading-buttons">
      <ul class="bubble" style="position: relative">
        <li data-behavior="annotation-count">
          {{count}} Annotations
        </li>
      </ul>
  </div>
</div>
<div class="page-section page-section-full-bleed" data-behavior="scroll-parent" class="annotations--content">
 <ul data-behavior="annotations-container" class="annotations--list">
  </ul>
  <span data-behavior="anchor" class="annotation--scroll-anchor"></span>
</div>
