<%= render :partial => 'shared/bootstrap_model', :locals => {:key => 'Rubric', :model => @rubric}%>

<div class="rubric-index">
  <div class="content-frame">
    <h1 class="heading-largest">Edit Rubric</h1>
  </div>
  <div class="content-frame">
    <div data-view="RubricBuilder">
    </div>
  </div>
</div>
