<div class="rubric-index">
  <div class="content-frame">
    <h1 class="heading-largest">Create a Rubric</h1>
  </div>
  <div class="content-frame">
    <div data-course="<%= @course.id %>" data-view="RubricBuilder">
      <% content_for :backbone_bootstrap do %>
      <% end %>
    </div>
  </div>
</div>
