<div class="page-section-50-50">
  <div class="page-section-wrapper" data-region="player">
  </div>
  <div class="page-section-wrapper" data-region="annotations">
  </div>
</div>

<div class="page-section-header">
  <h2 class="heading-page-section">Add an Annotation</h2>
  <div class="page-content--heading-buttons">
  </div>
</div>
<div class="page-section" data-region="annotate">
</div>