<div class="page-section-wrapper">
  <div class="page-section page-section page-section-half" data-region="player">
  </div>

  <div class="page-section page-section-half" data-region="annotations">
  </div>
</div>

<div data-region="annotate">
</div>



