<div class="page-section-wrapper">
  <div class="page-section page-section-half" data-region="player">
  </div>

  <div class="page-section page-section-half" data-region="annotations">
  </div>
</div>

<div class="page-section" >
  <div class="header-wrapper">
    <div class="header">
      <h2 class="heading-page-section">Add an Annotation</h2>
    </div>
  </div>
  <div class="body" data-region="annotate"></div>
</div>



