<div class="page-section-spacing-top page-section">
	<div class="header-wrapper">
		<div class="buttons">
		</div>
		<div class="header"><h2>Manage Submission</h2></div>
	</div>

	<div class="body" data-behavior="body">
		<a href="/courses/{{courseId}}/submissions/{{id}}/reassign" class="primary-button next-button">Reassign Submission</a>
		<a href="/courses/{{courseId}}/submissions/{{id}}/destroy_confirm" data-behavior="delete" class="warning-button delete-button">Delete Submission</a>
	</div>
</div>

