<div class="annotator">
	<div class="formgrid whole progress-bar-container" data-behavior="progress-bar"></div>
	<div class="formgrid whole annotator-input-wrapper" data-region="annotator-input"></div>
</div>
