<div class="formgrid whole">
	<textarea placeholder="Begin typing here ..." class="annotation-input" data-behavior="annotation-input">{{body}}</textarea>
</div>
<div class="formgrid third">
	{{#if id}}
		<button data-behavior="annotation-update" class="primary-button new-button">Update</button>
		<button data-behavior="annotation-edit-cancel" class="gentle-warning-button cancel-button">Cancel</button>
	{{else}}
		<button data-behavior="annotation-create" class="primary-button new-button">Post</button>
		<button data-behavior="annotation-create-cancel" class="gentle-warning-button cancel-button">Cancel</button>
	{{/if}}
</div>
<div class="formgrid two-thirds border-buttons" style="text-align: right;" data-region="annotator-input">
	<button class="primary-button oval-button" data-behavior="annotation-canvas-oval">Oval</button>
	<button class="primary-button draw-button" data-behavior="annotation-canvas-draw">Draw</button>
	<button class="primary-button erase-button" data-behavior="annotation-canvas-erase">Erase</button>
</div>
