<div class="formgrid whole">
	<textarea placeholder="To add an annotation, begin typing here or use the drawing tools below..." class="annotation-input"
			  data-behavior="annotation-input">{{body_raw}}</textarea>
</div>
<div data-behavior="annotation-buttons-left" class="formgrid third annotation-input-buttons-left">
	{{#if id}}
		<button data-behavior="annotation-update" class="primary-button new-button">Update</button>
		<button data-behavior="annotation-edit-cancel" class="gentle-warning-button cancel-button">Cancel</button>
	{{else}}
		<button data-behavior="annotation-create" class="primary-button new-button">Post</button>
		<button data-behavior="annotation-create-cancel" class="warning-button cancel-button">Cancel</button>
	{{/if}}
</div>
<div class="formgrid two-thirds border-buttons annotation-input-buttons-right" data-region="annotator-input">
	<button class="primary-button select-button" data-behavior="annotation-canvas-select">Select</button>
	<button class="primary-button erase-button" data-behavior="annotation-canvas-erase">Erase</button>
	<button class="primary-button oval-button" data-behavior="annotation-canvas-oval">Oval</button>
	<button class="primary-button draw-button" data-behavior="annotation-canvas-draw">Draw</button>
</div>
<div class="formgrid whole" style="position: relative;">
	<div class="annotation-message" data-behavior="message"></div>
</div>
