<div class="annotator">
	<div class="formgrid whole">
		<div data-behavior="progress-bar"></div>
	</div>
	<div class="formgrid whole">
		<textarea class="annotation-input" data-behavior="annotation-input"></textarea>
	</div>
	<div class="formgrid half">
		<button class="primary-button">Oval</button>
		<button class="primary-button">Draw</button>
		<button class="primary-button">Erase</button>
	</div>
	<div class="formgrid half" style="text-align: right;">
		<button class="warning-button delete-button">Delete</button>
		<button data-behavior="annotation-post" class="primary-button new-button">Post</button>
	</div>
</div>
