<div class="timeline-container">
	<div class="timeline">
		<div class="scrubber" data-behavior="scrubber"></div>
		<div class="track-overlay" data-behavior="track-overlay"></div>
		<div style="width: 0%" data-behavior="buffered" class="buffered"></div>
		<div style="width: 0%" data-behavior="played" class="played"></div>
		<div class="track"></div>
		<ul class="marks" data-behavior="marks">
		</ul>
	</div>
	<div class="time">
		<span data-behavior="time-elapsed" class="time-elapsed">00:30</span>&nbsp;/&nbsp;<span data-behavior="time-duration" class="time-duration">00:30</span>
	</div>
</div>
