<header class="button-header">
  <h2 class="button-header--title"><%= @user.name %></h2>
</header>

<div class="double-space-bottom">
  <%= render 'nav', :user => @user, :subheader => subheader %>
</div>
