<fieldset>
  <div class="input-group">
    <%= f.label :password, :class => 'text-label' %>
    <%= f.password_field :password, :autocomplete => "off", :class => 'text-input' %>
    <small class="input-message">Leave blank if you don't want to change it</small>
  </div>

  <div class="input-group">
    <%= f.label :password_confirmation, :class => 'text-label' %>
    <%= f.password_field :password_confirmation, :class => 'text-input' %>
  </div>
</fieldset>