<% content_for :content_header do %>
  Users
<% end %>

<% content_for :content_header_links do %>
  <%= link_to 'Back to Users', admin_users_path(), :class => 'gray-ex-button' %>
<% end %>

<% content_for :content_intro do %>
<% end %>

<% content_for :content_frames	 do %>

  <header class="button-header">
    <h2 class="button-header--title space-bottom">Create Multiple Users</h2>
  </header>

  <%= form_tag bulk_confirm_admin_users_path(@rubric), :method => :post do %>
    <fieldset>
      <div class="input-group">
      <%= text_area_tag 'user_details', nil, class: 'text-area-input' %>
      </div>
    </fieldset>
  <% end %>

<% end %>

