<% content_for :content_header do %>
  Users
<% end %>

<% content_for :content_header_links do %>
  <%= render 'header_links' %>
<% end %>

<% content_for :content_frames	 do %>

  <%= render 'header', :subheader => 'List Courses' %>

  <div class="double-space-bottom">
    <div data-region="creator-enrollment">
    </div>
  </div>

<% end %>

