<% content_for :content_header do %>
  New Project
<% end %>

<% content_for :content_header_links do %>
<% end %>

<% content_for :content_intro do %>
  <p>

  </p>
<% end %>

<% content_for :content_frames	 do %>
  <%= form_for(@project, :url => course_manage_projects_path(@course)) do |f| %>

    <%= render 'form', :f => f %>

    <div class="input-group">
      <%= link_to 'Back', course_manage_projects_path(@course), :class => 'gray-ex-button' %>
      <%= f.submit 'Save project', :class => 'teal-arrow-button' %>
    </div>

  <% end %>
<% end %>
