<div class="project-show">
  <header class="bar-header double-space-bottom">
    <h2 class="bar-header--title">New Project</h2>
  </header>
  <div class="page-content--frame">
    <%= simple_form_for(@project, :url => course_manage_projects_path(@course)) do |f| %>
      <%= render 'form', :f => f %>
        <div class="input-group">
          <%= link_to 'Back', course_manage_projects_path(@course), :class => 'gray-ex-button' %>
          <%= f.button :submit, 'Save project', :class => 'teal-arrow-button' %>
        </div>
    <% end %>
  </div>
</div>
