<% content_for :backbone_bootstrap do %>
  window.Vocat.Bootstrap.Collections.Creator = <%= bootstrap @creators%>;
  window.Vocat.Bootstrap.Collections.Project = <%= bootstrap @projects %>;
  window.Vocat.Bootstrap.Collections.Submission = <%= bootstrap @submissions %>;
<% end %>

<div data-view="CourseMap" id="courseMap"></div>