<div class="alerts"><div class="alert alert-notice" style="display: block;"><aside class="alert--label"></aside>
  {{#if showInput }}
  <p class="input-group">
    <input data-behavior="contact" class="text-input" type="text">
  </p>
  <p>
    To invite a new user and enroll her in this course, please enter the the users name and email and press the button below. Invited users will receive an
    automated email with their login details and will be added to this course.
  </p>
  {{else}}
  <ul>
    {{#each contacts}}
      <li>No user with the email address "{{this.email}}" exists in VOCAT.</li>
    {{/each}}
  </ul>
  <p>
    To invite these users and enroll them in this course, please press the button below. Invited users will receive an
    automated email with their login details and will be added to this course.
  </p>
  {{/if}}
  <p>
      <a href="#" data-behavior="submit-invite-and-enroll" class="primary-button new-button">Invite New Users</a>
      <a href="#" data-behavior="cancel-invite-and-enroll" class="secondary-button">Cancel</a>
  </p>
</div></div>