
<div data-behavior="not_found">
  No users found with this email address. To add a new user, please enter the complete email address.
</div>
<div style="display: none;" data-behavior="invite">
  <a
    data-behavior="invite_trigger"
    data-template="Add {email} to VOCAT"
    data-template-loading="Searching for {email}"
    style="margin-top: 1rem;" href="#"
    class="small-teal-plus-button" >
  </a>
</div>
