<div class="input-group">
  <label class="text-label">Find Users by Email</label>
  <input data-behavior="search-term" class="text-input" type="text">
  <small class="input-message">As you type the email, results will appear below. Simply click on the user's name to add the user to the course.</small>
  <ul class="pick-list" data-container="items"></ul>
</div>