<h3 class="frame-summary--label">Role: Assistant</h3>
<h2 class="frame-summary--title"><%= link_to course, course_user_evaluations_path(course) %> </h2>

<div class="portfolio-frame">
	<%= render 'shared/course_synopsis', :course => course %>
</div>