<% if current_user.sorted_grouped_upcoming_courses.count > 0 %>
    <% current_user.sorted_grouped_upcoming_courses.each do |semester, courses| %>
        <h3 class="semester-header"><%= semester %></h3>
        <% courses.each do |course| %>
          <%= render 'shared/course_synopsis', :course => course %>
        <% end %>
    <% end %>
<% else %>
    <% current_user.most_recent_semester_courses.each do |semester, courses| %>
        <h3 class="semester-header"><%= semester %></h3>
        <% courses.each do |course| %>
            <%= render 'shared/course_synopsis', :course => course %>
        <% end %>
    <% end %>
<% end %>
