<div class="body secondary">
  <% if current_user.courses.count > 0 %>
      <% current_user.courses.each do |course| %>
          <%= render 'shared/course_synopsis', :course => course %>
      <% end %>
  <% else %>
      It looks like you don't belong to any courses
      yet. <%= link_to 'Click here to request your first Vocat course', new_course_request_path %>.
  <% end %>
</div>
