<div class="page-section--subsection page-section--subsection-ruled">
  <div class="subsection-header">
    <h3 class="heading-tertiary">
      <%= link_to course, course_user_evaluations_path(course)  %>
    </h3>
  </div>
  <div class="page-section-half">
    <%= render 'shared/course_synopsis', :course => course %>
  </div>
  <div class="page-section-half">
    <h4 class="heading-quarternary">
      Recently Updated Submissions
    </h4>
    <%= render 'shared/course_recent_submissions', :course => course %>
    <h4 class="heading-quarternary">
      Course Projects
    </h4>
    <%= render 'shared/course_projects', :course => course %>
  </div>
</div>

