<div class="submission-links info-container">
  <% if evaluator_or_admin? %>
    <%= link_to 'INDIVIDUAL WORK', course_user_evaluations_path(course) %>
  <% else %>
    <%= link_to 'PEER WORK', course_user_evaluations_path(course) %>
  <% end %>
  <%= link_to 'GROUP WORK', course_group_evaluations_path(course) %>
</div>