<div class="evaluation-detail">
	<div class="evaluation-detail-frame">
		<figure class="attachment">
			<div data-behavior="player-view"></div>
			<figcaption data-behavior="annotations-view"></figcaption>
		</figure>
		<div data-behavior="annotator-view"></div>
		<div class="box" data-behavior="upload-view"></div>
	</div>
	<div class="evaluation-detail-frame" data-behavior="score-view"></div>
	<div class="evaluation-detail-frame" data-behavior="discussion-view"></div>
</div>