@import "variables";
@import "mixins";
@import "patterns";

.score-compare-container {
  padding: 0;
  li {
    display: block;
    width: 20%;
    float: left;
    .score-compare-field-label {
      border-top: 1px solid $grayMedium;
      padding-top: .5em;
      height: 4em;
      overflow: hidden;
    }
    .score-compare-content {
      margin: 20px;
    }
    .score-compare-circle-container {
      text-align: left;
      padding: 1em 0 1em 0;
    }
    .score-compare-circle {
      display: inline-block;
      border-radius: 50%;
      width: 130px;
      height: 130px;
      background-color: lightblue;
    }
    .summary-box-stacked div span {
      font-size: 1.5em;
    }
  }

}


.summary-box, .summary-box-stacked {
  figcaption {
    @extend %label;
    width: 100%;
    color: $grayDark;
    text-align: center;
    padding: .5em 1em 0em 1em;
    min-height: 2.5em;
    line-height: 1.25em;
    &.no-padding {
      padding: .5em 0 0;
    }
  }
}

.summary-box-stacked {
  margin-bottom: 1em;
  figcaption {
    line-height: 1.25em;
    min-height: 0;
    text-align: left;
    padding-bottom: .25em;
  }
  span {
    @extend %condensedHeading;
    font-weight: $thin;
    position: relative;
    top: 50%;
    z-index: 10;
    color: $grayDarkest;
    font-size: $gamma-major;
  }
}

.summary-box {
  @extend %wide-one-fourth;
  @extend %medium-one-third;
  @extend %narrow-one-half;
  width: 127px;

  + .summary-box {
    margin-left: 30px;
    
    @include respond($baikal) {
      margin-left: 0;
    }
  }
  .page-message & {
    @extend %medium-one-fourth;
    @extend %narrow-one-half;
    padding-left: 0;
    padding-bottom: 0;
  }
  .portfolio-item & {
    @extend %medium-one-fourth;
    @extend %narrow-one-half;
    padding-left: 0;
    margin-top: 16px;
  }
  position: relative;
  padding: 0;
  color: $white;
  text-align: center;
  &.summary-box-creator.summary-box-zero div:after {
    border-top-color: $tealLight;
  }
  &.summary-box-creator div {
    background: $tealLight;
    &:after {
      border-top-color: $tealLight;
    }
  }
  &.summary-box-creator-light.summary-box-zero div:after {
    border-top-color: $tealLightest;
  }
  &.summary-box-creator-light div {
    background: $tealLightest;
    &:after {
      border-top-color: $tealLightest;
    }
  }
  &.summary-box-default div {
    background: $defaultFillColor;
    &:after {
      border-top-color: $defaultFillColor;
    }
  }
  &.summary-box-empty div {
    background: $grayLight;
    &:after {
      border-top-color: $grayLight;
    }
  }
  &.summary-box-default-percentage.summary-box-zero div:after {
    border-top-color: $defaultColor;
  }

  &.summary-box-default-percentage div {
    background: $defaultColor;
    &:after {
      border-top-color: $defaultFillColor;
    }
    b {
      background: $defaultFillColor;
    }
  }
  &.summary-box-evaluator.summary-box-zero div:after {
    border-top-color: $instructorColor;
  }
  &.summary-box-evaluator div {
    background: $instructorColor;
    b {
      background: $instructorFillColor;
    }
    &:after {
      border-top-color: $instructorFillColor;
    }
  }
  &.summary-box-peer.summary-box-zero div:after {
    border-top-color: $peerColor;
  }
  &.summary-box-peer div {
    background: $peerColor;
    b {
      background: $peerFillColor;
    }
    &:after {
      border-top-color: $peerFillColor;
    }
  }
  div {
    background: $white;
    padding: 1em .5em;
    text-align: center;
    position: relative;
    height: 115px;
    width: 127px;
    margin: auto;
    &.no-icon > span {
      top: 40%;
    }
    span.smaller-font {
      font-size: $zeta;
    }
    &.gray-box {
    background-color: $grayLightest;
  }
    span {
      @extend %condensedHeading;
      font-weight: $thin;
      display: block;
      position: relative;
      z-index: 10;
      font-size: 42px;
      color: $grayDarkest;

      &.empty {
        display: block;
        @extend %condensedHeading;
        text-transform: uppercase;
        font-size: $theta;
        margin: 6px 0;
      }

      &.unit {
        font-size: $theta;
      }
    }
    small {
      z-index: 10;
      position: relative;
      top: -.12em;
      font-size: $gamma;
    }
    b {
      z-index: 5;
      display: block;
      width: 100%;
      position: absolute;
      bottom: 0;
      background-color: $tealLight;
    }
  }
  .summary-box--content {
    height: 6em;
    .summary-box--content-wrapper {
      display: block;
      top: 50%;
      position: relative;
      -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
      width: 100%;
      vertical-align: middle;
      margin: 0;
      padding: 0;
    }
    span {
      line-height: .85em;
      top: 0;
    }
  }
  span.badge {
    display: inline-block;
    text-align: center;
    border: 1px solid $tealLight;
    margin-top: 5px;
    font-size: .75em;
    font-weight: $regular;
    padding: 2px 5px;
  }
}

.comments-icon {
  @include svg('comment-gray');
  width: 30px;
  height: 30px;
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
}
.annotations-icon {
  @include svg('annotation-gray');
  width: 30px;
  height: 30px;
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
}
.media-icon {
  @include svg('upload-media');
  width: 40px;
  height: 40px;
  display: block;
  margin: 0 auto;
  margin-bottom: 6px;
}
.video-icon {
  @include svg('upload-video');
  width: 40px;
  height: 40px;
  display: block;
  margin: 0 auto;
  margin-bottom: 5px;
}
.peer-icon {
  @include svg('people-check-purple');
  width: 44px;
  height: 30px;
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
}
.instructor-icon {
  @include svg('person-check-orange');
  width: 30px;
  height: 31px;
  display: block;
  margin: 0 auto;
  margin-bottom: 14px;
}
.self-icon {
  @include svg('person-check-green');
  width: 30px;
  height: 31px;
  display: block;
  margin: 0 auto;
  margin-bottom: 14px;
}