<header class="button-header clearfix ">
  <h2 class="button-header--title"><%= "#{truncate(@course.name, length: 50, separator: ' ')} - #{@course.semester_name} #{@course.year}" %></h2>
</header>

<div style="margin-bottom: 2rem;">
  <%= render 'nav', :course => @course, :subheader => subheader %>
</div>

