<header class="button-header clearfix ">
  <h2 class="button-header--title"><%= "#{truncate(@course.name, length: 50, separator: ' ')} - #{@course.semester_name} #{@course.year}" %></h2>
</header>

<div class="double-space-bottom">
  <%= render 'nav', :course => @course, :subheader => subheader %>
</div>

