<% content_for :content_header do %>
  Courses
<% end %>

<% content_for :content_header_links do %>
  <%= render 'header_links' %>
<% end %>

<% content_for :content_frames	 do %>
  <%= render 'header', :subheader => 'Manage Assistants' %>
  <div>
    <div data-region="assistant-enrollment">
    </div>
  </div>
<% end %>

