<%= render :partial => 'heading', :locals => {course: @course, subheader: 'Manage Assistants'} %>

<% content_for :content do %>
	<div>
		<div data-region="assistant-enrollment" data-label="Manage Course Assistants">
		</div>
	</div>
<% end %>

