<%= render :partial => 'heading', :locals => {course: @course, subheader: 'Manage Creators'} %>

<% content_for :content do %>
	<div>
		<div data-region="creator-enrollment" data-label="Manage Course Creators">
		</div>
	</div>
<% end %>

