<% content_for :content_header do %>
  Courses
<% end %>

<% content_for :content_header_links do %>
  <%= link_to 'Back to Course List', admin_courses_path(), :class => 'gray-ex-button' %>
<% end %>

<% content_for :content_intro do %>
<% end %>

<% content_for :content_frames	 do %>

  <%= render 'header', :subheader => 'Creators' %>

  <div>
    <header class="frame--header">
      <h2 class="frame--title">Creators</h2>
    </header>
    <div data-region="creator-enrollment">
    </div>
  </div>
<% end %>

