<% content_for :content_header do %>
  Courses
<% end %>

<% content_for :content_header_links do %>
  <%= link_to 'Back to Course List', admin_courses_path(), :class => 'gray-ex-button' %>
<% end %>

<% content_for :content_frames	 do %>

  <%= render 'header', :subheader => 'Evaluators' %>

  <div class="double-space-bottom">
    <div data-region="evaluator-enrollment">
    </div>
  </div>

<% end %>

