<%= render :partial => 'heading', :locals => {course: @course, subheader: 'Manage Evaluators'} %>

<% content_for :content	 do %>
  <div>
    <div data-region="evaluator-enrollment" data-label="Manage Course Evaluators">
    </div>
  </div>
<% end %>

