<h5 class="modal--header">Group Members</h5>
<p>
	<ul class="unstyled-list">
		{{#each members}}
		<li>{{this}}</li>
		{{/each}}
	</ul>
</p>
<a href="#" class="primary-button close-button" data-behavior="dismiss">Close</a>
