{{#if headerLabel}}
<h5 class="modal--header">{{headerLabel}}</h5>
{{/if}}
<p style="margin-bottom: 2rem;">{{descriptionLabel}}</p>
<a href="#" class="primary-button confirm-button" data-behavior="confirm">{{confirmLabel}}</a>
<a href="#" class="warning-button cancel-button" data-behavior="dismiss">{{dismissLabel}}</a>
