<p style="margin-bottom: 2rem;">{{descriptionLabel}}</p>
<a href="#" class="teal-plus-button" data-behavior="confirm">{{confirmLabel}}</a>
<a href="#" class="gray-ex-button" data-behavior="dismiss">{{dismissLabel}}</a>
