<div class="page-section">
  <div class="header-wrapper">
    <div class="header">
      <h2 class="heading-page-section" data-behavior="label-container">{{label}}</h2>
    </div>
  </div>
  <div class="body">
    <form class="formgrid">
      <div data-region="flash">
      </div>
      <div data-region="input">
      </div>
      <div data-region="invite">
      </div>
    </form>
  </div>
</div>

<div class="page-section page-section-clear">
  <div data-region="list" class="table-wrapper" >
  </div>
</div>

