<footer class="page-footer">
	<div class="page-footer-inner">
		<span class="page-footer-msg">Vocat is brought to you by <a target="_blank" href="http://ctl.baruch.cuny.edu/">
			The Center for Teaching and Learning</a> at <a href="http://baruch.cuny.edu" target="_blank">Baruch
			College</a>. Learn more at <a href="http://vocat.io" target="_blank">vocat.io</a>.</span>
		<span class="page-footer-version">version 1.3.2, build 7cdcb55e</span>
	</div>
</footer>