<div id="notification-container" data-region="global-notifications">
</div>
<script type="text/json" class="bootstrap" data-bootstrap-key="globalFlash" id="bootstrap-globalFlash">
  <%= serialize_flash %>
</script>
