<div id="notifications">
  <div id="global-flash"></div>
  <div id="global-notify"></div>
  <script type="text/json" class="bootstrap" data-bootstrap-key="globalFlash" id="bootstrap-globalFlash">
    <%= serialize_flash %>
  </script>
</div>
