<nav class="adaptive-nav">
  <ul class="adaptive-nav--list">
    <li><%= link_to 'Courses', admin_courses_path %></li>
    <li><%= link_to 'Users', admin_users_path %></li>
    <li><%= link_to 'Rubrics', admin_rubrics_path %></li>
  </ul>
</nav>