<nav class="adaptive-nav">
  <ul class="adaptive-nav--list">
    <li><%= link_to 'My Presentations', portfolio_course_path(:id => @course) %></li>
    <% if can? :evaluate, @course %>
      <li><%= link_to 'Evaluate Peer Presentations', courses_exhibits_path(@course) %></li>
    <% end %>
  </ul>
</nav>
