<div class="shortcut-nav js-shortcut-nav invisible" >
  <div class="shortcut-nav--wrapper">
    <% if @course %>
    <div class="shortcut-nav--item">
      <nav class="assignment-selector" data-behavior="dropdown">
        <h2 class="shortcut-nav--title">Go to Assignment</h2>
        <a class="assignment-selector--toggle" data-behavior="toggle" href="#">View All Assignments</a>
        <div class="assignment-selector--dropdown" data-behavior="dropdown-options">
          <ul>
            <li><a href="">Assignment 1</a></li>
            <li><a href="">Assignment 2</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="shortcut-nav--item">
      <nav class="peer-selector" data-behavior="dropdown">
        <h2 class="shortcut-nav--title">Provide Peer Feedback</h2>
        <a class="peer-selector--toggle" data-behavior="toggle" href="#">View All Peers</a>
        <div class="peer-selector--dropdown" data-behavior="dropdown-options">
          <ul>
            <li><a href="">Peer 1</a></li>
            <li><a href="">Peer 2</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <% end %>
    <div class="shortcut-nav--item">
      <nav class="help-nav">
        <h2 class="shortcut-nav--title">Help</h2>
        <ul class="help-nav--list">
          <li data-view="glossary-toggle">
            <label class="help-nav--label">
              <input class="help-nav--checkbox" type="checkbox" data-behavior="help-overlay-toggle"><b></b><span class="help-nav--checkbox-text">Activate Help Overlay</span>
            </label>
          </li>
          <li>
            <a href="/pages/faq">Go to FAQ</a>
          </li>
          <li>
            <a href="/pages/tutorial">View Tutorial</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>