<% content_for :backbone_bootstrap do %>
<% end %>

<% content_for :adaptive_navigation do %>
  <% if @course %>
  <nav class="nav-adaptive">
    <div class="container">
      <ul class="nav">
        <li><%= link_to 'My Presentations', portfolio_course_path(:id => @course) %></li>
	      <% if can? :evaluate, @course %>
        <li><%= link_to 'Evaluate Peer Presentations', courses_exhibits_path(@course) %></li>
		    <% end %>
      </ul>
    </div>
  </nav>
  <% end %>
<% end %>

<%= render :template => 'layouts/application' %>