<% content_for :backbone_bootstrap do %>
<% end %>

<% if @course %>
  <% content_for :adaptive_navigation do %>
    <nav class="nav-adaptive">
      <div class="container">
        <ul class="nav">
          <li><%= link_to 'Evaluations', courses_exhibits_path(@course) %></li>
          <li><%= link_to 'Manage Course', course_path(@course) %></li>
          <li><a href="#">Reports</a></li>
        </ul>
      </div>
    </nav>
  <% end %>
<% end %>

<%= render :template => 'layouts/application' %>