<% content_for :backbone_bootstrap do %>
<% end %>

<% if @course %>
  <% content_for :adaptive_navigation do %>
    <nav class="adaptive-nav">
      <ul class="adaptive-nav--list">
        <li><%= link_to 'Evaluations', courses_evaluations_path(@course) %></li>
        <li data-class="dropdown-container">
          <a class="adaptive-nav--link" data-class="dropdown-toggle" href="<%= url_for course_path(@course) %>">Manage Course</a>
          <div class="adaptive-nav--dropdown" data-class="dropdown">
            <ul>
              <li>
                <%=  link_to 'Projects', course_projects_path(@course) %>
              </li>
              <li><a href="">Groups</a></li>
              <li><a href="">Videos</a></li>
              <li><a href="">Settings</a></li>
            </ul>
          </div>
        </li>
        <li><a href="#">Reports</a></li>
      </ul>
    </nav>
  <% end %>
<% end %>

<%= render :template => 'layouts/application' %>