<% content_for :course_selector do %>
  <%= collection_select(
          :current_course, :id, current_user.evaluator_courses, :id, :to_s, {:include_blank => "All of my courses"},
          :id => "course_select", :data => {:url => creator_course_overview_path(@organization.id, current_user.courses.first)}
      ) %>
<% end %>

<% content_for :adaptive_navigation do %>
  <nav class="navbar-inner">
    <div class="container">
      <ul class="nav">
        <li><%=  link_to 'Evaluations', creator_course_map_path %></li>
        <li><a href="#">Manage Course</a></li>
        <li><a href="#">Reports</a></li>
      </ul>
    </div>
  </nav>
<% end %>

<%= render :template => 'layouts/application' %>