<div class="page-content--heading">
	<a class="header-link back-link" data-behavior="detail-close"
	   href="/courses/{{project.course_id}}/users/evaluations">Back to Evaluations</a>
</div>

<div class="page-section">
	<div class="header-wrapper">
		<div class="header">
			<h2>Project Details</h2>
		</div>
	</div>
	<div class="body">
		<div class="page-section--subsection page-section--subsection-ruled">
			<div class="subsection-header">
				<h1 class="heading-primary">{{project.name}}</h1>
			</div>
			<div>
				{{{project.description}}}
				<div class="heading-utility" style="margin-top: 1em">
					{{#if project.due_date}}
						<span class="badge">Due {{project.due_date}}</span>
					{{/if}}
					<a href="#" class="button primary-button" data-behavior="show-rubric">Show Rubric</a>
					<a href="#" class="button primary-button" data-behavior="show-rubric">Edit Project Settings</a>
				</div>
			</div>
		</div>
		<div class="page-section--subsection page-section--subsection-ruled" data-region="project-score-overview">

		</div>

		<div class="page-section--subsection page-section--subsection-ruled" data-region="project-media-overview">

		</div>
		<div class="page-section--subsection page-section--subsection-ruled" data-region="project-compare-scores">

		</div>

	</div>
</div>

<div class="page-section page-section-clear">
	<div class="header-wrapper">
		<div class="header">
			<h2>Students</h2>
		</div>
	</div>
	<div class="body">
		<div data-region="project-submission-list"></div>
    </div>
</div>

