<h2 style="margin-bottom: 1rem;" class="button-header--title">{{name}}</h2>
{{{description}}}
<strong>Rubric: </strong>{{#if rubric.name}}{{rubric.name}}{{else}}This project does not use a rubric.{{/if}}