<% current_user.role?(:administrator) || current_user.role?(:superadministrator) ? dash_text = "ADMIN" : dash_text = "DASHBOARD" %>

<li>
	<%= link_to dash_text, root_path, class: "#{'active-sticky' if @app_section == 'dashboard' || @app_section == 'admin' || @app_section == 'manage'}" %>
</li>

<li class="drawer-nav--trigger" data-drawer-target="section" data-behavior="header-drawer-trigger">
  <a href="#" class="<%= 'active-sticky' if @app_section == 'course' %>">
    <span>COURSES</span>
  </a>
</li>

<% if current_user.role?(:evaluator) %>
<li>
  <%= link_to "RUBRICS", rubrics_path, class: "#{'active-sticky' if @app_section == 'rubrics'}" %>
</li>
<% end %>

<li>
	<%=	link_to "HELP", "http://docs.vocat.io/", target: "_blank" %>
</li>
