
<nav class="drawer-nav--trigger">
    <%= link_to "DASHBOARD", root_path, class: "#{'active-sticky' if @app_section == 'dashboard'}" %>
</nav>

<nav class="drawer-nav--trigger" data-drawer-target="section" data-behavior="header-drawer-trigger">
  <span></span>
  <a href="#" class="<%= 'active-sticky' if @app_section == 'course' %>">COURSES</a>
</nav>

<nav class="drawer-nav--trigger">
  <%= link_to "SEARCH", "#" %>
</nav>

<nav class="drawer-nav--trigger">
  <%= link_to "HELP", "#" %>
</nav>