<li>
	<%= link_to "DASHBOARD", root_path, class: "#{'active-sticky' if @app_section == 'dashboard' || @app_section == 'admin'}" %>
</li>

<li class="drawer-nav--trigger" data-drawer-target="section" data-behavior="header-drawer-trigger">
  <a href="#" class="<%= 'active-sticky' if @app_section == 'course' %>">
    <span>COURSES</span>
  </a>
</li>

<li>
	<%=	link_to "HELP", "http://docs.vocat.io/", target: "_blank" %>
</li>
