<nav class="page-header--user-nav user-nav" data-behavior="dropdown">
  <div class="profile-container">
    <a class="user-nav--toggle" data-behavior="toggle" href="#">
      <span><%= current_user.name %></span>
    </a>
    <div>
      <%= image_tag avatar_url(current_user, 60), :alt => current_user.name %>
    </div>
  </div>

    <div class="user-nav--options" data-behavior="dropdown-options">
      <ul>
        <li>
          <%= link_to('Edit Profile', edit_user_registration_path) %>
        </li>
        <li>
          <%= link_to('Log out', destroy_user_session_path, :method => 'delete') %>
        </li>
      </ul>
    </div>
</nav>